<template lang="pug">
  nav.accordion-menu(
    ref="info"
    :class="infoClass"
  )
    .main-wrapper
      .main
        .page-title
          template(v-if="!isLineBreakTitle")
            h1(v-html="title")
          template(v-else)
            h1 {{ title[0] }}
              span.sub-title {{ title[1] }}
        .bottom
          .bottom-content
            ul.menu
              li.item(
                v-for="(category, index) in categories"
                :key="index + 1"
                v-if="category.total"
              )
                nuxt-link.content(
                  :to="category.url"
                )
                  span.title(
                    :class="{'_hot': category.label === 'SALE'}"
                  ) {{ category.label !== 'SALE' ? category.label : `${category.label}` }}
                  span.amount {{ category.total }}
                ul.menu._inner(
                  v-if="category.subCategories && category.subCategories.length",
                  :class="{'_active': $route.path.indexOf(category.url) !== -1}"
                )
                  nuxt-link.item(
                    v-for="(subCategory, subCategoryIndex) in category.subCategories"
                    :key="subCategoryIndex + 1"
                    v-if="subCategory"
                    :to="subCategory.url"
                  )
                    .content
                      span.title {{ subCategory.label }}
                      span.amount {{ subCategory.total }}
            MenuBanner(
              v-if="banners && banners.length"
              :banners="banners"
            )
</template>

<script>
import MenuBanner from '@/components/catalog/MenuBanner';

export default {
  components: {
    MenuBanner,
  },

  props: {
    categories: {
      type: Array,
      default: () => ([]),
    },
    title: {
      type: [String, Array],
      default: '',
    },
    sibling: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    scrollPos: 0,
    menu: {
      isFixed: false,
      isBottomed: false,
      isShowHeader: false,
      isStop: false,
    },
    isLineBreakTitle: false,
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    infoClass() {
      return {
        _fixed: this.menu.isFixed,
        _stop: this.menu.isStop,
        _bottomed: this.menu.isBottomed,
        _header: this.menu.isShowHeader,
        '_line-break': this.isLineBreakTitle,
      };
    },
    products() {
      const result = this.$store.state.catalogPage.products.data;
      return Array.isArray(result) ? result : [result];
    },
    banners() {
      return this.$store.state.catalogPage.banners.data || [];
    },
  },

  watch: {
    isMobile() {
      this.initScroll();
    },
    products() {
      setTimeout(this.initScroll, 0);
    },
    title() {
      this.isLineBreakTitle = typeof this.title !== 'string';
    },
  },

  created() {
    this.isLineBreakTitle = typeof this.title !== 'string';
  },

  mounted() {
    this.initScroll();
  },

  beforeDestroy() {
    document.removeEventListener('scroll', this.positionCats);
    document.removeEventListener('scroll', this.positionMoreCats);
  },

  methods: {
    initScroll() {
      document.removeEventListener('scroll', this.positionCats);
      document.removeEventListener('scroll', this.positionMoreCats);

      const { clientHeight: heightSibling } = this.sibling.products.$el;
      const { clientHeight: heightAccordion } = this.$refs.info;

      if (!this.isMobile && (heightAccordion < heightSibling)) {
        if (heightAccordion > window.innerHeight) {
          this.positionMoreCats();
          document.addEventListener('scroll', this.positionMoreCats);
        } else {
          this.positionCats();
          document.addEventListener('scroll', this.positionCats);
        }
      }
    },

    positionCats() {
      const containerRect = this.$refs.info.parentNode.getBoundingClientRect();

      const topPadding = 0;
      const scrollElement = document.scrollingElement
            || document.documentElement;
      const { scrollTop } = scrollElement;
      const top = containerRect.top + scrollTop;
      const bottom = containerRect.bottom - this.$refs.info.offsetHeight + scrollTop;

      this.menu.isShowHeader = this.scrollPos - scrollTop > 0;
      if (top < scrollTop + topPadding && !this.menu.isShowHeader) {
        this.menu.isFixed = true;
        this.menu.isBottomed = bottom < scrollTop + topPadding;
        this.scrollPos = scrollTop;
      } else if (top < scrollTop + 50 && this.menu.isShowHeader) {
        this.menu.isFixed = true;
        this.menu.isBottomed = bottom < scrollTop + topPadding;
        this.scrollPos = scrollTop;
      } else {
        this.menu.isFixed = false;
        this.menu.isShowHeader = false;
      }
    },

    positionMoreCats() {
      const containerRectParent = this.$refs.info.parentNode.getBoundingClientRect();
      const menuRect = this.$refs.info.getBoundingClientRect();
      const { clientHeight: heightAccordion } = this.$refs.info;
      const diffHeight = window.innerHeight - heightAccordion;
      const scrollElement = document.scrollingElement
        || document.documentElement;
      const { scrollTop } = scrollElement;
      const bottomWindow = window.innerHeight;
      this.menu.isShowHeader = this.scrollPos - scrollTop > 0;
      this.scrollPos = scrollTop;

      if (this.menu.isShowHeader) {
        // Достигли верха рельс (самого низа)
        if (containerRectParent.top - 50 > 0) {
          this.menu.isFixed = false;
          this.menu.isShowHeader = false;
          this.$refs.info.style.top = '0px';
          return;
        }

        // после движения вниз, вдруг мы захотели вверх. Тогда стопарим меню
        if (bottomWindow >= menuRect.bottom && !this.menu.isBottomed) {
          const stopTop = Math.abs(containerRectParent.top) - Math.abs(diffHeight);
          this.menu.isFixed = false;
          this.menu.isStop = true;
          this.$refs.info.style.top = `${stopTop}px`;
        }

        // Захватили за верх меню при движении вверх
        if (menuRect.top >= 0) {
          this.menu.isFixed = true;
          this.menu.isStop = false;
          this.menu.isBottomed = false;
          this.$refs.info.style.top = '0px';
        }
      } else {
        // Достигли конца рельс (самого низа)
        this.menu.isBottomed = containerRectParent.bottom < bottomWindow;
        if (this.menu.isBottomed) {
          this.$refs.info.style.top = 'auto';
          return;
        }

        // Захватили за низ меню при движении вверх
        if (bottomWindow >= menuRect.bottom) {
          this.menu.isFixed = true;
          this.$refs.info.style.top = `${diffHeight}px`;
        }

        // после движения вверх, вдруг мы захотели вниз. Тогда стопарим меню
        if (menuRect.top >= -7 && this.menu.isFixed) {
          const stopTop = Math.abs(containerRectParent.top);
          this.menu.isFixed = false;
          this.menu.isStop = true;
          this.$refs.info.style.top = `${stopTop}px`;
        }
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.accordion-menu
  padding-top 5px
  width 220px
  min-width 220px
  position relative
  top 0

  &._stop
    position: absolute

  &._fixed
    position fixed

  &._bottomed
    position absolute
    bottom 0
    top auto

  &._header
    padding-top: 126px

  &._line-break
    margin-top: -7px;

    .page-title
      padding-bottom: 14px

  >>>.vb-dragger-styler
    opacity 0

.page-title
  border-bottom 1px solid #ec
  padding 10px 0 25px
  white-space nowrap
  background-color #f

  h1
    line-height 1
    font-family 'Century Gothic'
    font-size 22px
    font-weight 700
    color #0

  .sub-title
    display: block
    font-size: 18px

.menu
  width 200px
  ul-reset()

.title
  font-size 13px
  font-weight 700
  color #0
  margin-right 7px

  &._hot
    color $red

.amount
  font-size 10px
  color $grayLight

.content
  display: block
  text-decoration: none
  padding 16px 0
  cursor pointer
  // border-top 1px solid #ec
  border-bottom 1px solid #ec

.menu._inner
  border-bottom 1px solid transparent
  height 0
  padding 0
  overflow hidden
  opacity 0
  transition opacity .2s, transform .3s
  transform translateY(-10px)

  &._active
    padding 10px 0 15px
    height auto
    border-color #ec
    overflow visible
    opacity 1
    transform translateY(0)

.menu._inner .item + .item
  margin-top 2px

.menu._inner .title
  font-weight 500

.menu._inner .content
  border none
  background transparent
  margin-left -10px
  padding 7px 0 7px 10px
  transition background-color .2s

  &:hover
    background-color #f6

.item
  a-reset()

.item._active .title
  font-weight 700
  color $red

.menu-banner
  margin-top 40px

+tablet()
  .accordion-menu
    display: none
</style>
