<template lang="pug">
  .card-menu
    .title Вид каталога:
    .container
      .item(
        :class="{'_active': currentCardType === 'footwear'}"
        @click="changeCardType('footwear')"
      ) Обувь
      .item(
        :class="{'_active': currentCardType === 'model'}"
        @click="changeCardType('model')"
      ) На модели
</template>

<script>
export default {
  computed: {
    currentCardType() {
      return this.$store.state.catalogPage.products.currentCardType;
    },
  },
  methods: {
    changeCardType(type) {
      if (type !== this.currentCardType) {
        this.$store.commit('catalogPage/SET_CARD_TYPE', type);
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.card-menu
  display flex
  font-size 12px
  font-weight 500
  color #0

.container
  display flex

.title
  margin-right 10px
  font-weight 500

.item
  color $grayLight
  transition color .2s
  cursor pointer
  user-select none
  transition color .2s

  &._active
    color $red
    cursor inherit

  & + &
    margin-left 10px
</style>
