<template lang="pug">
  .catalog-pagen(v-if="currentAmount !== amount")
    .title {{ title }}
    .progress: .line(:style="`width: ${progress}%;`")
    .controls
      app-button(
        @click.native="handleClick"
      ) Показать еще
</template>

<script>
import morphHelper from '@/helpers/morphHelper';

export default {
  props: {
    pageSize: {
      type: Number,
      default: 10,
    },

    currentPage: {
      type: Number,
      default: 1,
    },

    amount: {
      type: Number,
      default: 100,
    },
  },

  computed: {
    currentAmount() {
      const result = this.pageSize * this.currentPage;
      return this.amount > result
        ? result
        : this.amount;
    },

    title() {
      return `Показано ${this.currentAmount} из ${this.amount} ${morphHelper('товара', 'товаров', 'товаров', this.amount)}`;
    },

    progress() {
      return (this.currentAmount * 100) / this.amount;
    },
  },
  methods: {
    handleClick() {
      this.$emit('click');
    },
  },
};
</script>

<style lang="stylus" scoped>
.catalog-pagen
  display flex
  flex-direction column
  align-items center

.title
  font-size 12px
  font-weight 500
  color $grayLight
  margin-bottom 11px

.progress
  width 160px
  position relative
  height 2px
  background #ec
  margin-bottom 32px
  overflow hidden

.line
  position absolute
  top 0
  left 0
  bottom 0
  background $cyan
  transition width .2s

.controls
  width 222px

+tablet()
  .title
    margin-bottom: 12px

  .progress
    width: 220px
    margin-bottom:24px

  .app-button
    border-width 1px

+mobile()
  .progress
    width: 240px
    margin-bottom: 32px

  .controls
    width 100%

  .app-button
    height 50px
</style>
