<template lang="pug">
  .filters(v-click-outside="handleClickOutside")
    .container._desktop
      app-filter(
        v-if="filters.materials && filters.materials.length"
        title="Материал"
        type="materials"
      )
        DefaultFilterCheckbox(:list="filters.materials" type="materials")
      app-filter(
        v-if="filters.colors && filters.colors.length"
        title="Цвет"
        type="colors"
      )
        DefaultFilterCheckbox(:list="filters.colors" type="colors")
      app-filter(
        v-if="filters.sizes && filters.sizes.length"
        title="Размер"
        type="sizes"
      )
        DefaultFilterCheckbox(:list="filters.sizes" type="sizes")
      app-filter(
        v-if="filters.price && filters.price.end"
        title="Цена"
        type="price"
      )
        Price(:price="filters.price")
      app-filter(
        v-if="filters.seasons && filters.seasons.length"
        title="Сезон"
        type="seasons"
      )
        DefaultFilterCheckbox(:list="filters.seasons" type="seasons")
    .container._tablet
      .title(@click="toggleDropout")
        span Фильтры
        app-icon.icon(
          name="arrow-down"
          fill="#eb0029"
          color="#eb0029"
        )
      app-dropout(v-if="isDropoutVisible" :is-active="isDropoutVisible")
        .wrapper-bar(v-bar)
          .wrapper
            ul.list
              li.item(v-if="filters.materials && filters.materials.length")
                app-mobile-filter(
                  title="Материал"
                  type="materials"
                  @click="(value) => (this.toggleMobileFilter(value))"
                  :active="activeFilter"
                )
                  DefaultFilterCheckbox(:list="filters.materials" type="materials")
              li.item(v-if="filters.colors && filters.colors.length")
                app-mobile-filter(
                  title="Цвет"
                  type="colors"
                  @click="(value) => (this.toggleMobileFilter(value))"
                  :active="activeFilter"
                )
                  DefaultFilterCheckbox(:list="filters.colors" type="colors")
              li.item(v-if="filters.sizes && filters.sizes.length")
                app-mobile-filter(
                  title="Размер"
                  type="sizes"
                  @click="(value) => (this.toggleMobileFilter(value))"
                  :active="activeFilter"
                )
                  DefaultFilterCheckbox(:list="filters.sizes" type="sizes")
              li.item(
                v-if="filters.price && filters.price.end"
              )
                app-mobile-filter(
                  title="Цена"
                  type="price"
                  @click="(value) => (this.toggleMobileFilter(value))"
                  :active="activeFilter"
                )
                  Price(:price="filters.price")
              li.item(v-if="filters.seasons && filters.seasons.length")
                app-mobile-filter(
                  title="Сезон"
                  type="seasons"
                  @click="(value) => (this.toggleMobileFilter(value))"
                  :active="activeFilter"
                )
                  DefaultFilterCheckbox(:list="filters.seasons" type="seasons")
            .buttons
              app-button(
                @click.native="handleSubmitFilters"
                mod="_red"
              ) Применить фильтр
              app-button(
                @click.native="handleClearFilters"
              ) Сбросить по умолчанию
</template>

<script>
import Price from '@/components/catalog/filters/Price';
import DefaultFilterCheckbox from '@/components/catalog/filters/DefaultFilterCheckbox';
// TODO: Необходимо пересобрать фильтры
export default {
  components: {
    Price,
    DefaultFilterCheckbox,
  },
  props: {
    filters: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    isDropoutVisible: false,
    activeFilter: '',
    localFiltersSelected: {},
  }),
  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    filtersSelected() {
      return this.$store.state.catalogPage.filters.selected;
    },
  },
  mounted() {
    this.localFiltersSelected = { ...this.filtersSelected };
  },

  methods: {
    handleClickOutside() {
      if (this.isMobile) {
        this.$store.commit('catalogPage/SET_FILTERS', this.localFiltersSelected);
      }

      this.isDropoutVisible = false;
      this.activeFilter = '';
      this.$emit('change', { name: 'filters', value: false });
    },
    toggleDropout() {
      this.isDropoutVisible = !this.isDropoutVisible;
      this.$store.commit('layout/SET_MOBILE_MENU', this.isDropoutVisible);
      this.$emit('change', { name: 'filters', value: this.isDropoutVisible });
    },
    toggleMobileFilter(value) {
      if (this.activeFilter === value) {
        this.activeFilter = '';
      } else {
        this.activeFilter = value;
      }
    },
    handleSubmitFilters() {
      this.localFiltersSelected = { ...this.filtersSelected };

      const { price, ...otherFilters } = this.filtersSelected;
      const priceAdapted = {
        minPrice: price.start,
        maxPrice: price.end,
      };

      this.$router.push({
        query: {
          ...this.$route.query,
          ...priceAdapted,
          ...otherFilters,
        },
      });
      this.handleClickOutside();
      window.scrollTo(0, 0);
    },
    handleClearFilters() {
      this.$store.commit('catalogPage/CLEAR_FILTERS');
      this.handleSubmitFilters();
    },
  },
};
</script>

<style lang="stylus" scoped>
.app-filter

  & + &
    margin-left 38px

.container
  display flex

+desktop-only()
  ._tablet
    display: none

+tablet()
  ._desktop
    display: none

  .container
    position: relative
  .title
    display: flex
    align-items: center
    letter-spacing: 0
    font-size: 11px
    font-weight: 500
    line-height: 13px

    .icon
      width 12px
      height 7px

  .item
    padding: 12px 0
    position: relative
    &:first-child
      padding-top: 15px
    &:before
      content: ''
      display: block
      height: 1px;
      width: 140vw
      left: -20vw
      right: -20vw
      background: #ec
      position: absolute
      bottom: -1px

  .item
    padding-right: 24px

  .app-dropout
    position absolute
    top: 32px;
    right: -35px
    padding: 0 0 24px
    &._active
      width: 290px

  .list
    ul-reset()

  .wrapper-bar
    overflow hidden
    height: 360px

  >>>.wrapper
    width: calc(100% - 24px) !important
    padding-left: 24px;

  >>>.vb-dragger-styler
    opacity 0

  .buttons
    margin-top: 22px
    padding-right: 24px

  .app-button
    border-width 1px
    height: 36px

    &:first-child
      margin-bottom: 11px

+mobile()
  >>>.wrapper
    width: calc(100% - 15px) !important
    padding-left: 15px;

  .title
    flex-grow 1
    justify-content: flex-end
    font-size 13px
    span
      margin-right 7px

    .icon
      width 14px
      height 12px

  .container
    position static

  .wrapper-bar
    height: calc(100vh - 180px)

  .app-dropout
    top 100%
    right 0
    padding: 0 0 24px
    box-shadow none
    border-left 0
    border-right 0
    &._active
      width 100vw

  .item
    padding-right: 15px
    &:first-child
      padding-top: 11px

  .buttons
    padding-right: 15px

  .app-button
    height 46px

</style>
