<template lang="pug">
  .menu-banner
    a.img-wrapper(
      v-for="(banner, index) in banners"
      :key="index + 1"
      :href="banner.link"
      :target="`${banner.isExternal ? '_blank' : ''}`"
      :class="{'_active': selectedBanner === index}"
    )
      img(:src="banner.image")
</template>

<script>
export default {
  props: {
    banners: {
      type: Array,
      default: () => ([]),
    },
  },

  data: () => ({
    selectedBanner: 0,
  }),

  computed: {
    bannersMock() {
      if (this.banners && this.banners.length) {
        return this.banners;
      }

      return [
        {
          image: '/img/menu-banner.jpg',
          link: 'https://www.google.com/',
          showDuration: 0.2,
          isExternal: true,
        },
        {
          image: '/img/catalog-list-item-3.jpg',
          link: 'https://www.yandex.ru/',
          showDuration: 0.05,
          isExternal: false,
        },
      ];
    },
  },

  watch: {
    bannersMock() {
      this.selectedBanner = 0;
    },

    selectedBanner(value) {
      this.nextSlide(value);
    },
  },

  mounted() {
    this.nextSlide(this.selectedBanner);
  },

  methods: {
    nextSlide(index) {
      const delay = this.bannersMock[index].showDuration * 1000;
      setTimeout(() => {
        this.selectedBanner = (index + 1) % this.bannersMock.length;
      }, delay);
    },
  },
};
</script>

<style lang="stylus" scoped>
  .menu-banner
    display inline-block
    width 200px
    height 252px
    overflow hidden
    position relative
    text-decoration none

  .img-wrapper
    position: absolute
    top: 0
    left: 0
    width 100%
    overflow hidden
    opacity 0
    z-index: 0

    &._active
      opacity 1
      z-index 1

    img
      width: 100%
</style>
