<template lang="pug">
  .product-menu
    .container(v-click-outside="handleClickOutside")
      .title(@click="toggleDropout")
        span {{ selectedSubCategory.label }}
        app-icon.icon(
          name="arrow-down"
          fill="#eb0029"
          color="#eb0029"
        )
      app-dropout(:is-active="isDropoutVisible")
        .wrapper-bar(v-bar)
          ul.list
            nuxt-link.item(
              v-if="selectedSubCategories.length"
              v-for="(subCategory, index) in selectedSubCategories"
              :key="index + 1"
              :to="subCategory.url"
              @click.native="handleClickOutside"
            )
              .text {{ subCategory.label }}
              app-icon.icon(
                name="check"
              )
</template>

<script>

export default {
  data: () => ({
    isDropoutVisible: false,
  }),
  computed: {
    selectedSubCategories() {
      return this.$store.state.catalogPage.categories.selectedCategory.subCategories;
    },
    selectedSubCategory() {
      return this.$store.state.catalogPage.categories.selectedSubCategory;
    },
  },
  methods: {
    handleClickOutside() {
      this.isDropoutVisible = false;
      this.$emit('change', { name: 'products', value: false });
    },
    toggleDropout() {
      this.isDropoutVisible = !this.isDropoutVisible;
      this.$store.commit('layout/SET_MOBILE_MENU', this.isDropoutVisible);
      this.$emit('change', { name: 'products', value: this.isDropoutVisible });
    },
  },
};
</script>

<style lang="stylus" scoped>

+desktop-only()
  .product-menu
    display: none

+tablet()
  .product-menu
    .wrapper-bar
      overflow hidden
      height: 225px
      padding: 0 16px

    .container
      position: relative

    .title
      letter-spacing: 0
      font-size: 11px
      line-height: 13px
      font-weight: 600
      display: flex
      align-items: baseline
      color: $cyan
      span
        margin-right: 9px

      .icon
        width 12px
        height 7px

    >>>.app-dropout
      position absolute
      top: 32px;
      left: -23px;
      padding: 16px 8px 17px 8px
      &._active
        width: 222px

    .list
      ul-reset()

    .item
      font-size 12px
      line-height: 32px
      color #0
      font-weight 600
      text-decoration none
      cursor pointer
      white-space nowrap
      width 100%
      letter-spacing: 0
      display: flex
      align-items: center
      justify-content: space-between

      & + &
        margin-left: 0
        margin-top: 1px;
      .icon
        opacity 0
        visibility hidden
        width 10px
        height 9px
      &._active
        color: $red
        .icon
          opacity 1
          visibility visible

+mobile()
  .product-menu

    .title
      font-size: 14px
      line-height: 14px
      justify-content: flex-end

      span
        margin-right 7px
        text-transform uppercase

      .icon
        width 14px
        height 12px
        position relative
        top 2px

    .item
      font-size 14px

      .icon
        width 14px
        height 12px

    >>>.app-dropout
      border: none
      top: 28px;
      right: -16px;
      left: auto
      padding: 12px 6px 20px 0px
      box-shadow none
      border-left 0
      border-right 0
      &._active
        width 100vw
</style>
