<template lang="pug">
  .sorting-menu(:class="view ? `_${view}` : ''")
    .container._desktop
      .title Сортировка по:
      .container
        .item(
          :class="{'_active': currentSorting.by === 'popular'}"
          @click="changeSorting('popular')"
        ) популярности
        .item(
          :class="{'_active': currentSorting.by === 'price'}"
          @click="changeSorting('price')"
        ) цене&nbsp;
          span(
            v-if="currentSorting.order === 'asc' && currentSorting.by === 'price'"
          ) &uarr;
          span(v-else) &darr;
    .container._tablet(v-click-outside="handleClickOutside")
      .title(@click="toggleDropout")
        span Сортировка по&nbsp;
        span._red {{ mobileBySort }}
          app-icon.icon(
            name="arrow-down"
            fill="#eb0029"
            color="#eb0029"
          )
      app-dropout(:is-active="isDropoutVisible")
        ul.list
          li.item(
            v-for="(sortItem, index) in sortList"
            :key="index + 1"
            :class="{'_active': checkSort(sortItem)}"
            @click="setLocalMobileSort(sortItem)"
          )
            .text {{ sortItem.text }}
            app-icon.icon(
              v-if="checkSort(sortItem)"
              name="check"
            )
        app-button(
          @click="changeSortingMobile"
        ) Применить
</template>

<script>

export default {
  props: {
    view: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    isDropoutVisible: false,
    sortList: [
      {
        by: 'popular',
        order: 'desc',
        text: 'Сортировка по популярности',
      },
      {
        by: 'price',
        order: 'asc',
        text: 'Сортировка по возрастанию цены',
      },
      {
        by: 'price',
        order: 'desc',
        text: 'Сортировка по убыванию цены',
      },
    ],
    selectedBy: '',
    selectedOrder: '',
  }),
  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    currentSorting() {
      const { by, order } = this.$store.state.catalogPage.sort;
      return {
        by,
        order,
      };
    },
    currentCategories() {
      return this.$store.state.catalogPage.categories.selectedCategory;
    },
    mobileBySort() {
      const { by, order } = this.currentSorting;
      const map = {
        popular: {
          desc: 'популярности',
        },
        price: {
          asc: 'возрастанию цены',
          desc: 'убыванию цены',
        },
      };
      return map[by][order];
    },
  },
  methods: {
    changeSorting(type) {
      const { by, order } = this.currentSorting;
      if (type === 'popular' && by === 'popular') return;
      if (type !== by || order === 'asc') {
        this.$store.commit('catalogPage/SET_SORT', { by: type, order: 'desc' });
      } else {
        this.$store.commit('catalogPage/SET_SORT', { by: type, order: 'asc' });
      }
      this.fetchSortedProducts();
    },
    setLocalMobileSort({ by, order }) {
      this.selectedBy = by;
      this.selectedOrder = order;
    },
    changeSortingMobile() {
      const { by, order } = this.currentSorting;
      if (this.selectedBy === by && this.selectedOrder === order) {
        this.handleClickOutside();
        return;
      }
      this.$store.commit('catalogPage/SET_SORT', {
        by: this.selectedBy || by,
        order: this.selectedOrder || order,
      });
      this.fetchSortedProducts();
      this.handleClickOutside();
    },
    fetchSortedProducts() {
      const { by: sortBy, order: sortOrder } = this.$store.state.catalogPage.sort;
      this.$router.push({
        query: {
          ...this.$route.query,
          sortBy,
          sortOrder,
        },
      });
    },
    handleClickOutside() {
      this.selectedBy = '';
      this.selectedOrder = '';
      this.isDropoutVisible = false;
      this.$emit('change', { name: 'sorting', value: false });
    },
    toggleDropout() {
      this.isDropoutVisible = !this.isDropoutVisible;
      this.$store.commit('layout/SET_MOBILE_MENU', this.isDropoutVisible);
      this.$emit('change', { name: 'sorting', value: this.isDropoutVisible });
    },
    checkSort(sortItem) {
      if (this.selectedBy && this.selectedOrder) {
        // for mobile
        const { by, order } = sortItem;
        return this.selectedBy === by && this.selectedOrder === order;
      }

      const checkListKey = ['by', 'order'];
      return checkListKey
        .reduce((value, key) => value && this.currentSorting[key] === sortItem[key], true);
    },
  },
};
</script>

<style lang="stylus" scoped>
.sorting-menu
  position: relative
  display flex
  font-size 12px
  font-weight 500
  color #0
  letter-spacing 0.5px

.container
  display flex

.title
  margin-right 10px
  font-weight 600

.item
  color $grayLight
  transition color .2s
  cursor pointer
  user-select none
  transition color .2s

  &._active
    color $red

  & + &
    margin-left 15px

._red
  color: $red

.app-button
  display: none

+desktop-only()
  ._tablet
    display: none

+tablet()
  ._desktop
    display: none

  .title
    letter-spacing: 0
    font-size: 11px
    line-height: 13px
    font-weight: 400
    display: flex
    align-items: baseline
    ._red
      font-weight: 500

    .icon
      width 12px
      height 7px

  .app-dropout
    position absolute
    top: 32px;
    left: -23px;
    padding: 16px 29px 19px 24px
    &._active
      width: 287px

  .list
    ul-reset()

  .item
    font-size 11px
    line-height: 28px
    color #0
    font-weight 600
    text-decoration none
    cursor pointer
    white-space nowrap
    width 100%
    letter-spacing: 0
    display: flex
    align-items: center
    justify-content: space-between

    & + &
      margin-left: 0
      margin-top: 1px;
    .icon
      opacity 0
      visibility hidden
      width 10px
      height 9px
    &._active
      color: $red
      .icon
        opacity 1
        visibility visible

  .sorting-menu._search
    .app-dropout
      top: 80px
      left: -110px

  .app-button
    display: block
    margin-top: 14px
    height 40px
    outline none

+mobile()
  .app-dropout
    top 100%
    left: -16px;
    padding: 7px 16px 19px 16px
    box-shadow none
    border-left 0
    border-right 0
    &._active
      width 100%
      width 100vw

  .title
    letter-spacing: 0
    font-size: 13px
    line-height: 13px
    font-weight: 400
    display: flex
    align-items: baseline
    flex-wrap wrap
    line-height 1.4
    ._red
      font-weight: 500

    .icon
      width 14px
      height 12px
      position relative
      top 2px
      right -3px

    span
      white-space nowrap

  .item
    font-size 13px
    font-weight: 600
    padding-right: 15px

    .icon
      width 14px
      height 13px

  .app-button
    height 46px
    outline none

  .sorting-menu._search
    .app-dropout
      top: 117px
      left: -184px
</style>
