<template lang="pug">
  .cards-item(
    :class="mod"
    :style="style"
  )
    slot
    .top(v-if="title")
      .title {{ title }}
    .bottom
      .score
        span.prescore(v-if="preScore") {{preScore}}
        | {{ score}}
      .bottom-info
        .text {{ text }}
        app-button.button(
          v-if="buttonText"
          mod="_white-text _extra-small"
        ) {{ buttonText }}
        span.promo(
          v-if="promo.text"
        ) {{ promo.text }}
          span.code {{ promo.code }}
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    preScore: {
      type: String,
      default: '',
    },
    score: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: '',
    },
    buttonText: {
      type: String,
      default: '',
    },
    promo: {
      type: Object,
      default: () => ({}),
    },
    mod: {
      type: String,
      default: '',
    },
    back: {
      type: String,
      default: '',
    },
  },

  computed: {
    style() {
      return this.back
        ? `
          background-image: url(${this.back});
         `
        : '';
    },
  },
};
</script>

<style lang="stylus" scoped>
.cards-item
  background-repeat: no-repeat
  background-size: cover
  background-position right top
  overflow hidden
  position: relative
  padding: 30px 23px 37px 30px
  width: 100%
  color: #ffffff
  display: flex
  flex-direction: column
  justify-content: space-between
  border-radius 5px
  min-height 198px

  &.red
    background-image: linear-gradient( 45deg, rgb(228,0,43) 0%, rgb(250,74,74) 100%);

  &.blue-light
    background-image: linear-gradient( 45deg, #02bdc7 70%, rgba(40,193,193,0) 100%);

  &.red-gradient
    background-image: linear-gradient( 45deg, rgb(118,0,228) 0%, rgb(250,74,74) 100%);

  &.blue-gradient
    background-image: linear-gradient( 45deg, rgb(64,90,165) 0%, rgb(2,187,197) 100%);

.top
  display: flex
  flex-direction:column
  font-weight: 700
  font-size: 18px
  position: relative
  z-index: 2

.bottom
  flex-direction:column
  position: relative
  z-index: 2
  .score
    font-size: 24px
    font-weight: 700
    margin-bottom: 9px
  &-info
    display: flex
    justify-content: space-between
  .text
    font-size: 12px
    line-height: 20px
    opacity: .7
  .button
    width: 103px
    align-self flex-end

.image
  position: absolute
  right:0
  left:0
  bottom: 0
  top:0

  img
    width:100%

.sale
  position: absolute
  width: 40px
  height: 40px
  border: 1px solid #ececec
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  right: 20px
  top: 20px
  color: #f

// mod: special
.cards-item._special-main
  padding: 58px 20px 29px

  .top
    display: none

  .bottom
    color: #000
    .score
      line-height: 1
      font-size: 164px
      display: flex
      align-items: center
      justify-content: center
      margin-left: 15px
      margin-bottom: 7px
    .prescore
      font-size:32px
    &-info
      flex-direction: column
    .text
      max-width 100%
      text-align: center
      font-size: 32px
      margin-left: 15px
      margin-bottom: 66px
    .promo
      font-weight: 600
      font-size: 14px
      text-align: center
      text-transform: uppercase
    .code
      padding: 2px 5px
      background: #fff


.cards-item._special-three
  padding: 28px 21px 29px 32px

  .sale
    display: none

  .top
    display: none

  .bottom
    .score
      margin-bottom: 9px
    &-info
      flex-direction: column
    .text
      max-width 100%
      margin-bottom: 11px
    .button
      align-self: flex-start;
      height: 34px

.cards-item._special-present
  padding: 30px 23px 22px 30px;
  .top
    margin-bottom: 36px

  .bottom
      .score
        margin-bottom: 2px

.cards-item._special-dual
  padding: 58px 23px 37px 30px;

  .top
    display: none

  .bottom
    .score
      font-size: 64px
      text-align: center
      margin-bottom: 3px

    .bottom-info
      display: block

    .text, .button
      margin 0 auto;
      text-align: center

    .text
      max-width: 100%
      font-size: 18px
      line-height: 20px
      margin-bottom: 30px

    .button
      width: 150px
      height: 34px

+tablet()
  .cards-item
    padding: 21px 24px 24px

  .top
    margin-bottom:20px
    font-weight: 600
    font-size: 14px
    line-height: 17px

  .bottom
    .score
      margin-bottom: 6px
    &-info
      flex-direction: column
    .text
      font-size: 10px
      max-width 100%
      margin-bottom: 14px
    .button
      width: 100%
      height: 40px

  .cards-item._special-main
    padding: 54px 20px
    margin-bottom: 10px

    .bottom
      .score
        font-size: 192px
        margin-left: 15px
        margin-bottom: 15px

      .prescore
        font-size:36px

      .text
        font-size: 40px
        margin-left: 15px
        margin-bottom: 86px
      .promo
        font-size: 16px
      .code
        padding: 3px 6px

  .cards-item._special-three
    padding: 23px 21px 24px 23px

    .sale
      display: flex
      width: 30px
      height: 30px
      svg
        width: 10px
        height: 10px

    .top
      display: block

    .bottom
        .score
          margin-bottom: 5px

        .text
          margin-bottom: 15px

        .button
          height: 40px

  .cards-item._special-present
    padding: 30px 23px 22px 30px;
    .top
      margin-bottom: 59px

+mobile()
  .cards-item
    padding: 17px 16px 16px
    min-height: 165px
  .top
    margin-bottom: 24px

  .cards-item._dashboard
    padding: 30px 23px 37px 30px
    width: 100%
    flex-direction: column
    border-radius 5px

    .top
      flex-direction:column
      margin-bottom:32px
      font-size: 18px

    .bottom
      flex-direction:column
      position: relative
      .score
        font-size: 24px
        margin-bottom: 9px
      &-info
        flex-direction row
        justify-content: space-between
      .text
        font-size: 12px
        line-height: 20px
        max-width: 165px
      .button
        width: 103px
        align-self flex-end

    .sale
      position: absolute
      width: 40px
      height: 40px
      border: 1px solid #ececec
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      right: 20px
      top: 20px

  .cards-item._special-main
    padding: 25px 20px 20px
    margin-bottom: 10px

    .bottom
      .score
        font-size: 80px
        margin-left: 0
        margin-bottom: 0

      .prescore
        font-size:16px

      .text
        font-size: 14px
        margin-left: -10px
        font-weight: 500
        margin-top: -2px
        margin-bottom: 30px
      .promo
        font-weight: 600
        font-size: 6px
      .code
        padding: 1px 4px


  .cards-item._special-three
    padding: 19px 20px 16px 20px

    .sale
      right: 16px;
      top: 16px;

    .bottom
      .score
        margin-bottom: 5px

      .text
        margin-bottom: 7px

  .cards-item._special-present
    .top
      margin-bottom: 20px

+mobile-m()
  .cards-item._dashboard
    padding: 17px 16px 16px

    .top
      margin-bottom:24px
      font-weight: 600
      font-size: 14px
      line-height: 17px

    .bottom
      .score
        margin-bottom: 6px
      &-info
        flex-direction: column
      .text
        font-size: 10px
        max-width 100%
        margin-bottom: 14px
      .button
        width: 100%
        height: 40px

    .sale
      right: 16px;
      top: 16px;
      width: 28px
      height: 28px
      svg
        width: 10px
        height: 10px

</style>
