<template lang="pug">
  .cards
    .cards-list
      CardsItemBonus(
        mod="_dashboard"
        view="account"
      )
      // TODO: Подрезка сайта к запуску 1-го этапа
      //CardsItem(v-bind="cards[0]")
        .sale
          app-icon(name="percent" width="12px" height="12px" fill="#ffffff")
      // TODO: Подрезка сайта к запуску 1-го этапа
      CardsItem(v-bind="cards[2]" v-if="false")
        .sale
          app-icon(name="gift-solid" width="18px" height="18px" fill="#ffffff")
      //CardsItem(v-bind="cards[1]")
        .image
          img(src="/img/card-gift.png")
</template>

<script>
import CardsItemBonus from '@/components/account/CardsItemBonus';
import CardsItem from '@/components/account/CardsItem';

export default {
  components: {
    CardsItem,
    CardsItemBonus,
  },
  data: () => ({
    cards: [
      {
        title: 'Спецпредложение',
        score: '25% СКИДКА',
        text: 'Введите промокод «GIFT» при оформлении. ',
        buttonText: 'Получить',
        mod: 'red _dashboard',
      },
      {
        title: 'Вам подарок!',
        score: '500 рублей',
        text: 'На телефон за отзыв на Яндекс.Маркете',
        buttonText: 'Подробнее',
        mod: 'blue-light _dashboard',
      },
      {
        title: 'С днем России!',
        score: '1000 бонусов',
        text: 'можно использовать до 16.06.2008 23:59 МСК',
        mod: 'red _dashboard',
      },
    ],
  }),
};
</script>

<style lang="stylus" scoped>
.cards-list
  width: 100%
  > *
    margin-bottom: 32px

+tablet()
  .cards-list
    > *
      margin-bottom: 16px
      // &:last-child
      //   display: none
  .sale
    width: 28px
    height: 28px
    right: 24px
    top: 16px

+mobile()
  .cards-list
    > *
      &:last-child
        display flex
        margin-bottom 0
</style>
