<template lang="pug">
  .cards-block(:class="`_${mod}`")
    template(v-if="mod === 'with-main'")
      .right
        slot(name="main")
      .left
        .top
          slot(name="top")
        .bottom
          slot(name="bottom")
    template(v-else-if="mod === 'three'")
      slot
    template(v-else-if="mod === 'dual'")
      slot
</template>

<script>

export default {

  props: {
    mod: {
      type: String,
      default: '',
    },
  },
  data: () => ({

  }),
};
</script>

<style lang="stylus" scoped>
  .cards-block

    &._with-main, &._three, &._dual
      display: flex

    &._three, &._dual
      margin: -20px -10px
      > *
        margin: 20px 10px

    &._with-main
      margin-bottom: 20px

      .right
        flex-grow: 1
        align-self: stretch
        width: calc(100% - 280px)
        margin-right: 20px
        > *
          height:100%

      .left
        max-width: 260px

        > *:not(:first-child)
          margin-top: 20px

  +tablet()
    .cards-block
      &._with-main
        display: block
        margin-bottom: 0

        .right
          width: 100%

        .left
          max-width: 100%
          display: flex

          > *
            flex: 1

            &:not(:first-child)
              margin: 0 0 0 10px


      &._three, &._dual
        display: none

  +mobile()
    .cards-block


      &._with-main
        .left
          > *:not(:first-child)
            display: none
</style>
