<template lang="pug">
  .cards-item-bonus(:class="`_${status.name}`")
    .card-binding(
      v-if="binding !== 'bound'"
    )
      .top
        .top-info
          .logo._red
            app-icon(
              height="100%"
              width="100%"
              name="logo"
            )
          .color bonus card
      form.form(
        @submit.prevent="handleSubmit"
      )
        template(v-if="binding === 'unbound' || binding === 'creating'")
          app-input.input(
            placeholder="Введите номер телефона"
            v-mask="'+7 (###) ###-##-##'"
            v-model="$v.phone.$model"
            @focus="correctPhone"
            :error="$v.phone && $v.phone.$dirty && $v.phone.$error"
            :valid="$v.phone && $v.phone.$dirty && !$v.phone.$error"
            key="phone"
          )
          .error(v-if="$v.phone && $v.phone.$dirty && $v.phone.$error")
            span(v-if="!$v.phone.required") Обязательное поле
            span(v-else-if="!$v.phone.minLength") Некорректный телефон
          template(v-if="binding === 'unbound'")
            app-button.submit(
              mod="_red _small"
            ) Добавить бонусную карту
            .info
              .text Нет карты?&nbsp;
                a.link(
                  href="javascript:void(0);"
                  @click="(e) => handleCreate(e)"
                ) Создайте прямо сейчас
          template(v-if="binding === 'creating'")
            app-button.submit(
              mod="_red _small"
            ) Создать бонусную карту
            .info
              .text Нажимая вы соглашаетесь с&nbsp;
                nuxt-link.link(to="/buyers/bonus/") правилами
              .text Уже есть карта?&nbsp;
                a.link(
                  href="javascript:void(0);"
                  @click="(e) => handleCancel(e)"
                ) Добавьте её
        template(v-else-if="binding === 'bindingCode'")
          .text На номер {{trimmedPhone}} отправлено СМС с кодом подтверждения:
          app-input.input(
            placeholder="Введите код из смс"
            v-mask="'####'"
            v-model="$v.bindingCode.$model"
            @input="handleCodeInput"
            :error="isBindingCodeErrored"
            :valid="isBindingCodeValid"
          )
          .error(v-if="$v.bindingCode && $v.bindingCode.$dirty && $v.bindingCode.$error")
            span(v-if="!$v.bindingCode.required") Обязательное поле
            span(v-else-if="!$v.bindingCode.minValue") Код должен быть 4-х значным
          .error(v-if="isBindingCodeInvalid && !$v.bindingCode.$error")
            span Неверный код
          .info._middle
            .text
              span Не пришло СМС?&nbsp;
              a.link(href="javascript:void(0);") Отправить еще раз.
          app-button.submit(
            mod="_red _small"
          ) Подтвердить код
          .info._red
            a.link(
              href="javascript:void(0);"
              @click="(e) => handleCancel(e)"
            ) Вернуться назад
    .cards-bonus(v-else-if="binding === 'bound'")
      .face
        .top
          .top-info
            .logo(:class="{'_red': status.name === 'white'}")
              app-icon(
                height="100%"
                width="100%"
                name="logo"
              )
            .color(v-if="status.name === 'white'") white
            .color(v-else) blue
          .remain
            .remain-bar
              .remain-progress(:style="process")
            .remain-text.
              {{ status.sumToNextStatus }} бонусных руб.
               осталось до уровня "{{ status.nextStatus.toUpperCase() }}"
        .center
          .code {{ code }}
        .bottom
          .bottom-info
            .score
              span {{ bonus }}&nbsp;
              | баллов
            //TODO: Временно скрыл, потому что нет функционала
            .type(
              style="display: none"
              v-if="view === 'account'"
              @click="unbound"
            ) отвязать карту
            .type(
              v-else
            ) bonus card
      .extra(v-if="extra")
        .extra-amount +&nbsp;
          span {{ extra }}
        .extra-title
          span {{ extraTitle }}
          app-icon.question(
            name="question-circle-regular"
            width="15"
            height="14"
            v-tooltip.top-center="extraDetails"
          )
</template>

<script>
import morphHelper from '@/helpers/morphHelper';

import {
  required,
  minLength,
} from 'vuelidate/lib/validators';

export default {
  props: {
    mod: {
      type: String,
      default: '',
    },

    view: {
      type: String,
      default: '',
    },

    extra: {
      type: Number,
      default: 0,
    },
  },


  data: () => ({
    phone: '',
    bindingCode: '',
    isBindingCodeInvalid: false,
    extraDetails: 'Описание экстрабонусов',
  }),

  computed: {
    binding: {
      get() {
        return this.$store.state.bonusCard.binding;
      },
      set(value) {
        this.$store.commit('bonusCard/SET_BINDING', value);
      },
    },

    code: {
      get() {
        if (this.balance) {
          return this.balance.card.number;
        }
        return this.$store.state.bonusCard.code;
      },
      set(value) {
        this.$store.commit('bonusCard/SET_CODE', value);
      },
    },

    trimmedPhone() {
      const phone = this.phone.toString()
        .substr(this.phone.length - 5).split('-').join('');
      return `******${phone}`;
    },

    isBindingCodeErrored() {
      return (this.$v.bindingCode && this.$v.bindingCode.$dirty
        && this.$v.bindingCode.$error) || this.isBindingCodeInvalid;
    },

    isBindingCodeValid() {
      return this.$v.bindingCode && this.$v.bindingCode.$dirty
        && !this.$v.bindingCode.$error && !this.isBindingCodeInvalid;
    },

    extraTitle() {
      if (this.extra) {
        return `${morphHelper('экстабонус', 'экстабонуса', 'экстабонусов', this.extra)}:`;
      }

      return '';
    },

    balance() {
      return this.$store.state.basket.personal.data.balance;
    },

    bonus() {
      if (!this.balance) { return 0; }
      if (!this.balance.accounts || !this.balance.accounts.length) { return 0; }

      return this.balance.accounts.bonus.balance;
    },

    process() {
      const result = Math.abs(this.status.sumToNextStatus / this.status.limit * 100 - 100);
      return {
        width: `${result}%`,
      };
    },

    status() {
      if (!this.balance) { return ''; }
      if (this.balance.status && this.balance.status.length) { return ''; }

      const mapStatus = {
        Белый: 'white',
        Синий: 'blue',
      };

      const { nextStatus, sumToNextStatus, limit } = this.balance.status;

      return {
        name: mapStatus[this.balance.status.name] || '',
        nextStatus: mapStatus[nextStatus],
        sumToNextStatus,
        limit,
      };
    },
  },

  methods: {
    unbound(e) {
      e.stopPropagation();
      this.binding = 'unbound';
      this.phone = '';
      this.code = '';
      this.bindingCode = '';
    },

    correctPhone(e) {
      if (!e.target.value) {
        this.phone = '+7 (';
      }
    },

    handleSubmit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        switch (this.binding) {
          case 'unbound':
          case 'creating':
            this.binding = 'bindingCode';
            break;
          case 'bindingCode':
            if (this.bindingCode === '1111') {
              this.isBindingCodeInvalid = false;
              this.binding = 'bound';
              this.code = '123 456 789 1234';
            } else {
              this.isBindingCodeInvalid = true;
            }
            break;
          default:
        }
      }
    },

    handleCancel(e) {
      e.stopPropagation();
      this.binding = 'unbound';
    },

    handleCreate(e) {
      e.stopPropagation();
      this.binding = 'creating';
    },

    handleCodeInput() {
      this.isBindingCodeInvalid = false;
    },
  },

  validations() {
    switch (this.binding) {
      case 'unbound':
      case 'creating':
        return {
          phone: {
            required,
            minLength: minLength(18),
          },
        };
      case 'bindingCode':
        return {
          bindingCode: {
            required,
            minLength: minLength(4),
          },
        };
      default:
        return {};
    }
  },
};
</script>

<style lang="stylus" scoped>
  .caller
    border-width 1px

  .cards-bonus
    transition all 1s ease-in-out, height .5s ease-in-out
    max-width 100%

  .cards-bonus,
  .card-binding
    color: #ffffff
    display: flex
    flex-direction: column
    border-radius 5px
    box-shadow: 2.5px 3.1px 16px 0 rgba(24, 108, 143, 0.37)
    transform-style preserve-3d
    position relative
    width 360px
    height 240px
    perspective 1000px
    margin auto

    &._active
      transform rotateY(180deg)
      height 312px

    .face,
    .back
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      overflow hidden
      backface-visibility hidden
      border-radius 5px

    .back
      transform rotateY(180deg)
      height 100%
      display flex
      align-items center
      justify-content center
      flex-direction column
      background-color #f

    .face
      background linear-gradient(45deg, #1A70BA, #3EADCD)
      transform rotateY(0deg)
      pointer-events none

    &._active .back
      height 312px
      z-index 10

    .face
      padding 34px 36px 30px 39px
      display flex
      flex-direction column
      justify-content space-between

  .cards-item-bonus

    &._white

      .cards-bonus
        color $grayLight
        box-shadow: 2.5px 3.1px 16px 0 rgba(0, 0, 0, 0.17)

      .remain-progress
        background-color $red

      .color
        opacity: .5

      .remain-bar

        &:before
          background-color $grayLight

      .score

        span
          color $red

      .face
        background #f
        border-radius 8px

  .card-binding
    box-shadow: 2.5px 3.1px 16px 0 rgba(#000, 0.17)
    padding 30px 23px 37px 30px
    background-color: #f
    height: auto
    /*height 240px*/

    .top
      margin-bottom 16px

      .color
        font-size 12px
        color $red
        text-transform lowercase

    >>> .app-tabs
      .title
        font-size: 13px
        font-weight: 600
        line-height: 16px
        border: 0
        color: #0
        margin-bottom: 12px
        padding: 0

      .heads-wrapper
        border: 0

      .head
        width: 50%

        .title
          color: $cyan

        &._active .title
          color: #000

      .head + .head
        margin: 0


  .top
    display: flex
    flex-direction: column
    margin-bottom 22px

    &-info
      display: flex
      justify-content: space-between
      margin-bottom: 13px

    .logo
      height: 16px
      width: 130px
      fill #f

      &._red
        fill $red

    .color
      font-size: 16px
      font-weight: 700
      text-transform: uppercase

    .remain
      font-size: 12px
      position: relative
      height: 2px
      width: 100%

      &-bar
        margin-bottom: 7px

        &:before
          content ''
          background: #fff
          top: 0
          left: 0
          bottom: 0
          position: absolute
          width: 100%
          opacity .5

      &-progress
        background: #fff
        top: 0
        left: 0
        bottom: 0
        position: absolute

      &-text
        font-size 11px
        letter-spacing -0.1px

  .center
    font-family: 'Halter'
    font-size: 18px
    letter-spacing -0.5px
    margin-top 0
    display: flex
    align-items: center
    justify-content: space-between

    .app-icon
      opacity 0
      visibility hidden

  .bottom
    flex-direction: column

    &-info
      display: flex
      justify-content: space-between
      margin-top: 7px

    .score
      font-size: 12px

      > span
        font-family: 'Halter'
        font-size: 14px

    .man
      text-transform: uppercase
      font-family: 'Halter'
      font-size: 14px

    .type
      font-size: 14px
      font-weight: 500
      letter-spacing .4px
      pointer-events auto
      cursor: pointer

  .center, .type
    opacity: .7

  .back-link
    display flex
    align-items center
    color $red
    font-size: 14px
    margin-top 12px
    cursor pointer

    .app-icon
      transform rotate(90deg)
      fill $red
      position relative
      top 1px
      margin-right 6px


  .app-button._extra-small
    height: 42px

  .input
    margin-bottom: 16px
    &._promo
      margin-bottom: 8px

  .text, .link
    color: $grayLight
    font-size: 12px
    line-height: 16px
    margin-bottom: 7px

    &:last-child
      margin-bottom: 0

  .link
    color: $cyan

  .error
    font-size: 12px
    color $red
    margin-bottom: 12px
    margin-top: -4px

  .info
    margin-top: 16px
    text-align: center

    &._middle
      margin-top -4px
      margin-bottom 12px
      text-align left

    &._red
      a
        color $red
        text-decoration none

  .extra
    position absolute
    top 100%
    left 0
    right 0
    margin 0 auto
    height 48px
    width 85%
    border-bottom-left-radius 12px
    border-bottom-right-radius 12px
    background-color $green2
    color: #f
    display: flex
    align-items: center
    justify-content: space-between
    padding 0 16px

  .extra-title
    display: flex
    align-items: center

    .question
      margin-left: 6px
      color #fff
      opacity: 1

  .extra-amount
    font: 12px

    span
      font-size: 16px

  +tablet()
    .caller
      margin-bottom 16px

    .card-binding
      padding: 30px 25px 24px 25px
      width 340px
      height auto

      .top
        margin-bottom 2px

    .cards-bonus
      width 340px
      height 200px

      .face
        pointer-events auto
        padding: 30px 25px 24px 25px

      .back
        height 100%

      .top
        margin-bottom: 40px

        &-info
          display: flex
          justify-content: space-between
          margin-bottom: 15px

        .logo
          height: 15px
          width: 127px

        .color
          margin-top: -4px

        .remain
          font-size: 10px
          letter-spacing 0.4px

      .center
        font-family: 'Halter'
        font-size: 16px
        line-height: 19px
        letter-spacing -0.1px
        margin-bottom: 18px

        .app-icon
          opacity 1
          visibility visible

      .bottom
        .score
          font-size: 10px
          line-height: 12px

          > span
            font-size: 12px
            line-height: 14px

        &-info
          margin-top: 5px

        .man
          font-size: 12px
          line-height: 14px

        .type
          font-size: 12px
          line-height: 14px
          margin-top: 3px

    .title
      font-size: 12px
      color: #0
      margin-bottom: 8px

    .app-button._extra-small
      height: 40px

    .input
      height: 36px
      margin-bottom: 16px

    >>> .control
      height: 36px
      padding 7px 18px

  +mobile()
    .caller
      width 100%
      margin-bottom 30px
      font-size 12px

    .card-binding
      padding: 30px 16px 21px
      width 100%
      height: auto

    .cards-bonus
      width 100%
      height 210px

      .face
        padding: 29px 14px 20px 16px

      .back
        height 100%

    .back-link
      font-size 12px
      margin-top 17px

    .top

      .remain-text
        font-size: 10px

    .cards-bonus._dashboard
      background: linear-gradient(90deg, #2482bf, #3dabcc)
      padding: 34px 36px 30px 39px
      width: 100%
      color: #ffffff
      display: flex
      flex-direction: column
      border-radius 5px
      box-shadow: 2.5px 3.1px 16px 0 rgba(24, 108, 143, 0.37)

      &._white
        background #f
        color $grayLight
        box-shadow: 2.5px 3.1px 16px 0 rgba(0, 0, 0, 0.17)

        .remain-progress
          background-color $red

        .color
          opacity: .5

        .remain-bar

          &:before
            background-color $grayLight

        .score

          span
            color $red

      .top
        display: flex
        flex-direction: column
        margin-bottom: 49px

        &-info
          display: flex
          justify-content: space-between
          margin-bottom: 13px

        .logo
          height: 16px
          width: 130px

        .color
          font-size: 16px

        .remain
          font-size: 12px
          position: relative
          height: 2px
          width: 100%

          &-bar
            margin-bottom: 7px

            &:before
              content ''
              top: 0
              left: 0
              bottom: 0
              width: 100%
              opacity .5

          &-progress
            top: 0
            left: 0
            bottom: 0
            width: 33%

          &-text
            font-size: 10px

      .center
        font-size: 17px
        letter-spacing -0.5px
        margin-bottom: 24px

      .bottom
        flex-direction: column

        &-info
          display: flex
          justify-content: space-between
          margin-top: 7px

        .score
          font-size: 12px

          > span
            font-size: 14px

        .man
          font-size: 14px

        .type
          font-size: 14px
          font-weight: 500

      .center, .type
        opacity: .7

  +mobile-m()
    .cards-bonus
      width 100%
      height 195px

      .face
        padding: 29px 14px 20px 16px

      .back
        height 100%

    .cards-bonus._dashboard
      padding: 29px 14px 20px 16px

      .top
        margin-bottom: 40px

        &-info
          display: flex
          justify-content: space-between
          margin-bottom: 15px

        .logo
          height: 15px
          width: 127px

        .color
          margin-top: -4px

        .remain
          font-size: 10px
          letter-spacing 0.4px

      .center
        font-family: 'Halter'
        font-size: 16px
        line-height: 19px
        letter-spacing -0.1px
        margin-bottom: 18px

      .bottom
        .score
          font-size: 10px
          line-height: 12px

          > span
            font-size: 12px
            line-height: 14px

        &-info
          margin-top: 5px

        .man
          font-size: 12px
          line-height: 14px

        .type
          font-size: 12px
          line-height: 14px
          margin-top: 3px
</style>
