<template lang="pug">
  Section.contacts-address(:title="title" :annotation="annotation")
    form.form(@submit.prevent)
      .container
        ContactAddressItem(
          v-for="address, index in addresses"
          :key="address.city"
          :info="address"
          :index="index"
          @delete="handleDelete"
        )
      .bottom
        app-button.submit(
          mod="_cyan"
          @click="updateAddresses"
        ) Сохранить
        app-button.add-address(
          mod="_cyan-text"
          @click="addAddress"
        ) Добавить еще адрес
        .caution  Персональные данные обрабатываются в соответствии
          span с&nbsp;
            nuxt-link(to="/about/protection-of-information/")
              | Политикой обработки персональных данных.
</template>

<script>
import Section from '@/components/account/Section';
import ContactAddressItem from '@/components/account/ContactAddressItem';

export default {
  components: {
    Section,
    ContactAddressItem,
  },

  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    title: 'Адрес доставки',
    annotation: 'Укажите свои адреса доставки, чтобы не тратить на это время в следующий раз.',
  }),

  computed: {
    addresses() {
      return this.$store.state.user.personal.data.addresses;
    },
  },

  methods: {
    addAddress() {
      this.$store.commit('user/ADD_BLANK_ADDRESS');
    },

    handleDelete(dIndex) {
      this.$store.commit('user/DELETE_ADDRESS', dIndex);
    },

    updateAddresses() {
      this.$store.dispatch('user/UPDATE_ADDRESSES').then(() => {
        this.$store.dispatch('user/FETCH_PERSONAL').then(() => {
          this.$modal.show('info', {
            title: 'Успех!',
            text: 'Персональные данные обновлены.',
          });
        });
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
  .form
    width: 100%

  .bottom
    display: flex

  .app-button
    font-size 13px

  .submit
    width: 142px
    margin-right: 20px

  .add-address
    width: 240px

  .caution
    padding-top: 4px
    font-size 12px
    color #0
    text-align right
    padding-left 20px
    line-height 1.5
    display: flex
    flex-direction column
    margin-left: auto;

    a
      text-decoration none
      color $cyan

+tablet()
  .caution
    display: none

  .app-button
    height: 40px
    font-size: 12px
    line-height: 14px
    width: calc(50% - 15px)

  .bottom
    justify-content: space-between
  .add-address
    order: 0
  .submit
    order: 1
    margin-right: 0

+mobile()
  .bottom
    flex-direction: column

  .add-address, .submit
    width:100%

  .add-address
    order: 1
  .submit
    order: 0
    margin-bottom: 15px
</style>
