<template lang="pug">
  Section.contacts-info(:title="title" :annotation="annotation")
    form.form(@submit.prevent="handleSubmit")
      .fields
        .group._half
          .group-title Ваше имя
          app-input(
            type="text"
            placeholder="Имя"
            v-model.trim="$v.name.$model"
          )
          .error(v-if="$v.name.$dirty")
            span(v-if="!$v.name.required") Обязательное поле
            span(v-if="$v.name.required && !$v.name.validateName")
              | В имени допускаются только кириллица и тире
        .group._half
          .group-title Ваша фамилия
          app-input(
            type="text"
            placeholder="Фамилия"
            v-model.trim="$v.lastName.$model"
          )
          .error(v-if="$v.lastName.$dirty")
            span(v-if="!$v.lastName.required") Обязательное поле
            span(v-if="$v.lastName.required && !$v.lastName.validateName")
              | В фамилии допускаются только кириллица и тире
        .group._half
          .group-title Телефон для связи:
          app-input(
            placeholder="Телефон"
            v-mask="'+7 (###) ###-##-##'"
            v-model.trim="phone"
            @focus="correctPhone"
            :disabled="true"
          )
        .group._half
          .group-title Адрес электронной почты
          app-input(
            type="email"
            placeholder="E-mail"
            v-model.trim="email"
            :disabled="true"
          )
        .group._half
          .group-title Дата вашего рождения:
          app-date-picker(
            :value="birthday"
            @selected="handleDateSelect"
          )
        .group._half
          .group-title Пол
          .group-content
            app-radio(
              name="sex"
              value="man"
              :checked="sex"
              @change="sex = 'man'"
            ) Мужской
            app-radio(
              name="sex"
              value="woman"
              :checked="sex"
              @change="sex = 'woman'"
            ) Женский
        .group.bottom
          .submit
            app-button(mod="_cyan") Сохранить
          .caution  Персональные данные обрабатываются в соответствии
            span с&nbsp;
              a(href="/about/protection-of-information/") Политикой обработки персональных данных.
</template>

<script>
import {
  required,
  minLength,
} from 'vuelidate/lib/validators';
import validateName from '@/helpers/customValidations';
import Section from '@/components/account/Section';

export default {
  components: { Section },

  data: () => ({
    title: 'Контактная информация',
    annotation: 'Укажите свои данные, чтобы быть в курсе изменений статуса заказа и не заполнять при следующих покупках..',
    name: '',
    lastName: '',
    email: '',
    phone: '',
    birthday: '',
    sex: 'woman',
  }),

  computed: {
    user() {
      return this.$store.state.user.personal.data || {};
    },

    registrationStep() {
      return this.$store.state.user.registrationStep;
    },
  },

  mounted() {
    this.name = this.user.name || '';
    this.lastName = this.user.lastName || '';
    this.email = this.user.email || '';
    this.phone = this.user.phone || '';
    this.birthday = this.user.birthday || '';
    this.sex = this.user.sex || 'woman';
  },

  methods: {
    correctPhone(e) {
      if (!e.target.value) {
        this.phone = '+7 (';
      }
    },

    handleDateSelect(val) {
      this.birthday = `${new Date(val).getFullYear()}-${new Date(val).getMonth() + 1}-${new Date(val).getDate()}`;
    },

    handleSubmit() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      this.$store.dispatch('user/UPDATE_USER', {
        name: this.name,
        lastName: this.lastName,
        email: this.email,
        phone: this.phone,
        password: this.password,
        birthday: this.birthday,
        sex: this.sex,
      }).then(() => {
        this.$store.dispatch('user/FETCH_PERSONAL').then(() => {
          this.$modal.show('info', {
            title: 'Успех!',
            text: 'Персональные данные обновлены.',
          });
        });
      });
    },
  },

  validations: {
    name: {
      required,
      validateName,
    },
    lastName: {
      required,
      validateName,
    },
    birthday: {
      minLength: minLength(6),
    },
  },
};
</script>

<style lang="stylus" scoped>

.form
  width: 100%

.fields
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom:10px

.group
  width: 100%
  margin-bottom:21px

  &-title
    font-size: 13px
    margin-bottom:11px

  &-content
    display: flex
    align-items: center
    height:44px
    > *
      &:not(:last-child)
        margin-right: 23px

>>>.app-radio .text
  color: #000

._half
  width: calc(50% - 20px)

.bottom
  display: flex
  justify-content: space-between

.app-button
  font-size 13px

.submit
  width: 140px
  margin-right: 20px

.add-address
  width: 240px

.caution
  padding-top: 4px
  font-size 12px
  color #0
  text-align right
  padding-left 20px
  line-height 1.5
  display: flex
  flex-direction column
  a
    text-decoration none
    color $cyan

.error
  font-size 12px
  color $red
  margin 5px 0 0
  padding 0

+tablet()
  .group
    width: calc(50% - 15px)
    margin-bottom: 17px
    &-title
      font-size: 12px
      line-height: 14px
      margin-bottom: 8px
    &-content
      height: 30px
      > *
        &:not(:last-child)
          margin-right: 48px
  .fields
    margin-bottom:0
  .caution
    display: none
  .submit
    width: 100%
    margin-right:0
    margin-top: 12px
  .bottom
    margin-bottom: 0
  .app-button
    height: 40px
    font-size: 12px
    line-height: 14px

+mobile()
  .fields
    flex-direction: column
  .group
    width: 100%
  .submit
    margin-top:0
</style>
