<template lang="pug">
  .contacts-photo
    .content
      .photos
        .photos-item(v-if="photo && photo['1x']")
          img(
            :src="photo['1x']"
            :srcset="photo['2x']"
          )
        .remove(
          v-if="photo"
          @click="handleRemoveImage($event)"
        )
          app-icon(
            name="close"
            width="9"
            height="8"
          )
        label.photos-item._input-file(v-show="!photo")
          input(
            id="photo"
            type="file"
            hidden
            @change="handleFileChange"
          )
          app-icon.icon(name="camera-add")
      .text-wrapper
        .title Ваша фотография
        label.description(for="photo") {{ description }}
    .error(v-if="error") {{ error }}
</template>

<script>
export default {
  data: () => ({
    size: '39',
    sizeMatch: 'Да',
    error: '',
  }),

  computed: {
    photo: {
      get() {
        return this.$store.state.user.personal.data.photo;
      },

      set(value) {
        this.$store.commit('user/SET_PHOTO', value);
      },
    },

    description() {
      if (this.photo && this.photo['1x']) {
        return 'Изменить фотографию.';
      }

      return 'Нажмите, чтобы выбрать вашу фотографию с компьютера.';
    },
  },

  methods: {
    handleRemoveImage(e) {
      this.$store.dispatch('user/UPLOAD_PHOTO')
        .then(() => {
          this.$store.dispatch('user/FETCH_PERSONAL');
        });
      e.stopPropagation();
    },

    handleFileChange(e) {
      this.error = '';
      const bodyFormData = new FormData();
      const size = e.target.files[0].size / 1024 / 1024;
      const ext = e.target.files[0].name.split('.').pop();
      const availableExts = [
        'jpg', 'jpeg', 'JPG', 'JPEG',
      ];

      if (size > 3) {
        this.error = 'Размер файла превышает 3mb';
        return;
      }

      if (availableExts.indexOf(ext) === -1) {
        this.error = 'Принимаются только JPG файлы';
        return;
      }

      bodyFormData.append('photo', e.target.files[0]);
      this.$store.dispatch('user/UPLOAD_PHOTO', bodyFormData)
        .then(() => {
          this.$store.dispatch('user/FETCH_PERSONAL');
        });
    },
  },
};
</script>

<style lang="stylus" scoped>
.contacts-photo
  border 1px solid #ececec
  padding: 45px 59px 45px
  background: #ffffff

>>>.top,
>>>.annotation
  margin 0

.content
  display flex
  align-items center

.title
  margin-bottom 12px
  font-size: 16px
  font-weight: 700

.description
  color $cyan
  cursor pointer

.photos
  display: flex
  flex-wrap wrap
  position relative

  .icon
    display block
    width 24px
    height 24px

  &-item
    width: 80px
    height: 80px
    border: 1px solid #c7d0d8
    display: flex
    align-items: center
    justify-content: center
    position: relative
    border-radius 50%
    overflow hidden
    margin-right 24px

    &._input-file
      cursor: pointer
      border-radius none

  .remove
    display: none
    cursor: pointer
    position: absolute
    right 24px
    top 0px
    z-index: 2
    color: $red
    border: 1px solid $red
    background: #ffffff
    border-radius 50%
    height: 16px
    width: 16px

    .app-icon
      position: absolute
      top: 50%
      left: 50%
      transform translate(-50%,-50%)

  &:hover
    .remove
      display: flex

  img
    max-width 100%
    max-height 100%

.error
  color $red
  font-size 12px
  margin 12px 0 0

+tablet()
  .contacts-photo
    border 1px solid #ececec
    padding 15px 16px 15px 16px

  .title
    font-size 14px
    margin-bottom 4px

  .description
    font-size 12px

  .photos
    margin-right 16px

    .icon
      width 20px
      height 20px

    &-item
      width 48px
      height 48px

</style>
