<template lang="pug">
  .contacts-address-item
    .fields
      .close(
        v-if="index"
        @click="$emit('delete', index)"
      )
        app-icon.icon(name="close")
      .group._half
        .group-title Укажите ваш город:
        app-suggestions(
          placeholder="Москва"
          :bounds="bounds"
          :initial-value="info.city"
          :name="`city-${index}`"
          @select="result => handleSelect('city', result)"
        )
      .group._half
        .group-title Укажите ваш индекс:
        app-input(
          placeholder="999000"
          v-model="postalIndex"
          type="number"
        )
      .group
        .group-title Адрес:
        app-suggestions(
          placeholder="Введите ваш адрес (улица, дом, подъезд, квартира)"
          :location="cityFias"
          :initial-value="info.address"
          :name="`street-${index}`"
          @select="result => handleSelect('address', result)"
        )
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
    index: {
      type: Number,
      default: 0,
    },
  },

  data: () => ({
    bounds: ['city', 'city'],
    cityFias: '',
    city: '',
    postalIndex: '',
    address: '',
    initialData: {},
  }),

  computed: {
    defaultCity() {
      return this.$store.state.user.city;
    },
  },

  watch: {
    postalIndex(value) {
      if (value !== this.initialData.postalIndex) {
        this.updateData();
      }
    },
  },

  mounted() {
    this.initialData = {
      city: this.info.city ? this.info.city : '',
      postalIndex: this.info.index ? this.info.index : '',
      address: this.info.address ? this.info.address : '',
    };

    this.city = this.initialData.city;
    this.postalIndex = this.initialData.postalIndex;
    this.address = this.initialData.address;
  },

  methods: {
    handleSelect(key, selection) {
      if (selection.data) {
        this.cityFias = selection.data.cityFiasId;
        this[key] = selection.value;
      } else {
        this[key] = selection;
      }
      this.updateData();
    },

    updateData() {
      this.$store.commit('user/UPDATE_ADDRESS', {
        orderIndex: this.index,
        city: this.city,
        index: this.postalIndex,
        address: this.address,
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.contacts-address-item
  position: relative

.form
  width: 100%
.fields
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-bottom: 13px

.group
  width: 100%
  margin-bottom:20px
  &-title
    font-size: 13px
    margin-bottom:10px

._part
  width: 120px
  &:nth-child(3)
    width: 320px
  &:nth-child(4)
    width: 140px

.bottom
  display: flex

.app-button
  font-size 13px

.submit
  width: 142px
  margin-right: 20px

.add-address
  width: 240px

._half
  width: calc(50% - 20px)

.caution
  padding-top: 4px
  font-size 12px
  color #0
  text-align right
  padding-left 20px
  line-height 1.5
  display: flex
  flex-direction column
  margin-left: auto;

  a
    text-decoration none
    color $cyan

.close
  position absolute
  top -4px
  right 0
  width 15px
  height 15px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

+tablet()
  .group
    width: calc(50% - 15px)
    margin-bottom: 17px
    &-title
      font-size: 12px
      line-height: 14px
      margin-bottom: 8px
  ._part
    &:nth-child(4), &:nth-child(5), &:nth-child(6)
      width: calc(15% - 2px)
    &:nth-child(3)
      max-width none
      width: calc(50% - 15px)
      margin-right: 3%
  .fields
    margin-bottom:15px
  .caution
    display: none

  .bottom
    justify-content: space-between
  .add-address
    order: 0
  .submit
    order: 1
    margin-right: 0

+mobile()
  .fields
    margin-bottom:4px
  .group
    width:100%
  ._part
    &:nth-child(4), &:nth-child(5), &:nth-child(6)
      width: 28%
    &:nth-child(3)
      width: 100%
      margin-right: 0
  .bottom
    flex-direction: column

  .add-address, .submit
    width:100%

  .add-address
    order: 1
  .submit
    order: 0
    margin-bottom: 15px
</style>
