<template lang="pug">
  .favourite-item-dashboard
    .image
      img(:src="info.images")
    .main
      .price {{ `${info.price.toLocaleString('ru')} руб.` }}
      .title {{ info.name }}
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  methods: {
    showPreview() {
      this.$modal.show('preview');
    },
  },
};
</script>

<style lang="stylus" scoped>
.favourite-item-dashboard
  width: calc(100% / 3)
  &:nth-child(n + 4)
    display: none
  display: flex
  justify-content: center
.main
  margin: auto 0 46px 0
.image
  width: 110px
  margin-right: 10px
  > img
    width:100%
.price
  font-size: 14px
  font-weight:700
  margin-bottom:5px

+tablet()
  .favourite-item-dashboard
    width: calc(100% / 2);
    margin: 21px 0
    flex-direction: column
    padding: 0 20px
    &:nth-child(4)
      display: flex
  .main
    margin: 0
  .image
    width: 110px
    margin-right: 0
    > img
      width:100%
  .price
    font-size: 14px
    font-weight:700
    margin-bottom:5px

+mobile()
  .favourite-item-dashboard
    padding: 0 10px
    align-items: center

  .main
    align-self: flex-start

  .image
    max-width: 180px
    width: 100%

/*width: 126px*/
</style>
