<template lang="pug">
  section.favourite-list
    FavouriteItem(
      v-for="(item, index) in items"
      :key="index + 1"
      :info="item"
    )
</template>

<script>
import FavouriteItem from '@/components/account/FavouriteItem';

export default {
  components: {
    FavouriteItem,
  },

  data: () => ({
    items: [{
      name: 'Ботинки',
      price: 6504,
      images: '/img/catalog-list-item-3.jpg',
      isFavourite: true,
    }, {
      name: 'Дутики',
      price: 6504,
      images: '/img/catalog-list-item-1.jpg',
      isFavourite: true,
    }, {
      name: 'Сапоги',
      price: 6504,
      images: '/img/catalog-list-item-1.jpg',
      isFavourite: true,
    }, {
      name: 'Полуботинки',
      price: 6504,
      images: '/img/catalog-list-item-1.jpg',
      isFavourite: true,

    },
    {
      name: 'Полуботинки',
      price: 6504,
      images: '/img/catalog-list-item-1.jpg',
      isFavourite: true,
    }],
  }),
};
</script>

<style lang="stylus" scoped>
  .favourite-list
    display flex
    flex-wrap wrap
    align-items stretch
    padding-top: 8px
    margin-right:-20px
</style>
