<template lang="pug">
  .favourite-item(
    @click="$router.push('/catalog/detail/')"
  )
    .favourite-wrapper
      .favourite-caller(title="Убрать из избранного")
        app-icon.favourite-icon._empty(
        name="heart-regular"
        width="17"
        height="15"
        )
        app-icon.favourite-icon._full(
        name="heart-solid"
        width="17"
        height="15"
      )
    .image
      img(:src="info.images")
    .main
      .price {{ `${info.price.toLocaleString('ru')} руб.` }}
      .title {{ info.name }}
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="stylus" scoped>
.favourite
  &-item
    position: relative
    padding: 30px 28px;
    display: flex
    flex-direction: column
    width: calc(100% / 4);
  &-wrapper
    position: absolute
    right: 16%
    top: 8%
    z-index: 2

.image
  position: relative
  display: flex
  align-items: flex-end
  justify-content: center
  height: 220px
  > img
    position: relative
    max-width: 150px
    height: auto
    max-height 100%
    margin: auto auto 0;
.price
  font-size: 14px
  font-weight:700
  margin-bottom:5px

.favourite-caller
  position relative
  width 20px
  height 20px
  cursor pointer
  color $red
  opacity 1
  visibility visible

.favourite-icon
  absolute-centered()

  &._full
    opacity 1
    visibility visible

.favourite-caller:hover .favourite-icon
  &._empty
    opacity 1
    visibility visible

  &._full
    opacity 0
    visibility opacity

+tablet()
  .favourite
    &-item
      padding: 5px 19px 27px
    &-wrapper
      right: 10%
      top: 0

  .price
    font-size: 13px
    margin-bottom: 9px

  .title
    font-size: 11px
    line-height: 13px
    letter-spacing: -0.18px

+mobile()
  .favourite
    &-item
      padding: 7px 7px 35px
      width: calc(100% / 2);

  .image
    height: 200px
    > img
      max-width: 120px

</style>
