<template lang="pug">
  section.favourite-list-dashboard
    FavouriteItemDashboard(
      v-for="(item, index) in items"
      :key="index + 1"
      :info="item"
    )
</template>

<script>
import FavouriteItemDashboard from '@/components/account/FavouriteItemDashboard';

export default {
  components: {
    FavouriteItemDashboard,
  },

  data: () => ({
    items: [{
      name: 'Ботинки',
      price: 6504,
      images: '/img/catalog-list-item-3.jpg',
      isFavourite: true,
    }, {
      name: 'Дутики',
      price: 6504,
      images: '/img/catalog-list-item-1.jpg',
      isFavourite: true,
    }, {
      name: 'Сапоги',
      price: 6504,
      images: '/img/catalog-list-item-1.jpg',
      isFavourite: true,
    }, {
      name: 'Полуботинки',
      price: 6504,
      images: '/img/catalog-list-item-1.jpg',
      isFavourite: true,
    },
    {
      name: 'Полуботинки',
      price: 6504,
      images: '/img/catalog-list-item-1.jpg',
      isFavourite: true,
    }],
  }),
};
</script>

<style lang="stylus" scoped>
.favourite-list-dashboard
  display: flex
  justify-content: space-between
  align-items: flex-end

+tablet()
  .favourite-list-dashboard
    flex-wrap: wrap
    justify-content: space-between
    margin: -21px 0 4px

+mobile()
  .favourite-list-dashboard
    justify-content: center
    margin: -21px 0 4px

</style>
