<template lang="pug">
  nav.menu
    nuxt-link.link(
      :to="link.url"
      v-for="(link, index) in menu"
      :key="index + 1"
      :exact="link.exact"
    )
      span.label {{ link.label }}
      app-counter(v-if='link.count') {{ link.count }}
</template>

<script>
import MENU from '@/assets/json/menu.json';

export default {
  data: () => ({
    menu: MENU,
  }),
};
</script>

<style lang="stylus" scoped>
.menu
  display: flex
  flex-direction column
  width: 188px
  margin-right: 52px;
.link
  position: relative
  a-reset()
  font-size: 14px
  line-height: 34px
  display: flex
  align-items: center
  font-weight: 600
  &._active
    color: $red
.label
  margin-right:auto;
+tablet()
  .menu
    background-color #f
    margin: 40px -34px 0
    width calc(100% + 68px)
  .link
    padding 11.5px 34px
    &:before
      content: ''
      display: block
      height: 1px;
      width: 100%
      left 0
      right 0
      background: #ec
      position: absolute
      top: 0
    &:last-child
      &:after
        display none
+mobile()
  .menu
    margin: 24px -16px 0
    width calc(100% + 32px)
  .link
    padding: 11.5px 16px
    &:last-child
      &:after
        width 100%
        left 0
        right 0
</style>
