<template lang="pug">
  .products-item(:class="`_${mod}`")
    .content
      .main
        nuxt-link.name(:to="product.url || '/catalog/'") {{ product.name }}&nbsp;
        .amount x {{ product.count }}
      .description
          span(v-if="size") {{ size }},&nbsp
          span(v-if="color") {{ color }}
    .price {{ product.price }} руб.
</template>

<script>

export default {
  props: {
    product: {
      type: Object,
      default: () => ({
        name: '',
        amount: '',
        description: '',
        price: 0,
      }),
    },
    mod: {
      type: String,
      default: '',
    },
  },

  computed: {
    size() {
      const { size } = this.product.properties;
      if (!size || !size.name) { return ''; }
      return size.name;
    },
    color() {
      const { color } = this.product.properties;
      if (!color || !color.name) { return ''; }
      return color.name;
    },
  },
};
</script>

<style lang="stylus" scoped>
.products-item
  display: flex
  align-items: baseline
  justify-content: space-between
  &:not(:last-child)
    margin-bottom: 13px
.content
  display: flex
  flex-grow: 1
.main
  display: flex
  align-items: baseline
.name, .price
  font-size: 13px
  font-weight: 600
.name
  a-reset()
.price
  width: 120px
  text-align: right
.amount
  color: #a5a5a5
  font-size: 12px
.description
  margin-left: auto
  font-size: 12px

+tablet()
  .products-item
    &:not(:last-child)
      margin-bottom: 11px

  .main
    margin-bottom: 5px

  .description
    color: #75787B
    margin-left: auto

  .products-item._dashboard
    &:not(:last-child)
      margin-bottom: 16px
    .content
      flex-direction: column
    .description
      margin-left: 0

+mobile()
  .products-item
    &:not(:last-child)
      margin-bottom: 16px
  .content
    flex-direction: column
  .description
    margin-left: 0
    color: #75787B
</style>
