<template lang="pug">
  .orders-list(:class="`_${mod}`")
    OrdersItem(v-for="(order, index) in orders" :order="order" :mod="mod" :key="index + 1")
</template>

<script>
import OrdersItem from '@/components/account/OrdersItem';

export default {
  components: { OrdersItem },
  props: {
    mod: {
      type: String,
      default: '',
    },
  },

  computed: {
    orders() {
      return this.$store.state.orders.orders.data;
    },
  },
};
</script>

<style lang="stylus" scoped>
.orders-list
  padding-top: 7px
</style>
