<template lang="pug">
  .orders-item(:class="`_${mod}`")
    app-icon.status(
      v-if="deliveryStatus"
      :name="status[deliveryStatus].icon"
      width="14"
      height="14"
      :fill="status[deliveryStatus].fill"
      :color="status[deliveryStatus].fill"
      :class="{'_reversed': order.status === 'delivering'}"
    )
    .content
      .head
        .info
          .info-main <b> Заказ №{{ order.id }} </b> от {{ order.date }}
          template(v-if="isSimpleDeliveryStatus")
            .info-description {{ order.status }}
          template(v-else-if="deliveryStatus === 'wait'")
            .info-description Ожидает в магазине&nbsp
              nuxt-link.place-link(
                v-if="deliveryShop.id"
                :to="`/about/shops/?shop=${deliveryShop.id}`"
              ) {{ deliveryShop.point.address }}&nbsp
              | до {{ deliveryDesiredDate }}
            .info-description Ожидает в магазине до 10 октября 10:00
          template(v-else-if="deliveryStatus === 'shipped'")
            .info-description
              span Заказ в пути, код отслеживания:
              a.tracking-code(href="jabascript:void(0);")._red  {{ order.trackingCode }}
        .total
          .total-price {{ order.total }} руб.
          .total-products(@click="toggleProducts")
            span Подробнее
            app-icon.link-arrow(
              name="arrow-down"
              :class="{'_show': isShowProducts}"
              width="10"
              height="8"
              color="#229595"
            )
      .products(v-if="isShowProducts")
        .products-list
          OrdersItemProduct(
            :mod="mod"
            :product="product"
            v-for="(product, index) in products"
            :key="index + 1"
          )
          OrdersItemDelivery(
            :delivery="order.delivery"
          )
        app-button.cancel(
          mod="_extra-small"
          v-if="status[order.status] === status.wait"
        ) Отменить заказ
</template>

<script>
import OrdersItemProduct from '@/components/account/OrdersItemProduct';
import OrdersItemDelivery from '@/components/account/OrdersItemDelivery';
import morphHelper from '@/helpers/morphHelper';
import STATUS_DELIVERY from '@/assets/json/statusDelivery.json';

export default {
  components: {
    OrdersItemProduct,
    OrdersItemDelivery,
  },
  props: {
    order: {
      type: Object,
      default: () => ({
        number: 0,
        date: '',
        status: '',
        products: '',
      }),
    },
    mod: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    isShowProducts: false,
    status: {
      new: { icon: 'clock-solid', fill: '#ffae00' },
      received: { icon: 'check', fill: '#ffae00' },
      paywaiting: { icon: 'credit-card', fill: '#E4002B' },
      payed: { icon: 'credit-card', fill: '#229595' },
      cantcall: { icon: 'phone-solid', fill: '#E4002B' },
      loaded: { icon: 'clock-solid', fill: '#ffae00' },
      picking_planned: { icon: 'archive', fill: '#ffae00' },
      stocked: { icon: 'archive', fill: '#229595' },
      notavailable: { icon: 'pause-circle', fill: '#E4002B' },
      packed: { icon: 'archive', fill: '#229595' },
      shipped: { icon: 'delivering', fill: '#ffae00' },
      new_wait_payment: { icon: 'credit-card', fill: '#E4002B' },
    },
  }),
  computed: {
    totalProducts() {
      const { products } = this.order;
      return `${products.length} ${morphHelper('товар', 'товара', 'товаров', products.length)}`;
    },

    products() {
      const { basketItems } = this.order.products;
      return Object.keys(this.order.products.basketItems)
        .map(key => basketItems[key]);
    },

    deliveryShop() {
      return this.order.delivery.description;
    },

    deliveryDesiredDate() {
      if (!this.deliveryShop.desiredDate) { return ''; }
      return new Date(this.deliveryShop.desiredDate).toLocaleDateString('ru-RU', {
        day: 'numeric',
        month: 'long',
      });
    },

    deliveryStatus() {
      return STATUS_DELIVERY[this.order.status];
    },

    isSimpleDeliveryStatus() {
      const deliveries = [
        'new',
        'received',
        'paywaiting',
        'payed',
        'cantcall',
        'loaded',
        'picking_planned',
        'stocked',
        'notavailable',
        'packed',
        'new_wait_payment',
      ];
      return ~deliveries.indexOf(this.deliveryStatus);
    },
  },
  methods: {
    toggleProducts() {
      this.isShowProducts = !this.isShowProducts;
    },
  },
};
</script>

<style lang="stylus" scoped>
.orders-item
  display: flex
  padding 21px 0
  border-bottom 1px solid #ececec
  position: relative
  width 100%
  &:first-child
    padding-top: 0
  &:last-child
    border-bottom none

.place-link
  a-reset()
  color: $red
  font-weight: 600

.status
  margin-right: 25px

  &._reversed
    transform: scaleX(-1)

.info-description
  line-height: 1.5

  .tracking-code
    font-weight bold
    text-decoration none
    color $red

.content
  flex: 1

.head
  display: flex
  justify-content: space-between;

.info
  &-main
    font-size: 14px
    margin-bottom 5px
  &-description
    font-size: 13px
    color: #75787B

.total
  &-price
    font-size: 14px
    font-weight: 700
    margin-bottom: 7px

  &-products
    cursor: pointer
    font-size: 13px
    font-weight: 600
    color: $cyan
    display: flex
    justify-content: flex-end
    align-items: center
    > span
      margin-right: 3px

.products
  &-list
    background: $graySuperLight
    margin-top: 24px
    padding: 20px
    padding-left: 25px

.cancel
  margin-top: 15px
  width: 150px

.link-arrow
  margin-top: 2px
  &._show
    transform: scale(1, -1)

+tablet()
  .orders-item
    padding: 17px 0 16px
    &:first-child
      border-top: 1px solid #ececec
      padding 17px 0 16px

  .status
    width: 12px
    height: 13px
    margin-top: 1px
    margin-left: 1px
    position: absolute

  .content
    flex: 1

  .info
    &-main
      font-size: 13px
      line-height: 16px
      margin-bottom: 6px
      padding-left: 25px
    &-description
      line-height: 20px

  .total
    &-price
      font-size: 13px
      font-weight: 600
      line-height: 16px
      margin-bottom: 11px

    &-products
      font-size: 12px
      line-height: 14px
      font-weight: 600
      letter-spacing: -0.19px
      > span
        margin-right: 8px

  .products-list
    padding: 14px 24px 20px
    margin-top: 16px

  .link-arrow
    margin-top: 2px
  .cancel
    height: 40px
    width: 100%

  .orders-item._dashboard

    .head
      flex-direction: column

    .info
      margin-bottom: 12px

    .total
      display: flex
      align-items: baseline
      justify-content: space-between

      &-price
       margin-bottom: 0

    .products-list
      padding: 17px 20px 20px

+mobile()

  .head
    flex-direction: column

  .info
    margin-bottom: 12px

  .total
    display: flex
    align-items: baseline
    justify-content: space-between

    &-price
      margin-bottom: 0

  .products-list
    padding: 17px 20px 20px
    margin-top: 16px

</style>
