<template lang="pug">
  .orders-item-delivery
    template(v-if="type === 'takeFromStore' || type === 'deliverToStore'")
      nuxt-link.content(:to="`/about/shops/?shop=${delivery.description.id}`")
        .main
          .name {{ name }}
    template(v-else)
      .content
        .main
          .name {{ name }}
    .price {{ delivery.price.toLocaleString('ru') }} руб.
</template>

<script>
export default {
  props: {
    delivery: {
      type: Object,
      default: () => ({}),
    },
  },

  computed: {
    type() {
      return this.delivery.description.type;
    },

    name() {
      const { type } = this.delivery.description;
      const mapTypeDelivery = {
        takeFromStore: 'Забрать в магазине',
        deliverToStore: 'Доставить в магазин',
        pvz: 'Пункт выдачи',
        courier: 'Доставка курьером',
      };
      return mapTypeDelivery[type];
    },
  },
};
</script>

<style lang="stylus" scoped>
.orders-item-delivery
  display: flex
  align-items: baseline
  justify-content: space-between
  &:not(:last-child)
    margin-bottom: 13px

  a
    text-decoration: none
    color: $cyan
.content
  display: flex
  flex-grow: 1
.main
  display: flex
  align-items: baseline
.name, .price
  font-size: 13px
  font-weight: 600
.price
  width: 120px
  text-align: right
</style>
