<template lang="pug">
  section.section-dashboard
    .top
      .icon
        app-icon(
          :name="icon"
          width="15"
          height="13"
          fill="#afb0b0"
          color="#afb0b0"
        )
      .title {{ title }}
      app-link(
        v-if="button.text"
        :mod="button.mod"
        :to="button.linkTo"
      ) {{ button.text }}
    .main
      slot
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    button: {
      type: Object,
      default: () => ({
        text: '',
        linkTo: '',
        mod: '',
      }),
    },
  },
};
</script>

<style lang="stylus" scoped>
.section-dashboard
  border 1px solid #ececec
  padding: 23px 40px 40px 22px
  background: #ffffff
  display: flex
  flex-direction: column

  &.orders
    min-height 472px

  &.checkout
    min-height 199px

    .top
      margin-bottom: 21px

    .main
      padding 0 15px

.top
  display: flex
  align-items: center
  margin-bottom: 31px

.main
  display: flex
  flex-direction: column
  width:100%
  flex: 1

.icon
  margin-right: 15px
  border: 1px solid #ededed
  border-radius 50%
  padding: 5px
  min-width: 40px
  max-width: 40px
  min-height: 40px
  max-height: 40px
  position: relative

.app-icon
  position: absolute
  top: 50%
  left: 50%
  transform translate(-50%,-50%)

.title
  font-size: 16px
  font-weight: 700

.app-link
  margin-left: auto
  width: auto !important
  padding-right: 24px
  padding-left: 24px
  white-space nowrap

+tablet()
  .section-dashboard
    padding: 15px

  .top
    margin-bottom: 31px

  .main
    display: flex
    flex-direction: column

  .icon
    margin-right: 12px
    min-width: 28px
    max-width: 28px
    min-height: 28px
    max-height: 28px

  .app-icon
    width 12px
    height 10px

  .title
    font-size: 14px
    line-height: 17px
    font-weight: 600
    margin-right: 16px

  .top .app-link
    display: none

  .app-link
    margin-left: 0
    width: 100%

+mobile()
  .section-dashboard
    border-radius 4px

    &.orders,
    &.checkout
      min-height 0

    &.checkout

      .top
        margin-bottom 0

      .cart
        border none
        margin 0
        padding-top 16px
        color $grayLight

        b
          color #0

  .icon
    margin-right: 8px

  .title
    margin-right:auto

  .app-link
    padding: 0 6px

</style>
