<template lang="pug">
  section.section(:class="{'_notification': notification}")
    .top
      .icon(v-if="icon")
        app-icon(
        :name="icon"
        width="15"
        height="13"
        fill="#afb0b0"
        color="#afb0b0"
      )
      h1.title {{ title }}
      .notification(v-if="notification")
        app-checkbox(:checked="true") Оповещать меня о появлении товаров в продаже
    .annotation(v-if="annotation") {{ annotation }}
    .notification._mobile(v-if="notification")
      app-checkbox(:checked="true") Оповещать меня о появлении товаров в продаже
    slot
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    annotation: {
      type: String,
      default: '',
    },
    notification: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="stylus" scoped>
._mobile
  display: none

.section
  border 1px solid #ececec
  padding: 45px 59px 50px
  background: #ffffff
  width: 100%
  &:not(:last-child)
    margin-bottom: 30px

.top
  display: flex
  margin-bottom: 12px

.icon
  display: none

.title
  font-size: 16px
  font-weight: 700

.annotation
  color: #404244
  font-size: 13px
  line-height: 20px
  margin-bottom:29px

.notification
  margin-left: auto
  >>>.app-checkbox .text
    color: #000

+tablet()
  .section
    padding: 20px 20px 26px 23px
    &:not(:last-child)
      margin-bottom:24px

  .top
    align-items: center
    margin-bottom: 10px

  .icon
    display: block
    border: 1px solid #ededed
    border-radius 50%
    padding: 5px
    margin-right: 13px
    min-width: 28px
    max-width: 28px
    min-height: 28px
    max-height: 28px
    position: relative

  .app-icon
    position: absolute
    top: 50%
    left: 50%
    transform translate(-50%,-50%)
    width 12px
    height 10px

  .title
    font-size: 14px
    line-height: 17px
    font-weight: 600
    margin-top: -1px

  .annotation
    font-size: 10px
    line-height: 16px
    margin-bottom:19px

  .notification
    >>>.app-checkbox .text
      white-space: normal;
      font-size: 10px
      color: $cyan
+mobile()
  .section
    padding: 20px 15px 14px 15px
    &:not(:last-child)
      margin-bottom: 16px

  .top
    margin-bottom: 14px

  .annotation
    margin-bottom:15px

  .notification
    display: none
    &._mobile
      display: block
      margin: 0
      margin-bottom: 20px

</style>
