<template lang="pug">
  section.waiting-list-content
    .block(v-if="done.length")
      .title Появилось в наличии
      .list
        WaitingItem(
          v-for="(item, index) in done"
          :key="index + 1"
          :info="item"
          view="in-stock"
          @remove="removeProduct(index, 'done')"
        )
    .block(v-if="items.length")
      .title Ожидается поступление
      .list
        WaitingItem(
          v-for="(item, index) in items"
          :key="index + 1"
          :info="item"
          view="waiting"
          @remove="removeProduct(index, 'items')"
        )
      WaitingPagen


</template>

<script>
import WaitingItem from '@/components/account/WaitingItem';
import WaitingPagen from '@/components/account/WaitingPagen';

export default {
  components: {
    WaitingPagen,
    WaitingItem,
  },

  data: () => ({
    done: [
      {
        name: 'Ботинки',
        images: {
          footwear: {
            '1x': '/img/catalog-list-item-3.jpg',
            '2x': 'img/catalog-list-item-3.jpg',
          },
          model: {
            '1x': '/img/catalog-list-item-2.jpg',
            '2x': 'img/catalog-list-item-2.jpg',
          },
        },
        color: {
          id: 1,
          name: 'бежевый',
          value: '#e1ccc0',
        },
        done: true,
        buttonText: 'В корзину',
      },
      {
        name: 'Ботинки',
        images: {
          footwear: {
            '1x': '/img/catalog-list-item-1.jpg',
            '2x': 'img/catalog-list-item-1.jpg',
          },
          model: {
            '1x': '/img/catalog-list-item-2.jpg',
            '2x': 'img/catalog-list-item-2.jpg',
          },
        },
        color: {
          id: 1,
          name: 'бежевый',
          value: '#e1ccc0',
        },
        done: true,
        buttonText: 'В корзину',
      },
    ],
    items: [
      {
        name: 'Ботинки',
        images: {
          footwear: {
            '1x': '/img/catalog-list-item-3.jpg',
            '2x': 'img/catalog-list-item-3.jpg',
          },
          model: {
            '1x': '/img/catalog-list-item-2.jpg',
            '2x': 'img/catalog-list-item-2.jpg',
          },
        },
        color: {
          id: 1,
          name: 'бежевый',
          value: '#e1ccc0',
        },
        wait: '22.12.21',
      },
      {
        name: 'Ботинки',
        images: {
          footwear: {
            '1x': '/img/catalog-list-item-3.jpg',
            '2x': 'img/catalog-list-item-3.jpg',
          },
        },
        color: {
          id: 1,
          name: 'бежевый',
          value: '#e1ccc0',
        },
        isNew: true,
        wait: '22.12.21',
      },
      {
        name: 'Ботинки',
        images: {
          footwear: {
            '1x': '/img/catalog-list-item-1.jpg',
            '2x': 'img/catalog-list-item-1.jpg',
          },
        },
        color: {
          id: 1,
          name: 'бежевый',
          value: '#e1ccc0',
        },
        wait: '22.12.21',
        isNew: true,
      },
      {
        name: 'Ботинки',
        images: {
          footwear: {
            '1x': '/img/catalog-list-item-1.jpg',
            '2x': 'img/catalog-list-item-1.jpg',
          },
        },
        color: {
          id: 1,
          name: 'бежевый',
          value: '#e1ccc0',
        },
        wait: '22.12.21',
      },
      {
        name: 'Ботинки',
        images: {
          footwear: {
            '1x': '/img/catalog-list-item-1.jpg',
            '2x': 'img/catalog-list-item-1.jpg',
          },
        },
        color: {
          id: 1,
          name: 'бежевый',
          value: '#e1ccc0',
        },
        wait: '22.12.21',
      },
    ],
  }),

  methods: {
    removeProduct(index, arr) {
      this[arr] = this[arr].filter((item, id) => (id !== index));
    },
  },
};
</script>

<style lang="stylus" scoped>
.waiting-list-content

  .block:first-child
    padding-bottom: 70px

  .title
    font-size: 14px
    font-weight: 600
    margin-bottom: 30px

  .list
    display: flex
    flex-wrap: wrap
    margin: -6px -4%
    > *
      width: 25%;
      margin: 6px 4%

  .waiting-pagen
    margin-top: 20px

  +tablet()
    .title
      margin-bottom: 16px

    .list
      display: flex
      flex-wrap: wrap
      margin: -12px -3%
      > *
        width: 19%;
        margin: 12px 3%;

    .block:last-child .list
      padding-left: 10px

  +mobile()
    .block:first-child
      padding-bottom: 20px

    .list
      display: flex
      flex-wrap: wrap
      margin: -12px -4%
      padding-bottom: 10px
      > *
        width: 40%;
        margin: 12px 4%
</style>
