<template lang="pug">
  .waiting-item(:class="view ? `_${view}` : ''")
    .content
      .wait(v-if="info.wait")
        .wait-text Ожидается:
        .wait-date {{ info.wait }}
      .done(v-if="info.done") в наличии
      .button-del-top(
        v-if="view === 'in-stock'"
        @click="removeProduct"
      )
        app-icon.icon(
          name="close"
        )
      .image-wrapper(
        v-if="info.images"
        @click="processClick(info)"
      )
        img.image(
          v-if="info.images.footwear"
          :src="info.images.footwear['1x']"
          :srcset="`/${info.images.footwear['2x']}`"
          :alt="info.name"
          :class="classImage('footwear')"
        )

      .badge-wrapper
        app-item-badges(
          :is-new="info.isNew"
          :discount="info.discount"
        )
      .main-wrapper
        .information-top
          .title {{ info.name }}
          .article 9976B-A11-1
        .information-bottom
          .colors(v-if="info.color")
            app-color-indicator(
              :color="info.color.value"
              :title="info.color.name"
              mod="_big"
            )
          .sizes 36 размер
        button.button-del(
          v-if="view !== 'in-stock'"
          @click="removeProduct"
        ) Удалить
      .controls-wrapper
        app-button(
          mod="_catalog-item"
          @click="removeProduct"
        ) {{ isMobile ? 'В корзину' : 'Добавить в корзину' }}
</template>

<script>

export default {
  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
    view: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    activeSizes: [],
    isFavourite: false,
  }),
  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    currentCardType() {
      return this.$store.state.catalogPage.products.currentCardType;
    },
  },
  mounted() {
    if (this.info.colors) {
      this.activeSizes = this.info.colors[0].sizes.map(({ value }) => value);
    }
    this.isFavourite = this.info.isFavourite;
  },
  methods: {
    classImage(type) {
      return {
        _main: this.currentCardType === type,
        _hover: this.currentCardType !== type,
      };
    },
    processClick() {
      this.$router.push('/catalog/detail/');
    },
    removeProduct() {
      this.$emit('remove');
    },
  },
};
</script>

<style lang="stylus" scoped>
  ._mobile
    display: none

  .waiting-item
    padding 5px 5px 10px
    width 240px
    height 425px
    position relative

  .content
    transition all .2s
    position absolute
    top 0
    left 0
    right 0

  .wait
    font-size: 12px
    line-height: 18px
    color: #999999

  .done
    color: #ffffff
    background: $green
    padding: 1px 4px
    font-size: 12px
    font-weight: 600
    border-radius 2px
    margin-top: 16px
    display: inline-block

  .button-del-top
    position: absolute
    top: 8px
    right: 16px
    z-index 2
    cursor: pointer

    .icon
      width: 10px
      height: 10px
      color: #999

  .image-wrapper
    position relative
    overflow hidden
    width 100%
    height 255px
    cursor pointer
    margin-right auto
    margin-left auto

    .image
      position absolute
      left: 0;
      right: 0;
      max-width: 100%;
      top: -100px;
      bottom: 0px;
      margin: auto auto 0;

      &._hover
        opacity 0
        visibility hidden

  .badge-wrapper
    padding 4px 0
    height 31px

  .information-top
    display: flex
    align-items: baseline
    margin-top 1px
    margin-bottom: 9px

  .title
    font-size: 14px
    font-weight: 700
    color $gray

  .article
    margin-left: 10px
    color: #999999
    font-size: 12px

  .information-bottom
    display: flex
    align-items: center
    margin-bottom: 10px

  .sizes
    margin-left: 16px
    font-size 13px
    color $gray

  .button-del
    cursor: pointer
    background: transparent
    border: 0
    color: $red
    outline none
    padding: 0

  .controls-wrapper
    display none

  .waiting-item._in-stock
    box-shadow 4px 4px 16px 0 rgba(0, 0, 0, 0.07999999821186066)

    .content
      padding: 0 12px

    .information-bottom
      margin-bottom: 12px

    .controls-wrapper
      display: block
      margin: 0 -12px
      border-top: 1px solid #F1F1F1


  +tablet()
    .waiting-item
      padding 5px 5px 10px
      width 233px
      height: 360px

      .wait
        font-size: 10px
        line-height: 12px

      .done
        font-size: 10px
        margin-top: 13px

      .button-del-top
        position: absolute
        top: 6px
        right: 12px

        .icon
          width: 8px
          height: 8px

      .badge-wrapper
        position: relative
        height: 20px

      >>>.app-item-badges .badge
        font-size: 8px;
        line-height: 11px;
        height: 12px;

      .image-wrapper
        max-width:150px

      .information-top
        margin-top 1px
        margin-bottom: 6px

      .title
        font-size: 11px
        line-height: 13px

      .article
        display: none

      .information-bottom
        margin-bottom:0

      .sizes
        margin-left: 4px
        font-size: 10px;
        line-height: 12px;

      .app-color-indicator
        width: 12px;
        height: 12px;

      .button-del
        font-size: 10px;
        line-height: 12px;

    .waiting-item._in-stock
      height 388px

  +mobile()
    ._tablet
      display: none

    ._mobile
      display: inline-block

    .waiting-item
      padding 5px 5px 10px
      width 50%
      margin-bottom 32px
      height: 275px

      .done
        margin-top: 10px

      .button-del-top
        position: absolute
        top: 4px
        right: 8px

      .content
        padding-top: 0;

      .image-wrapper
        height: 180px

      .image
        max-height:100%

    .waiting-item._in-stock
      height: 310px
      .content
        padding: 0 8px

      .controls-wrapper
        margin: 0 -8px

      .app-button
        font-size: 10px


</style>
