<template lang="pug">
  .waiting-pagen
    .controls
      nav.list
        a.link._active(
          href="javascript:void(0);"
        ) 1
        a.link(
          href="javascript:void(0);"
        ) 2
        a.link(
          href="javascript:void(0);"
        ) 3
        a.link(
          href="javascript:void(0);"
        ) 4
</template>

<script>
export default {
  props: {
    showButton: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
  .controls
    display flex
    justify-content center

  .list
    display flex

  .link
    a-reset()
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    cursor pointer

    & + &
      margin-left 30px

    &._active
      color: $red

  +mobile()
    .waiting-pagen
      display: none
</style>
