<template lang="pug">
  section.contacts
    ContactsPhoto
    ContactsInfo
    ContactsAddress
</template>

<script>
import ContactsAddress from '@/components/account/ContactsAddress';
import ContactsPhoto from '@/components/account/ContactsPhoto';
import ContactsInfo from '@/components/account/ContactsInfo';

export default {
  scrollToTop: true,
  components: {
    ContactsInfo,
    ContactsPhoto,
    ContactsAddress,
  },
  middleware: 'auth',
  data: () => ({
    title: 'Контактная информация',
    annotation: 'Укажите свои данные, чтобы быть в курсе изменений статуса заказа и не заполнять при следующих покупках.',
  }),
};
</script>

<style lang="stylus" scoped>
.contacts
  flex: 1
  padding-top:11px

.contacts-photo
  margin-bottom 30px

+tablet()
  .contacts
    padding-top:6px
</style>
