<template lang="pug">
  Section.favourite(:title="title" :annotation="annotation" :icon="icon")
    app-product-list(:count="count" view="favourite" :items="items")
</template>

<script>
import Section from '@/components/account/Section';

export default {
  scrollToTop: true,
  components: {
    Section,
  },
  middleware: 'auth',
  data: () => ({
    title: 'Избранное',
    annotation: 'Укажите свои данные, чтобы быть в курсе изменений статуса заказа и не заполнять при следующих покупках.',
    icon: 'heart-solid',
    items: [{
      name: 'Ботинки',
      price: 6504,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      isFavourite: true,
    }, {
      name: 'Дутики',
      price: 6504,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      isFavourite: true,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: true,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: true,
    },
    {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: true,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: true,
    }],
    others: [{
      name: 'Ботинки',
      price: 6504,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      isFavourite: true,
    }, {
      name: 'Дутики',
      price: 6504,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    },
    {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    }],
  }),
};
</script>

<style lang="stylus" scoped>
.favourite
  margin-top:11px
  margin-bottom: 0
  padding: 45px 60px 90px
+tablet()
  .favourite
    margin-top:6px
    padding: 15px

  >>>.annotation
    display: none

</style>
