<template lang="pug">
  Section.feedback
    app-tabs(
      :structure="tabs"
      view="account"
    )
      template(v-for="tab, index in tabs")
        template(:slot="`head_${index}`")
          .title {{ tab.title }}
          sup.amount(v-if="tab.amount") {{ tab.amount }}
        template(:slot="`content_${index}`")
          template(v-if="index === 0")
            DetailComments(view="account")
          template(v-if="index === 1")
            DetailQuestions(view="account")
</template>

<script>
import Section from '@/components/account/Section';
import DetailComments from '@/components/detail/DetailComments';
import DetailQuestions from '@/components/detail/DetailQuestions';

export default {
  scrollToTop: true,
  components: {
    Section,
    DetailQuestions,
    DetailComments,
  },
  middleware: 'auth',
  data: () => ({
    title: 'Отзывы и вопросы',
    tabs: [{
      title: 'Отзывы',
      amount: 20,
      active: true,
    }, {
      title: 'Вопросы',
      amount: 18,
    }],
  }),
  // TODO: для показа, после отредактировать
  fetch({ store }) {
    return Promise.all([
      store.dispatch('detailPage/FETCH_INFO', 12),
    ]).catch(() => {});
  },
};
</script>

<style lang="stylus" scoped>
.feedback
  flex: 1
  padding-top 11px
  margin-top 11px

+tablet()
  .feedback
    padding-top 6px
    margin-top 6px

  .amount
    display none

+mobile()
  .feedback
    padding-top 0

  >>>.annotation
    margin 0

</style>
