<template lang="pug">
  section.dashboard
    Cards._mobile(
      view="account"
    )
    .main-group
      SectionDashboard.orders(v-bind="order")
        OrdersList(
          v-if="ordersQuantity"
          mod="dashboard"
        )
        app-link(
          v-if="ordersQuantity"
          mod="_extra-small"
          to="/account/orders/"
        )
          span.message._desktop-and-tablet Вся история
          span.message._mobile История заказов
      SectionDashboard.checkout(v-bind="checkout" v-if="amountProductsInBasket")
        .cart
          .text
            | Некоторое время назад Вы положили
            b  {{ amountProductsInBasket }} товаров&nbsp;
            | в корзину, но не оформили заказ.
            | Успейте оформить пока они есть в наличии!
          app-button._tablet-and-mobile(
            mod="_extra-small _red"
          ) Оформить заказ
    Cards._desktop
    .wrapper
      Cards._tablet
      SectionDashboard.favourite(v-bind="favourite" v-if="false")
        FavouriteListDashboard
        app-link(
          mod="_extra-small"
          to="/account/favourite/"
        )
          span.message._desktop-and-tablet Вся история
          span.message._mobile Посмотреть все
</template>

<script>
import OrdersList from '@/components/account/OrdersList';
import Cards from '@/components/account/Cards';
import FavouriteListDashboard from '@/components/account/FavouriteListDashboard';
import SectionDashboard from '@/components/account/SectionDashboard';

export default {
  scrollToTop: true,
  components: {
    SectionDashboard,
    FavouriteListDashboard,
    OrdersList,
    Cards,
  },
  middleware: 'auth',
  data: () => ({
    checkout: {
      title: 'В корзине есть товары!',
      icon: 'shopping-cart',
      button: {
        text: 'Оформить заказ',
        linkTo: '/checkout/',
        mod: '_extra-small _red',
      },
    },
    favourite: {
      title: 'Избранные товары',
      icon: 'heart-solid',
      button: {
        text: 'Показать всё',
        linkTo: '/account/favourite/',
        mod: '_extra-small',
      },
    },
  }),

  computed: {
    amountProductsInBasket() {
      return this.$store.getters['basket/productsAmount'];
    },
    ordersQuantity() {
      return +this.$store.state.orders.ordersQuantity;
    },
    order() {
      return {
        title: 'Заказы и бронирования',
        icon: 'shopping-cart',
        button: {
          text: this.ordersQuantity ? 'Вся история' : '',
          linkTo: '/account/orders/',
          mod: '_extra-small',
        },
      };
    },
  },

  fetch({ store }) {
    store.commit('bonusCard/SET_BINDING', 'bound');
    return store.dispatch('basket/FETCH_PERSONAL')
      .then(() => store.dispatch('orders/FETCH_ORDERS', {}))
      .catch(() => {});
  },
};
</script>

<style lang="stylus" scoped>
.dashboard
  margin-top: 11px
  display: flex
  flex-wrap wrap

.top
  display: flex

.main-group
  flex 1

.orders, .cards
  margin-bottom 32px

.orders
  margin-right: 40px
  flex: 1

.orders-list
  padding-left: 16px

.cards
  width: 360px

  &._tablet,
  &._mobile
    display none

.checkout
  margin-top: auto
  display: flex
  justify-content: space-between
  padding-top: 19px
  margin-right: 40px
  margin-bottom 32px

.favourite
  width: 100%

.text
  font-size: 13px
  line-height 1.8
  color $grayLight

  b
    color: #0

.app-button
  width: 153px

  &._tablet-and-mobile
    display none

.app-link
  display: none

.message,
.text

  &._mobile
    display none

.wrapper
  width 100%

+tablet()
  .dashboard
    width: 100%
    margin-top: 6px

  .orders, .cards
    margin-bottom: 0

  .orders,
  .checkout
    margin-right: 20px
    flex: none
    height auto
    padding-bottom 24px

  .orders
    flex-grow 1

  .checkout
    margin-bottom 0

  .main-group
    width calc(100% - 340px)
    display flex
    flex-direction column

  .orders-list
    padding-left: 0
    padding-top: 0
    margin-top: -15px

  .cards
    width: 340px

    &._desktop
      display none

    &._tablet
      display block

  .favourite
    width: 340px
    flex: 1

  .checkout
    margin-left: 0
    margin-top: 20px
    flex-direction: column

  .text
    margin-bottom: 25px
    font-size: 12px
    line-height 1.5

  .app-link
    margin-left:0
    margin-top:auto
    display: flex

  .app-button, .app-link
    height: 40px!important
    width: 100%

    &._tablet-and-mobile
      display flex

  .wrapper
    width auto

+mobile()
  .dashboard
    height auto

    > .cards._mobile
      display block
      margin -76px auto 16px
      width: 100%

    > .cards-bonus
      box-shadow 2.5px 3.1px 17px 0 rgba(24, 108, 143, 0.37)

  .main-group
    flex: auto
    width 100%

  .orders
    margin-right: 0
    width: 100%;
    padding-bottom: 16px
    margin-bottom: 16px

    .checkout
      display none

    .app-link
      margin-top 0

  .cards
    width: 100%
    max-width:425px
    align-self: center

    &._tablet
      display none

  .favourite
    width: 100%
    flex: none
    padding-bottom 16px

  .text
    margin-bottom: 18px
    padding-right 5px

  .section-dashboard.checkout
    display block
    margin 0 0 16px

  .app-button
    padding: 0 6px
    background $red
    color #f
    border-color $red

    &._mobile
      display block

    &:hover
      color $red
      background #f
      border-color #c7d0d8

  .message,
  .text

    &._desktop-and-tablet
      display none

    &._mobile
      display block
</style>
