<template lang="pug">
  Section.orders(:title="title" :icon="icon")
    OrdersList
    .controls(v-if="pages > 1")
      app-pagen-simple(
        :pages="pages"
        @change="handleChangePage"
      )
</template>

<script>
import OrdersList from '@/components/account/OrdersList';
import Section from '@/components/account/Section';

export default {
  scrollToTop: true,
  components: {
    OrdersList,
    Section,
  },
  middleware: 'auth',
  data: () => ({
    title: 'Заказы и бронирования',
    icon: 'shopping-cart',
    limit: 5,
  }),

  computed: {
    pages() {
      const quantity = this.$store.state.orders.ordersQuantity;
      return Math.ceil(quantity / this.limit);
    },
  },

  fetch({ store }) {
    return store.dispatch('orders/FETCH_ORDERS', {
      limit: this.limit,
    })
      .catch(() => {});
  },

  methods: {
    handleChangePage(page) {
      this.$store.dispatch('orders/FETCH_ORDERS', {
        page,
        limit: this.limit,
      })
        .catch(() => {});
    },
  },
};
</script>

<style lang="stylus" scoped>
.orders
  flex: 1
  margin-top 11px
+tablet()
  .orders
    margin-top: 6px
    padding: 16px
    padding-bottom: 0

  >>>.annotation
    display: none

  >>>.top
    margin-bottom: 8px

  .controls
    padding: 16px 12px 24px

+mobile()
  margin-bottom: -8px;
</style>
