<template lang="pug">
  Section.special-offers(:title="title" :annotation="annotation")
    .cards-block
      .item(
        v-for="(item, index) in cards"
        :key="index + 1"
        :class="classItem(index)"
      )
        CardsItem(v-bind="item")
</template>

<script>
// TODO: Второй вариант special-offers, необходимо выбрать один

import Section from '@/components/account/Section';
import CardsItem from '@/components/account/CardsItem';

export default {
  scrollToTop: true,
  components: {
    CardsItem,
    Section,
  },
  middleware: 'auth',
  data: () => ({
    title: 'Спецпредложение',
    annotation: 'Мы приготовили уникальные предложения специально для вас.',
    cards: [
      {
        preScore: 'до',
        score: '70%',
        text: '+ до 40% дополнительно',
        promo: {
          text: 'один промокод на все акции: ',
          code: 'весна',
        },
        mod: 'red _special-main',
        back: '/img/special-offers-card-main.jpg',
      },
      {
        title: 'Спецпредложение',
        score: '25% СКИДКА',
        text: 'Введите промокод «GIFT» при оформлении. ',
        buttonText: 'Получить',
        mod: 'red _special-three',
        percent: true,
      },
      {
        title: 'Вам подарок!',
        score: '500 рублей',
        text: 'На телефон за отзыв на Яндекс.Маркете',
        mod: 'blue-light _special-present',
        back: '/img/card-gift.png',
      },
      {
        title: 'Спецпредложение',
        score: '25% СКИДКА',
        text: 'Введите промокод «GIFT» при оформлении. ',
        buttonText: 'Получить',
        mod: 'red _special-three',
        percent: true,
      },
      {
        title: 'Спецпредложение',
        score: '25% СКИДКА',
        text: 'Введите промокод «GIFT» при оформлении. ',
        buttonText: 'Получить',
        mod: 'red _special-three',
        percent: true,
      },
      {
        title: 'Спецпредложение',
        score: '25% СКИДКА',
        text: 'Введите промокод «GIFT» при оформлении. ',
        buttonText: 'Получить',
        mod: 'red _special-three',
        percent: true,
      },
      {
        score: '25%',
        text: 'даже на товары со скидкой',
        buttonText: 'Смотреть товары',
        mod: 'red-gradient _special-dual',
      },
      {
        score: '20%',
        text: 'на модные находки',
        buttonText: 'Смотреть товары',
        mod: 'blue-gradient _special-dual',
      },
      {
        preScore: 'до',
        score: '70%',
        text: '+ до 40% дополнительно',
        promo: {
          text: 'один промокод на все акции: ',
          code: 'весна',
        },
        mod: 'red _special-main',
        back: '/img/special-offers-card-main.jpg',
      },
      {
        title: 'Спецпредложение',
        score: '25% СКИДКА',
        text: 'Введите промокод «GIFT» при оформлении. ',
        buttonText: 'Получить',
        mod: 'red _special-three',
        percent: true,
      },
      {
        title: 'Спецпредложение',
        score: '25% СКИДКА',
        text: 'Введите промокод «GIFT» при оформлении. ',
        buttonText: 'Получить',
        mod: 'red _special-three',
        percent: true,
      },
    ],
  }),
  methods: {
    classItem(index) {
      return {
        'cards-item-block': (index + 1) % 8 === 1,
        'cards-with-empty': (index + 1) % 8 === 3,
      };
    },
  },
};
</script>

<style lang="stylus" scoped>
.special-offers
  margin-top 11px

  .cards-block
    display: flex
    flex-wrap wrap
    margin-top: -20px
    margin-right: -20px

  .item
    max-width: 260px
    margin-top: 20px
    margin-right: 20px

    &:nth-child(8n + 7), &:nth-child(8n + 8)
      max-width none
      margin-right: 20px
      width: calc(100% / 2 - 20px)


  .cards-item-block
    max-width: none
    width: calc(100% - 300px)
    margin-right: 20px
    margin-top: 20px
    position: relative

    &:last-child
      padding-bottom: 380px

      .cards-item
        bottom 0

    &:nth-last-child(2)
      .cards-item
        bottom 0
      & + .item
        margin-bottom: 200px

    .cards-item
      margin: 0
      max-width: none
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: calc(-100% - 20px)

  .cards-with-empty
    max-width: none
    width: 100%
    padding-left: calc(100% - 280px)

    .cards-item
      max-width: 260px


+tablet()
  .special-offers
    margin-top 6px

    .item
      max-width: none
      width: calc(100% / 2 - 20px)


    .cards-item-block
      width: 100%

      &:last-child
        padding-bottom: 0


      &:nth-last-child(2)
        .cards-item
          bottom 0
        & + .item
          margin-bottom: 0

      .cards-item
        margin: 0
        max-width: none
        position: relative
        top: 0
        right: 0
        left: 0
        bottom: 0

    .cards-with-empty
      max-width: none
      width: calc(100% / 2 - 20px)
      padding-left: 0

      .cards-item
        max-width: none

+mobile()

  .special-offers
    .item
      width: 100%

      &:nth-child(8n + 7), &:nth-child(8n + 8)
        width:100%

    .cards-with-empty
      width: 100%

</style>
