<template lang="pug">
  Section.special-offers(:title="title" :annotation="annotation")
    CardsBlock(mod="with-main")
      template(slot="main")
        CardsItem(v-bind="cards[0]")

      template(slot="top")
        CardsItem(v-bind="cards[1]")
          .sale
            app-icon(name="percent" width="12px" height="12px" fill="#ffffff")

      template(slot="bottom")
        CardsItem(v-bind="cards[2]" style="background-position-x: right;")
    CardsBlock(mod="three")
      CardsItem(v-bind="cards[1]")
      CardsItem(v-bind="cards[1]")
      CardsItem(v-bind="cards[1]")
    CardsBlock(mod="dual")
      CardsItem(v-bind="cards[3]")
      CardsItem(v-bind="cards[4]")
</template>

<script>
import Section from '@/components/account/Section';
import CardsBlock from '@/components/account/CardsBlock';
import CardsItem from '@/components/account/CardsItem';

export default {
  scrollToTop: true,
  components: {
    CardsItem,
    CardsBlock,
    Section,
  },
  middleware: 'auth',
  data: () => ({
    title: 'Спецпредложение',
    annotation: 'Мы приготовили уникальные предложения специально для вас.',
    cards: [
      {
        preScore: 'до',
        score: '70%',
        text: '+ до 40% дополнительно',
        promo: {
          text: 'один промокод на все акции: ',
          code: 'весна',
        },
        mod: 'red _special-main',
        back: '/img/special-offers-card-main.jpg',
      },
      {
        title: 'Спецпредложение',
        score: '25% СКИДКА',
        text: 'Введите промокод «GIFT» при оформлении. ',
        buttonText: 'Получить',
        mod: 'red _special-three',
      },
      {
        title: 'Вам подарок!',
        score: '500 рублей',
        text: 'На телефон за отзыв на Яндекс.Маркете',
        mod: 'blue-light _special-present',
        back: '/img/card-gift.png',
      },
      {
        score: '25%',
        text: 'даже на товары со скидкой',
        buttonText: 'Смотреть товары',
        mod: 'red-gradient _special-dual',
      },
      {
        score: '20%',
        text: 'на модные находки',
        buttonText: 'Смотреть товары',
        mod: 'blue-gradient _special-dual',
      },
    ],
  }),
};
</script>

<style lang="stylus" scoped>
.special-offers
  margin-top 11px

+tablet()
  .special-offers
    margin-top 6px
</style>
