<template lang="pug">
  Section.waiting-list(
    :title="title"
    :annotation="annotation"
    :notification="true"
  )
    WaitingListContent
</template>

<script>
import Section from '@/components/account/Section';
import WaitingListContent from '@/components/account/WaitingListContent';

export default {
  scrollToTop: true,
  components: {
    WaitingListContent,
    Section,
  },
  middleware: 'auth',
  data: () => ({
    title: 'Лист ожидания',
    annotation: 'Понравилась вещь, но нет вашего размера? Подпишитесь на наши уведомления, и мы сообщим, когда он снова появится в наличии!',
  }),
};
</script>

<style lang="stylus" scoped>

</style>
