<template lang="pug">
  .detail-comments-rating
    slot
</template>

<style lang="stylus" scoped>
.detail-comments-rating
  display flex
  align-items center

.title
  font-size 12px
  color #0

  &._single
    color $grayLight
    margin-right 7px

.grade
  font-size 13px
  font-weight 700
  color $cyan
  margin-left 6px
  margin-right 4px

+mobile()
  .detail-comments-rating
    flex-direction: column
    align-items: flex-end
    > *
      order: 1
      &:first-child
        order: 2

</style>
