<template lang="pug">
  .detail-combo
    .title Покупайте вместе дешевле:
    .content
      .container
        template(v-for="item, index in items")
          .divider(v-if="index") +
          .image-wrapper
            nuxt-link.link(:to="item.link")
              img.image(:src="item.image")
      form.form(@submit.prevent)
        .form-inner
              DetailComboItem(
                v-for="(item, index) in items"
                :key="index + 1"
              )
                .cell
                  // TODO: Временно скрыл
                  //app-checkbox(
                  //  :checked="true"
                  //  :modelValue="item.active"
                  //  @change="(value) => handleChangeItem(index, value)"
                  //)
                  span.title {{ item.name }}
                .cell
                  .price-wrapper
                    .old-price(v-if="item.oldPrice")
                      span {{ `${item.oldPrice.toLocaleString('ru')} руб.` }}
                    .price(:class="{'_discount': item.oldPrice}")
                      span {{ `${item.price.toLocaleString('ru')} руб.` }}
        .controls
          .price-wrapper
            .price
              span {{ price }}
            .old-price
              span {{ oldPrice }}
          .button
            app-button(mod="_red _extra-small") В корзину
</template>

<script>
import DetailComboItem from '@/components/detail/DetailComboItem';

export default {
  components: { DetailComboItem },

  data: () => ({
    items: [{
      name: 'Дутики',
      image: '/img/detail-combo-1.jpg',
      price: 4494,
      oldPrice: 4580,
      link: '/catalog/1',
      active: true,
    }, {
      name: 'Щетка',
      image: '/img/detail-combo-2.jpg',
      price: 189,
      oldPrice: 220,
      link: '/catalog/2',
      active: true,
    }, {
      name: 'Салфетки для кожи',
      image: '/img/detail-combo-3.jpg',
      price: 190,
      oldPrice: 210,
      link: '/catalog/3',
      active: true,
    }],
    price: 0,
    oldPrice: 0,
  }),
  mounted() {
    this.handleChangeTotalPrice();
  },
  methods: {
    handleChangeItem(index, value) {
      this.items[index].active = value;
      this.handleChangeTotalPrice();
    },

    handleChangeTotalPrice() {
      const { price, oldPrice } = this.items
        .filter(({ active }) => active)
        .reduce((acc, item) => ({
          price: acc.price + item.price,
          oldPrice: acc.oldPrice + item.oldPrice,
        }), {
          price: 0,
          oldPrice: 0,
        });

      this.price = `${price.toLocaleString('ru')} ₽`;
      this.oldPrice = `${oldPrice.toLocaleString('ru')} ₽`;
    },
  },
};
</script>

<style lang="stylus" scoped>
.content
  display flex

.form
  max-width: 310px;
  width: 100%;

.title
  font-size 18px
  font-weight 600
  color #0
  margin-bottom 27px

.container
  display flex
  align-items center
  justify-content space-between
  width 480px
  margin-right 28px

.divider
  font-size 24px
  font-weight 500
  color #0

.image-wrapper
  width 120px
  height 120px
  overflow hidden
  border 1px solid #ec

.image
  width 100%

.row + .row
  margin-top 14px

.button
  width 105px

.controls
  display flex
  align-items center
  justify-content space-between

.price-wrapper
  display flex
  align-items center
  line-height 1

.price
  display flex
  align-items center
  font-size 18px
  font-weight bold
  color $red
  letter-spacing -0.3px
  margin-right 10px

  span
    margin-left 10px

.old-price
  font-size 13px
  font-weight 600
  color $grayLight
  text-decoration line-through
  opacity 0.8

+tablet()

  .detail-combo
    display: flex;
    flex-direction: column;

  .title
    font-size: 16px
    line-height 24px
    margin-bottom: 13px

  .content
    position: relative

  .container
    min-width: 380px
    width: 380px
    align-self baseline
    margin-right:36px

  .form
    max-width: none
    width: calc(100% - 416px)

  table, tbody
    width: 100%

  tbody
    display: flex
    flex-direction: column

  .image-wrapper
    width: 100px
    height: 100px

  .divider
    font-size 16px

  .controls
    align-items: flex-start
    position: absolute
    top: calc(100% + 4px)
    right: 0
    left: 417px

    .price-wrapper
      flex-direction: column
      align-items: flex-start

    .price, .old-price
      margin: 0
      span
        margin: 0

    .old-price
      order: 1
      font-size: 12px
      line-height: 14px
      margin-bottom: 5px

    .price
      order: 2
      font-size: 16px
      line-height: 19px


  .button
    width: 160px

  .app-button._extra-small
    height: 40px

+mobile()
  .container
    min-width auto
    max-width: auto
    width:100%
    margin-right:0
    margin-bottom: 27px

  .content
    flex-direction: column

  .image-wrapper
    width: 80px
    height: 80px

  .form
    width: 100%

  .controls
    position: relative
    top: auto
    left auto
    margin-top: 12px
</style>
