<template lang="pug">
  .detail-benefits-item
    slot
</template>

<script>
export default {
  mounted() {
    this.processFirstLetter();
  },

  methods: {
    processFirstLetter() {
      const el = this.$el.querySelector('.text');
      const char = el.innerText.trim().charAt(0);
      el.innerHTML = `<span class="capital">${char}</span> ${el.innerText.substring(1)}`;
    },
  },
};
</script>

<style lang="stylus" scoped>
.detail-benefits-item
  display flex
  align-items center
  justify-content space-between

  & + &
    margin-top 75px

  &:nth-child(2n)
    flex-direction row-reverse

  .image-wrapper,
  .text-wrapper
    width 540px
    min-width 540px

  .image
    width 100%

  .title
    font-size 16px
    text-align left
    margin-bottom 15px

  .text
    font-size: 13px;
    line-height: 1.6

  >>> .capital
    float left
    font-size: 40px;
    font-weight: 300;
    color $cyan
    line-height 0.9
    position: relative;
    margin-right: 5px;
    top: 2px;

+tablet()
  .detail-benefits-item
    align-items:flex-start

    & + &
      margin-top: 48px

    .image-wrapper,
    .text-wrapper
      min-width auto

    .text-wrapper
      width: calc(50% - 19px)

    .image-wrapper
      margin-top: -12px
      width: calc(50% - 26px)

    .title
      font-size: 13px
      line-height: 16px
      font-weight: 600
      margin-bottom: 12px

    .text
      line-height: 20px

    >>> .capital
      font-size: 37px
      line-height: 1
      font-weight: 400

+mobile()
  .detail-benefits-item
    flex-direction: column

    & + &
      margin-top: 23px

    &:nth-child(2n)
      flex-direction column

    .text-wrapper,
    .image-wrapper
      width: 100%
      margin-top: 0

    .image-wrapper
      margin-bottom:16px
</style>
