<template lang="pug">
  .detail-sizes(:class="view ? `_${view} ${classContainer}` : `${classContainer}`")
    .title(v-if="view !== 'reservation'") Выберите размер:
    .container
      .item(
        v-for="(size, index) in sizes"
        :key="index + 1"
        v-if="size"
        :class="itemClass(size, activeSizeId)"
        @click="handleSelect(index, size)"
      ) {{ size.value }}
    .link(
      v-if="view === 'detail' && $route.path.indexOf('/aksessuary/') === -1"
      @click="showModal"
    ) Таблица размеров
</template>

<script>
export default {
  props: {
    sizes: {
      type: Array,
      default: () => ([]),
    },
    view: {
      type: String,
      default: '',
    },
    classContainer: {
      type: String,
      default: '',
    },
  },

  computed: {
    activeSizeId() {
      return this.$store.state.detailPage.activeSizeId;
    },
  },

  methods: {
    handleSelect(index, value) {
      this.$emit('click', value);
    },

    showModal() {
      this.$modal.show('sizes');
    },

    itemClass(size, activeSizeId) {
      const disable = this.view === 'reservation'
        ? !size.canBooking || size.isBooked
        : !size.canBooking && !size.canBuy;

      return {
        _active: activeSizeId === size.id,
        _disable: disable,
      };
    },
  },
};
</script>

<style lang="stylus" scoped>
.container
  display flex
  flex-wrap: wrap
  margin: -5px

.detail-sizes._shake .item
  box-shadow 0 0 15px 0 $red

.item
  display flex
  align-items center
  justify-content center
  cursor pointer
  min-width 40px
  max-width 40px
  height 40px
  border-radius 50%
  border 1px solid #ec
  font-size 14px
  font-weight bold
  color $gray
  margin: 5px
  transition background-color .2s, color .2s, box-shadow .2s
  user-select none
  outline none

  &:hover,
  &._active
    background $grayLight
    color #f

  &._disable
    user-select none
    pointer-events none
    background: $grayLight

.title
  font-size 13px
  font-weight 500
  color $grayLight
  margin-bottom 12px

.link
  margin-top: 12px
  font-size 12px
  font-weight 500
  color #0
  text-decoration underline
  cursor pointer

.detail-sizes._reservation
  .container
    justify-content center

  .item

    &:hover,
    &._active
      background $cyan

+tablet()

  .detail-sizes
    display: flex
    flex-wrap wrap
    justify-content: space-between
    width:100%

  .title
    font-size: 12px
    font-weight: 400
    letter-spacing: -0.19px
    line-height: 14px
    order: 1

  .link
    order 2
    line-height: 14px
    letter-spacing: -0.19px
    color: $cyan
    text-decoration none
    margin-top: 0

  .container
    order: 3
    padding: 4px 0

  .item
    min-width: 40px
    max-width: 40px
    max-height: 40px

    &:hover
      background-color #f
      color $gray

    &._active
      background $grayLight
      color #f

  .detail-sizes._filter

    .container
      flex-wrap wrap

+mobile()
  .detail-sizes
    width: 100%
</style>
