<template lang="pug">
  .detail-star-rating
    app-star-rating(
      :current-rating="currentRating"
      read-only
    )
    span.votes-amount {{ this.votedPeople }}
    app-icon.icon(
      name="user-rating"
      width="10"
      height="11"
    )
</template>

<script>
export default {
  props: {
    currentRating: {
      type: Number,
      default: 0,
    },
    votedPeople: {
      type: Number,
      default: 0,
    },
  },
};
</script>

<style lang="stylus" scoped>
.detail-star-rating
  display flex
  align-items center
  font-size 13px
  font-weight bold
  color $grayLight
  font-family: 'Montserrat'

.votes-amount
  padding 0 4px 0 5px
  line-height 1.1

>>>.app-star-rating .icon
  fill: $cyan

+tablet()
  .detail-star-rating
    font-size 12px
    line-height: 14px

  .votes-amount
    padding:0 3px 0 4px

  >>>.app-star-rating
    padding-bottom: 6px
    .icon-wrapper, .icon-wrapper svg
      width:14px
      height: 11px
</style>
