<template lang="pug">
  .detail-question(:class="view ? `_${view}` : ''")
    .content
      .main-image-wrapper._desktop-and-tablet(v-if="view === 'account'")
        img.image(
          src="/img/detail-gallery-1-thumb.jpg"
          alt="title"
        )
      .text-wrapper
        .top
          .group
            .name {{ question.name }}
            .date {{ question.date }}
        .main
          .text
            p {{ question.text }}
          .controls(v-if="view === 'account'")
            span.action._delete Удалить вопрос
          .answer(v-if="question.answer")
            .top
              .group
                .name {{ question.answer.name }}
                .date {{ question.answer.date }}
            .main
              .text
                p: i {{ question.answer.text }}
</template>

<script>
import dateFormatter from '@/helpers/dateFormatter';
import DetailCommentsRating from '@/components/detail/DetailCommentsRating';

export default {
  components: {
    DetailCommentsRating,
  },

  props: {
    view: {
      type: String,
      default: '',
    },

    question: {
      type: Object,
      default: () => ({}),
    },
  },

  methods: {
    dateFormatter,

    openGallery() {
      this.$modal.show('gallery');
    },
  },
};
</script>

<style lang="stylus" scoped>
.detail-question
  padding 22px 0
  border-bottom 1px solid #ec

.top,
.group
  display flex
  align-items center

.top
  justify-content space-between
  margin-bottom 10px

.content
  display flex
  align-items flex-start

.main-image-wrapper
  width 80px
  min-width 80px
  height 80px
  overflow hidden
  margin-right 20px
  border 1px solid #ec

.image
  width 100%

.name
  font-size 12px
  font-weight 600
  color #0
  margin-right 10px

.date
  font-size 12px
  color $grayLight
  margin-right 10px

.main
  display: flex
  flex-direction: column
  align-items: flex-end

.text
  font-size 12px
  line-height 1.6

.answer
  display inline-block
  margin: 22px 0 0 30px
  padding 18px 18px 18px 31px
  background-color #f8

  .name
    color: $red

  .text
    font-weight 600

.text-wrapper
  position relative

.controls
  display flex
  justify-content flex-end
  position: absolute
  top: 0
  right: 0

  .action
    font-size 12px
    font-weight 600
    cursor pointer

    & + &
      margin-left 14px

    &._edit
      color $cyan

    &._delete
      color $red

+tablet()
  .top
    align-items: baseline
    margin-bottom: 17px

  .name
    font-size: 13px
    line-height: 16px

  .text
    font-size: 13px
    line-height: 20px

  .answer

    .top
      margin-bottom 10px

+mobile()
  .detail-question
    padding: 19px 0

  .top
    margin-bottom 15px
    flex-direction column

  .answer
    width 100%
    margin: 22px 0 0 30px
    padding 16px 14px 16px 12px

  .group
    justify-content space-between
    width 100%

  .name
    margin-right 0
    margin-bottom 0

  .date
    margin-right 0
    font-size: 12px

  .main-image-wrapper
    width 40px
    min-width 40px
    height 40px
    position absolute
    top 0
    left 0

  .content
    position relative

  .controls
    position relative
    align-self flex-start
    margin 12px 0 -8px

  .action
    font-weight 600

  .detail-question._account

    .text-wrapper > .top > .group
      width 100%
      display flex
      justify-content space-between
      flex-direction column
      align-items flex-start
      padding-top 4px
      margin-bottom 10px
      padding-left 48px

</style>
