<template lang="pug">
  .detail-colors
    .title Выберите цвет:
    .container
      .item(
        v-for="(color, index) in colors"
        :key="index + 1"
        :class="{'_active': index === activeColor.index}"
        @click="handleSelect({value: color.value, index, id: color.id, name: color.name})"
      )
        .image-wrapper
          img.image(
            :src="currentImage(color)['1x']",
            :srcset="currentImage(color)['2x']"
            :alt="color.value"
          )
</template>

<script>
export default {
  props: {
    colors: {
      type: Array,
      default: () => ([]),
    },
  },

  computed: {
    activeColor: {
      get() {
        return this.$store.state.detailPage.activeColor;
      },
    },
  },

  methods: {
    currentImage(color) {
      // TODO: После убрать заглушку
      if (color.media && color.media.length) {
        return color.media[0];
      }

      return {
        '1x': '/zaglushka.png',
        '2x': '/zaglushka.png',
      };
    },
    handleSelect({
      value, index, id, name,
    }) {
      this.$emit('click', {
        colorValue: value,
        index,
        id,
        name,
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.container
  display flex
  flex-wrap wrap

.item
  cursor pointer
  margin-bottom 13px
  margin-right 13px
  position relative

  &:hover .image-wrapper:after,
  &._active .image-wrapper:after
    content ''
    position absolute
    bottom 0
    left 0
    right 0
    height 2px
    background $red

.title
  font-size 13px
  font-weight 500
  color $grayLight
  margin-bottom 10px

.image-wrapper
  width 60px
  height 60px
  overflow hidden

.image
  width 100%

+tablet()
  .title
    font-size: 12px
    font-weight: 400
    letter-spacing: -0.19px
    line-height: 14px
    margin-bottom: 12px
</style>
