<template lang="pug">
  .detail-tabs
    app-tabs(:structure="tabs")
      template(
        v-for="(tab, index) in tabs"
      )
        template(:slot="`head_${index}`")
          .title {{ tab.title }}
          sup.amount(v-if="tab.amount") {{ tab.amount }}
        template(:slot="`content_${index}`")
          template(v-if="index === 0")
            DetailProperties(:key="index + 1")
          // TODO: Подрезка сайта к запуску 1-го этапа
          //template(v-if="index === 1")
            DetailComments(:key="index + 1")
          //template(v-if="index === 2")
            DetailQuestions(:key="index + 1")
</template>

<script>
import DetailProperties from '@/components/detail/DetailProperties';
import DetailComments from '@/components/detail/DetailComments';
import DetailQuestions from '@/components/detail/DetailQuestions';

export default {
  components: {
    DetailQuestions,
    DetailProperties,
    DetailComments,
  },

  computed: {
    totalComments() {
      if (!this.$store.state.detailPage.info.data.comments) {
        return null;
      }
      return this.$store.state.detailPage.info.data.comments.total;
    },
    totalQuestions() {
      if (!this.$store.state.detailPage.info.data.questions) {
        return null;
      }
      return this.$store.state.detailPage.info.data.questions.total;
    },
    tabs() {
      return [
        {
          title: 'О товаре',
          active: true,
        },
        // TODO: Подрезка сайта к запуску 1-го этапа
        // {
        //   title: 'Отзывы',
        //   amount: this.totalComments,
        // },
        // {
        //   title: 'Вопросы',
        //   amount: this.totalQuestions,
        // },
      ];
    },
  },
};
</script>

<style lang="stylus" scoped>
.detail-tabs
  width 820px
+tablet()
  .detail-tabs
    display: none
</style>
