<template lang="pug">
  .detail-main(:class="`_${view}`" ref="detail")
    .content
      MainSliders(
        :view="view"
        :scroll-to-video="shouldScrollToVideo"
        @scrolled-to-video="shouldScrollToVideo = false"
        :info="info"
      )
      MainInfo(
        v-if="view !== 'detail'"
        :view="view"
        :info="info"
      )
      template(v-if="view === 'detail'")
        // TODO: Подрезка сайта к запуску 1-го этапа
        .favourite-caller(
          style="display: none"
          @click="handleClickFavourite"
        )
          app-icon.favourite-icon._empty(
            name="heart-regular"
            width="22"
            height="20"
          )
          app-icon.favourite-icon._full(
            name="heart-solid"
            width="22"
            height="20"
          )
        // TODO: Подрезка сайта к запуску 1-го этапа
        .video-caller(
          style="display: none"
          v-if="video"
          @click="handleClickPlay"
        )
          app-icon.play-icon(
            name="play"
            width="22"
            height="20"
          )
          span видео
</template>

<script>
import MainSliders from '@/components/detail/MainSliders';
import MainInfo from '@/components/detail/MainInfo';

export default {
  components: {
    MainSliders,
    MainInfo,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
    info: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    isFixed: false,
    isBottomed: false,
    shouldScrollToVideo: false,
  }),
  computed: {
    video() {
      return this.$store.state.detailPage.params.data.video;
    },
    isFavourite: {
      get() {
        return this.$store.state.detailPage.params.data.isFavourite;
      },
      set(value) {
        this.$store.commit('detailPage/SET_FAVOURITE', value);
      },
    },
  },
  methods: {
    handleClickFavourite() {
      this.isFavourite = !this.isFavourite;
    },
    handleClickPlay() {
      this.shouldScrollToVideo = true;
    },
  },
};
</script>

<style lang="stylus" scoped>
.content
  display flex
  justify-content space-between

.main-sliders
  width 400px

.main-info
  width 298px

// Особенности детальной страницы
.favourite-caller,
.video-caller
  position absolute
  top: -11px
  right: 339px
  background-color $cyan
  color: #f
  width 52px
  height 52px
  border-radius 50%
  cursor pointer
  border 1px solid #ec
  z-index 2

  span
    position: absolute
    top 56px
    left 0
    right 0
    margin auto
    font-size: 14px
    color $cyan
    text-align center

  &._favourite
    .favourite-icon
      &._empty
        opacity 0
        visibility hidden

      &._full
        opacity 1
        visibility visible
        color #f

.video-caller
  top 60px

.favourite-icon,
.play-icon
  absolute-centered()

  &._empty
    opacity 1
    visibility visible

  &._full
    opacity 0
    visibility hidden
    color: $red

.detail-main._detail
  margin-bottom 87px
  position: relative

  .main-sliders
    width calc(100% - 298px)

+desktop-only()
  .favourite-caller:hover .favourite-icon
    &._empty
      opacity 0
      visibility hidden

    &._full
      opacity 1
      color #f
      visibility visible

+tablet()
  .favourite-caller,
  .video-caller
    top: 0
    right: 321px
    width 34px
    height 34px

  .video-caller
    top 44px

    span
      top: 36px
      font-size: 10px
      color $cyan

  .favourite-icon,
  .play-icon
    width: 15px
    height: 14px

  .detail-main._detail
    margin-bottom 33px
    position: relative

    .main-sliders
      width calc(100% - 288px)

+mobile()
  .content
    flex-direction: column
    justify-content: flex-start

  .favourite-caller
    top: -12px
    right: -2px

  .video-caller
    right: -2px
    top: 32px
    span
      display: none

  .detail-main._detail
    margin-bottom 1px

    .main-sliders
      width 100%

    .favourite-caller
      top: -14px;
      right: 44px;

    .video-caller
      top: -14px;
      right: -2px
</style>
