<template lang="pug">
  .detail-tabs-tablet
    .item(
      v-for="tab in tabs"
    )
      .top(:class="{'_active': tab.title === 'О товаре' }" @click="toggleItem")
        .title {{ tab.title }}
        sup.amount(v-if="tab.amount") {{ tab.amount }}
        app-icon.link(
          name="arrow-down"
          width="10"
          height="8"
          fill="#75787b"
        )
      .content
        template(v-if="tab.content")
          component(:is="tab.content")
</template>

<script>
import DetailProperties from '@/components/detail/DetailProperties';
import DetailComments from '@/components/detail/DetailComments';
import DetailQuestions from '@/components/detail/DetailQuestions';

export default {
  components: {
    DetailProperties,
    DetailComments,
    DetailQuestions,
  },

  data: () => ({
    tabs: [
      {
        title: 'О товаре',
        content: 'DetailProperties',
      },
      // {
      //   title: 'Отзывы',
      //   amount: 20,
      //   content: 'DetailComments',
      // }, {
      //   title: 'Вопросы',
      //   content: 'DetailQuestions',
      //   amount: 18,
      // },
    ],
  }),

  methods: {
    toggleItem(e) {
      e.currentTarget.classList.toggle('_active');
    },
  },
};
</script>

<style lang="stylus" scoped>
+desktop-only()
  .detail-tabs-tablet
    display: none

+tablet()
  .detail-tabs-tablet
    width 100%

  .top
    display: flex
    align-items: center
    padding: 16px 0
    border-top 1px solid #ec
    cursor: pointer

  .title
    font-size: 16px
    line-height: 24px
    font-weight: 700
    color: #0

  .amount
    font-size: 12px
    line-height: 24px
    font-weight: 700
    color: $grayLight
    margin-left 12px

  .link
    color: $red
    margin-left: auto
    margin-right: 10px

  .item
    &:last-child
      .top
        border-bottom  1px solid #ec
    .content
      display: none

  .top._active
    border-bottom  1px solid #ec

    .link
      transform scale(1,-1)

  .top._active + .content
    display: block
    padding-bottom: 26px

+mobile()

  .top
    border-top 0
    position: relative
    top-line()

  .item
    &:last-child
      .top
        position: relative
        border-bottom 0
        bottom-line()

  .top._active
    border-bottom 0
    bottom-line()

  .amount
    line-height: 17px

  .link
    margin-right: 8px

</style>
