<template lang="pug">
  section.detail-suggestion
    DetailProductList(
      :title="title"
      :products="products"
    )
</template>

<script>
import DetailProductList from '~/components/detail/DetailProductList';

export default {
  components: { DetailProductList },

  data: () => ({
    title: 'С этим товаром покупают',
    products: [{
      name: 'Ботинки',
      price: 6504,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-3.jpg',
          '2x': 'img/catalog-list-item-3.jpg',
        },
      },
      model: {
        '1x': '/img/catalog-list-item-4.jpg',
        '2x': 'img/catalog-list-item-4.jpg',
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      isFavourite: true,
    }, {
      name: 'Дутики',
      price: 6504,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
      },
      model: {
        '1x': '/img/catalog-list-item-4.jpg',
        '2x': 'img/catalog-list-item-4.jpg',
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
      },
      model: {
        '1x': '/img/catalog-list-item-4.jpg',
        '2x': 'img/catalog-list-item-4.jpg',
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-3.jpg',
          '2x': 'img/catalog-list-item-3.jpg',
        },
      },
      model: {
        '1x': '/img/catalog-list-item-4.jpg',
        '2x': 'img/catalog-list-item-4.jpg',
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    },
    {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
      },
      model: {
        '1x': '/img/catalog-list-item-4.jpg',
        '2x': 'img/catalog-list-item-4.jpg',
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
      },
      model: {
        '1x': '/img/catalog-list-item-4.jpg',
        '2x': 'img/catalog-list-item-4.jpg',
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    }],
  }),
};
</script>

<style lang="stylus" scoped>

</style>
