<template lang="pug">
  .detail-benefits
    .title Неоспоримые преимущества
    .container
      DetailBenefitsItem
        .image-wrapper
          img.image(
            src="/img/detail-benefits-1.jpg"
            alt="Водоотталкивающие свойства"
          )
        .text-wrapper
          h4.title Водоотталкивающие свойства
          .text
            | Женственные кеды – думаете, такое невозможно? только с не с
            | моделью от Tervolina! Узнаваемый спортивный силуэт с круглым
            | мыском и шнуровкой тут дополнен цветочной аппликацией из текстиля.
            | Нотку свежести в основной черный тон вносят серебристые задники
            | обуви. Кожано-тканевый каркас установлен на широкую полимерную
            | подошву, обещающую подарить походке легкость и непринужденность.
            | Внутри – кожа.
      DetailBenefitsItem
        .image-wrapper
          img.image(
            src="/img/detail-benefits-2.jpg"
            alt="Натуральные материалы"
          )
        .text-wrapper
          h4.title Натуральные материалы
          .text
            | Узнаваемый спортивный силуэт с круглым мыском и шнуровкой тут
            | дополнен цветочной аппликацией из текстиля. Нотку свежести в
            | основной черный тон вносят серебристые задники обуви.
            | Кожано-тканевый каркас установлен на широкую полимерную подошву,
            | обещающую подарить походке легкость и непринужденность.
            | Внутри – кожа.
</template>

<script>
import DetailBenefitsItem from '@/components/detail/DetailBenefitsItem';

export default {
  components: { DetailBenefitsItem },
};
</script>

<style lang="stylus" scoped>
.title
  text-align center
  font-size 18px
  font-weight bold
  color #0
  margin 0 0 48px

+tablet()
  .detail-benefits
    padding: 0 46px 0 26px

  .title
    font-size: 16px
    line-height: 24px
    font-weight: 600
    margin-bottom: 43px

+mobile()
  .detail-benefits
    padding: 0

  .title
    text-align: left;
    margin-bottom: 23px
</style>
