<template lang="pug">
  section.detail-latest
    DetailProductList(
      :title="title"
      :products="products"
    )
</template>

<script>
import DetailProductList from '~/components/detail/DetailProductList';

export default {
  components: { DetailProductList },

  data: () => ({
    title: 'Вы недавно просматривали',
    products: [{
      name: 'Ботинки',
      price: 6504,
      images: {
        footwear: '/img/catalog-list-item-1.jpg',
        model: '/img/catalog-list-item-2.jpg',
      },
      colors: [{
        name: 'бежевый',
        value: '#e1ccc0',
      }, {
        name: 'коричневый',
        value: '#cc976b',
      }],
      sizes: [
        36, 37, 38, 41, 42, 43, 44,
      ],
      isFavourite: true,
    }, {
      name: 'Дутики',
      price: 6504,
      images: {
        footwear: '/img/catalog-list-item-1.jpg',
        model: '/img/catalog-list-item-2.jpg',
      },
      colors: [{
        name: 'бежевый',
        value: '#e1ccc0',
      }, {
        name: 'коричневый',
        value: '#cc976b',
      }],
      sizes: [
        36, 37, 38, 41, 42, 43, 44,
      ],
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: '/img/catalog-list-item-1.jpg',
        model: '/img/catalog-list-item-2.jpg',
      },
      colors: [{
        name: 'бежевый',
        value: '#e1ccc0',
      }, {
        name: 'коричневый',
        value: '#cc976b',
      }],
      sizes: [
        36, 37, 38, 41, 42, 43, 44,
      ],
      discount: '12%',
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: '/img/catalog-list-item-1.jpg',
        model: '/img/catalog-list-item-2.jpg',
      },
      colors: [{
        name: 'бежевый',
        value: '#e1ccc0',
      }, {
        name: 'коричневый',
        value: '#cc976b',
      }],
      sizes: [
        36, 37, 38, 41, 42, 43, 44,
      ],
      discount: '12%',
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: '/img/catalog-list-item-1.jpg',
        model: '/img/catalog-list-item-2.jpg',
      },
      colors: [{
        name: 'бежевый',
        value: '#e1ccc0',
      }, {
        name: 'коричневый',
        value: '#cc976b',
      }],
      sizes: [
        36, 37, 38, 41, 42, 43, 44,
      ],
      discount: '12%',
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: '/img/catalog-list-item-1.jpg',
        model: '/img/catalog-list-item-2.jpg',
      },
      colors: [{
        name: 'бежевый',
        value: '#e1ccc0',
      }, {
        name: 'коричневый',
        value: '#cc976b',
      }],
      sizes: [
        36, 37, 38, 41, 42, 43, 44,
      ],
      discount: '12%',
      isFavourite: false,
    }],
  }),
};
</script>

<style lang="stylus" scoped>

</style>
