<template lang="pug">
  section.detail-product-list
    .content-wrapper
      .content
        h2.title {{ title }}
        template(v-if="!isMobile")
          .prev
            app-icon.icon(
              name="arrow-down"
              width="23"
              height="19"
              fill="#75787b"
            )
          .next
            app-icon.icon(
              name="arrow-down"
              width="23"
              height="19"
              fill="#75787b"
            )
          .slider-wrapper
            .swiper-container(
              ref="swiper"
              data-type="new-products"
            )
              .swiper-wrapper
                .swiper-slide.slide(
                  v-for="(product, index) in products"
                  :key="index + 1"
                )
                  app-product-item(
                    :info="product"
                  )
        template(v-else)
          .list
            app-product-item.item(
              v-for="(product, index) in products"
              :key="index + 1"
              :info="product"
            )
</template>

<script>
import Swiper from '@/widgets/Swiper';

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    products: {
      type: Array,
      default: () => ([]),
    },
  },
  data: () => ({
    swiper: {},
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  watch: {
    isMobile() {
      this.initSwiper();
    },
  },

  mounted() {
    this.initSwiper();
  },

  updated() {
    this.initSwiper();
  },

  methods: {
    initSwiper() {
      if (this.swiper.swiper) {
        this.swiper.swiper.destroy();
      }

      if (!this.isMobile && this.$refs.swiper) {
        this.swiper = new Swiper(this.$refs.swiper);
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.content
  position relative

.title
  text-align center
  font-size 18px
  font-weight bold
  color #0
  margin 0 0 8px

.swiper-container
  overflow visible

.slider-wrapper
  position relative
  overflow hidden

.slide
  display flex
  justify-content center
  padding-bottom 80px

.prev,
.next
  position absolute
  top 171px
  cursor pointer
  outline none

.prev
  left -69px
  transform rotate(90deg)

.next
  right -69px
  transform rotate(-90deg)

+tablet()
  .title
    font-size: 16px
    line-height: 24px
    font-weight: 600
    margin: 0 0 2px

  .prev, .next
    display: none

  >>>.image-wrapper
    width: 180px

  .list
    display: flex
    justify-content: space-around

  .item
    width: 200px
    &:nth-child(n + 4)
      display: none

+mobile()
  .content-wrapper
    padding: 0

  .list
    flex-wrap: wrap

  .item
    height 206px
    width: 138px
    &:nth-child(4)
      display: block
    &:nth-child(n + 5)
      display: none

  >>>.image-wrapper
    width: 112px
</style>
