<template lang="pug">
  .detail-combo-item
    slot
</template>

<style lang="stylus" scoped>
.detail-combo-item
  display: flex;
  align-items: center

  .cell
    padding-bottom 13px

    &:first-child
      flex: 1
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 24px

  >>> .text
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  >>> .title
    font-size 13px
    font-weight 500
    color #0
    margin-bottom 0
    line-height 1
    white-space nowrap

  .price-wrapper
    display flex
    align-items center
    justify-content flex-end
    line-height 1

  .price
    display flex
    align-items center
    font-size 13px
    font-weight bold
    color #0
    letter-spacing -0.3px
    margin-right 0
    white-space nowrap

    span
      margin-left 10px

  .old-price
    font-size 12px
    font-weight 600
    color $grayLight
    text-decoration line-through
    opacity 0.8
    white-space nowrap

+tablet()
  .detail-combo-item

    .cell
      padding-bottom: 14px
      &:first-child
        flex: 1


    >>>.title
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px
      font-weight: 600

+mobile()
  .detail-combo-item
    .cell
      padding-bottom: 22px

</style>
