<template lang="pug">
  .detail-comments(:class="view ? `_${view}` : ''")
    .top
      template(v-if="view === 'account'")
        .caution
          | Оставьте отзыв к купленным товарам. Вы поможете другим покупателям
          | сделать правильный выбор!
      template(v-else)
        .amount {{ totalComments }} отзывов
        DetailCommentsRating
          .title
            | Средняя оценка:
            span.grade {{ averageRating.toFixed(1) }}
          app-star-rating(:current-rating="averageRating")
    .button(v-if="view !== 'account'")
      app-button(
        mod="_cyan"
        @click.native="showAddComment"
      ) Добавить свой отзыв
    .container
      DetailComment(
        v-for="(comment, index) in comments"
        :key="index + 1"
        :info="comment"
        :view="view"
      )
    .controls
      .pagination
        .page(
          v-for="page in totalPages"
          :class="{'_active': page === 1}"
        ) {{ page }}
</template>

<script>
import DetailCommentsRating from '@/components/detail/DetailCommentsRating';
import DetailComment from '@/components/detail/DetailComment';

export default {
  components: {
    DetailCommentsRating,
    DetailComment,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    // TODO: Необходим как примерный эталон
    exampleComments: [{
      name: 'Екатерина',
      date: new Date(),
      grade: {
        title: 'Удобная колодка',
        value: 4,
      },
      text: 'Оставляла отзыв на данный товар сразу после покупки, теперь хочу дополнить. Сапоги действительно очень красивые и удобные, но спустя максимум 10 "выходов" полностью разошёлся шов вдоль пятки, с наружной стороны.',
      isBought: true,
    }, {
      name: 'Евгения',
      date: new Date(new Date().setDate(new Date().getDate() - 1)),
      grade: {
        title: 'Хорошая модель',
        value: 3,
      },
      text: 'Оставляла отзыв на данный товар сразу после покупки, теперь хочу дополнить. Сапоги действительно очень красивые и удобные, но спустя максимум 10 "выходов" полностью разошёлся шов вдоль пятки, с наружной стороны.',
      isBought: false,
      images: [{
        title: 'Картинки из отзыва 1',
        src: '/img/detail-gallery-1-thumb.jpg',
        srcFull: '/img/detail-gallery-1.jpg',
      }, {
        title: 'Картинки из отзыва 2',
        src: '/img/detail-gallery-1-thumb.jpg',
        srcFull: '/img/detail-gallery-1.jpg',
      }, {
        title: 'Картинки из отзыва 3',
        src: '/img/detail-gallery-1-thumb.jpg',
        srcFull: '/img/detail-gallery-1.jpg',
      }],
    }, {
      name: 'Екатерина',
      date: new Date(new Date().setDate(new Date().getDate() - 2)),
      grade: {
        title: 'Удобная колодка',
        value: 4,
      },
      text: 'Оставляла отзыв на данный товар сразу после покупки, теперь хочу дополнить. Сапоги действительно очень красивые и удобные, но спустя максимум 10 "выходов" полностью разошёлся шов вдоль пятки, с наружной стороны.',
      isBought: true,
    }, {
      name: 'Евгения',
      date: new Date(new Date().setDate(new Date().getDate() - 3)),
      grade: {
        title: 'Хорошая модель',
        value: 3,
      },
      text: 'Оставляла отзыв на данный товар сразу после покупки, теперь хочу дополнить. Сапоги действительно очень красивые и удобные, но спустя максимум 10 "выходов" полностью разошёлся шов вдоль пятки, с наружной стороны.',
      isBought: false,
      images: [{
        title: 'Картинки из отзыва 1',
        src: '/img/detail-gallery-1-thumb.jpg',
        srcFull: '/img/detail-gallery-1.jpg',
      }, {
        title: 'Картинки из отзыва 2',
        src: '/img/detail-gallery-1-thumb.jpg',
        srcFull: '/img/detail-gallery-1.jpg',
      }, {
        title: 'Картинки из отзыва 3',
        src: '/img/detail-gallery-1-thumb.jpg',
        srcFull: '/img/detail-gallery-1.jpg',
      }],
    }],
  }),
  computed: {
    comments() {
      return this.$store.state.detailPage.info.data.comments.list;
    },
    totalComments() {
      return this.$store.state.detailPage.info.data.comments.total;
    },
    averageRating() {
      return this.$store.state.detailPage.info.data.comments.averageRating;
    },
    totalPages() {
      return this.$store.state.detailPage.info.data.comments.totalPages;
    },
  },
  methods: {
    showAddComment() {
      this.$modal.show('add-comment');
    },
  },
};
</script>

<style lang="stylus" scoped>
.top
  padding 20px 0
  display flex
  align-items center
  justify-content space-between
  border-bottom 1px solid #ec

.amount
  font-size 14px
  font-weight 600
  color #0

.caution
  font-size 13px
  color $gray

.controls
  justify-content flex-start
  border-bottom 1px solid #ec
  padding 24px 0

.pagination
  display flex
  align-items center

.page
  font-size 14px
  font-weight 600
  color #0
  cursor pointer
  transition color .2s

  & + &
    margin-left 20px

  &:hover,
  &._active
    color $red

.button
  width 100%
  margin: 20px 0 0

  .app-button
    height: 44px

.detail-comments

  &._account

    .top
      border none

+tablet()
  .detail-comments
    padding-bottom: 6px

  .top
    display: none

  .button .app-button
    font-size: 12px

  .page
    & + &
      margin-left: 28px

  .app-button._extra-small
    height: 44px

  .caution
    font-size 10px
    line-height: 1.5

  .detail-comments

    &._account

      .top
        padding 16px 0 4px
        display block

+mobile()
  .detail-comments
    padding-bottom: 0

    &._account

      .top
        padding 8px 0 4px

  .controls
    flex-direction: column

  .pagination
    margin-bottom: 22px
</style>
