<template lang="pug">
  .detail-questions(:class="view ? `_${view}` : ''")
    .top(v-if="view === 'account'")
      .caution
        | Оставьте отзыв к купленным товарам. Вы поможете другим покупателям
        | сделать правильный выбор!
      app-checkbox Уведомлять по email об ответах
    .button(v-if="view !== 'account'")
      app-button(
        mod="_cyan"
        @click.native="showAddQuestion"
      ) Задать свой вопрос
    .container
      DetailQuestion(
        v-for="(question, index) in questions"
        :key="index + 1"
        :question="question"
        :view="view"
      )
    .controls
      .pagination
        .page(
          v-for="page in totalPages"
          :class="{'_active': page === 1}"
        ) {{ page }}
</template>

<script>
import DetailQuestion from '@/components/detail/DetailQuestion';

export default {
  components: {
    DetailQuestion,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
  },

  data: () => ({
  }),

  computed: {
    totalPages() {
      return this.$store.state.detailPage.info.data.questions.totalPages;
    },
    questions() {
      return this.$store.state.detailPage.info.data.questions.list;
    },
    totalQuestions() {
      return this.$store.state.detailPage.info.data.questions.total;
    },

  },
  methods: {
    showAddQuestion() {
      this.$modal.show('add-question');
    },
  },
};
</script>

<style lang="stylus" scoped>
.top
  padding 20px 0
  display flex
  align-items center
  justify-content space-between
  border-bottom 1px solid #ec

.amount
  font-size 14px
  font-weight 600
  color #0

.controls
  display flex
  align-items center
  justify-content flex-start
  border-bottom 1px solid #ec
  padding 24px 0

.pagination
  display flex
  align-items center

.page
  font-size 14px
  font-weight 600
  color #0
  cursor pointer
  transition color .2s

  & + &
    margin-left 20px

  &:hover,
  &._active
    color $red

.button
  width 100%
  margin: 20px 0 0

  .app-button
    height: 44px

.caution
  font-size 13px
  color $gray

.detail-questions

  &._account

    .top
      border none
      position: relative

    .app-checkbox
      position: absolute
      top: -34px
      right 0
      color #0

+tablet()
  .detail-comments
    padding-bottom: 6px

  .top
    display: none

  .controls
    padding-top: 24px

  .page
    & + &
      margin-left: 28px

  .button .app-button
    font-size: 12px

  .detail-questions._account
    .top
      flex-direction: column
      padding 16px 0 4px
      display: block

    .app-checkbox
      font-size: 10px
      top: -34px
      color $cyan

  .caution
    font-size 10px
    line-height: 1.5

+mobile()
  .detail-comments
    padding-bottom: 0

  .detail-questions._account
    .top
      padding 8px 0 4px

    .app-checkbox
      margin-top 12px
      position: static

  .controls
    flex-direction: column

  .pagination
    margin-bottom: 22px

</style>
