<template lang="pug">
  .detail-properties
    .container
      .group(v-if="attributes && attributes.length")
        .title Характеристики
        .content
          table.table
            tbody
              tr.row(
                v-for="(attribute, index) in attributes"
                :key="index + 1"
              )
                td.cell {{ attribute.label }}:
                template(v-if="attribute.label.indexOf('Цвет') !== -1")
                  td.cell: b {{ currentColor }}
                template(v-else-if="attribute.label.indexOf('Штрих') !== -1")
                  td.cell: b {{ currentBarCode }}
                template(v-else)
                  td.cell: b {{ attribute.value }}

      .group(v-if="text")
        .title Описание
        .content
          .text
            p {{ text }}
</template>

<script>

export default {
  computed: {
    attributes() {
      if (!this.$store.state.detailPage.info.data.aboutProduct) {
        return null;
      }
      return this.$store.state.detailPage.info.data.aboutProduct.attributes;
    },
    text() {
      if (!this.$store.state.detailPage.info.data.aboutProduct) {
        return null;
      }
      return this.$store.state.detailPage.info.data.aboutProduct.text;
    },
    currentBarCode() {
      return this.$store.state.detailPage.currentBarCode || '';
    },
    currentColor() {
      const colorIndex = this.$store.state.detailPage.activeColor.index;
      const { colors } = this.$store.state.detailPage.params.data;
      return colors[colorIndex].name;
    },
  },
};

</script>

<style lang="stylus" scoped>
.detail-properties
  padding-top 20px

.container
  display flex

.group

  & + &
    margin-left 60px

.title
  font-size 14px
  font-weight 600
  color #0
  margin-bottom 20px

.table
  width 340px
  border-collapse collapse

tbody
  display: flex
  flex-direction: column

.row
  display: flex
  justify-content space-between

.cell
  font-size 12px
  color #0
  padding-bottom 6px

  &:last-child
    text-align right

  b
    font-weight 600

.text
  width 400px

  p
    font-size 12px
    line-height 1.5

+tablet()
  .detail-properties
    padding-top: 16px

  .container
    flex-direction: column

  .group
    order 2
    &:last-child
      order 1
      margin-left: 0
      margin-bottom: 24px
      .title
        display: none

  .title
    font-size: 13px
    line-height: 16px
    letter-spacing: 0
    margin-bottom: 15px

  .table
    width:100%

  .cell
    font-size: 13px
    line-height: 18px
    padding-bottom: 7px
    &:first-child
      white-space nowrap
    b
      font-weight: 400

  .text
    width:100%
    p
      font-size: 13px
      line-height: 20px

+mobile()
  .group
    &:last-child
      margin-bottom: 20px

  .title
    margin-bottom: 12px
</style>
