<template lang="pug">
  .detail-comment(:class="view ? `_${view}` : ''")
    .content
      .main-image-wrapper._desktop-and-tablet(v-if="view === 'account'")
        img.image(
          src="/img/detail-gallery-1-thumb.jpg"
          alt="title"
        )
      .text-wrapper
        .top
          .group._main(v-if="view === 'account'")
            .name Дутики
            .date {{ info.date }}
          .group(v-else)
            .name {{ info.name }}
            .date {{ info.date }}
            app-icon.icon(
              v-if="info.yandexMarket"
              name="cart-comment"
              width="16"
              height="16"
            )
          .group
            // TODO: после правки API, вернуть
            DetailCommentsRating(v-if="info.grade || info.rating")
              .title._single {{ info.title || info.grade.title }}
              app-star-rating(
                :current-rating="info.rating || info.grade.value "
                :readOnly="true"
              )
        .main
          .text
            p {{ info.text }}
          .images(v-if="info.images")
            .image-wrapper(
              v-for="image in info.images"
              @click="openGallery"
            )
              img.image(
                :src="image.src || image"
                :alt="image.title"
              )
        .controls(v-if="view === 'account'")
          span.action._edit Редактировать отзыв
          span.action._delete
            span._desktop-and-tablet Удалить отзыв
            span._mobile Удалить
</template>

<script>
import dateFormatter from '@/helpers/dateFormatter';
import DetailCommentsRating from '@/components/detail/DetailCommentsRating';

export default {
  components: {
    DetailCommentsRating,
  },

  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
    view: {
      type: String,
      default: '',
    },
  },

  methods: {
    dateFormatter,

    openGallery() {
      this.$modal.show('gallery');
    },
  },
};
</script>

<style lang="stylus" scoped>
.detail-comment
  padding 22px 0
  border-bottom 1px solid #ec

.top,
.group
  display flex
  align-items center

  &._main
    flex-direction column
    align-items flex-start

.top
  justify-content space-between
  margin-bottom 10px

.name
  font-size 12px
  font-weight 600
  color #0
  margin-right 10px

.date
  font-size 12px
  color $grayLight
  margin-right 10px

.text
  font-size 12px
  line-height 1.6

.images
  padding-top 10px
  display flex

.content
  display flex
  align-items flex-start

.image-wrapper
  width 60px
  height 60px
  overflow hidden
  cursor pointer

  & + &
    margin-left 10px

.main-image-wrapper
  width 80px
  min-width 80px
  height 80px
  overflow hidden
  margin-right 20px
  border 1px solid #ec

.image
  width 100%

.detail-comment

  &._account

    .name
      font-size 14px
      margin-bottom 8px

.controls
  margin-top 16px
  display flex
  justify-content flex-end

.action
  font-size 12px
  font-weight 500
  cursor pointer

  & + &
    margin-left 14px

  &._edit
    color $cyan

  &._delete
    color $red

  ._mobile
    display none

+tablet()
  .top
    align-items: baseline
    margin-bottom: 17px

  .name
    font-size: 13px
    line-height: 16px

  .text
    font-size: 13px
    line-height: 20px

  .images
    padding-top: 16px

  .image-wrapper
    & + &
      margin-left: 12px

  >>>.app-star-rating
    padding-bottom: 2px
    .icon-wrapper
      width: 15px
      height: 12px
    svg
      fill: $cyan
      width: 100%
      height: 100%

+mobile()
  .detail-comment
    padding: 19px 0

  .top
    margin-bottom:15px

  .group
    flex-direction: column
    align-items: flex-start

  .name
    margin-bottom: 8px

  .icon
    display: none

  .content
    flex-direction column

  >>>.app-star-rating
    padding-bottom: 0
    margin-bottom: 11px
    .icon-wrapper
      width: 14px;
      height: 11px;
      padding: 0 2px

  .main-image-wrapper
    width 40px
    min-width 40px
    height 40px
    position absolute
    top 0
    left 0

  .detail-comment

    &._account

      .content
        position relative

      .top
        flex-direction column

      .name
        margin-bottom 4px

      .group
        width 100%
        display flex
        flex-direction row
        align-items center
        justify-content space-between

        &._main
          flex-direction column
          align-items flex-start
          padding-top 4px
          margin-bottom 10px
          padding-left 48px

      .detail-comments-rating
        flex-direction row-reverse
        align-items center
        justify-content space-between
        flex-grow 1

        >>> .app-star-rating,
        >>> .title._single
          margin 0

      .controls
        justify-content flex-start

        .action
          font-weight 600

        ._desktop-and-tablet
          display none

        ._mobile
          display inline

</style>
