<template lang="pug">
  .main-sliders(:class="`_${view}`")
    // TODO: Подрезка сайта к запуску 1-го этапа
    .sales-counter(v-if="view === 'detail' && orderPerWeek && false")
      span.sales-count {{ orderPerWeek }}
      span.sales-count-title._desktop
        | заказов
        br
        | за неделю
    .top-slider
      .swiper-container(
        ref="top-swiper"
        data-type="detail-main-top-slider"
      )
        template(v-if="view === 'detail' || view === 'detail-modal'")
          .prev
            app-icon.icon(
              name="arrow-down"
              width="15"
              height="11"
              :fill="view === 'detail-modal' ? '#000' : '#75787b'"
            )
          .next
            app-icon.icon(
              name="arrow-down"
              width="15"
              height="11"
              :fill="view === 'detail-modal' ? '#000' : '#75787b'"
            )
        .swiper-wrapper
          .swiper-slide._large(
            v-for="(slide, index) in processedSlides"
            :class="{'_video': slide.video}"
            :key="index + 1"
          )
            template(v-if="slide.video")
              .image-wrapper._video
                video.video(
                  loop
                  autoplay
                  muted
                  playsinline
                  tabindex="-1"
                  preload="auto"
                )
                  source(
                    v-if="slide.video.webm"
                    :src="slide.video.webm"
                    type="video/webm"
                  )
                  source(
                    v-if="slide.video.mp4"
                    :src="slide.video.mp4"
                    type="video/mp4"
                  )
                  source(
                    v-if="slide.video.ogg"
                    :src="slide.video.ogg"
                    type="video/ogg"
                  )
            template(v-else)
              app-magnifier(
                v-if="slide.image && slide.image['1x']"
                :src="slide.image['1x']"
                :slider="{...topSlider}"
              )
      .swiper-pagination(
        v-if="view === 'detail'"
        ref="pagination"
      )
    .bottom-slider
      .prev(ref="bottom-slider-prev")
        app-icon.icon(
          name="arrow-down"
          width="15"
          height="11"
          fill="#75787b"
        )
      .next(ref="bottom-slider-next")
        app-icon.icon(
          name="arrow-down"
          width="15"
          height="11"
          fill="#75787b"
        )
      .swiper-container(
        ref="bottom-swiper"
        data-type="detail-main-bottom-slider"
      )
        .swiper-wrapper
          .swiper-slide(
            v-for="(slide, index) in processedSlides"
            :key="index + 1"
          )
            .image-wrapper
              img.image(
                v-if="slide.thumb && slide.thumb['1x']"
                :src="slide.thumb['1x']"
                :srcset="`${slide.thumb['2x']} 2x`"
              )
</template>

<script>
import Swiper from '@/widgets/Swiper';

export default {
  props: {
    view: {
      type: String,
      default: '',
    },
    scrollToVideo: {
      type: Boolean,
      default: false,
    },
    info: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    swipers: [],
    topSlider: {},
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    video() {
      // TODO: Подрезка сайта к запуску 1-го этапа
      // return this.$store.state.detailPage.params.data.video;
      return false;
    },

    activeColor() {
      return this.$store.state.detailPage.activeColor.index;
    },

    params() {
      return this.$store.state.detailPage.params.data;
    },

    slides() {
      const slides = [];
      if (this.params.colors && this.params.colors[this.activeColor]) {
        this.params.colors[this.activeColor].media.forEach((slide) => {
          slides.push({
            image: slide,
            thumb: slide,
          });
        });
      }

      // TODO: После убрать mock
      if (!slides.length) {
        slides.push({
          image: {
            '1x': '/zaglushka.png',
            '2x': '/zaglushka.png',
          },
          thumb: {
            '1x': '/zaglushka.png',
            '2x': '/zaglushka.png',
          },
        });
      }

      return this.video ? [
        ...slides,
        {
          video: { ...this.video },
          thumb: {
            '1x': '/zaglushka.png',
            '2x': '/zaglushka.png',
          },
        },
      ]
        : slides;
    },

    processedSlides() {
      const videos = [];
      const images = this.slides.filter((slide) => {
        if (Object.prototype.hasOwnProperty.call(slide, 'video')) {
          videos.push(slide);
          return false;
        }

        return true;
      });

      return images.concat(videos);
    },
    orderPerWeek() {
      return this.$store.state.detailPage.params.data.orderPerWeek;
    },
  },

  watch: {
    scrollToVideo(value) {
      if (value && this.video) {
        this.swipers[0].swiper.slideTo(this.processedSlides.length, 300);
        this.swipers[1].swiper.slideTo(this.processedSlides.length, 300);
        this.$emit('scrolled-to-video');
      }
    },
    isMobile() {
      this.initSwiper();
    },
  },

  mounted() {
    this.initSwiper();
    this.topSlider = this.$el.querySelector('.top-slider .swiper-container');
  },

  methods: {
    initSwiper() {
      if (this.swipers && this.swipers.length) {
        this.swipers.forEach((slider) => {
          if (!slider.swiper) { return; }
          slider.swiper.destroy();
        });
      }

      let params = {};

      switch (this.view) {
        case 'preview':
          params.spaceBetween = 8;
          break;
        case 'detail':
          if (!this.isMobile) {
            params.spaceBetween = 20;
          } else {
            params = {
              ...params,
              spaceBetween: 12,
              navigation: {
                nextEl: this.$refs['bottom-slider-next'],
                prevEl: this.$refs['bottom-slider-prev'],
              },
            };
          }
          break;
        case 'detail-modal':
          params.spaceBetween = 16;
          params.direction = this.isMobile ? 'horizontal' : 'vertical';
          break;
        default:
      }

      this.swipers.push(new Swiper(this.$refs['bottom-swiper'], params));
      this.swipers.push(new Swiper(this.$refs['top-swiper'], {
        pagination: {
          el: this.$refs.pagination,
          clickable: true,
        },
        thumbs: {
          swiper: this.swipers[0].swiper,
        },
        ...(this.isMobile ? { loop: true } : {}),
      }));
    },
  },
};
</script>

<style lang="stylus" scoped>
.image
  max-width 100%

.sales-counter
  position absolute
  top 27px
  left -25px
  line-height 1
  z-index 2

.video
  outline none

.sales-count
  display flex
  align-items center
  justify-content center
  width 52px
  height 52px
  border-radius 50%
  background #f6f6f6
  font-size 14px
  font-weight 500
  color #0
  margin-bottom 3px

.sales-count-title
  font-size 12px
  color $grayLight

.top-slider
  margin-bottom 37px

  .swiper-slide
    display flex
    justify-content center
    align-items: center
    cursor pointer

    &._video
      height auto

  .image-wrapper
    display flex
    align-items center
    justify-content center
    width 400px

    &._video
      height 385px

      .video
        height 100%
        width 100%

.bottom-slider

  .prev, .next
    opacity 0
    visibility hidden

  .swiper-slide
    width 60px
    cursor pointer

  .image-wrapper
    width 60px
    height 60px
    position relative
    background-color #f8

    .image
      width 100%
      opacity .9

.bottom-slider .swiper-slide .image-wrapper:hover:after,
.swiper-slide-thumb-active .image-wrapper:after
  content ''
  position absolute
  bottom 0
  left 0
  right 0
  height 2px
  background $red

// Особенности детальной страницы
.prev,
.next
  opacity 1
  visibility visible
  position absolute
  top 200px
  border 1px solid #ec
  border-radius 50%
  width 52px
  height 52px
  display flex
  align-items center
  justify-content center
  cursor pointer
  transition opacity .2s
  z-index 10
  background-color #f
  outline none

  &.swiper-button-disabled
    opacity 0

.prev
  left 0
  transform rotate(90deg)

.next
  right: 0;
  transform rotate(-90deg)

.main-sliders._detail

  .top-slider
    position relative
    margin 43px 45px 40px -25px


    .swiper-slide
      height: 490px

      >>>.app-magnifier
        height 100%
        width:100%

      >>>.app-magnifier .image-wrapper
        width: 100%;

      .image-wrapper
        width: auto
        height: 100%

      .image
        height: 100%

      &._video .video
          height 100%
          width 100%

    .prev, .next
      top: 180px

  .swiper-pagination
    opacity 0
    visibility hidden

  .bottom-slider
    width 680px

    .swiper-slide
      width 80px

    .image-wrapper
      width 80px
      height 80px

// Особенности модального окна детальной страницы
.main-sliders._detail-modal
  display flex
  justify-content space-between
  align-items center
  flex-direction row-reverse

  .app-magnifier
    width: 400px;
    height: 600px

  .prev,
  .next
    border-color #c

  .top-slider
    max-height 680px
    width calc(100% - 180px)

  .bottom-slider
    height 680px

    .swiper-container
      height 100%
      width 100%

    .swiper-slide
      width 100px
      height 100px

    .image-wrapper
      width 100px
      height 100px

.video-container iframe,
.video-container object,
.video-container embed
  border none

.video-play,
.video-container
  position absolute
  top 0
  left 0
  right 0
  margin auto
  width 80%
  height 100%
  display flex
  align-items center
  justify-content center

+tablet()
  .main-sliders._detail

    .sales-counter
      display: none

    .top-slider
      margin: 43px 33px 22px -25px
      .prev,.next
        top: 128px
      .swiper-slide
        height: 540px

    .swiper-pagination
      opacity 1
      visibility visible
      display flex
      left: 26px
      width: calc(100% - 25px)

    .bottom-slider
      position: relative;
      width: 360px;
      .prev, .next
        outline none
        display: block
        opacity 1
        visibility visible
        border: 0
        top: 0

      .prev
        top: 33%
        left: -44px

      .next
        right: -40px

      .swiper-slide
        width 60px

      .image-wrapper
        width 60px
        height 60px

    .prev, .next
      top 126px
      width: 34px
      height: 34px
      .icon
        width: 15px
        height: 12px
    .prev
      left:25px

  .video-container
    width 95%
    left 27px

  .main-sliders._detail-modal
    flex-direction: column

    .top-slider
      width:100%

    .bottom-slider
      width: 100%
      height:auto

    .app-magnifier
      height 400px
      width 80%

    .video-container
      width 100%
      left 0

+mobile()
  .main-sliders._detail
    .top-slider
      margin: 24px -16px 0

      .swiper-slide
        height: 70vh
        max-height 568px

      >>>.app-magnifier,
      >>>.app-magnifier .image-wrapper,
      .image-wrapper
        width: 100%

        .image
          width: auto
          height: auto
          max-height 100%

        &._video
          width: 100%
          height: 100%

      .swiper-slide-active
        .image-wrapper._video .video
          width auto

    .swiper-pagination
      top: -10px
      left: 16px
      width: calc(100% - 32px)

    .bottom-slider
      opacity 0
      visibility hidden
      position absolute

    .prev, .next
      opacity 0
      visibility hidden

  .video-play,
  .video-container
    width 100%
    top 30px
    left auto
    height calc(100% - 30px)

  .main-sliders._detail-modal
    flex-grow 1

    .top-slider
      margin auto
      height 100%

      .swiper-container
        height 100%

      .swiper-slide
        align-items center

      .image-wrapper
        width: 280px

        &._video
          height 310px

    .prev, .next
      opacity 0
      visibility hidden

    .app-magnifier
      height 280px
      width 100%

      &._active
        height 100%

    .bottom-slider
      margin-top 20px
</style>
