<template lang="pug">
  .main-info(:class="infoClass" ref="info" v-if="info.id || label")
    // TODO: Подрезка сайта к запуску 1-го этапа
    .star-rating(v-if="view === 'preview'" style="display:none")
      DetailStarRating(
        :current-rating="info.rating"
        :voted-people="info.totalComment"
      )
    .main
      template(v-if="view === 'detail'")
        // TODO: Подрезка сайта к запуску 1-го этапа
        .sales-counter(v-if="orderPerWeek && false")
          span.sales-count {{ orderPerWeek }}
          span.sales-count-title._tablet
            | &nbsp;<b>человек</b>&nbsp;купили этот товар на этой неделе
        .title._desktop-and-tablet
          h1 {{ label }}
          // TODO: Подрезка сайта к запуску 1-го этапа
          DetailStarRating._desktop-and-tablet(
            :current-rating="averageRating"
            :voted-people="totalComments"
            style="display:none"
          )
      template(v-else)
        .title {{ info.name }}
      .price-wrapper
        app-item-badges._mobile(
          :is-new="isNew"
          :discount="discount"
          mod="_ultra-small"
        )
        .old-price(v-if="oldPrice && oldPrice !== price" :class="{'_new': isNew}")
          span {{ `${oldPrice.toLocaleString('ru')} руб.` }}
        .price(
          v-if="price"
          :class="{'_discount': oldPrice}"
        )
          span {{ `${price.toLocaleString('ru')} руб.` }}
          app-item-badges._desktop-and-tablet(
            :is-new="isNew"
            :discount="discount"
          )
        .credit(v-if="view === 'detail' || credit" style="display:none")
          span._desktop Или купить в кредит за {{ credit }} ₽ в месяц
          span._tablet Или за {{ credit }} ₽ в месяц
            a(href="javascript:void(0);") Подробнее
      .credit._mobile(v-if="view === 'detail'")
        DetailStarRating(
          :current-rating="averageRating"
          :voted-people="totalComments"
          style="display:none"
        )
        span(
          v-if="credit"
          style="display:none"
        )
          a(href="javascript:void(0);") Или за {{ credit }} руб. в месяц
      .title._mobile(v-if="view === 'detail'")
        h1 {{ label }}
      DetailColors(
        v-if="colors && colors.length > 1"
        :colors="colors"
        @click="handleChangeColor"
      )
      DetailSizes(
        v-if="sizes && sizes.length"
        :sizes="sizes"
        view="detail"
        :classContainer="classDetailSizes"
        @click="handleSelectSize"
      )
    template(v-if="view === 'detail'")
      .controls
        .buttons
          app-button(
            :class="['_red', isInCart ? '_cyan' : '']"
            @click="debounceClick"
            :disabled="!canBuy"
          )
            app-icon.plus(
              v-if="isInCart"
              name="check"
              width="15"
              height="15"
              fill="#fff"
            )
            app-icon.plus(
              v-else-if="canBuy"
              name="plus"
              width="15"
              height="15"
              fill="#fff"
            )
            span(
              v-if="isInCart"
            ) В корзине
            span(v-else-if="!canBuy") Нет на складе
            span(v-else) Добавить в корзину
          app-button(
            @click="handleClickInReservation"
            :mod="bookingButtonStyles"
            :disabled="!canBooking"
          )
            span(v-if="isBooked") Забронировано
            span(v-else-if="!canBooking") Нет в салоне
            span(v-else) Забронировать в салоне
            app-icon.question(
              name="question-circle-regular"
              width="15"
              height="14"
              v-tooltip.top-center="tooltipBooking"
            )
    template(v-else)
      .controls
        .buttons
          app-button(
            :class="['_red', isInCart ? '_cyan' : '']"
            @click="handleClickInCart"
            :disabled="!canBuy"
          )
            app-icon.plus(
              v-if="isInCart"
              name="check"
              width="15"
              height="15"
              fill="#fff"
            )
            app-icon.plus(
              v-else-if="canBuy"
              name="plus"
              width="15"
              height="15"
              fill="#fff"
            )
            span(
              v-if="isInCart"
            ) В корзине
            span(v-else-if="!canBuy") Нет на складе
            span(v-else) В корзину
          app-button(
            @click="handleClickInReservation"
            :mod="bookingButtonStyles"
            :disabled="!canBooking"
          )
            span(v-if="isBooked") Забронировано
            span(v-else-if="!canBooking") Нет в салоне
            span(v-else) Забронировать
        nuxt-link.link(
          :to="info.link || info.url"
          @click.native="handleClickLink"
        )
          span Посмотреть подробную информацию
          app-icon.icon(
            name="arrow"
            width="19"
            height="7"
            fill="#e4002b"
          )
</template>

<script>
import DetailStarRating from '@/components/detail/DetailStarRating';
import DetailColors from '@/components/detail/DetailColors';
import DetailSizes from '@/components/detail/DetailSizes';
import { debounce } from 'lodash';

export default {
  name: 'MainInfo',
  components: {
    DetailStarRating,
    DetailColors,
    DetailSizes,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    scrollPos: 0,
    isDisabledAddInCart: true,
    isShake: false,
    menu: {
      isFixed: false,
      isBottomed: false,
      isShowHeader: false,
    },
    tooltipBooking: 'В течение одного дня доступно<br> бронирование 3-х единиц товара<br> в интересующем вас магазине.',
    sizes: null,
    activeSize: {},
    canBooking: false,
  }),
  computed: {
    bookingButtonStyles() {
      if (this.view === 'detail') {
        return `${this.isBooked ? '_cyan _salon' : '_salon'}`;
      }

      return `${this.isBooked ? '_cyan' : ''}`;
    },

    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    isAuthorized() {
      return this.$store.state.user.isAuthorized;
    },

    classDetailSizes() {
      return this.isShake
        ? '_shake'
        : '';
    },

    debounceClick() {
      return debounce(this.handleClickInCart, 300);
    },

    infoClass() {
      const viewClass = `_${this.view}`;
      return {
        [viewClass]: true,
        _fixed: this.menu.isFixed,
        _bottomed: this.menu.isBottomed,
        _header: this.menu.isShowHeader,
      };
    },

    reservationStep() {
      return this.$store.state.reservation.step;
    },

    label() {
      return this.$store.state.detailPage.params.data.name;
    },
    orderPerWeek() {
      return this.$store.state.detailPage.params.data.orderPerWeek;
    },
    totalComments() {
      return this.$store.state.detailPage.params.data.totalComments;
    },
    averageRating() {
      return this.$store.state.detailPage.params.data.averageRating;
    },
    isNew() {
      return this.$store.state.detailPage.params.data.isNew;
    },
    discount() {
      const value = this.$store.state.detailPage.params.data.discount;
      return value ? `-${value}%` : '';
    },
    oldPrice() {
      return this.$store.state.detailPage.params.data.oldPrice;
    },
    price() {
      return this.$store.state.detailPage.params.data.price;
    },
    credit() {
      return this.$store.state.detailPage.params.data.credit;
    },

    colors() {
      return this.$store.state.detailPage.params.data.colors || {};
    },

    indexCurrentColor() {
      return this.$store.state.detailPage.activeColor.index;
    },

    currentColor() {
      return this.colors[this.indexCurrentColor];
    },

    checkSizes() {
      if (!this.currentColor) { return false; }
      return this.currentColor.sizes && this.currentColor.sizes.length;
    },

    activeSizeId() {
      return this.$store.state.detailPage.activeSizeId;
    },

    productsInBasket() {
      return this.$store.getters['basket/products'];
    },

    isInCart() {
      return Boolean(this.productsInBasket
        .find(product => (this.checkSizes
          ? +product.id === +this.activeSizeId
          : +product.id === +this.currentColor.id)));
    },

    amountProductsInBasket() {
      return this.$store.getters['basket/productsAmount'];
    },

    isBooked() {
      if (this.checkSizes) {
        const size = this.currentColor.sizes.find(({ id }) => id === this.activeSizeId);
        return size ? size.isBooked : false;
      }

      return this.currentColor.isBooked;
    },

    canBuy() {
      const canBuyProduct = this.$store.state.detailPage.params.data.canBuy;

      if (this.checkSizes) {
        const size = this.currentColor.sizes.find(({ id }) => id === this.activeSizeId);
        return size ? size.canBuy : canBuyProduct;
      }

      return canBuyProduct;
    },
  },

  watch: {
    isMobile() {
      this.initScroll();
    },
  },

  mounted() {
    this.initScroll();
    const checkColors = this.colors.length
      && this.currentColor;

    if (!checkColors) { return; }
    const {
      id, barCodeArticle, name, canBooking,
    } = this.currentColor;
    this.canBooking = canBooking;

    this.$store.commit('detailPage/SET_CURRENT_BAR_CODE', barCodeArticle);
    this.$store.commit('detailPage/SET_ACTIVE_COLOR', { index: this.indexCurrentColor, id, name });

    if (!this.checkSizes) { return; }
    this.sizes = this.resultSizes(this.currentColor);
  },

  beforeDestroy() {
    document.removeEventListener('scroll', this.positionCats);
  },

  methods: {
    initScroll() {
      if (!this.isMobile && this.view === 'detail') {
        document.addEventListener('scroll', this.positionCats);
      } else {
        this.menu.isFixed = false;
        this.menu.isShowHeader = false;
        document.removeEventListener('scroll', this.positionCats);
      }
    },

    resultSizes(currentColor) {
      return [...new Set(
        currentColor
          .sizes
          .filter(({ value }) => value),
      )]
        .sort(({ value: a }, { value: b }) => a - b);
    },

    handleChangeColor({ index, id, name }) {
      this.isDisabledAddInCart = true;

      if (!this.colors.length) { return; }
      this.$store.commit('detailPage/SET_ACTIVE_COLOR', { index, id, name });
      this.$store.commit('detailPage/SET_ACTIVE_SIZE');
      this.$store.commit('detailPage/SET_CURRENT_BAR_CODE',
        this.currentColor.barCodeArticle);

      this.canBooking = this.currentColor.canBooking;

      this.activeSize = {};

      if (!this.checkSizes) { return; }
      this.sizes = this.resultSizes(this.currentColor);
    },

    handleSelectSize(size) {
      this.activeSize = size;
      this.canBooking = size.canBooking;

      const {
        value: price,
        oldValue: oldPrice,
        discount,
      } = size.price;
      this.$store.commit('detailPage/SET_PRICE', {
        price,
        oldPrice,
        discount,
      });
      this.$store.commit('detailPage/SET_ACTIVE_SIZE', size.id);
      this.isDisabledAddInCart = false;
    },

    async handleClickInCart() {
      if (this.isInCart) {
        this.$router.push('/checkout/');
        return;
      }

      if (this.amountProductsInBasket > 4) {
        this.$modal.show('checkout-popup', { view: 'overload' });
        return;
      }

      if (!this.checkSizes) {
        this.isDisabledAddInCart = false;
      }

      if (this.isDisabledAddInCart && !this.activeSize.id) {
        this.isShake = true;
        setTimeout(() => {
          this.isShake = false;
        }, 400);
        return;
      }

      await this.$store
        .dispatch('basket/FETCH_ADD_PRODUCT', {
          id: this.activeSizeId || this.currentColor.id,
        });
    },


    async handleClickInReservation() {
      if (this.reservationStep === 'ReservationSuccess') {
        this.$router.push('/account/');
      }

      if (!this.checkSizes) {
        this.isDisabledAddInCart = false;
      }


      if (this.isDisabledAddInCart && !this.activeSize.id) {
        this.isShake = true;
        setTimeout(() => {
          this.isShake = false;
        }, 400);
        return;
      }

      if (!this.isAuthorized) {
        this.$modal.show('auth');
        return;
      }

      if (!this.isBooked) {
        this.callReservationPopup();
      }
    },

    callReservationPopup() {
      this.$modal.hide('preview');
      this.$modal.show('reservation', {
        color: this.currentColor,
      });
    },

    handleClickLink() {
      const scrollPoint = window.pageYOffset || document.documentElement.scrollTop;
      this.$store.commit('catalogPage/SET_BACK_TO_CATALOG', {
        detailUrl: this.info.url,
        scrollPoint,
      });
    },

    positionCats() {
      const containerRect = this.$refs.info.parentNode.getBoundingClientRect();

      const topPadding = 0;
      const scrollElement = document.scrollingElement
        || document.documentElement;
      const { scrollTop } = scrollElement;

      const top = containerRect.top + scrollTop;
      const bottom = containerRect.bottom - this.$refs.info.offsetHeight + scrollTop;

      if (top < scrollTop + topPadding) {
        this.menu.isFixed = true;
        this.menu.isShowHeader = this.scrollPos - scrollTop > 0;
        this.menu.isBottomed = bottom < scrollTop + topPadding;

        this.scrollPos = scrollTop;
      } else {
        this.menu.isFixed = false;
        this.menu.isShowHeader = false;
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.main-info
  position relative
  &._fixed
    position fixed
    top: 0
    width inherit

  &._bottomed
    position absolute
    bottom 0
    top auto

.title, h1
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  margin 0 0 14px

.price-wrapper
  margin-bottom 24px

.price
  display flex
  align-items center
  font-size 22px
  font-weight bold
  color #0
  letter-spacing -0.3px

  span
    margin-right 10px

  &._discount
    color #dc193e

.old-price
  font-size 14px
  font-weight 600
  color $grayLight
  text-decoration line-through
  margin-bottom 3px
  opacity 0.8

.detail-colors
  margin-bottom 17px

.main
  margin-bottom 24px

.buttons
  display flex
  justify-content space-between
  margin-bottom 45px

  >>>.app-button
    width 142px
    min-width 142px

    &:last-child
      font-size 13px

      &:disabled
        opacity: .7
        background: #fff !important

    &:first-child
      font-size 14px

      &:disabled
        color: #fff
        background: #DBDCDB

.link
  font-size 12px
  font-weight bold
  color $red
  text-decoration none

  span
    margin-right 20px

.plus
  margin-right 7px

.question
  margin-left 7px
  position: relative
  z-index: 2

.detail-star-rating
  margin-bottom 24px
  margin-left -2px

// Особенности детальной страницы
.credit
  font-size 12px
  color $gray
  padding 7px 0 6px

  &._mobile
    display: none

.main-info._detail
  padding-top 16px
  transition: all .3s;

  &._header
    padding-top: 126px

  .sales-counter
    display: none

  .main-top
    display: flex
    flex-direction: row-reverse
    justify-content: space-between

    .art
      line-height:20px

  .art
    font-family: 'Montserrat'
    font-weight: 400
    font-size 13px
    color $grayLight
    position: relative

  .detail-star-rating
    position: relative


  .main
    margin-bottom 29px

  .title
    font-size 22px
    &._mobile
      display: none

  .buttons
    flex-direction column
    margin-bottom:0

  .app-button
    width 100%
    min-width 100%
    border-width 1px

    &._salon
      background: $graySuperLight
      &:hover
        background: $red

    &:last-child
      margin-top 20px
      font-size 14px
      padding-left: 16px

    &:first-child
      margin-top: 0
      padding-left: 0

    &._cyan
      background: $cyan
      >>> .question
        color #f

  .plus
    margin-right 10px

  .question
    margin-left 10px

.app-item-badges
  &._mobile
    display: none

+desktop-only()
  ._tablet
    display: none

+tablet()
  .main-info._detail
    width:288px
    padding-top: 0

    ._desktop
      display: none
    ._tablet
      display: flex

    .main
      display: flex
      flex-wrap: wrap
      margin-bottom: 20px

    .sales-counter
      position: relative
      top: auto
      left auto
      display: flex
      align-items: baseline
      background: #EFF1F4
      padding: 5px 0
      justify-content: center
      border-radius: 4px;
      width:100%

    .sales-count
      padding: 0
      margin: 0
      width: auto
      height: auto
      background: transparent
      font-weight: 600
      font-size: 10px
      line-height: 12px

    .sales-count-title
      &._tablet
        color: #0
        font-size: 10px
        line-height: 12px

    .title, .price-wrapper
      width: 50%

    .title
      margin-top: 9px
      h1
        font-size: 18px
        line-height: 22px
        letter-spacing: 0.29px
        margin 0 0 8px

    .price-wrapper
      display: flex
      position: relative
      flex-direction: column
      margin-top: 9px;
      margin-bottom: 47px
      align-items: flex-end

    .price
      order 1
      font-size: 16px
      line-height: 19px
      padding-top: 4px
      span
        margin-right: 0

    >>>.app-item-badges
      position: absolute
      top: 31px
      right: 0

      .badge + .badge
        margin-left: 4px

    .old-price
      order 2
      font-size: 12px
      line-height: 14px
      margin: 9px 32px 0 0

      &._new
        margin-right: 75px

    .credit
      order: 3
      font-size: 12px
      line-height: 14px
      letter-spacing: -0.19px
      position: absolute
      bottom: -36px
      left: -100%
      width:200%
      ._tablet
        display: flex
      a
        a-reset()
        margin-left: auto
        color: $cyan
        font-size: 12px
        line-height: 14px
        font-weight: 500
        letter-spacing: -0.19px


    .detail-star-rating
      position: relative
      top: auto
      right: auto


    .detail-colors
      margin-bottom 8px

    .buttons .plus
      display: none

    .app-button
      height: 48px
      border-width: 1px

      &:last-child
        padding-left: 6px

+mobile()
  .main-info._detail
    width: 100%
    padding-top: 8px
    z-index: 2

    .title
      width 100%
      margin 0 0 14px

      h1
        margin 0
        font-size: 14px

      &._desktop-and-tablet
        display none

      &._mobile
        display block

    .detail-star-rating
      margin 0

    .app-item-badges
      position: static
      margin-right: 10px

      &._desktop-and-tablet
        display none

      &._mobile
        display flex

    .main
      margin-bottom: 12px

    .price-wrapper
      align-items: flex-start
      margin-top: 10px
      margin-bottom: 14px
      width: 45%

      .credit
        display none

    .price
      font-size 20px

    .old-price
      font-size 16px
      margin 8px 0 0
      display: flex
      align-items: center
      text-decoration: none
      &._new
        margin-right: 0
      span
        text-decoration: line-through

    .sales-counter
      padding 6px 6px
      display: inline-block
      text-align: center;
      margin-top -30px

      .sales-count,
      .sales-count-title
        font-size 12px
        display: inline
        letter-spacing -0.3px

    .credit
      width: 55%
      position: static
      order initial
      padding-top: 15px
      flex-direction: column
      align-items: flex-end
      text-align: right

      a
        text-decoration: underline

      &._desktop
        display: none

      &._mobile
        display: flex

      .detail-star-rating
        text-align: left
        margin-bottom 8px

    .buttons
      margin-bottom:0
</style>
