@font-face
  font-family 'Century Gothic'
  src url('~assets/fonts/CenturyGothic.woff') format('woff')
  font-weight 400
  font-style normal

@font-face
  font-family 'Century Gothic'
  src url('~assets/fonts/CenturyGothic-Bold.woff') format('woff')
  font-weight 700
  font-style normal

@font-face
  font-family 'Montserrat'
  src url('~assets/fonts/Montserrat-Light.woff') format('woff')
  font-weight 300
  font-style normal

@font-face
  font-family 'Montserrat'
  src url('~assets/fonts/Montserrat-Regular.woff') format('woff')
  font-weight 400
  font-style normal

@font-face
  font-family 'Montserrat'
  src url('~assets/fonts/Montserrat-Medium.woff') format('woff')
  font-weight 500
  font-style normal

@font-face
  font-family 'Montserrat'
  src url('~assets/fonts/Montserrat-SemiBold.woff') format('woff')
  font-weight 600
  font-style normal

@font-face
  font-family 'Montserrat'
  src url('~assets/fonts/Montserrat-Bold.woff') format('woff')
  font-weight 700
  font-style normal

@font-face
  font-family 'Halter'
  src url('~assets/fonts/Halter.woff') format('woff')
  font-weight 400
  font-style normal
