html
  font-size 14px
  word-spacing 1px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box

*,
*:before,
*:after
  box-sizing border-box
  margin 0

html,
body,
#__nuxt,
#__layout
  height 100%

body
  font-family 'Montserrat'

.page
  overflow hidden

  &._checkout
    background #f8

input, textarea, select, button
  font-family 'Montserrat'

@keyframes shake
  0%, 40%
    transform translate3d(-1px, 0, 0)

  5%, 35%
    transform translate3d(2px, 0, 0)

  10%, 20%, 30%
    transform translate3d(-4px, 0, 0)

  15%, 25%
    transform translate3d(4px, 0, 0)

.content-wrapper
  max-width 1180px
  flex-grow 1
  margin 0 auto
  position relative

  +pre-tablet()
    padding: 0 34px

  +tablet()
    padding 0 34px

  +mobile()
    padding 0 16px


.__nuxt-error-page
  z-index 999

// Стили swiper
.swiper-pagination-progressbar-wrapper
  padding 16px 0

.swiper-pagination-progressbar
  position relative
  height 2px
  background-color #EFF1F4

  .swiper-pagination-progressbar-fill
    background-color $cyan

.swiper-pagination-bullets
  margin 16px 0
  height 2px
  background-color #EFF1F4
  display flex
  position relative

.swiper-pagination-bullet
  height 2px
  opacity 0
  display block
  flex-grow 1
  outline none

.swiper-pagination-bullet-active
  background-color $cyan
  border-radius 0
  opacity 1


// Стили v-modal
.v--modal-overlay
  background rgba(0, 0, 0, .5)

  .v--modal
    border-radius 0
    background-color transparent
    box-shadow none
    display flex
    align-items center
    justify-content center

// Стили vue-multiselect
.multiselect, .multiselect__input, .multiselect__single
  font-size 14px
  color #0
  cursor pointer

  +placeholder()
    color $grayLight

.multiselect__select:before
  position absolute
  right 20px
  top 15px
  margin-top 4px
  width 4px
  height 4px
  border none
  border-top 1px solid #0
  border-right 1px solid #0
  transform rotate(135deg)

.multiselect__select
  width 44px
  height 44px

.multiselect__option--highlight
  background #f6
  color #000

.multiselect__option--selected,
.multiselect__option--selected.multiselect__option--highlight
  background #f6
  color #000

.multiselect__option--selected
  font-weight 600

.multiselect__tags
  height 44px
  padding 11px 40px 11px 18px
  border-radius 2px
  border 1px solid #c7d0d8
  background #fff
  font-size 14px

.multiselect__input, .multiselect__single
  padding 0
  margin-bottom 0

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select
  background-color transparent

+tablet()

  .multiselect
    min-height 36px

  .multiselect__select
    width 36px
    height 36px

  .multiselect__tags,
  .multiselect__option
    font-size 12px
    height 36px
    padding 8px 12px
    min-height 0

  .multiselect__placeholder
    color #0

  .multiselect__select:before
    right 20px
    top 12px

  .multiselect__single,
  .multiselect__option
    font-size 12px

// vuebar
.vb > .vb-dragger
  z-index 5
  width 2px
  right 0

.vb > .vb-dragger > .vb-dragger-styler
  backface-visibility hidden
  transform rotate3d(0,0,0,0)
  transition
      background-color 100ms ease-out,
      margin 100ms ease-out,
      height 100ms ease-out
  background-color $cyan
  margin 0
  border-radius 20px
  height 100%
  display block

.vb > .vb-content::-webkit-scrollbar
  -webkit-appearance: none

+tablet()
  .multiselect
    min-height: 36px
    &__tags
      min-height 36px
      height 36px
      padding 8px 11px
      font-size: 12px;
      line-height: 14px;
    &__select
      width 36px
      height 36px
      &:before
        right: 17px;
        top: 10px;


  .v--modal-overlay
    overflow-y: scroll

// style tooltip

.tooltip
  display: block !important;
  z-index: 10000;

  .tooltip-inner
    background: black;
    color: #fff;
    border-radius: 16px;
    padding: 5px 10px 4px;

    a
      color: #fff;

  .tooltip-arrow
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;


  &[x-placement^="top"]
    margin-bottom: 5px;

    .tooltip-arrow
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;



  &[x-placement^="bottom"]
    margin-top: 5px;

    .tooltip-arrow
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;



  &[x-placement^="right"]
    margin-left: 5px;

    .tooltip-arrow
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;


  &[x-placement^="left"]
    margin-right: 5px;

    .tooltip-arrow
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;


  &[aria-hidden='true']
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;


  &[aria-hidden='false']
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;

// Vue Range Slider
.vue-slider
  position relative
  box-sizing content-box
  user-select none
  display block

  .vue-slider-rail
    background-color #ec
    border-radius 15px

  .vue-slider-process
    background-color $cyan
    border-radius 15px

  .vue-slider-dot-tooltip-inner
    font-size 12px
    white-space nowrap
    padding 2px 5px
    min-width 20px
    text-align center
    color #fff
    border-color $cyan
    background-color $cyan
    box-sizing content-box

  .vue-slider-dot-handle
    cursor pointer
    width 100%
    height 100%
    border-radius 50%
    background-color $cyan
    box-sizing border-box
