<template lang="pug">
  nav.blog-menu
    nuxt-link.link(
      v-for="link, index in list"
      :key="index + 1"
      :to="link.path"
    ) {{ link.label }}
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      default: () => ({}),
    },
  },
};
</script>

<style lang="stylus" scoped>
.blog-menu
  display flex
  align-items center

.link
  font-size 14px
  font-weight 600
  color #0
  text-decoration none

  & + &
    margin-left 57px

+tablet()

  .link

    & + &
      margin-left 78px

+mobile()

  .link

    & + &
      margin-left 20px

</style>
