<template lang="pug">
  nav.group-menu(:class="{'_active': isActive}")
    .content._desktop-and-tablet
      h5.title: slot(name="title")
      .container: slot
    .content._mobile
      .caller(@click="toggleGroup")
        .title
          slot(name="title")
          app-icon.link-arrow(
            name="arrow-down"
            width="9"
            height="8"
            fill="#75787b"
          )
      slide-up-down(
        :active="isActive"
        :duration="300"
      )
        .container: slot
</template>

<script>
export default {
  data: () => ({
    isActive: false,
  }),

  methods: {
    toggleGroup() {
      this.isActive = !this.isActive;
    },
  },
};
</script>

<style lang="stylus" scoped>
.group-menu
  padding-right 20px

.title
  font-size 14px
  font-weight 600
  color #0
  margin 0 0 18px

>>>.list
  ul-reset()

>>>.item

  & + .item
    margin-top 10px

>>>.text,
>>>.link
  font-size 13px
  color #0
  text-decoration none
  line-height 1.4

  &._dashed
    cursor pointer
    text-decoration underline

    &:hover
      text-decoration none

  &._title
    font-size 14px

.app-socials
  margin-bottom 19px

.payments
  display flex
  align-items center

.icon
  margin-top -10px

  &._mastercard
    margin -10px 0 0 -10px

.payment-info
  font-size 13px
  color $gray
  line-height 1.5

.content

  &._mobile
    display none

+tablet()

  .payments
    flex-wrap wrap

  .title
    margin-bottom 14px

+mobile()

  .group-menu
    padding 0
    width 100%

  .content

    &._desktop-and-tablet
      display none

    &._mobile
      display block
      border-bottom 1px solid #ec
      flex-direction column

  .caller
    display flex
    align-items center
    justify-content space-between
    text-decoration none
    min-height 50px
    padding 0 24px

  .title
    margin-bottom 0
    width 100%
    display flex
    align-items center
    justify-content space-between

  .link-arrow
    transition transform .2s

  .group-menu._active .link-arrow
    transform rotate(180deg)

  .container
    padding 5px 24px 28px

  >>>.payment-info
    font-size 12px
</style>
