<template lang="pug">
  .benefits
    .content-wrapper
      .content
        .container
          .item
            .image-wrapper
              app-icon.icon(
                name="delivery"
                width="48"
                height="48"
                fill="#229595"
              )
            .text-wrapper
              .title
                | Бесплатная доставка
              .description БЕСПЛАТНАЯ ДОСТАВКА
                br
                |  ПО ВСЕЙ РОССИИ от 4 999 р.
                br
                nuxt-link.link(to="/buyers/delivery/")  подробнее >>
          .item
            .image-wrapper
              app-icon.icon(
                name="time"
                width="48"
                height="48"
                fill="#229595"
              )
            .text-wrapper
              .title
                | Удобный интервал
              .description ДОСТАВКА В УДОБНЫЙ ИНТЕРВАЛ ВРЕМЕНИ
                br
                | наш оператор уточнит все детали
                a.link(href="javascript:void(0);" style="display:none") Подробнее
          .item
            .image-wrapper
              app-icon.icon(
                name="choice"
                width="45"
                height="48"
                fill="#229595"
              )
            .text-wrapper
              .title
                | Примерка
              .description БЕСПЛАТНАЯ ПРИМЕРКА ПОКУПОК ПЕРЕД ОПЛАТОЙ
                br
                | Полный список регионов по
                a.link(href="javascript:void(0);")  ссылке
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
.benefits
  background #f8
  border-top 1px solid #da
  border-bottom 1px solid #da
  padding 48px 0 31px

.container
  display flex
  justify-content space-between

.item
  display flex

.image-wrapper
  margin 0 31px 0 11px

.text-wrapper
  line-height 1.4

.title
  font-size 14px
  font-weight 600
  color #0
  margin-bottom 6px
  letter-spacing -0.3px

.description
  font-size 12px
  color $gray
  margin-bottom 10px

.link
  font-size 12px
  color $cyan
  text-decoration none

+tablet()
  .item
    flex-direction column
    align-items center
    text-align center
    width 200px

  .image-wrapper
    margin 0 0 14px

  .title
    font-size 12px
    line-height 1.5

+mobile()
  .benefits
    padding 32px 9px 31px

  .container
    flex-direction column

  .item
    flex-direction row
    align-items flex-start
    width auto
    text-align left

    & + &
      margin-top 15px

  .image-wrapper
    width 73px
    min-width 73px
</style>
