<template lang="pug">
  .cookie-alert(v-if="!permission")
    .content-wrapper
      .content
        .text
          span
            | Сайт tervolina.ru использует технологию cookies. Оставаясь на ресурсе,
            | Вы соглашаетесь с&nbsp;
          a.link(href="/about/protection-of-information/") политикой обработки персональных данных.
          br
          | Если Вы не согласны — установите специальные настройки в своем браузере.
        app-button(
          mod="_small _cyan"
          @click="handleSubmit"
        ) Согласиться
</template>

<script>
export default {
  computed: {
    permission() {
      return this.$store.state.cookiePermission;
    },
  },

  methods: {
    handleSubmit() {
      this.$store.commit('SET_COOKIE_PERMISSON', true);
    },
  },
};
</script>

<style lang="stylus" scoped>
.cookie-alert
  position fixed
  z-index 1000
  left 0
  bottom 0
  right 0
  background-color #f
  font-size 13px
  padding 28px 32px
  box-shadow 0px -8px 16px 0px rgba(72, 81, 91, 0.12)

  .content
    display flex
    align-items center
    justify-content space-between

  a
    text-decoration none
    color $cyan

  .app-button._small
    width 190px
    height 40px

+mobile()
  .cookie-alert
    padding 20px 8px 24px

    .app-button._small
      width 100%

  .text
    margin-bottom: 16px
    line-height 1.5

  .content
    flex-direction column
</style>
