<template lang="pug">
  footer.footer-blog
    .content-wrapper
      .content
        .top
          nuxt-link.logo(to="/")
            app-icon(
              name="logo"
              width="100%"
              height="100%"
              fill="#EB0029"
            )
          BlogMenu(:list="menu")
          app-socials._desktop(:list="socials")
        .bottom
          app-socials._tablet(:list="socials")
          .copyrights {{ `© 1992 - ${(new Date()).getFullYear()} «TERVOLINA»` }}
          a(href="https://ratio.digital" target="_blank")
            app-icon.ratio(
              name="ratio"
              width="158"
              height="37"
              fill="#75787b"
            )
</template>

<script>
import BlogMenu from '@/components/layout/footer/BlogMenu';

export default {
  components: {
    BlogMenu,
  },

  data: () => ({
    menu: [{
      path: '/',
      label: 'Магазин',
    }, {
      path: '/about/',
      label: 'О компании',
    }, {
      path: '/contacts/',
      label: 'Контакты',
    }],

    socials: [{
      type: 'vkontakte',
      link: 'https://vk.com/club46207567',
    }, {
      type: 'facebook',
      link: 'https://www.facebook.com/tervolinaofficial/',
    }, {
      type: 'instagram',
      link: 'https://www.instagram.com/tervolinaofficial/',
    }, {
      type: 'whatsapp',
      link: '',
    }, {
      type: 'telegram',
      link: '',
    }, {
      type: 'youtube',
      link: 'https://www.youtube.com/channel/UCmsuCKTYJos8d7quxymB5_w',
    }],
  }),
};
</script>

<style lang="stylus" scoped>
.footer-blog
  padding 54px 0 54px

.logo
  display inline-block
  width 150px
  height 24px

.top,
.bottom
  display flex
  align-items center
  justify-content space-between

.ratio
  opacity .5

.copyrights
  font-size 12px
  color $grayLight

.top
  position relative
  margin-bottom 24px

.blog-menu
  position absolute
  top 4px
  left 0
  right 0
  margin 0 auto
  display flex
  justify-content center

.logo,
.app-socials
  position relative

  &._tablet
    display none

+tablet()
  .footer-blog
    padding 20px 0 54px

  .app-socials
    position relative
    z-index 1

    &._desktop
      display none

    &._tablet
      display block

  .blog-menu
    position static
    margin 0

  .top
    margin-bottom 40px

  .bottom
    position relative

  .copyrights
    position absolute
    top 11px
    left 0
    right 0
    margin 0 auto
    text-align center

  .ratio
    position relative
    z-index 1

+mobile()
  .footer-blog
    padding 31px 0 54px

  .top,
  .bottom
    flex-direction column

  .logo
    width 133px
    height 16px
    margin-bottom 41px

  .copyrights
    position relative
    padding 12px 0 35px

</style>
