<template lang="pug">
  footer.footer
    .content-wrapper
      .content
        .top
          .column
            nuxt-link.logo(to="/")
              app-icon(
                name="logo"
                width="100%"
                height="100%"
                fill="#EB0029"
              )
          .column
            .location(@click="callLocationPopup")
              app-icon.icon(
                name="location"
                width="16"
                height="20"
                fill="#312927"
              )
              span {{ city }}
              app-icon.link-arrow(
                name="arrow-down"
                width="10"
                height="8"
                fill="#75787b"
              )
          .column
            a.phone(:href="`tel:${phone.raw}`")
              app-icon.icon(
                name="phone"
                width="16"
                height="19"
                fill="#312927"
              )
              span {{ phone.formatted }}
          .column._search
            .search-wrapper
              Search(
                view="footer"
                placeholder="Найти товар"
              )
        .middle
          .column
            GroupMenu
              nuxt-link.link._title(
                to="/buyers/"
                slot="title"
              ) Покупателям
              ul.list
                li.item
                  nuxt-link.link(to="/buyers/delivery/") Условия доставки и оплаты
                li.item
                  nuxt-link.link(to="/buyers/return-of-goods/") Возврат товара
                li.item
                  a.link(
                    href="javascript:void(0);"
                    @click="$modal.show('sizes')"
                  ) Таблица соответствия размеров
                li.item
                  nuxt-link.link(to="/buyers/bonus/") Программа лояльности
                li.item
                  nuxt-link.link(to="/about/certificate/") Подарочные сертификаты
                li.item
                  nuxt-link.link(to="/buyers/terms-of-sale/") Условия продажи товаров
                li.item
                  nuxt-link.link(to="/buyers/payment/") Как оплатить заказ?
                // TODO: Подрезка сайта к запуску 1-го этапа
                //li.item
                  nuxt-link.link(to="/about/actions/retail/") Акции
          .column
            GroupMenu
              nuxt-link.link._title(
                to="/about/"
                slot="title"
              ) О компании
              ul.list
                li.item
                  a.link(href="javascript:void(0);") Политика конфиденциальности
                li.item
                  nuxt-link.link(to="/about/contacts/") Контакты
                li.item
                  nuxt-link.link(to="/about/protection-of-information/") Защита
                    |  персональной информации
          .column._desktop
            GroupMenu
              span(slot="title") Мы в соцсетях
              app-socials(:list="socials")
              .message Вы также можете&nbsp;
                span.link._dashed(@click="callFeedbackPopup") отправить нам сообщение.
          .column
            GroupMenu
              span(slot="title") Способы оплаты
              .payments
                app-icon.icon._mastercard(
                  name="mastercard"
                  width="45"
                  height="45"
                )
                app-icon.icon(
                  name="visa"
                  width="48"
                  height="48"
                )
                app-icon.icon(
                  name="mir"
                  width="50"
                  height="50"
                )
                nuxt-link(
                  to="/promo/halva/"
                  target="_blank"
                ).icon
                  app-icon(
                    name="halva"
                    width="70"
                    height="50"
                  )
                nuxt-link(
                  to="/promo/sovest/"
                  target="_blank"
                ).icon
                  app-icon(
                    name="sovest"
                    width="70"
                    height="50"
                  )
              .payment-info Вы можете оплатить покупки наличными при получении
        .bottom
          .column._desktop
            .copyrights {{ `© 1992 - ${(new Date()).getFullYear()} «TERVOLINA»` }}
          .column._tablet
            app-socials(:list="socials")
          .column._tablet._tablet-absolute
            .message Вы также можете&nbsp;
              span.link._dashed(@click="callFeedbackPopup") отправить нам сообщение.
            .copyrights {{ `© 1992 - ${(new Date()).getFullYear()} «TERVOLINA»` }}
          .column
            a(href="https://ratio.digital" target="_blank")
              app-icon.ratio(
                name="ratio"
                width="158"
                height="37"
                fill="#75787b"
              )
</template>

<script>
import Search from '@/components/layout/Search';
import GroupMenu from '@/components/layout/footer/GroupMenu';

export default {
  components: {
    Search,
    GroupMenu,
  },

  data: () => ({
    socials: [{
      type: 'vkontakte',
      link: 'https://vk.com/club46207567',
    }, {
      type: 'facebook',
      link: 'https://www.facebook.com/tervolinaofficial/',
    }, {
      type: 'instagram',
      link: 'https://www.instagram.com/tervolinaofficial/',
    }, {
      type: 'youtube',
      link: 'https://www.youtube.com/channel/UCmsuCKTYJos8d7quxymB5_w',
    }],
  }),

  computed: {
    city() {
      return this.$store.state.user.city.name;
    },

    phone() {
      return this.$store.state.user.city.phone;
    },
  },

  methods: {
    callLocationPopup() {
      this.$modal.show('choose-city');
    },

    callFeedbackPopup() {
      this.$modal.show('feedback');
    },
  },
};
</script>

<style lang="stylus" scoped>
.footer
  padding-top 57px
  background #fff

.logo
  display inline-block
  width 150px
  height 24px

.top,
.middle,
.bottom
  display flex

.top
  margin-bottom 39px

.bottom
  margin-top 30px
  justify-content space-between
  align-items center
  padding-bottom 45px

.column
  width 25.5%
  min-width 25.5%
  display flex

  &:last-child
    width 19%

  &._tablet
    display none

.location,
.phone
  display flex
  align-items center
  text-decoration none
  font-size 14px
  font-weight 500
  color #0
  cursor pointer

.location
  padding-right: 32px

.icon
  margin-right 10px

.link-arrow
  margin-left 4px

.copyrights
  font-size 12px
  color $grayLight

.ratio
  opacity .5
  align-self flex-start

.search-wrapper
  height 28px
  width 30%

.search._active
  right 0
  left auto
  width 30%

+tablet()
  .footer
    padding-top 42px
    padding-bottom 92px

  .top
    justify-content space-between
    margin-bottom 34px

  .middle
    justify-content space-between

  .bottom
    position relative
    margin-top 26px
    padding-bottom 60px

  .column,
  .column:last-child
    width auto
    min-width 0
    max-width 33%

    &._desktop
      display none

    &._tablet
      display block

    &._tablet-absolute
      position absolute
      top 0
      right 0
      left 0
      margin auto

    &._search
      max-width 117px

  .location,
  .phone
    font-size 13px

  .location
    padding-right: 0

  .search._active
    left 34px
    right 34px

  .message
    font-size 13px
    text-align center
    color #0
    line-height 1.6

  .copyrights
    padding-top 52px
    text-align center

  .search._active
    width auto

+mobile()
  .footer
    padding-top 32px
    padding-bottom 61px

  .logo
    width 133px
    height 16px
    margin-bottom 25px

  .location
    margin-bottom 18px

  .top,
  .middle,
  .bottom
    flex-direction column

  .bottom
    margin-top 21px
    padding-bottom 0

  .top
    margin-bottom 24px

    .column
      justify-content center

  .column,
  .column:last-child
    max-width none
    width auto
    margin 0 -16px

    &._search
      display none

    &._tablet-absolute
      position relative

  .middle .column:first-child
    border-top 1px solid #ec

  .message
    padding 20px 0 0

  .copyrights
    padding 27px 0 23px
</style>
