<template lang="pug">
  header.header-checkout
    .content-wrapper
      .content(
        ref="top"
        :class=`[
          {'_scrolled-up': isScrollingUp || isMobileMenuOpen},
          {'_scrolled': isScrolled && !isMobileMenuOpen}
        ]`
      )
        .inner
          .left
            nuxt-link.back(to="/catalog/zhenshchinam/new/")
              app-icon.back-icon(
                name="arrow"
                width="19"
                height="7"
                fill="#75787b"
              )
              span Вернуться к покупкам
            Search(
              view="checkout"
              placeholder="Найти товар"
              mobilePlaceholder="Поиск по 2 000 товаров"
            )
          nuxt-link.logo(to="/")
            app-icon(
              name="logo"
              width="100%"
              height="100%"
              fill="#EB0029"
            )
          .right
            a.phone(href="tel:88002008117") 8 800 200 81 17
            nuxt-link.account(to="/account/")
              app-icon.user-icon(
                name="user-auth"
                fill="#75787b"
              )
              span Личный кабинет
</template>

<script>
import Search from '@/components/layout/Search';

export default {
  components: {
    Search,
  },

  data: () => ({
    scrollPos: 0,
    isScrollingUp: false,
    isScrolled: false,
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    isMobileMenuOpen() {
      return this.$store.state.layout.isMobileMenuOpen;
    },
  },

  mounted() {
    if (this.isMobile) {
      window.addEventListener('scroll', this.processScroll);
    }
  },

  beforeDestroy() {
    if (this.isMobile) {
      window.removeEventListener('scroll', this.processScroll);
    }
  },

  methods: {
    processScroll() {
      this.detectScrollDirection();
      this.detectScroll();
    },

    detectScroll() {
      this.isScrolled = window.pageYOffset > this.$refs.top.offsetHeight;
    },

    detectScrollDirection() {
      const scrollStrength = Math.abs((document.body.getBoundingClientRect()).top - this.scrollPos);

      if (scrollStrength && scrollStrength > 8) {
        if ((document.body.getBoundingClientRect()).top > this.scrollPos) {
          this.isScrollingUp = true;
        } else {
          this.isScrollingUp = false;
        }
      }

      this.scrollPos = (document.body.getBoundingClientRect()).top;

      if (!this.scrollPos) {
        this.isScrollingUp = false;
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.header-checkout
  height 70px
  font-size 12px
  color $gray
  display flex
  align-items center
  background #f
  border-bottom 1px solid #f8

.content
  position fixed
  height 70px
  top 0
  left 0
  right 0
  transition opacity .2s
  z-index 100
  background-color #f
  padding 6px 0 0

  &._scrolled
    box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

.inner
  width 100%
  max-width 1180px
  margin 0 auto
  position relative

.content,
.inner,
.left,
.right
  display flex
  align-items center
  justify-content space-between

.logo
  position absolute
  top 5px
  left 5px
  right 0
  bottom 0
  margin auto
  width 150px
  height 24px

.back-icon
  transform rotate(180deg)
  margin-right 7px

.back
  text-decoration none
  color $gray
  margin-right 37px

.search
  position relative
  top 1px

  &._active
    top -10px
    width 35%

.phone
  text-decoration none
  color $gray
  margin-right 37px

.account
  display flex
  align-items center
  text-decoration none
  color $gray

.user-icon
  margin-right 10px
  width 10px
  height 12px

+tablet()
  .header-checkout
    height 53px
    font-size 11px

  .content
    height 55px
    padding 0 34px

  .logo
    top 2px
    left 0
    width 114px
    height 14px

  .account
    span
      display none

  .user-icon
    margin-right 5px
    width 14px
    height 16px

  .phone
    margin-right 25px

  .back
    margin-right 25px

    span
      margin-left 5px

+mobile()
  .header-checkout
    height 55px

    .content
      padding 0 16px

    .logo
      top -2px

    .search._checkout,
    .phone
      display none

    .user-icon
      margin-right 0
      width 17px
      height 19px

    .phone
      margin-right 25px

    .back
      margin-right 25px

      span
        margin-left 5px
        display none

    .mobile-menu
      display block
</style>
