<template lang="pug">
  header.header(
    ref="header"
    :class=`[
      {'_scrolled': isScrolled}
    ]`
  )
    section.top(
      :class=`[
        {'_scrolled-up': isScrollingUp || isMobileMenuOpen},
        {'_scrolled': isScrolled}
      ]`
    )
      .content-wrapper
        .group._mobile
          MobileMenu
          nuxt-link.logo(
            to="/"
            @click.native="changeDepartment(departments[0])"
          )
            app-icon(
              name="logo"
              width="100%"
              height="100%"
              fill="#EB0029"
            )
        .group._desktop-and-tablet
          SiteMenu
        .group._desktop-and-tablet
          nuxt-link.logo(
            to="/"
            @click.native="changeDepartment(departments[0])"
          )
            app-icon(
              name="logo"
              width="100%"
              height="100%"
              fill="#EB0029"
            )
        .group._desktop-and-tablet
          LocationMenu
        .group._mobile
          UserMenu
          CartMenu
    .section-wrapper(
      :class=`[
        {'_inner': isInnerRoute},
        {'_scrolled-up': isScrollingUp || isMobileMenuOpen},
        {'_scrolled': isScrolled}
      ]`
    )
      section.middle
        .content-wrapper
          .search-wrapper
            Search(
              view="header"
              placeholder="Найти товар"
              mobilePlaceholder="Поиск по 2 000 товаров"
            )
            nuxt-link.logo._fixed(
              to="/"
              @click.native="changeDepartment(departments[0])"
            )
              app-icon(
                name="logo"
                width="100%"
                height="100%"
                fill="#EB0029"
              )
          CategoriesMenu(:list="departments")
          .group._desktop-and-tablet
            a.lonely-phone(href="tel:88002008117") 8 800 200 81 17
            UserMenu
            CartMenu
      section.bottom
        SubcategoriesMenu(:list="categories")
</template>

<script>
import SiteMenu from '@/components/layout/header/SiteMenu';
import LocationMenu from '@/components/layout/header/LocationMenu';
import Search from '@/components/layout/Search';
import CategoriesMenu from '@/components/layout/header/CategoriesMenu';
import UserMenu from '@/components/layout/header/UserMenu';
import CartMenu from '@/components/layout/header/CartMenu';
import SubcategoriesMenu from '@/components/layout/header/SubcategoriesMenu';
import MobileMenu from '@/components/layout/header/MobileMenu';

export default {
  components: {
    SiteMenu,
    LocationMenu,
    Search,
    CategoriesMenu,
    UserMenu,
    CartMenu,
    SubcategoriesMenu,
    MobileMenu,
  },

  data: () => ({
    scrollPos: 0,
    isScrollingUp: false,
    isScrolled: false,
    paddingTop: 155,
  }),

  computed: {
    departments() {
      return this.$store.state.layout.departments.data;
    },

    categories() {
      return this.$store.state.layout.currentDepartment.categories;
    },
    isInnerRoute() {
      return this.$route.fullPath !== '/';
    },
    isMobileMenuOpen() {
      return this.$store.state.layout.isMobileMenuOpen;
    },
  },

  mounted() {
    window.addEventListener('scroll', this.processScroll);
  },

  beforeDestroy() {
    window.removeEventListener('scroll', this.processScroll);
  },

  methods: {
    changeDepartment(link) {
      this.$store.commit('layout/SET_CURRENT_DEPARTMENT', link);
    },

    processScroll() {
      this.detectScrollDirection();
      this.detectScroll();
    },

    detectScroll() {
      this.isScrolled = window.pageYOffset > this.paddingTop;
    },

    detectScrollDirection() {
      const scrollStrength = Math.abs((document.body.getBoundingClientRect()).top - this.scrollPos);

      if (scrollStrength && scrollStrength > 8) {
        if ((document.body.getBoundingClientRect()).top > this.scrollPos) {
          this.isScrollingUp = true;
        } else {
          this.isScrollingUp = false;
        }
      }

      this.scrollPos = (document.body.getBoundingClientRect()).top;

      if (!this.scrollPos) {
        this.isScrollingUp = false;
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.top
  padding-top 29px
  position relative

.top,
.middle,
.bottom,
.content-wrapper
  display flex
  justify-content space-between
  align-items center

.middle
  .content-wrapper
    max-width 1180px
    flex-grow 1
    margin 4px auto 0

.bottom
  justify-content center
  background #f6

.logo
  position absolute
  top -1px
  left 6px
  right 0
  margin 0 auto
  width 150px
  height 24px

  &._fixed
    display none

.group
  display flex

  &._mobile
    display none

.cart-menu
  margin-left 33px

.search,
.cart-menu,
.user-menu
  position relative

// В родительском компоненте можно не только просто определять положение
// дочернего компонента, но и его положения во время состояний
.search._active
  bottom 0

.categories-menu
  position absolute
  top -5px
  left 0
  right 0
  margin 0 auto

.top._scrolled
  margin-bottom 68px

.lonely-phone
  display none

.middle
  padding 24px 0 0
  position relative
  margin-bottom 12px

.section-wrapper
  background-color #f

  &._scrolled
    opacity 0
    visibility hidden
    position fixed
    top 0
    left 0
    right 0
    background-color #f
    z-index 100

    .middle
      display flex
      align-items center
      justify-content center
      padding 0
      margin 0
      height 64px

    >>>.inner
      padding-bottom 23px

    .lonely-phone
      letter-spacing -0.5px
      font-size 12px
      font-weight 500
      color #404244
      text-decoration none
      cursor pointer
      display block
      margin 5px 38px 0 0
      position relative

    .categories-menu
      top 0

    .search-wrapper
      width 30%
      height 28px

      .search._active
        width 30%

        >>> .input
          opacity 1

    .logo._fixed
      display block
      position absolute
      width 118px
      height 15px
      top 4px
      left 55px
      margin 0
      z-index 10

    .search._header >>>.input
      opacity 0

  &._scrolled._scrolled-up
    visibility visible
    opacity 1
    box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)


.header._catalog

  &._scrolled
    height 161px

    .bottom
      visibility hidden
      opacity 0
      height 0
      overflow hidden

+tablet()
  .search,
  .search._active
    bottom -2px

  .search._active
    width 100%
    max-width 700px
    margin 0 auto
    left 34px

  .middle
    padding 18px 0 0
    margin-bottom 13px

    .content-wrapper
      margin-top 0

  .section-wrapper

    &._scrolled

      .middle
        height 50px

      .lonely-phone
        display none

      .categories-menu
        top -2px

        >>>.inner
          padding-bottom 20px

      .search-wrapper

        .search._active
          top 0
          left 34px
          right 0
          width 100%

          >>> .results
            top 38px

      .logo._fixed
        width 90px
        height 15px
        top 5px
        left 68px

  .top._scrolled
    margin-bottom 60px

  .logo
    position absolute
    top 0
    left 0
    width 128px

  .top
    padding-top 18px

  .categories-menu
    top 1px

  .cart-menu
    margin-left 37px

  .user-menu
    position relative
    top 2px

+mobile()
  .header
    padding-top 55px
    position relative

  .bottom,
  .search-wrapper,
  .group._desktop-and-tablet,
  .site-menu,
  .location-menu
    display none

  .group._mobile
    display flex
    align-items center

  .top
    height 55px
    display flex
    align-items center
    justify-content space-between
    z-index 300
    position absolute
    top 0
    left 0
    right 0
    padding 0
    background-color #f
    transition opacity .2s

    &._scrolled
      position fixed
      top 0
      opacity 0
      visibility hidden
      margin-bottom 0

    &._scrolled-up
      visibility visible
      opacity 1
      box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

  .header._catalog

    .top._scrolled-up
      box-shadow none

  .middle
    padding 0
    margin 0 -16px
    justify-content center
    height 42px
    background-color #f8

    .content-wrapper
      height 100%

    &._inner
      display none

  .section-wrapper

    &._scrolled

      .middle
        position static

  .logo
    width 114px
    height 14px
    position static

    ._fixed
      display none

  .categories-menu
    left 0
    top 0

  .header._catalog-code

    >>>.middle
      display none

  .cart-menu
    margin-left 22px

  .user-menu
    position relative
    top 2px

  .header._catalog-department-category-subcategory,
  .header._catalog-department-category-subcategory-detail
    >>> .section-wrapper
      display: none
</style>
