<template lang="pug">
  header.header-blog
    .content-wrapper
      .content
        section.top(
          ref="top"
          :class=`[
            {'_scrolled-up': isScrollingUp || isMobileMenuOpen},
            {'_scrolled': isScrolled && !isMobileMenuOpen}
          ]`
        )
          .left
            MobileMenu
            nuxt-link.back(to="/")
              app-icon.back-icon(
                name="arrow"
                width="19"
                height="7"
                fill="#75787b"
              )
              span Вернуться к магазину
            nuxt-link.logo(to="/blog/")
              app-icon(
                name="logo-blog"
                width="100%"
                height="100%"
                fill="#EB0029"
              )
          .right
            Search(
              view="blog"
              placeholder="Найти статью"
            )
            nuxt-link.cart(to="/checkout/")
              app-icon.icon(
                name="cart"
                fill="#ec0928"
              )
        section.middle
    section.bottom
</template>

<script>
import Search from '@/components/layout/Search';
import CategoriesMenu from '@/components/layout/header/CategoriesMenu';
import SubcategoriesMenu from '@/components/layout/header/SubcategoriesMenu';
import MobileMenu from '@/components/layout/header/MobileMenu';

export default {
  components: {
    Search,
    CategoriesMenu,
    SubcategoriesMenu,
    MobileMenu,
  },

  data: () => ({
    scrollPos: 0,
    isScrollingUp: false,
    isScrolled: false,
    categories: [{
      id: 0,
      path: '/404',
      name: 'Тенденции',
    }, {
      id: 1,
      path: '/404',
      name: 'в фокусе',
    }, {
      id: 2,
      path: '/404',
      name: 'стиль',
    }, {
      id: 3,
      path: '/404',
      name: 'новости',
    }, {
      id: 4,
      path: '/404',
      name: 'вокруг света',
    }],

    subCategories: [{
      path: '/404',
      name: 'все',
    }, {
      path: '/404',
      name: 'уличный стиль',
    }, {
      path: '/blog/sample-category/',
      name: 'гид по стилю',
    }, {
      path: '/404',
      name: 'гардероб',
    }],
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    isMobileMenuOpen() {
      return this.$store.state.layout.isMobileMenuOpen;
    },
  },

  mounted() {
    if (this.isMobile) {
      window.addEventListener('scroll', this.processScroll);
    }
  },

  beforeDestroy() {
    if (this.isMobile) {
      window.removeEventListener('scroll', this.processScroll);
    }
  },

  methods: {
    processScroll() {
      this.detectScrollDirection();
      this.detectScroll();
    },

    detectScroll() {
      this.isScrolled = window.pageYOffset > this.$refs.top.offsetHeight;
    },

    detectScrollDirection() {
      const scrollStrength = Math.abs((document.body.getBoundingClientRect()).top - this.scrollPos);

      if (scrollStrength && scrollStrength > 8) {
        if ((document.body.getBoundingClientRect()).top > this.scrollPos) {
          this.isScrollingUp = true;
        } else {
          this.isScrollingUp = false;
        }
      }

      this.scrollPos = (document.body.getBoundingClientRect()).top;

      if (!this.scrollPos) {
        this.isScrollingUp = false;
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.header-blog
  font-size 12px
  color $gray

.content
  position relative

.logo
  position absolute
  top 19px
  left 33px
  right 0
  bottom 0
  margin auto
  width 180px
  height 24px

.back-icon
  transform rotate(180deg)
  margin-right 7px

.back
  position relative
  top 7px
  text-decoration none
  color $gray

.search
  position relative
  top 8px

  &._active
    top 25px

.top,
.middle,
.bottom
  display flex
  justify-content space-between
  align-items center

.middle
  justify-content center

.top
  height 63px
  display flex
  align-items center
  position relative

.bottom
  justify-content center
  background #f6

.mobile-menu
  display none

.cart
  display none

+tablet()
  .top
    height 53px

  .back
    top 2px
    font-size 11px

  .search
    top 2px

    &._active
      top 13px

  .logo
    top 9px
    left 35px
    width 165px
    height auto

+mobile()
  .header-blog
    padding-top 55px

  .top
    height 55px
    position fixed
    z-index 100
    top 0
    left 0
    right 0
    padding 0 16px
    background-color #f
    transition opacity .2s

    &._scrolled
      opacity 0
      visibility hidden

    &._scrolled-up
      visibility visible
      opacity 1
      box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

  .back,
  .bottom
    display none

  .middle
    padding 0
    margin 0 -16px
    justify-content center
    height 42px
    background-color #f8

  .mobile-menu
    display block

  .left,
  .right
    display flex
    align-items center

  .logo
    display block
    position relative
    top 2px
    left -3px
    width 150px
    height 17px

  .cart
    display block
    position relative
    z-index 1
    cursor pointer

  .icon
    width 20px
    height 21px
</style>
