<template lang="pug">
  .old-user-update
    .title Обновите данные
    form.form(@submit.prevent="handleSubmit")
      .row
        .group
          app-input(
            placeholder="Введите номер телефона"
            v-mask="'+7 (###) ###-##-##'"
            v-model="$v.phone.$model"
            @focus="correctPhone"
            :error="$v.phone && $v.phone.$dirty && $v.phone.$error"
            :valid="$v.phone && $v.phone.$dirty && !$v.phone.$error"
          )
          .error(v-if="$v.phone.$dirty && $v.phone.$error")
            span(v-if="!$v.phone.required") Обязательное поле
            span(v-else-if="!$v.phone.minLength") Некорректный телефон
      .row
        .group
          app-input(
            placeholder="Введите новый пароль"
            type="password"
            v-model.trim="$v.password.$model"
            :error="$v.password && $v.password.$dirty && $v.password.$error"
            :valid="$v.password && $v.password.$dirty && !$v.password.$error"
          )
          .error(v-if="$v.password.$dirty && $v.password.$error")
            span(v-if="!$v.password.required") Обязательное поле
            span(v-else-if="!$v.password.minLength")
              | Пароль должен быть минимум 6 символов
      .row._checkbox
        app-checkbox(
          :checked="isAgree"
          @change="isAgree = !isAgree"
        ) Вы соглашаетесь с&nbsp;
        .link: a(href="javascript:void(0);") правилами
      .row
        .group._controls
          .submit
            app-button(:disabled="!isAgree") Обновить
</template>

<script>
import {
  required,
  minLength,
} from 'vuelidate/lib/validators';

export default {
  data: () => ({
    phone: '',
    password: '',
    isAgree: true,
  }),

  methods: {
    correctPhone(e) {
      if (!e.target.value) {
        this.phone = '+7 (';
      }
    },

    handleSubmit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR';
      } else {
        this.submitStatus = 'PENDING';
        this.$emit('submit');
        setTimeout(() => {
          this.submitStatus = 'OK';
        }, 500);
      }
    },
  },

  validations: {
    phone: {
      required,
      minLength: minLength(18),
    },
    password: {
      required,
      minLength: minLength(6),
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
