<template lang="pug">
  .search(
    :class="[`_${view}`, {'_active': isActive}, {'_error': isError}]"
    v-click-outside="cancelSearch"
  )
    form.content(@submit.prevent="handleSubmit")
      label.inner
        app-icon.icon._mag(
          name="search"
          fill="#75787b"
        )
        input.input(
          ref="input"
          v-model="query"
          :placeholder="processedPlaceholder"
          @click="transformSearch"
          @input="handleInput"
        )
      .controls
        .button
          app-button(
            mod="_extra-small"
          ) Найти
          .close(@click="cancelSearch")
            app-icon.icon(
              name="close"
              width="8"
              height="8"
            )
      .results(:class="{'_active': isResultsVisible}")
        ul.list
          li.item(v-for="link, index in results")
            nuxt-link.link(
              :to="link.path"
              v-html="link.label"
            )
</template>

<script>
import { debounce } from 'lodash';

export default {
  props: {
    view: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: 'Найти',
    },
    mobilePlaceholder: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    isActive: false,
    activeWidth: 0,
    results: [],
    isResultsVisible: false,
    processedPlaceholder: '',
    query: '',
    isError: false,
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  mounted() {
    this.processPlaceholder();
  },

  methods: {
    transformSearch() {
      this.isActive = true;
    },

    handleInput: debounce(function handleInput(e) {
      if (e.target.value.length) {
        this.isError = false;
        // this.isResultsVisible = true;
      } else {
        this.isResultsVisible = false;
      }
    }, 300),

    cancelSearch() {
      this.isActive = false;
      this.isResultsVisible = false;
      this.$refs.input.value = '';
      this.isError = false;
    },

    processPlaceholder() {
      if (this.isMobile && this.mobilePlaceholder) {
        this.processedPlaceholder = this.mobilePlaceholder;
      } else {
        this.processedPlaceholder = this.placeholder;
      }
    },

    handleSubmit() {
      this.isError = false;
      if (this.query.length) {
        this.$store.commit('search/SET_QUERY', this.query);
        this.$router.push(`/search/?query=${this.query}`);
        this.query = '';
      } else {
        this.isError = true;
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.search
  position relative
  display inline-block
  height 28px
  transition background .2s

  &._error

    >>>.input
      +placeholder()
        color $red

    >>>.app-icon._mag
      fill $red

.content
  display flex
  width 100%

.inner
  display flex
  width 100%
  position: relative;
  z-index 1

.input
  height 24px
  padding-left 37px
  font-size 14px
  color #0
  outline none
  border none
  background transparent
  letter-spacing 0.3px
  position relative
  top -1px
  font-weight 600

  +placeholder()
    color $grayLight
    font-weight 400

.input:focus ~ .border
  width 100%
  background $gray

.icon
  position absolute
  top 1px
  left 2px
  color #b2b2b2

  &._mag
    width 20px
    height 20px

.controls
  opacity 0
  visibility hidden
  height 0
  width 0
  position absolute
  overflow hidden
  transition opacity .2s
  position relative

.results
  position absolute
  left 0
  top 47px
  z-index 10
  padding 25px 58px 32px 33px
  background-color #f
  border 1px solid #ec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)
  opacity 0
  visibility hidden
  height 0
  width 0
  overflow hidden
  transition opacity .2s

  &._active
    opacity 1
    visibility visible
    height auto
    width auto

.list
  ul-reset()

.item

  & + &
    margin-top 15px

.link
  text-decoration none
  font-size 14px
  color $grayLight

  >>> b
    font-weight 600
    color #0

// Поиск с шапки корзины
.search._checkout,
.search._blog
  height 19px
  display flex
  align-items center
  width 106px

  .input
    font-size 12px
    height 17px
    padding-left 20px

  .icon
    top 2px

    &._mag
      width 12px
      height 12px

.search._checkout._active
.search._blog._active

  .icon

    &._mag
      width 20px
      height 20px

// Активное состояние поиска
.search._active
  position absolute
  left 0
  z-index 100
  background #f
  height 32px
  width auto

  .input
    height 32px
    padding-left 37px
    font-size 14px
    flex-grow 1

  .controls
    position relative
    opacity 1
    visibility visible
    overflow visible
    height auto
    width auto
    top -1px

  .close
    position absolute
    top 0
    bottom 0
    margin auto
    right -35px
    width 20px
    height 20px
    display flex
    align-items center
    justify-content center
    cursor pointer

  .button
    width 88px

    .app-button
      color $cyan

      &:hover
        background-color $cyan
        border-color $cyan
        color #f

  .icon
    top 5px

    &._mag
      width 20px
      height 20px

+tablet()

  .content
    width calc(100% - 26px)

  .controls
    display none

  .input
    font-size 12px
    transition opacity .2s

  .results
    position absolute
    left -34px
    right -34px
    top 42px
    padding 16px 34px 33px 34px

  .item

    & + &
      margin-top 11px

  .link
    font-size 12px

  .search._header,
  .search._checkout

    .input
      opacity 0

  .search._blog

    .input
      font-size 11px

  .search._active,
  .search._header._active,
  .search._checkout._active

    .input
      font-size 12px
      opacity 1

+mobile()
  .search._blog
    width 30px
    height 30px
    position relative
    top -2px
    left -5px

    .input
      opacity 0

    .icon

      &._mag
        width 17px
        height 17px

    &._active
      width 100%
      position absolute
      top auto
      left 16px

      .input
        opacity 1

  .search._mobile-menu,
  .search._mobile-menu._active
    position relative
    height 52px
    width 100%
    border-bottom 1px solid #ec

    .content
      width 100%

    .input
      height 52px
      padding 0 50px 0 24px

    .icon
      top 20px
      left auto
      right 25px

      &._mag
        width 14px
        height 14px

    .results
      left 0
      right 0
      top 100%
      padding 16px 34px 33px 24px
</style>
