<template lang="pug">
  .top-banner
    .content-wrapper
      .content
        .text Твой неповторимый стиль с коллекцией JEFFREY CAMPBELL. Скидка по промокоду
          span.code IloveJC
          app-icon.icon(
            name="arrow"
            width="19"
            height="7"
            fill="#FFF"
          )
    .close(@click="$emit('closeBanner')")
      app-icon.icon(name="close")
</template>

<style lang="stylus" scoped>
.top-banner
  background $cyan
  height 44px
  line-height 40px
  overflow hidden
  cursor pointer
  position relative

.content
  text-align center

.close
  position absolute
  top 11px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #fff

  .icon
    width 10px
    height 10px
    margin 0

.text
  font-size 13px
  letter-spacing .3px
  color #f
  margin-right -38px

.code
  display inline-block
  margin-left 8px
  line-height 1
  padding 4px 6px
  text-transform uppercase
  font-weight 600
  border 1px solid rgba(255, 255, 255, .5)

.icon
  margin-left 16px

+tablet()
  .top-banner
    height 40px
    line-height 40px

  .text
    letter-spacing .4px
    font-size 11px
    font-weight 500

+mobile()
  .top-banner
    display none
</style>
