<template lang="pug">
  section.halva-main-wrapper
    slot
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
.halva-main-wrapper
  text-align center
  padding 54px 0 56px

.title
  font-family 'Century Gothic'
  font-size 22px
  font-weight bold
  color #0
  margin 0 0 14px

.text
  font-size 14px
  color $gray
  line-height 1.8

  a
    color $gray

.main
  margin 30px auto 0
  display flex
  align-items center

.image-wrapper
  width 50%
  overflow hidden
  text-align right
  padding-right 54px

.text-wrapper
  width 50%
  text-align left
  position relative
  left -10px

.image
  width 400px

.list
  ul-reset()

.item
  display flex
  align-items center

  & + &
    margin-top 11px

.highlighted
  width 48px
  min-width 48px
  height 48px
  border 1px solid $red
  border-radius 50%
  display flex
  align-items center
  justify-content center
  font-size 16px
  color $red
  margin-right 17px

.point
  font-family 'Century Gothic'
  font-size 20px
  color #0

.text._cond
  margin-top: 50px

+tablet()
  .halva-main-wrapper
    padding 35px 0 56px
    max-width 768px
    margin 0 auto

  .title
    font-size 18px
    margin 0 0 14px

  .text
    font-size 13px
    line-height 1.8

  .main
    align-items flex-start
    margin 30px auto 0

  .text-wrapper
    left -18px

  .image
    width 292px

  .point
    font-family 'Montserrat'
    font-size 16px
    font-weight 500

  .text._cond
    position absolute
    left 36px
    bottom 10px

+mobile()
  .halva-main-wrapper
    padding 54px 0 40px

  .text
    font-size 13px
    line-height 1.4

  .main
    margin 20px auto 25px
    display flex
    align-items center
    flex-direction column
    padding 0 20px

  .image-wrapper
    width auto
    padding-right 0
    margin-bottom 30px

  .text-wrapper
    width auto

  .text._cond
    position static

</style>
