<template lang="pug">
  section.halva-title-wrapper
    slot
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
.halva-title-wrapper
  height 490px
  position relative
  display flex
  align-items center

.bg
  position absolute
  top 0
  right 0
  bottom 0
  width 100%
  background-position center
  background-repeat no-repeat
  background-size cover

  &:after
    content ''
    position absolute
    right 0
    left 50%
    top 0
    bottom 0
    background-color #f4f5f7
    z-index -1

  &._sovest
    background-image url('/img/sovest-bg-desktop.jpg')

  &._halva
    background-image url('/img/halva-bg-desktop.jpg')

.content
  position relative
  text-align right
  display flex
  align-items flex-end
  flex-direction column
  top -30px

.title
  font-size 20px
  margin 0 0 40px
  font-weight 400
  line-height 1.1

  span
    display inline-block

    &:first-child
      font-family 'Century Gothic'
      font-size 48px
      font-weight 700
      color #0
      text-transform uppercase

    &:last-child
      padding-top 10px

.app-button
  width 193px

+tablet()
  .halva-title-wrapper
    height 400px
    margin 0 auto

  .content
    top -11px
    max-width 610px
    margin 0 auto

  .title
    font-size 16px
    margin 0 0 34px
    line-height 1

    span

      &:first-child
        font-size 36px
        text-transform none

      &:last-child
        padding-top 21px

  .app-button
    width 220px


@media (max-width 900px)

  .bg

    &:after
      display none

    &._sovest
      background-image url('/img/sovest-bg-tablet.png')

    &._halva
      background-image url('/img/halva-bg-tablet.png')

+mobile()
  .halva-title-wrapper
    height 385px
    align-items flex-start

  .content
    top 28px

  .title
    font-size 14px
    margin 0 auto 20px
    line-height 1.1
    text-align center

    span

      &:first-child
        font-size 24px

      &:last-child
        padding-top 8px

  .app-button
    margin 0 auto

  .bg

    &._sovest
      background-image url('/img/sovest-bg-mobile.png')

    &._halva
      background-image url('/img/halva-bg-mobile.png')
</style>
