<template lang="pug">
  section.halva-benefits-wrapper
    slot
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
.halva-benefits-wrapper
  background-color #f4f5f7
  padding 54px 0 200px
  text-align center

.title
  font-family 'Century Gothic'
  font-size 22px
  font-weight bold
  color #0
  margin 0 0 20px

.text
  font-size 14px
  color $gray
  margin 0 0 40px

.list
  ul-reset()
  display flex
  justify-content space-between
  max-width 1020px
  margin 0 auto

.item
  width 25%

.image-wrapper
  height 58px
  width 70px
  overflow hidden
  margin 0 auto 15px

.app-icon
  max-height 100%
  max-width 100%

.point
  font-size 16px
  font-weight 500
  color #0
  line-height 1.6

+tablet()
  .halva-benefits-wrapper
    padding 35px 0 56px

  .title
    font-size 18px
    margin 0 0 14px

  .text
    font-size 13px
    line-height 1.8
    margin 0 0 18px

  .point
    font-size 13px

  .image-wrapper
    height 45px
    width 70px
    overflow hidden
    margin 0 auto 15px

+mobile()
  .halva-benefits-wrapper
    padding 35px 0 20px

  .list
    flex-direction column

  .item
    width auto
    display flex
    align-items center
    justify-content flex-start
    margin-bottom 20px

  .text
    margin 0 0 28px

  .image-wrapper
    margin 0 20px 0 0

  .point
    flex-grow 1
    text-align left

</style>
