<template lang="pug">
  .filter-default(
    :class="`_${type} ${isLineBreak ? '_line-break' : ''}`"
    ref="filter"
  )
    template(v-if="isVbar")
      .wrapper(v-bar)
        template(v-if="type === 'sizes' && isMobile")
          .container
            .size(
              v-for="item in list"
              :class="{'_active': setCheck(item)}"
              @click="(value) => handleChange(item, !setCheck(item))"
            ) {{ item.name }}
        template(v-else)
          ul.list
            li.item(v-for="item in list")
              app-checkbox(
                :name="nameField"
                :value="item.id"
                mod="_between"
                @change="({checked: value}) => handleChange(item, value)"
                :checked="setCheck(item)"
              )
                span.title {{ item.name }}
                app-color-indicator(
                  v-if="item.name === 'Многоцветный'"
                  :color="multiColor"
                )
                app-color-indicator(
                  v-else
                  :color="item.value"
                )
    template(v-else)
      template(v-if="type === 'sizes' && isMobile")
        .container
          .size(
            v-for="item in list"
            :class="{'_active': setCheck(item)}"
            @click="(value) => handleChange(item, !setCheck(item))"
          ) {{ item.name }}
      template(v-else)
        ul.list
          li.item(v-for="item in list")
            app-checkbox(
              mod="_between"
              :name="nameField"
              :value="item.id"
              @change="({checked: value}) => handleChange(item, value)"
              :checked="setCheck(item)"
            )
              span.title {{ item.name }}
              app-color-indicator(
                v-if="item.name === 'Многоцветный'"
                :color="multiColor"
              )
              app-color-indicator(
                v-else
                :color="item.value"
              )
</template>

<script>

export default {
  props: {
    list: {
      type: Array,
      default: () => ([]),
    },
    type: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    isVbar: false,
    multiColor: 'linear-gradient(108deg, #fd0100 0%, #ff3002 10%, #f8ff00 30%, #04cd02 50%, #22ccdd 67%, #4694f6 78%, #67009a 96%, #670099 100%)',
  }),

  computed: {
    nameField() {
      return `${this.type}[]`;
    },
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    sizes() {
      return this.list.map(size => size.name);
    },
    filtersSelected() {
      return this.$store.state.catalogPage.filters.selected;
    },
    selectedCategory() {
      return this.$store.state.catalogPage.categories.selectedCategory;
    },
    selectedSubCategory() {
      return this.$store.state.catalogPage.categories.selectedSubCategory;
    },
    isLineBreak() {
      if (this.type !== 'materials') { return false; }
      return this.list.find(item => item.name.length > 16);
    },
  },

  mounted() {
    this.isVbar = this.$refs.filter.clientHeight > 225;
  },

  methods: {
    setCheck({ id }) {
      return Boolean(~this.$store.state.catalogPage.filters.selected[this.type].indexOf(id));
    },

    async handleChange({ id }, value) {
      this.$store.commit('catalogPage/SET_FILTER', {
        id,
        type: this.type,
        value,
      });

      if (this.isMobile) {
        return;
      }

      // FIXME: все кроме фильтра PRICE, необходимо придумать
      const { price, ...query } = this.filtersSelected;
      this.$router.push({
        query: {
          ...this.$route.query,
          ...query,
        },
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
  .list
    ul-reset()

  .wrapper
    height: 225px
    overflow hidden

    .vb-content
      width: 100% !important

  .circle
    border-radius 50%
    width 12px
    height 12px

    &._white
      box-shadow inset 0px 0px 0px 1px rgba(236,236,236,1)

  .app-dropout
    padding 20px
    min-width 198px

  .item
    user-select none

    & + &
      margin-top 18px

  .container
    display flex
    flex-wrap wrap

  .size
    display flex
    align-items center
    justify-content center
    cursor pointer
    width 40px
    min-width 40px
    height 40px
    border-radius 50%
    border 1px solid #ec
    font-size 14px
    font-weight bold
    color $gray
    margin-bottom 12px
    margin-right 12px
    transition background-color .2s, color .2s
    user-select none
    outline none

    &._active
      background $grayLight
      color #f

  +tablet()
    .app-color-indicator
      order: 1
      min-width: 16px
      min-height: 16px
      width: 16px
      height: 16px
      margin-right: 8px

    .filter-default._sizes
      .container
        display flex!important

    >>>.fake, .title
      order: 2

    >>>.fake
      border: 0
      .icon
        color: $red

    .title
      font-size: 10px
      line-height: 12px
      font-weight: 600
      text-transform: capitalize
      color: #000

    >>>.app-checkbox._between .text
      margin-left: 0
      order: 1
      justify-content: flex-start

    .item
      & + &
        margin-top: 6px

  +mobile()
    .app-color-indicator
      min-width: 14px
      min-height: 14px
      width: 14px
      height: 14px
      margin-right: 6px

    .title
      font-size 12px
      line-height 12px


    .filter-default._colors,
    .filter-default._materials
      padding 20px 0

      .list
        display flex!important
        flex-wrap wrap
        justify-content space-between
        margin-bottom -6px

      .item
        padding-left: 1px
        width calc(50% - 4px)
        margin-top 0
        margin-bottom 6px

    .filter-default._materials._line-break
      .item
        width 100%

  +mobile-m()
    .title
      font-size 11px
      line-height 11px
</style>
