<template lang="pug">
  .price-dropout
    .fields
      app-input(
        :placeholder="priceStart"
        v-model="priceLocal.start"
        type="number"
      )
      app-input(
        :placeholder="priceEnd"
        v-model="priceLocal.end"
        type="number"
      )
    vueSlider(
      v-model="rangeValue"
      :min="+priceStart"
      :max="+priceEnd"
      :enable-cross="false"
    )
    app-button(
      mod="_cyan _extra-small"
      @click.native="handleClick"
    ) Применить
</template>

<script>
import vueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min';
import 'vue-slider-component/dist-css/vue-slider-component.css';

export default {
  components: { vueSlider },

  data: () => ({
    priceLocal: {
      start: 0,
      end: 0,
    },
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    priceSelectedStart() {
      return this.$store.state.catalogPage.filters.selected.price.start;
    },

    priceSelectedEnd() {
      return this.$store.state.catalogPage.filters.selected.price.end;
    },

    priceStart() {
      return `${Math.round(this.$store.state.catalogPage.filters.data.price.start)}`;
    },

    priceEnd() {
      return `${Math.round(this.$store.state.catalogPage.filters.data.price.end)}`;
    },

    rangeValue: {
      get() {
        if (this.priceLocal.start || this.priceLocal.end) {
          return [this.priceLocal.start, this.priceLocal.end];
        }

        return [this.priceStart, this.priceEnd];
      },
      set(arr) {
        [this.priceLocal.start, this.priceLocal.end] = arr;
      },
    },
    filtersSelected() {
      return this.$store.state.catalogPage.filters.selected;
    },
  },

  watch: {
    'priceLocal.start': function (value) {
      if (+value > +this.priceLocal.end) { this.priceLocal.start = this.priceLocal.end; }
      if (this.isMobile) {
        this.commitPrice();
      }
    },
    'priceLocal.end': function (value) {
      if (+value < +this.priceLocal.start) { this.priceLocal.end = this.priceLocal.start; }
      if (this.isMobile) {
        this.commitPrice();
      }
    },
  },

  mounted() {
    this.priceLocal.start = this.priceSelectedStart || this.priceStart;
    this.priceLocal.end = this.priceSelectedEnd || this.priceEnd;
  },

  methods: {
    commitPrice() {
      const { start, end } = this.priceLocal;
      this.$store.commit('catalogPage/SET_FILTER_PRICE', {
        start,
        end,
      });
    },

    handleClick() {
      this.commitPrice();

      const { price, ...otherFilters } = this.filtersSelected;
      const priceAdapted = {
        minPrice: price.start,
        maxPrice: price.end,
      };

      this.$router.push({
        query: {
          ...this.$route.query,
          ...priceAdapted,
          ...otherFilters,
        },
      });

      this.$emit('submit');
    },
  },
};
</script>

<style lang="stylus" scoped>
.price-dropout
  display: flex
  flex-direction: column
  width 240px

.fields
  display: flex
  justify-content: space-between
  margin: 0 0 12px 0
  > *
    width: calc(50% - 5px)
    position: relative

    &:before, &:after
      display: block
      position: absolute
      font-size: 12px
      color: #0
      line-height: 34px
      top: 0

    &:first-child
      &:after
        content: 'от'
    &:last-child
      &:after
        content: 'до'
    &:after
      left: 8px

    &:before
      content 'руб'
      right: 8px

>>>.app-input
  font-size: 12px

  .control
    padding: 6px 30px
    min-height: 32px

.vue-slider
  margin 0 0 15px

+tablet()
  .app-button
    display: none

  .fields
    margin: 0

  .price-dropout
    width:100%

  .vue-slider
    margin 8px 0 0
    padding: 7px 10px !important

+mobile()
  .vue-slider
    margin 15px 0 0
</style>
