<template lang="pug">
  .blog-article
    .content-wrapper
      .top
        app-breadcrumbs
          app-icon.icon(
            name="arrow-down"
            width="10"
            height="8"
          )
          nuxt-link.item(to="/blog/") Блог
          span.item /
          .item {{ info.category }}
        .tags
          .tag(v-for="tag in info.tags") {{ tag }}
        .date {{ dateFormatter(info.date) }}
    .head
      .content-wrapper
        h1.title {{ info.title }}
        .date {{ dateFormatter(info.date) }}
    .content-wrapper
      .main
        app-socials(
          mod="_vertical"
          :list="socials"
        )
        .image-wrapper
          img.image(:src="info.previewPicture", :alt="info.title")
        .content
          template(v-for="item in processedDetailText")
            BlogDetailCollection(
              v-if="item === '###COLLECTION_1###'"
              view="type1"
            )
            BlogDetailCollection(
              v-else-if="item === '###COLLECTION_2###'"
              view="type2"
            )
            BlogDetailSlider(v-else-if="item === '###SLIDER###'")
            .text(v-else, v-html="item")
        .controls
          .author
            span(v-if="info.author") Автор статьи: {{ info.author }}
          nuxt-link.link(
            v-if="info.nextArticle"
            :to="info.nextArticle"
          )
            span Следующая статья
            app-icon.icon(
              name="arrow"
              width="19"
              height="7"
              fill="#e4002b"
            )
      LastArticles(
        title="Рекомендуем почитать"
        view="blog-detail"
      )
</template>

<script>
import dateFormatter from '@/helpers/dateFormatter';
import BlogDetailCollection from '@/components/blog/BlogDetailCollection';
import BlogDetailSlider from '@/components/blog/BlogDetailSlider';
import LastArticles from '@/components/index/LastArticles';

export default {
  layout: 'blog',

  components: {
    BlogDetailCollection,
    BlogDetailSlider,
    LastArticles,
  },

  data: () => ({
    socials: [{
      type: 'vkontakte',
      link: 'https://www.google.com/',
    }, {
      type: 'facebook',
      link: 'https://www.google.com/',
    }, {
      type: 'instagram',
      link: 'https://www.google.com/',
    }, {
      type: 'whatsapp',
      link: 'https://www.google.com/',
    }, {
      type: 'telegram',
      link: 'https://www.google.com/',
    }],

    info: {
      category: 'Гид по стилю',
      title: 'Как выбрать сапоги, в которых можно ходить',
      tags: ['Советы по стилю'],
      date: new Date(),
      previewPicture: '/img/blog-detail-1.jpg',
      gallery: [
        '/img/blog-detail-1.jpg',
        '/img/blog-detail-2.jpg',
      ],
      author: 'Иванов Иван',
      nextArticle: '/blog/sample-category/sample-article/',
      detailText: '<p>Думаете, что снег и лед несовместимы с каблуками? Мы расскажем, как выбрать удобные зимние сапоги, полусапожки и ботильоны на каблуке, чтобы ваша походка была уверенной, а ноги казались длинными и стройными.</p><h3>Совет 1. Выбирайте «зимний» каблук</h3><p>Зимний каблук не должен быть слишком тонким и высоким, а вот ТЭП-набойка очень желательна.Для обуви на каждый день оптимальная высота каблука — 3–5 см. По форме из всего многообразия модных каблуков лучше всего подойдут ковбойский, «кирпичик», невысокий клиновидный и наборный. Они самые надежные и устойчивые. На неровных заснеженных дорогах и в гололедицу вы сохраните устойчивость, и на скользком полу торгового центра тоже не упадете. </p>###COLLECTION_1###<h3>Совет 2. Каблуки из пластика — самые практичные</h3><p>В повседневной жизни нереально уберечь обувь от царапин и сколов. Именно поэтому каблуки, обтянутые кожей, не подойдут для зимы — слишком быстро придут в негодность. Искусственные материалы проще в уходе, а появившиеся царапины легко подкрасить и сделать незаметными, поэтому сапоги и ботильоны с каблуками из пластика доставят вам меньше хлопот.</p><ul> <li>Нубуковые каблуки</li> <li>Деревянные каблуки</li> <li>Пластиковые каблуки</li></ul><h3>Совет 3. Обувь не должна быть большой </h3><p>В повседневной жизни нереально уберечь обувь от царапин и сколов. Именно поэтому каблуки, обтянутые кожей, не подойдут для зимы — слишком быстро придут в негодность. Искусственные материалы проще в уходе, а появившиеся царапины легко подкрасить и сделать незаметными, поэтому сапоги и ботильоны с каблуками из пластика доставят вам меньше хлопот.</p>###SLIDER######COLLECTION_2###<h3>Совет 4. Проверяйте супинатор</h3><p>Супинатор — металлическая пластина, которая скрепляет подошву с каблуком и не позволяет ему «гулять» из стороны в сторону. При выборе сапог, полусапожек и ботильонов возьмитесь одной рукой за подошву, другой за каблук и попытайтесь развести их в разные стороны. Каблук не должен отъезжать назад. Еще один тест на проверку качества супинатора — пройтись в обуви по гладкому полу. Устойчиво? Значит, с металлической пластиной все в порядке.</p>',
    },
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    processedDetailText() {
      if (this.info) {
        // Разделяет текст на смысловые части с сохранением кодов для вставки
        return this.isMobile
          ? this.info.detailText
            .replace('###COLLECTION_1###', '###COLLECTION_2###')
            .split(/(###COLLECTION_1###|###COLLECTION_2###|###SLIDER###)/g)
          : this.info.detailText.split(/(###COLLECTION_1###|###COLLECTION_2###|###SLIDER###)/g);
      }

      return [];
    },
  },

  methods: {
    dateFormatter,
  },
};
</script>

<style lang="stylus" scoped>
.top
  padding-top 25px
  display flex
  justify-content space-between
  align-items center
  margin-bottom 15px
  position relative

>>>.app-breadcrumbs .icon
  display: none

.tags
  position absolute
  top 18px
  left 0
  right 0
  margin auto
  width 50%
  text-align center

.tag
  font-size 12px
  font-weight 500
  color $cyan
  padding 5px 10px
  border 1px solid #ec
  display inline-block

  & + &
    margin-left 10px
.date
  font-size 12px
  font-weight 500
  color $grayLight

.head
  border-bottom 1px solid #ec
  margin-bottom 35px

  .date
    display: none

.title
  text-align center
  font-family 'Century Gothic'
  font-size 22px
  font-weight 700
  color #0
  margin 0 0 25px
  line-height 1

.main
  max-width 940px
  margin 0 auto 80px

.image-wrapper
  max-width 940px
  max-height 480px
  margin 0 auto 50px

.image
  width 100%

.text
  max-width 680px
  margin 0 auto
  font-size 14px
  font-weight 500
  color #0
  line-height 1.8

  >>> h3, h4, h5
    font-size 18px
    font-weight 700
    color #0
    margin 0 0 20px

  >>> p
    margin 0 0 20px

  >>> * + h3, * + h4, * + h5
    margin-top 45px

  >>> ul, ol
    ul-reset()

  >>> ul
    list-style none
    padding-left 38px
    > li
      position relative
      &:not(:last-child)
        margin-bottom 10px
      &:before
        position absolute
        left -38px
        top 9px
        content ''
        display inline-block
        min-width 20px
        max-width 20px
        background $red
        height 1px

.app-socials
  position absolute
  top 0
  right 0

.blog-detail-slider
  padding-top 30px
  margin-bottom 50px

.controls
  padding-top 55px
  display flex
  justify-content space-between
  align-items center

.author
  font-size 12px
  color $grayLight

.link
  text-decoration none
  font-size 12px
  font-weight 600
  color $red
  padding 8px 20px
  border 1px solid #ec

.icon
  margin-left 10px

+tablet()
  .top
    padding-top: 21px
    margin-bottom: 13px

  >>>.app-breadcrumbs
    .item
      font-size: 10px
      line-height: 18px

    .icon
      display: block
      margin: 4px 4px 0 0
      transform rotate(90deg)

  .tags
    top:16px

  .tag
    padding: 4px 5px

  .date
    font-size: 10px
    line-height: 12px
    letter-spacing: -0.19px
    font-weight: 300

  .app-socials
    display: none

  .head
    border: 0
    margin-bottom:0

  .title
    font-size: 20px
    letter-spacing: 0.32px
    line-height: 24px
    margin 0 0 24px

  .main
    padding: 0 30px
    margin: 0 auto 39px

  .image-wrapper
    margin:0 auto 27px

  .text
    font-size 13px
    font-weight 400
    line-height: 20px

    >>> h3, h4, h5
      font-size 16px
      font-weight 600
      line-height: 24px
      margin 0 0 15px

    >>> p
      margin 0 0 20px

    >>> * + h3, * + h4, * + h5
      margin-top 38px

    >>> ul
      padding-left 24px
      > li
        &:not(:last-child)
          margin-bottom 8px
        &:before
          left: -25px;
          top: 11px;
          min-width: 12px;
          max-width: 12px;

  >>>.blog-detail-slider
    margin-bottom: 75px;

    .prev, .next
      display: none

  .controls
    flex-direction: column
    padding-top:25px

  .author
    font-size: 12px
    font-weight: 300
    line-height: 14px
    letter-spacing: -0.19px
    margin-bottom:23px

  .link
    padding: 14px
    max-width: 288px
    width: 100%
    display: flex
    justify-content: center

    .icon
      display: none

+mobile()
  .blog-article
    padding-bottom: 14px

  .top
    margin-bottom 15px
    .date
      display: none

  >>>.app-breadcrumbs .item
    display: none

  .title
    font-size: 18px
    letter-spacing: 0.29px
    line-height: 22px
    margin 0 0 9px

  .head
    margin-bottom: 17px

    .date
      display: block
      text-align: center
      font-size: 12px
      line-height: 14px

  .main
    padding: 0

  .image-wrapper
    margin: 0 -16px 12px
    height: auto

  .text
    font-size 13px
    font-weight 400
    line-height: 20px

    >>> h3, h4, h5
      font-size 16px
      font-weight 600
      line-height: 24px
      margin 0 0 16px

    >>> p
      margin 0 0 20px

    >>> * + h3, * + h4, * + h5
      margin-top 29px

    >>> ul
      padding-left 20px
      > li
        &:not(:last-child)
          margin-bottom 8px
        &:before
          left: -20px;
          top: 11px;
          min-width: 12px;
          max-width: 12px;

  .blog-detail-slider
    padding-top:0
    margin-bottom: 42px

  .controls
    padding-top: 15px

  .author
    margin-bottom 39px

  .link
    padding: 12px

</style>
