<template lang="pug">
  .blog-category
    .top
      app-breadcrumbs
        nuxt-link.item(to="/blog/") Блог
        span.item /
        .item Разделы
        span.item /
        .item Гид по стилю
      h1.title Гид по стилю от Tervolina
    LastArticles(view="blog")
</template>

<script>
import LastArticles from '@/components/index/LastArticles';

export default {
  layout: 'blog',

  components: { LastArticles },
};
</script>

<style lang="stylus" scoped>
.last-articles
  margin-bottom 80px

.top
  text-align center
  padding-top 25px
  border-bottom 1px solid #ec

.app-breadcrumbs
  justify-content center
  margin-bottom 20px

.title
  font-family 'Century Gothic'
  font-size 22px
  font-weight 700
  color #0
  margin 0 0 20px
  line-height 1
</style>
