<template lang="pug">
  modal(
    width="100%"
    height="100%"
    :adaptive="true"
    name="sizes"
    @click.native="handleOutsideClose"
  )
    .sizes(ref="modal")
      .close(@click="handleClose")
        app-icon.icon(name="close")
      .content
        .title Женские размеры
        .table
          .row
            .cell._head Размер
            .cell._head Стопа, см
          .row
            .cell: b 39
            .cell 24
          .row
            .cell: b 40
            .cell 25.5
          .row
            .cell: b 41
            .cell 26.5
          .row
            .cell: b 42
            .cell 27
          .row
            .cell: b 43
            .cell 27.5
          .row
            .cell: b 44
            .cell 28.5
          .row
            .cell: b 45
            .cell 29.5
          .row
            .cell: b 46
            .cell 30
          .row
            .cell: b 47
            .cell 30.5
          .row
            .cell: b 48
            .cell 32
</template>

<script>

export default {
  methods: {
    handleClose() {
      this.$modal.hide('sizes');
    },
    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$modal.hide('sizes');
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.sizes
  position relative
  padding 45px 40px 50px
  background-color #f
  width 380px
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

.close
  position absolute
  top 17px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

  .icon
    width 8px
    height 8px

.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  color #0
  margin-bottom 23px
  text-align center

.table
  border-top 1px solid #ec
  max-width 400px
  margin 0 auto

.cell
  width 50%
  height 35px
  display flex
  align-items center
  justify-content center
  font-size 12px
  color #0

  &._head
    font-size 13px

  b
    font-weight 600

.row
  display flex
  border-bottom 1px solid #ec

+mobile()

  .sizes
    width 100%
    height 100%

  .close
    width 30px
    height 30px
    color $red

    .icon
      width 20px
      height 20px

</style>
