<template lang="pug">
  section.instagram
    .content-wrapper
      .content
        h2.title Наши Инстаграм-образы
        .prev
          app-icon.icon(
            name="arrow-down"
            width="23"
            height="19"
            fill="#75787b"
          )
        .next
          app-icon.icon(
            name="arrow-down"
            width="23"
            height="19"
            fill="#75787b"
          )
        .slider-wrapper
          .swiper-container(
            ref="swiper"
            data-type="instagram"
          )
            .slider-wrapper.swiper-wrapper
              a.post.swiper-slide(
              v-for="slide, index in items"
                :href="slide.link"
                :key="index"
              )
                img.image(
                  v-if="slide.images"
                  :src="slide.images['1x']"
                  :srcset="`${slide.images['2x']} 2x`"
                  :alt="slide.name"
                )
          .controls
            app-button(
              mod="_small"
              href="https://www.instagram.com/tervolinaofficial/"
            ) @ tervolinaofficial
</template>

<script>
import Swiper from '@/widgets/Swiper';

export default {
  name: 'Instagram',

  props: {
    items: {
      type: Array,
      default: () => ([]),
    },
  },

  data: () => ({
    swiper: {},
  }),

  serverCacheKey: (props) => {
    if (props.items.length) {
      return props.items[props.items.length - 1].name;
    }
    return '';
  },

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  watch: {
    isMobile() {
      this.initSwiper();
    },
  },

  mounted() {
    this.initSwiper();
  },

  methods: {
    initSwiper() {
      if (this.swiper.swiper) {
        this.swiper.swiper.destroy();
      }
      this.swiper = new Swiper(this.$refs.swiper);
    },
  },
};
</script>

<style lang="stylus" scoped>
.title
  text-align center
  font-family 'Century Gothic'
  font-size 22px
  font-weight bold
  color #0
  margin 0 0 40px

.slider-wrapper
  position relative

.post
  overflow hidden
  width 264px
  height 264px

  img
    width 100%

.prev,
.next
  position absolute
  top 190px
  cursor pointer
  outline none

.prev
  left -69px
  transform rotate(90deg)

.next
  right -69px
  transform rotate(-90deg)

.controls
  width 220px
  margin 40px auto 0

+tablet()
  .title
    font-size 20px
    margin 0 0 35px

  .post
    width 220px
    height 220px

  .controls
    margin 30px auto 0

  .prev,
  .next
    position absolute
    top -12px
    cursor pointer
    outline none
    width 48px
    height 48px
    display flex
    align-items center
    justify-content center

  .prev
    left 32px

  .next
    right 32px


+mobile()
  .title
    font-size 18px
    margin 0 0 24px

  .post
    height calc(50vw - 16px - 8px)

  .controls
    width 100%
    margin 30px auto 0

  .prev
    left 12px

  .next
    right 12px

+mobile-m()
  .prev
    left -4px

  .next
    right -4px

</style>
