<template lang="pug">
  .last-articles(:class="view ? `_${view}` : ''")
    template(v-if="view === 'index'")
      .content-wrapper
        .content._desktop-and-tablet
          .container
            a.item(
              v-for="(item, index) in articles"
              :key="index + 1"
              v-if="index < 3 && item.images"
              :href="item.link ? item.link : 'javascript:void(0);'"
              :target="`${item.external ? '_blank' : ''}`"
            )
              .image-wrapper(v-if="item.images")
                img._desktop(
                  v-if="item.images.desktop"
                  :src="item.images.desktop['1x']"
                  :alt="item.name"
                )
                img._tablet(
                  v-if="item.images.tablet"
                  :src="item.images.tablet['1x']"
                  :alt="item.name"
                )
              .text-wrapper(v-if="!item.hideTitle && item.name")
                .item-title(v-if="item.name") {{ item.name }}
                .text(v-if="item.text") {{ item.text }}
        .content._mobile
          .slider-wrapper
            .swiper-container(
              ref="swiper"
              data-type="last-articles-index"
            )
              .swiper-wrapper
                a.item.swiper-slide(
                  v-for="(item, index) in articles"
                  :key="index + 1"
                  v-if="index < 3"
                  :href="item.link ? item.link : ''"
                  :target="`${item.external ? '_blank' : ''}`"
                )
                  .image-wrapper(v-if="item.images")
                    img._mobile(
                      v-if="item.images.mobile"
                      :src="item.images.mobile['1x']"
                      :alt="item.name"
                    )
                  .text-wrapper(v-if="!item.hideTitle && item.name")
                    .item-title(v-if="item.name") {{ item.name }}
                    .text(v-if="item.shortPreview") {{ item.text }}
              .swiper-pagination-progressbar-wrapper
                .swiper-pagination
    template(v-else-if="view === 'blog'")
      .content-wrapper
        .content
          h2.title {{ title }}
          template(v-if="isMobile")
            .container
              nuxt-link.item(
                v-for="item, index in news"
                v-if="index < 4"
                :key="index + 1"
                :to="item.link ? item.link : '/'"
              )
                .image-wrapper
                  img(:src="item.image ", :alt="item.name")
                .text-wrapper
                  .item-title {{ item.name }}
                  .text {{ item.previewText }}
                  .date {{ dateFormatter(item.date) }}
            .controls
              app-button Показать ещё записи
          template(v-else)
            .container
              nuxt-link.item(
                v-for="item, index in news"
                :key="index + 1"
                v-if="index < 3 && !item.isHighlighted"
                :to="item.link ? item.link : '/'"
              )
                .image-wrapper
                  img(:src="item.image ", :alt="item.name")
                .text-wrapper
                  .item-title {{ item.name }}
                  .text {{ item.previewText }}
                  .date {{ dateFormatter(item.date) }}
            .container
              nuxt-link.item._highlighted(
                v-for="item, index in news"
                :key="index + 1"
                v-if="item.isHighlighted"
                :to="item.link ? item.link : '/'"
              )
                .image-wrapper
                  img(:src="item.image ", :alt="item.name")
                .text-wrapper
                  .item-title {{ item.name }}
                  .text {{ item.previewText }}
                  .date {{ dateFormatter(item.date) }}
            .container
              nuxt-link.item(
                v-for="item, index in news"
                :key="index + 1"
                v-if="index > 2 && !item.isHighlighted"
                :to="item.link ? item.link : '/'"
              )
                .image-wrapper
                  img(:src="item.image ", :alt="item.name")
                .text-wrapper
                  .item-title {{ item.name }}
                  .text {{ item.previewText }}
                  .date {{ dateFormatter(item.date) }}
            BlogPagen
    template(v-else-if="view === 'blog-detail'")
      .content-wrapper
        .content
          h2.title {{ title }}
          .container
            nuxt-link.item(
              v-for="item, index in news"
              :key="index + 1"
              v-if="index < 3 && !item.isHighlighted"
              :to="item.link ? item.link : '/'"
            )
              .image-wrapper
                img(:src="item.image ", :alt="item.name")
              .text-wrapper
                .item-title {{ item.name }}
                .text {{ item.previewText }}
                .date {{ dateFormatter(item.date) }}
    template(v-else-if="view === 'types-menu'")
      .content(v-if="typesMenu && typesMenu.length")
        .container
          a.item(
            v-for="(item, index) in typesMenu"
            :class="{'_half': typesMenu.length > 1}"
            :key="index + 1"
            :href="item.link ? item.link : 'javascript:void(0);'"
            @click.native="handleClick(item.link)"
          )
            .image-wrapper
              .back(v-if="item.buttonText")
                app-button(
                  mod="_cyan-text _small"
                ) {{ item.buttonText ? item.buttonText : 'Смотреть' }}
              img(
                v-if="item.image"
                :src="item.image"
                :alt="item.name"
              )
            .text-wrapper(v-if="!item.isOnlyPictureWithoutText && item.title")
              .item-title(v-if="item.title") {{ item.title }}
              .text {{ item.description ? item.description : '' }}
</template>

<script>
import Swiper from '@/widgets/Swiper';
import dateFormatter from '@/helpers/dateFormatter';
import BlogPagen from '@/components/blog/BlogPagen';

export default {
  name: 'LastArticles',

  components: { BlogPagen },

  props: {
    view: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    articles: {
      type: Array,
      default: () => ([]),
    },
    // TODO: поле indexMenu только для показа, после удалить
    indexMenu: {
      type: [String, Number],
      default: 0,
    },
    typesMenu: {
      type: Array,
      default: () => ([]),
    },
  },

  data: () => ({
    news: [
      {
        name: 'Новогодний вечер',
        date: new Date(),
        shortPreview: 'Образы для новогодней вечеринки',
        previewText: 'Поклонники спортивной обуви придут в восторг — Nike выпустил лимитированную коллекцию кроссовок Nike Air Max 720 из высокотехнологичного материала и с самой высокой подушкой Max Air в истории бренда. Всего в коллекции восемь моделей кроссовок различных расцветок, каждая из которых вдохновлена природным явлением — например, закатом и восходом, северным сиянием или солнечным затмением. Новинка придется по вкусу всем, кто ищет не только удобные, но и стильные кроссовки в фирменном дизайне Nike.',
        image: '/img/index-selections-1.jpg',
        link: '/blog/sample-category/sample-article/',
      }, {
        name: 'Пора утепляться',
        date: new Date(new Date().setDate(new Date().getDate() - 1)),
        shortPreview: 'Теплые шапки, шарфы и варежки',
        previewText: 'Поклонники спортивной обуви придут в восторг — Nike выпустил лимитированную коллекцию кроссовок Nike Air Max 720 из высокотехнологичного материала и с самой высокой подушкой Max Air в истории бренда. Всего в коллекции восемь моделей кроссовок различных расцветок, каждая из которых вдохновлена природным явлением — например, закатом и восходом, северным сиянием или солнечным затмением. Новинка придется по вкусу всем, кто ищет не только удобные, но и стильные кроссовки в фирменном дизайне Nike.',
        image: '/img/index-selections-2.jpg',
        link: '/blog/sample-category/sample-article/',
      }, {
        name: 'Кроссовки на меху',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        shortPreview: 'Энергичный образ жизни даже зимой',
        previewText: 'Поклонники спортивной обуви придут в восторг — Nike выпустил лимитированную коллекцию кроссовок Nike Air Max 720 из высокотехнологичного материала и с самой высокой подушкой Max Air в истории бренда. Всего в коллекции восемь моделей кроссовок различных расцветок, каждая из которых вдохновлена природным явлением — например, закатом и восходом, северным сиянием или солнечным затмением. Новинка придется по вкусу всем, кто ищет не только удобные, но и стильные кроссовки в фирменном дизайне Nike.',
        image: '/img/index-selections-3.jpg',
        link: '/blog/sample-category/sample-article/',
      }, {
        name: 'Кроссовки на меху',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        shortPreview: 'Энергичный образ жизни даже зимой',
        previewText: 'Поклонники спортивной обуви придут в восторг — Nike выпустил лимитированную коллекцию кроссовок Nike Air Max 720 из высокотехнологичного материала и с самой высокой подушкой Max Air в истории бренда. Всего в коллекции восемь моделей кроссовок различных расцветок, каждая из которых вдохновлена природным явлением — например, закатом и восходом, северным сиянием или солнечным затмением. Новинка придется по вкусу всем, кто ищет не только удобные, но и стильные кроссовки в фирменном дизайне Nike.',
        image: '/img/index-selections-1.jpg',
        link: '/blog/sample-category/sample-article/',
      }, {
        name: 'Кроссовки на меху',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        shortPreview: 'Энергичный образ жизни даже зимой',
        previewText: 'Поклонники спортивной обуви придут в восторг — Nike выпустил лимитированную коллекцию кроссовок Nike Air Max 720 из высокотехнологичного материала и с самой высокой подушкой Max Air в истории бренда. Всего в коллекции восемь моделей кроссовок различных расцветок, каждая из которых вдохновлена природным явлением — например, закатом и восходом, северным сиянием или солнечным затмением. Новинка придется по вкусу всем, кто ищет не только удобные, но и стильные кроссовки в фирменном дизайне Nike.',
        image: '/img/index-selections-2.jpg',
        link: '/blog/sample-category/sample-article/',
      }, {
        name: 'Кроссовки на меху',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        shortPreview: 'Энергичный образ жизни даже зимой',
        previewText: 'Поклонники спортивной обуви придут в восторг — Nike выпустил лимитированную коллекцию кроссовок Nike Air Max 720 из высокотехнологичного материала и с самой высокой подушкой Max Air в истории бренда. Всего в коллекции восемь моделей кроссовок различных расцветок, каждая из которых вдохновлена природным явлением — например, закатом и восходом, северным сиянием или солнечным затмением. Новинка придется по вкусу всем, кто ищет не только удобные, но и стильные кроссовки в фирменном дизайне Nike.',
        image: '/img/index-selections-3.jpg',
        link: '/blog/sample-category/sample-article/',
      }, {
        name: 'Обувь на зиму: ТОП-6 моделей',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        shortPreview: 'Энергичный образ жизни даже зимой',
        previewText: 'Поклонники спортивной обуви придут в восторг — Nike выпустил лимитированную коллекцию кроссовок Nike Air Max 720 из высокотехнологичного материала и с самой высокой подушкой Max Air в истории бренда. Всего в коллекции восемь моделей кроссовок различных расцветок, каждая из которых вдохновлена природным явлением — например, закатом и восходом, северным сиянием или солнечным затмением. Новинка придется по вкусу всем, кто ищет не только удобные, но и стильные кроссовки в фирменном дизайне Nike.',
        image: '/img/index-selections-1.jpg',
        link: '/blog/sample-category/sample-article/',
        isHighlighted: true,
      },
    ],
    swiper: {},
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  watch: {
    isMobile() {
      this.initSwipers();
    },
  },

  // serverCacheKey: (props) => {
  //   if (props.articles.length) {
  //     return props.articles[props.articles.length - 1].date;
  //   }
  //   return '';
  // },

  mounted() {
    this.initSwipers();
  },

  methods: {
    initSwipers() {
      if (this.isMobile && this.$refs.swiper) {
        if (this.swiper.swiper) {
          this.swiper.swiper.destroy();
        }
        this.swiper = new Swiper(this.$refs.swiper);
      }
    },

    handleClick(link) {
      if (!link) { return; }
      this.$emit('click', link);
    },

    dateFormatter,
  },
};
</script>

<style lang="stylus" scoped>
._desktop
  display: block

._tablet
  display: none

._mobile
  display: none

.container
  display flex
  justify-content space-between
  flex-wrap wrap
  max-width 1180px

.item
  text-decoration none
  width: 100%
  max-width 364px

.image-wrapper
  max-width 364px
  max-height 280px
  overflow hidden
  margin-bottom 20px

  img
    width 100%

.text-wrapper
  text-align center
  line-height 1.6

.item-title
  font-family 'Century Gothic'
  font-size 18px
  font-weight bold
  color $red
  margin-bottom 8px

.text
  font-size 13px
  color $gray
  letter-spacing -0.3px
  max-height 80px
  overflow hidden

// блог
.title
  text-align center
  font-family 'Century Gothic'
  font-size 22px
  font-weight bold
  color #0
  margin 0 0 45px

.date
  font-size 11px
  font-weight 300
  color $grayLight
  margin-top 5px

.item._highlighted
  width 100%
  max-width 100%
  display flex
  justify-content space-between
  background-color #f8
  padding 60px 60px 60px
  border 1px solid #ec

  .image-wrapper
    width 480px
    min-width 480px
    max-height 270px
    margin-bottom 0

  .text-wrapper
    max-width 510px

  .text
    max-height none

.last-articles._index

  .content._mobile
    display none

// Блог
.last-articles._blog
.last-articles._blog-detail

  .item
    margin-bottom 60px

  .item-title
    color #0

// Минимальное меню из шапки
.last-articles._types-menu
  height:100%

  .content
    height:inherit

  .container
    height: inherit
    justify-content: flex-end
    flex-wrap nowrap

  .item
    display: flex
    flex-direction: column
    flex-grow: 1
    max-width: 460px

    &._half
      max-width calc(50% - 20px)

  .item + .item
    margin-left 40px

  .image-wrapper
    width auto
    max-width: 460px
    height: 252px
    max-height none
    margin-bottom 25px
    flex-grow: 1
    position: relative

    img
      min-width 100%
      min-height 100%
      width auto

    .app-button
      display: none
      position: absolute
      top: 50%
      left: 50%
      transform translate(-50%, -50%)
      width: 180px
      background: #fff

    &:hover

      .back
        content ''
        display: block
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        background: rgba(0,0,0,.4)

      .app-button
        display: flex

  .item-title
    color #0

  .image-wrapper
    margin-bottom 0

  .text-wrapper
    text-align center
    margin-top 25px
    flex-grow: 1

+tablet()
  ._desktop
    display: none

  ._tablet
    display: block

  ._mobile
    display: none

  .last-articles._types-menu

    .container
      flex-wrap nowrap

    .image-wrapper
      width 270px
      min-width 270px

    .text-wrapper
      text-align: center
      margin-top: 15px

    .item,
    .item._half
      max-width none

  .last-articles._index

    .item
      width calc(33% - 10px)

    .image-wrapper
      margin-bottom 15px
      max-height 160px

    .item-title
      font-size 16px
      margin-bottom 2px

  .last-articles._blog

    .title
      font-size 18px
      letter-spacing 0.3px
      margin 0 0 24px

    .image-wrapper
      margin-bottom 12px
      max-height 200px

    .item
      width calc(50% - 19px)
      margin-bottom 24px

      &._highlighted
        display none

    .item-title
      font-size 16px
      margin-bottom 4px

    .text-wrapper
      line-height 1.5

    .controls
      width 288px
      margin 0 auto
      padding-top 18px
      margin-bottom -20px

    .app-button
      height 44px
      font-size 12px

  .last-articles._blog-detail

    .item
      margin-bottom 60px
      width calc(50% - 19px)

      &:last-child
        display none

+mobile()
  ._desktop
    display: none

  ._tablet
    display: none

  ._mobile
    display: block

  .last-articles._index

    .item
      width 288px

    .content._desktop-and-tablet
      display none

    .content._mobile
      display block

    .image-wrapper
      margin-bottom 15px
      max-height 200px

    .item-title
      font-size 16px
      margin-bottom 0

    .text-wrapper
      margin-bottom 5px

  .last-articles._blog

    .title
      letter-spacing 0
      margin 0 0 36px

    .image-wrapper
      margin-bottom 12px
      max-height 200px

    .item
      width 100%
      margin-bottom 24px

      &._highlighted
        display none

    .item-title
      font-size 16px
      margin-bottom 4px

    .text-wrapper
      line-height 1.5

    .controls
      width 288px
      margin 0 auto
      padding-top 18px
      margin-bottom -20px

    .app-button
      height 44px
      font-size 12px

  .last-articles._blog-detail

    .item
      margin-bottom 60px
      width auto

      &:last-child
        display block
</style>
