<template lang="pug">
  section.new-products
    .loading(v-if="isLoading")
      app-icon.icon(name="loading")
    .content-wrapper
      .content
        h2.title Новинки
        .description более {{ productsQuantity }} новых моделей
        .prev(v-show="products.length > 4")
          app-icon.icon(
            name="arrow-down"
            width="23"
            height="19"
            fill="#75787b"
          )
        .next(v-show="products.length > 4")
          app-icon.icon(
            name="arrow-down"
            width="23"
            height="19"
            fill="#75787b"
          )
        .slider-wrapper
          .swiper-container(
            ref="swiper"
            data-type="new-products"
          )
            .swiper-wrapper
              .swiper-slide.slide(v-for="slide, index in products")
                app-product-item(
                  :info="slide"
                  view="new-products"
                )
          .controls
            app-link(mod="_small" :to="linkShowMore") Посмотреть все новинки
</template>

<script>
import Swiper from '@/widgets/Swiper';

export default {
  props: {
    items: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    swiper: {},
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    isLoading() {
      return this.$store.state.mainPage.newProducts.isFetching;
    },

    currentDepartment() {
      return this.$store.state.layout.currentDepartment;
    },

    products() {
      return this.items.items;
    },

    productsQuantity() {
      const quantity = this.items.itemsQuantity;
      return quantity > 50
        ? Math.floor(quantity / 50) * 50
        : quantity;
    },

    linkShowMore() {
      const { url = '' } = this.currentDepartment.categories
        .find(({ id }) => id === 'new') || { url: '' };
      return url;
    },
  },

  watch: {
    isMobile() {
      this.initSwiper();
    },
  },

  mounted() {
    this.initSwiper();
  },

  methods: {
    initSwiper() {
      if (!this.linkShowMore) { return; }

      if (this.swiper.swiper) {
        this.swiper.swiper.destroy();
      }
      this.swiper = new Swiper(this.$refs.swiper);
    },
  },
};
</script>

<style lang="stylus" scoped>
.new-products
  position: relative

  .loading
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(255,255,255,0.7)
    z-index: 6
    pointer-events none
    user-select none
    display: flex
    align-items: center
    justify-content: center

    .loading + .checkout-step
      pointer-events none
      user-select none

.content
  position relative

.title
  text-align center
  font-family 'Century Gothic'
  font-size 22px
  font-weight bold
  color #0
  margin 0 0 8px

.description
  text-align center
  font-size 13px
  color $gray
  margin-bottom 5px

.swiper-container
  overflow visible

.swiper-wrapper
  padding-bottom: 16px

.slider-wrapper
  position relative
  overflow hidden

.slide
  display flex
  justify-content center

.prev,
.next
  position absolute
  top 171px
  cursor pointer
  outline none

.prev
  left -69px
  transform rotate(90deg)

.next
  right -69px
  transform rotate(-90deg)

.controls
  width 220px
  height 44px
  margin 5px auto 0

.app-button
  position relative

+tablet()
  .title
    font-size 20px

  .controls
    margin -20px auto 0

  .prev,
  .next
    position absolute
    top 0
    cursor pointer
    outline none
    width 48px
    height 48px
    display flex
    align-items center
    justify-content center

  .prev
    left 0

  .next
    right 0

+mobile()
  .title
    font-size 18px

  .description
    font-size 12px
    margin-bottom 18px

  .prev,
  .next
    border none

  .prev
    left -4px

  .next
    right -4px

  .slide
    margin-top 0 !important

  .swiper-wrapper
    padding-bottom: 0

  .controls
    margin 9px auto 0
    width auto
</style>
