<template lang="pug">
  section.popular-articles(:class="view ? `_${view}` : ''")
    .content-wrapper
      template(v-if="view === 'index'")
        .content._mobile
          h2.title Модный журнал Tervolina
          .slider-wrapper
            .swiper-container(
              ref="swiper"
              data-type="popular-articles-index"
            )
              .swiper-wrapper
                a.slide.swiper-slide(
                  v-for="item, index in articles"
                  :key="index + 1"
                  href="javascript:void(0);"
                )
                  .image-wrapper
                    img(
                      v-if="item.images"
                      :src="item.images['1x']"
                      :srcset="`${item.images['2x']} 2x`"
                      :alt="item.name"
                    )
                  .text-wrapper
                    .slide-title {{ item.name }}
                    .preview {{ item.previewText }}
                    .date(v-if="item.date") {{ dateFormatter(item.date) }}
              .swiper-pagination-progressbar-wrapper
                .swiper-pagination
              .controls
                app-button(mod="_small") Посмотреть все статьи
        .content._desktop
          h2.title Модный журнал Tervolina
          .container
            .group
              template(v-for="item, index in articles")
                a.item._big(:href="item.link", v-if="index === 0")
                  .image-wrapper
                    img(
                      v-if="item.images"
                      :src="item.images['1x']"
                      :srcset="`${item.images['2x']} 2x`"
                      :alt="item.name"
                    )
                  .text-wrapper
                    h5.item-title {{ item.name }}
                    .preview {{ item.previewText }}
                    .date(v-if="item.date") {{ dateFormatter(item.date) }}
            .group(v-if="news && news.length > 1")
              template(v-for="item, index in articles")
                a.item(:href="item.link", v-if="index !== 0 && index < 4")
                  .image-wrapper
                    img(
                      v-if="item.images"
                      :src="item.images['1x']"
                      :srcset="`${item.images['2x']} 2x`"
                      :alt="item.name"
                    )
                  .text-wrapper
                    h5.item-title {{ item.name }}
                    .preview {{ item.previewText }}
                    .date(v-if="item.date") {{ dateFormatter(item.date) }}
          .controls
            app-button(mod="_small") Посмотреть все статьи
      template(v-if="view === 'blog'")
        .content
          h2.title Популярный материал
          .container
            .group(v-for="item, index in articles")
              a.item(href="javascript:void(0);")
                .image-wrapper
                  img(:src="item.image" alt="item.name")
                .text-wrapper
                  h5.item-title {{ item.name }}
                  .preview {{ item.previewText }}
                  .date {{ dateFormatter(item.date) }}
</template>

<script>
import Swiper from '@/widgets/Swiper';
import dateFormatter from '@/helpers/dateFormatter';

export default {
  name: 'PopularArticles',

  props: {
    view: {
      type: String,
      default: '',
    },
    articles: {
      type: Array,
      default: () => ([]),
    },
  },

  data: () => ({
    news: [{
      name: 'Женские штучки',
      date: new Date(),
      previewText: 'Классическое английское пальто универсально. Оно идеально подчеркивает элегантность делового костюма, но также и подходит к неформальной одежде: джинсам и свитшоту. Такое пальто не баловство, а необходимая вещь в межсезонном гардеробе. Хотя и зимой его тоже можно носить. ',
      image: '/img/index-magazine-1.jpg',
    }, {
      name: 'Обувной в кресле',
      date: new Date(new Date().setDate(new Date().getDate() - 1)),
      previewText: 'Когда на улице становится холодно, вопрос, какую верхнюю одежду надеть, самый животрепещущий.',
      image: '/img/index-magazine-2.jpg',
    }, {
      name: 'Мужские правила',
      date: new Date(new Date().setDate(new Date().getDate() - 2)),
      previewText: 'Когда на улице становится холодно, вопрос, какую верхнюю одежду надеть, самый животрепещущий.',
      image: '/img/index-magazine-3.jpg',
    }, {
      name: 'Мужские правила',
      date: new Date(new Date().setDate(new Date().getDate() - 2)),
      previewText: 'Когда на улице становится холодно, вопрос, какую верхнюю одежду надеть, самый животрепещущий.',
      image: '/img/index-magazine-3.jpg',
    }],
    swiper: {},
  }),
  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  watch: {
    isMobile() {
      this.initSwipers();
    },
  },

  mounted() {
    this.initSwipers();
  },

  methods: {
    initSwipers() {
      if (this.isMobile && this.$refs.swiper) {
        if (this.swiper.swiper) {
          this.swiper.swiper.destroy();
        }
        this.swiper = new Swiper(this.$refs.swiper);
      }
    },

    dateFormatter,
  },
};
</script>

<style lang="stylus" scoped>
.title
  text-align center
  font-family 'Century Gothic'
  font-size 22px
  font-weight bold
  color #0
  margin 0 0 60px

.content

  &._mobile
    display none

.container
  display flex
  justify-content space-between

.group
  width calc(50% - 10px)

  &:last-child
    width calc(47% - 12px)

.item
  display flex
  text-decoration none

  & + &
    margin-top 25px

  &:nth-child(3)
    display none

.image-wrapper
  margin-right 32px
  width 120px
  min-width 120px
  height 120px
  overflow hidden

  img
    width 100%

.item._big
  .image-wrapper
    height 264px
    width 264px
    min-width 264px
    margin-right 35px

  .preview
    max-height 180px

.item-title
  font-size 14px
  font-weight 600
  color $red
  margin-bottom 10px
  padding-top 8px

.preview
  font-size 13px
  color #0
  line-height 1.55
  max-height 45px
  overflow hidden

.date
  font-size 12px
  font-weight 300
  color $gray
  margin-top 24px

.controls
  width 220px
  margin 40px auto 0

// Блог
.popular-articles._blog
  .title
    margin 0 0 45px

  .container
    flex-wrap wrap
    max-width 1180px

  .item-title
    color #0

  .group,
  .group:last-child
    width calc(50% - 10px)
    margin-bottom 24px

  .preview
    height 60px
    overflow hidden

  .date
    font-size 11px
    font-weight 300
    color $gray
    margin-top 25px

+tablet()
  .title
    font-size 20px
    margin 0 0 30px

  .date
    display none

  .group,
  .group:last-child
    width auto
    margin-bottom 24px

    & + &
      margin-left 40px

  .image-wrapper
    margin-right 20px
    width 100px
    min-width 100px
    height 100px

  .item-title
    margin-bottom 5px
    padding-top 0
    margin-top -3px

  .preview
    max-height 80px

  .item

    & + &
      margin-top 33px

    &:nth-child(3)
      display flex

  .item._big
    flex-direction column
    max-width 320px

    .image-wrapper
      height 235px
      width 320px
      min-width 320px
      margin-right 0
      margin-bottom 24px

    .item-title
      margin-bottom 12px

    .image
      width auto
      height 100%

    .preview
      max-height 80px

  .controls
    margin 16px auto 0

  // Блог
  .popular-articles._blog

    .title
      font-size 18px
      letter-spacing 0.3px
      margin-bottom 28px

    .image-wrapper
      margin-right 18px
      width 76px
      min-width 76px
      height 76px

    .item-title
      color $red

    .group,
    .group:last-child
      width calc(50% - 10px)
      margin-bottom 24px

      & + .group
        margin-left 0

+mobile()
  .title
    font-size 18px
    margin 0 0 30px

  .content

    &._desktop
      display none

    &._mobile
      display block

  .container
    flex-direction column

  .item

    & + &
      margin-top 25px

  .group

    & + &
      margin-left: 0

  .image-wrapper
    width 76px
    min-width 76px
    height 76px

  .preview
    max-height 60px

  .item._big
    max-width none

    .image-wrapper
      height 215px
      width 100%
      min-width 100%

    .preview
      max-height 80px

  .controls
    width 100%
    margin 5px auto 0

  // Блог
  .popular-articles._blog

    .title
      margin-bottom 35px

    .group,
    .group:last-child
      width auto
      margin-bottom 24px

  // Новая главная
  .popular-articles._index

    .content
      background-color #f6
      margin 0 -16px
      padding 32px 16px 30px

    .image-wrapper
      width auto
      height 200px
      margin 0 0 18px

      img
        min-height 100%
        min-width 100%
        width auto

    .text-wrapper
      padding 0 16px 16px
      height: 132px
      display: flex
      flex-direction: column

    .title
      margin-bottom: 20px

    .slide-title
      font-size 14px
      font-weight: 700
      margin-bottom 8px
      color: #0
      max-height 18px
      overflow: hidden

    .preview
      font-size: 11px
      line-height: 1.5
      color $gray
      max-height 47px
      overflow: hidden

    .date
      display: block
      font-size: 12px
      font-weight: 300
      color $grayLight
      margin-top: auto

    .slide
      width 240px
      height 350px
      background #f
      text-decoration none
      box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

    .swiper-pagination-progressbar-wrapper
      padding 4px 0

    .controls
      margin 0

      .app-button
        background-color transparent

        &:hover
          background-color $red
</style>
