<template lang="pug">
  section.promo
    .content-wrapper
      .content
        .slider-wrapper
          .swiper-container(
            ref="swiper"
            data-type="index-promo"
          )
            .slider-controls
              .prev
                app-icon.icon(
                  name="arrow-down"
                  width="23"
                  height="19"
                  fill="#FFF"
                )
              .next
                app-icon.icon(
                  name="arrow-down"
                  width="23"
                  height="19"
                  fill="#FFF"
                )
            .swiper-wrapper
              a.banner.swiper-slide(
                v-for="slide, index in slides"
                :key="index"
                :href="slide.link"
              )
                .image-wrapper(v-if="slide.images")
                  img.image._desktop(
                    v-if="slide.images.desktop"
                    :src="slide.images.desktop['1x']"
                    :alt="slide.name"
                  )
                  img.image._tablet(
                    v-if="slide.images.tablet"
                    :src="slide.images.tablet['1x']"
                    :alt="slide.name"
                  )
                  img.image._mobile(
                    v-if="slide.images.mobile"
                    :src="slide.images.mobile['1x']"
                    :alt="slide.name"
                  )
                .text-wrapper(v-if="!slide.hideTitle && (slide.name || slide.description)")
                  .title(v-if="slide.name") {{ slide.name }}
                  .description(v-if="slide.description") {{ slide.description }}
                .slide-controls(v-if="!slide.hideButton && slide.button.link")
                  app-button(
                    :href="slide.button.link"
                    mod="_red"
                    ) {{ slide.button.label ? slide.button.label : 'Смотреть' }}
            .swiper-pagination-progressbar-wrapper
              .swiper-pagination
        .banners-wrapper._desktop-and-tablet
          .banner._small(
            v-for="(banner, index) in banners"
            v-if="index < 2"
            @click="handleClickSlider(banner.name)"
          )
            .image-wrapper(v-if="banner.images")
              img.image._desktop(
                v-if="banner.images.preview_desktop || banner.images.desktop"
                :src="banner.images.preview_desktop['1x'] || banner.images.desktop['1x']"
                :alt="banner.name"
              )
              img.image._tablet(
                v-if="banner.images.preview_tablet || banner.images.tablet"
                :src="banner.images.preview_tablet['1x'] || banner.images.tablet['1x']"
                :alt="banner.name"
              )
            .text-wrapper(v-if="!banner.hideTitle && banner.name")
              .title {{ banner.name }}
        .banners-wrapper._mobile
          .slider-wrapper
            .swiper-container(
              ref="swiper-minor"
              data-type="index-promo-minor"
            )
              .swiper-wrapper
                a.banner._small.swiper-slide(
                  v-for="(banner, index) in slides.slice(1,3)"
                  :key="index + 1"
                )
                  .image-wrapper(v-if="banner.images")
                    img.image._mobile(
                      v-if="banner.images.preview_mobile || banner.images.mobile"
                      :src="banner.images.preview_mobile['1x'] || banner.images.mobile['1x']"
                      :alt="banner.name"
                    )
                  .text-wrapper(v-if="!banner.hideTitle && banner.name")
                    .title {{ banner.name }}
                  .slide-controls(v-if="!banner.hideButton && banner.button.link")
                    app-button(
                      :href="banner.button.link"
                      mod="_red"
                    ) {{ banner.button.label ? banner.button.label : 'Смотреть'}}
              .swiper-pagination-progressbar-wrapper
                .swiper-pagination
</template>

<script>
import Swiper from '@/widgets/Swiper';

export default {
  name: 'Promo',

  props: {
    slides: {
      type: Array,
      default: () => ([]),
    },
  },

  // serverCacheKey: (props) => {
  //   if (props.slides.length && props.banners.length) {
  //     return props.slides[props.slides.length - 1].name
  //          + props.banners[props.banners.length - 1].name;
  //   }
  //   return '';
  // },

  data: () => ({
    swiper: {},
    error: '',
    banners: [],
  }),
  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  watch: {
    isMobile() {
      this.initSwipers();
    },
  },

  mounted() {
    this.banners = this.slides.slice(1, 3);
    this.initSwipers();
  },

  methods: {
    initSwipers() {
      if (this.swiper.swiper) {
        this.swiper.swiper.destroy();
      }

      if (window.innerWidth > 767) {
        this.swiper = new Swiper(this.$refs.swiper);
        this.swiper.swiper.on('slideChange', () => {
          const index = this.swiper.swiper.activeIndex;
          const { name } = this.slides[index] || {};
          this.reshuffleSlide(name);
        });
      }

      if (this.isMobile && window.innerWidth < 768) {
        this.swiper = new Swiper(this.$refs['swiper-minor']);
      }
    },

    reshuffleSlide(name) {
      this.slides.forEach((item, index) => {
        if (name === item.name) {
          this.swiper.swiper.slideTo(index, 300);
          this.banners = [
            ...this.slides.slice(0, index),
            ...this.slides.slice(index + 1, this.slides.length),
          ];
        }
      });
    },

    handleClickSlider(name) {
      if (window.innerWidth > 767) {
        this.reshuffleSlide(name);
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
._desktop
  display: block

._tablet
  display: none

._mobile
  display: none

.promo
  padding-top 19px

.content
  display flex
  justify-content space-between

.slider-wrapper
  width calc(100% - 300px)

.banners-wrapper
  max-width 280px
  display flex
  flex-direction column
  justify-content space-between

  &._mobile
    display none

  &._desktop-and-tablet
    cursor pointer

    .image-wrapper
      background-color $red

    .banner:hover

      .image
        opacity .9

.banner
  position relative
  overflow hidden
  height 520px

  &._small
    height 250px
    width 280px

.image-wrapper
  position absolute
  top 0
  left 0
  right 0
  bottom 0

.image
  height 100%
  transition opacity .2s

.text-wrapper
  position absolute
  top 54px
  left 60px
  line-height 1.1

.slider-controls
  position absolute
  bottom 38px
  left 60px
  z-index 10
  display flex

.prev,
.next
  border 1px solid rgba(#c7d0d8, .3)
  border-radius 2px
  width 50px
  height 50px
  display flex
  align-items center
  justify-content center
  cursor pointer
  transition opacity .2s

  &.swiper-button-disabled
    opacity .3

.prev
  transform rotate(90deg)
  margin-right 6px

.next
  transform rotate(-90deg)

.slide-controls
  position absolute
  bottom 38px
  right 60px
  width 193px

.title
  font-family 'Century Gothic'
  font-size 28px
  font-weight bold
  color #f
  max-width 360px
  margin-bottom 12px

.description
  font-size 18px
  font-weight 500
  color #f
  letter-spacing -0.4px

.banner._small .text-wrapper
  top auto
  left 32px
  right 32px
  bottom 29px

.banner._small .title
  font-size 18px
  margin-bottom 0
  line-height 1.3

.swiper-pagination-progressbar-wrapper
  display none

+tablet()
  ._desktop
    display: none

  ._tablet
    display: block

  ._mobile
    display: none

  .slider-wrapper
    width calc(100% - 240px)

  .banner
    height 460px

    &._small
      height 220px
      width 220px

  .text-wrapper
    position absolute
    top 38px
    left 40px
    line-height 1.1

  .banner._small .text-wrapper
    top auto
    left 24px
    right 24px
    bottom 23px

  .slider-controls
    bottom 40px
    left 40px

  .slide-controls
    position absolute
    bottom 40px
    right 40px
    width 187px

  .app-button
    height 48px

+mobile()
  ._desktop
    display: none

  ._tablet
    display: none

  ._mobile
    display: block

  .swiper-pagination-progressbar-wrapper
    display block
    padding 16px

  .promo
    padding-top 0

  .content
    flex-direction: column;

  .slider-wrapper
    width calc(100% + 32px)
    margin 0 -16px 0

  .slider-controls
    display: none;

  .text-wrapper
    position absolute
    top 42px
    left 24px
    right 24px
    line-height 1.1

  .title
    font-size 24px
    margin-bottom 8px

  .description
    font-size 16px
    font-weight 400

  .banners-wrapper
    &._desktop-and-tablet
      display none

    &._mobile
      display block
      max-width none
      padding-top 4px

      .swiper-pagination-progressbar-wrapper
        padding 16px 0

    .image-wrapper
      position: relative
      height: calc(100vw - 32px)

    .text-wrapper
      position: relative
      top: auto
      bottom: auto
      right:auto
      left: auto

    .slider-wrapper
      margin: 0
      width: auto

    .slide-controls
      position: relative
      bottom: auto
      left: auto
      right: auto
      top: auto

    .app-button
      border-radius 2px
      border-width 1px

  .banner
    height calc(100vw * 1.56)

    &._small
      height auto
      width auto

      &:last-child
        margin-right 16px

  .banner._small .text-wrapper
    top auto
    left auto
    bottom auto
    right: auto

  .banner._small .title
    font-size 18px
    line-height 1.3
    color: #000
    text-align: center
    max-width: none
    margin: 16px 0

  .slide-controls
    bottom 24px
    right 24px
    left 24px
    width:auto

</style>
