<template lang="pug">
  a.promocode-banner(
    :href="promocode.link"
    v-if="promocode.images || promocode.name"
  )
    .image-wrapper(v-if="promocode.images")
      img._desktop(
        v-if="promocode.images.desktop"
        :src="promocode.images.desktop['1x']"
      )
      img._tablet(
        v-if="promocode.images.tablet"
        :src="promocode.images.tablet['1x']"
      )
      img._mobile(
        v-if="promocode.images.mobile"
        :src="promocode.images.mobile['1x']"
      )
    .content-wrapper(v-if="promocode.name")
      .content
        .title(v-if="promocode.name") {{ promocode.name }}
        .text(v-if="promocode.text") {{ promocode.text }}
</template>

<script>
export default {
  props: {
    promocode: {
      type: [Object, Array],
      default: () => ([]),
    },
  },
};
</script>

<style lang="stylus" scoped>
._desktop
  display: block

._tablet
  display: none

._mobile
  display: none

.image-wrapper
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  img
    width:100%

.promocode-banner
  overflow hidden
  position: relative
  height 168px
  display flex
  align-items center
  justify-content center
  text-align center
  text-decoration none
  background-size cover

.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  color #f
  margin-bottom 10px
  letter-spacing 1.1px
  margin-top 6px

.text
  font-size 13px
  color #f
  margin-right -8px

.code
  display inline-block
  margin 0 2px
  line-height 1
  padding 4px 6px
  text-transform uppercase
  border 1px solid rgba(255, 255, 255, .5)

.icon
  margin-left 10px

+tablet()

  ._desktop
    display: none

  ._tablet
    display: block

  ._mobile
    display: none

  .promocode-banner
    height 110px

  .title
    font-family 'Montserrat'
    font-size 16px
    font-weight 600
    color #f
    margin-bottom 10px
    letter-spacing 0
    margin-top 6px

  .text
    font-size 11px

+mobile()

  ._desktop
    display: none

  ._tablet
    display: none

  ._mobile
    display: block

  .promocode-banner
    height 230px
    line-height 1.5

  .title
    margin-bottom 15px
</style>
