<template lang="pug">
  section.subscribe-form(:class="mod")
    .content-wrapper
      .content
        template(v-if="message")
          .message {{ message }}
        template(v-else)
          form.form(@submit.prevent="submitSubscription")
            .title {{ title }}
            .group
              app-input(
                mod="_subscribe"
                type="email"
                placeholder="Введите ваш Email"
                v-model="email"
              )
              .button
                app-button(mod="_cyan _small") Подписаться
</template>

<script>
export default {
  props: {
    mod: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    email: '',
    message: '',
  }),

  methods: {
    async submitSubscription() {
      if (this.email.length) {
        try {
          this.message = await this.$store.dispatch('mainPage/SUBSCRIBE_EMAIL', {
            email: this.email,
          });
        } catch (e) {
          this.$modal.show('info', {
            title: 'Ошибка',
            text: e.message,
          });
        }
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.subscribe-form
  height 168px
  background #f6
  display flex
  align-items center
  border-top 1px solid #da
  border-bottom 1px solid #da

.content
  display flex
  justify-content center

.form
  width 580px

.title
  font-size 18px
  font-weight 600
  text-align center
  margin-bottom 21px
  margin-top -11px
  letter-spacing -0.1px

.message
  font-size 24px
  font-weight 600
  text-align center

.group
  display flex

.app-input
  flex-grow 1
  font-size 12px

.button
  width 132px
  margin-left 10px

+tablet()

  .title
    font-size 16px
    font-weight 600
    text-align center
    margin-bottom 22px
    margin-top -21px
    letter-spacing -0.1px

  .form
    width 650px

  .button
    width 140px
    margin-left 20px

    .app-button._small
      height 44px

  .subscribe-form._blog
    height 156px

    .title
      margin-top -7px

  .message
    font-size 18px

+mobile()
  .subscribe-form,
  .subscribe-form._blog
    height 230px

  .title
    font-size 14px
    margin-bottom 13px
    margin-top -6px
    letter-spacing -0.1px
    padding 0 25px

  .message
    font-size 16px

  .form
    width 100%
    margin 0 16px

  .group
    flex-direction column

  .button
    width 100%
    margin-left 0
    margin-top 16px

    .app-button._small
      height 40px

</style>
