<template lang="pug">
  form.bonus-card(
    ref="form"
    @submit.prevent="handleSubmit"
  )
    BonusCardWrapper(:class="{'_finished': isCodeSubmitted && isBonusSubmitted}")
      .row
        .group
          app-checkbox(
            :checked="isActive"
            mod="_big"
            @change="(e) => toggleBody(e.checked)"
            :disabled="isPromocodeActive"
          )
            span.title Бонусная карта
          app-icon.question(
            v-if="!isCodeSubmitted"
            name="question-circle-solid"
            v-tooltip.top-center="tooltip"
            width="17"
            height="17"
          )
        .group(v-if="isCodeSubmitted && isActive && balance && balance.card && balance.card.number")
          .code {{ balance.card.number }}
        .pointer(
          :class="{'_active': isVisible}"
          @click="isVisible = !isVisible"
        )
          app-icon(name="arrow-down")
      .content(v-show="isVisible")
        .row._promo(v-if="!isCodeSubmitted")
          .code-input-wrapper
            app-input.code-input(
              placeholder="Введите номер телефона"
              v-mask="'+7 (###) ###-##-##'"
              v-model="$v.phone.$model"
              @focus="correctPhone"
              @input="handlePhoneInput"
              :error="$v.phone && $v.phone.$dirty && $v.phone.$error || isPhoneInvalid"
              :valid="$v.phone && $v.phone.$dirty && !$v.phone.$error && !isPhoneInvalid"
              :disabled="isPhoneSubmitted"
            )
            app-input.sms-input(
              placeholder="Код из СМС"
              v-mask="'######'"
              ref="code"
              v-model="$v.code.$model"
              @input="handleCodeInput"
              :error="$v.code && $v.code.$dirty && $v.code.$error || isCodeInvalid"
              :valid="$v.code && $v.code.$dirty && !$v.code.$error && !isCodeInvalid"
              :disabled="!isPhoneSubmitted"
            )
            template(v-if="!isPhoneSubmitted")
              app-button.card-button(
                mod="_cyan"
                :disabled="$v.phone.$invalid || $v.phone.$error"
                :class="{'_shaking': !$v.phone.$invalid && !$v.phone.$error}"
              ) Отправить код
            template(v-else)
              app-button.card-button(
                mod="_cyan"
                :disabled="$v.code.$invalid || $v.code.$error"
                :class="{'_shaking': !$v.code.$invalid && !$v.code.$error}"
              ) Применить
        .row(v-if="isCodeSubmitted")
          .code-input-wrapper
            label.bonus-points-radio
              app-radio(
                :checked="activeBonus"
                @change="setActiveBonus"
                :disabled="!bonusPayLimits['bonus']"
                value="bonus"
              )
                span Списать&nbsp;
                b {{ bonusPayLimits.bonus || 0}} бонусов
                app-icon.question(
                  name="question-circle-regular"
                  width="15"
                  height="15"
                  v-tooltip.top-center="bonusTooltip"
                )
              span.description Всего накоплено
                |  {{ balanceAccounts ? balanceAccounts.bonus.balance : 0 }} бонусов
            label.bonus-points-radio
              app-radio(
                :checked="activeBonus"
                @change="setActiveBonus"
                :disabled="!bonusPayLimits['extra']"
                value="extra"
              )
                span Списать&nbsp;
                b {{ bonusPayLimits.extra || 0}} экстрабонусов
                app-icon.question(
                  name="question-circle-regular"
                  width="15"
                  height="15"
                  v-tooltip.top-center="specialBonusTooltip"
                )
              span.description(
                v-if="balanceAccounts && balanceAccounts.extra && balanceAccounts.extra.description"
              ) {{ balanceAccounts.extra.description }}
        .row._info._promo(v-if="$v.phone && $v.phone.$dirty && $v.phone.$error")
          .error
            span(v-if="!$v.phone.required") Обязательное поле
            span(v-else-if="!$v.phone.minLength") Некорректный телефон
        .row._info._promo(v-if="$v.code && $v.code.$dirty && $v.code.$error")
          .error
            span(v-if="!$v.code.required") Обязательное поле
            span(v-else-if="!$v.code.minValue") Код должен быть 6-х значным
        .row._info._promo(v-if="isPhoneInvalid && !$v.phone.$error")
          .error
            span Такой телефон не найден, проверьте введеный номер телефона
        .row._info._promo(v-if="isCodeInvalid && !$v.code.$error")
          .error
            span Неверный код
        .row._info._promo(v-if="phone === '+7 (111) 111-11-11' && !isPhoneSubmitted")
          .description
            span К вашему телефону уже привязана бонусная карта, подтвердите ее по СМС&nbsp;
            a(href="javascript:void(0);") Не ваша карта?
        .row._info._promo(v-else-if="isPhoneSubmitted && !isCodeSubmitted")
          .description
            span На ваш номер отправлен СМС с кодом подтверждения.&nbsp;
            a(@click.prevent="handleSendSMS" href="javascript:void(0);") Выслать повторно.
        //- .row._info._promo(v-if="isBonusInputVisible")
        //-   .group
        //-     .subtitle Доступно бонусов
        //-   .group
        //-     .code._red {{ availableFormatted }}
        .row._info._promo(v-if="isBonusSubmitted && resultFormatted")
          .group._padded
            .subtitle Оплата бонусами
          .group
            .code._red {{ resultFormatted }}
</template>

<script>
import morphHelper from '@/helpers/morphHelper';
import BonusCardWrapper from '@/components/checkout/BonusCardWrapper';
import { minLength, required } from 'vuelidate/lib/validators';

export default {
  components: { BonusCardWrapper },

  data: () => ({
    isCodeSubmitted: false,
    isCodeInvalid: false,
    isBonusSubmitted: false,
    isPhoneSubmitted: false,
    isPhoneInvalid: false,
    isVisible: false,
    activeBonus: '',
    phone: '',
    code: '',
  }),

  computed: {
    isActive: {
      get() {
        return this.$store.state.bonusCard.isActive;
      },
      set(value) {
        this.$store.commit('bonusCard/SET_ACTIVE', value);
        if (!this.balance || !this.balance.card || !this.balance.card.number) { return; }

        this.fetchBonusCard(value);
      },
    },

    available() {
      return this.$store.state.bonusCard.available;
    },

    availableFormatted() {
      return `${this.available} ${morphHelper('бонус', 'бонуса', 'бонусов', this.available)}`;
    },

    resultFormatted() {
      return `-${this.selected} руб.`;
    },

    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    isPromocodeActive() {
      return this.$store.state.promocode.isActive;
    },

    tooltip() {
      return {
        content: 'Начисление произойдёт в течение 14 дней<br> после получения заказа.<br> Сумма Бонусных рублей расчитывается<br> в соответствии <a href="/buyers/bonus/">с правилами программы.</a>',
        trigger: this.isMobile ? 'click' : 'hover',
      };
    },

    bonusTooltip() {
      return {
        content: 'Правила списания Бонусных рублей<br> рассчитывается в соответствии<br> <a href="/buyers/bonus/">с правилами программы.</a>',
        trigger: 'click',
      };
    },

    specialBonusTooltip() {
      return {
        content: 'Соответствуют условиям различных маркетинговых акций.<br> Срок действия экстрабонусов может меняться,<br> подробнее в <a href="/buyers/bonus/">правилах программы.</a>',
        trigger: this.isMobile ? 'click' : 'hover',
      };
    },

    balance() {
      return this.$store.state.user.personal.data.balance;
    },

    balanceAccounts() {
      if (!this.balance || !this.balance.accounts || Array.isArray(this.balance.accounts)) { return ''; }
      return this.balance.accounts;
    },

    bonusPayLimits() {
      return this.$store.state.basket.bonusPaymentLimits;
    },

    bonusPay() {
      return this.$store.state.basket.bonusPay;
    },
  },

  watch: {
    isActive(value) {
      this.isVisible = value;
    },
    activeBonus() {
      this.fetchBonusCard(true).then(() => {
        this.$store.commit('bonusCard/SET_SELECTED', this.bonusPay || 0);
      });
    },
  },

  mounted() {
    if (this.balance) {
      this.isCodeSubmitted = true;
      this.isPhoneSubmitted = true;
    }
  },

  methods: {
    toggleBody(value) {
      if (!this.isPromocodeActive) {
        this.isActive = value;
      }
    },

    fetchBonusCard(value) {
      return this.$store.dispatch('basket/FETCH_PRODUCTS', {
        bonusPaymentEnabled: value,
        bonusType: this.activeBonus,
      }).then(() => {
        this.$store.commit('bonusCard/SET_SELECTED', this.bonusPay || 0);
      });
    },

    handleChange(value) {
      this.code = value;
    },

    handleSendSMS() {
      this.$store.dispatch('user/CARD_EMIT', {
        phone: this.phone,
      })
        .then(() => {
          this.isPhoneSubmitted = true;
          this.isPhoneInvalid = false;
          this.$nextTick(() => {
            this.$refs.code.$el.querySelector('input').focus();
          });
        })
        .catch(() => {
          this.isPhoneInvalid = true;
        });
    },

    handleSubmit() {
      if (!this.isPhoneSubmitted) {
        this.$v.phone.$touch();
        if (this.$v.$invalid) { return; }

        this.handleSendSMS();
      } else {
        this.$v.code.$touch();
        if (this.$v.$invalid) { return; }

        this.$store.dispatch('user/CONFIRM_PHONE', {
          code: this.code,
        })
          .then(() => {
            this.isCodeSubmitted = true;
            this.isCodeInvalid = false;
            this.fetchBonusCard(true);
          })
          .catch(() => {
            this.isCodeInvalid = true;
          });
      }
    },

    correctPhone(e) {
      if (!e.target.value) {
        this.phone = '+7 (';
      }
    },

    handlePhoneInput() {
      this.isPhoneInvalid = false;
    },

    handleCodeInput() {
      this.isCodeInvalid = false;
    },

    setActiveBonus(value) {
      this.activeBonus = value;
    },
  },

  validations() {
    if (!this.isPhoneSubmitted) {
      return {
        phone: {
          required,
          minLength: minLength(18),
        },
        code: {},
      };
    }

    return {
      phone: {
        required,
        minLength: minLength(18),
      },
      code: {
        required,
        minLength: minLength(6),
      },
    };
  },
};
</script>

<style lang="stylus">
.bonus-card
  position: relative

</style>
