<template lang="pug">
  .bonuses-success
    .bonuses-phone
      .title Теперь у вас есть карта!
      .text
        span Мы оформили для вас бонусную карту и начислили&nbsp;
        span на нее&nbsp;
        b 500 бонусов&nbsp;
        span на следующую покупку
        CardsItemBonus(
          mod="_white"
          :extra="500"
        )
      .controls
        .info
          nuxt-link(to="/account/") Перейти в личный кабинет
</template>

<script>
import CardsItemBonus from '@/components/account/CardsItemBonus';

export default {
  components: {
    CardsItemBonus,
  },
};
</script>

<style lang="stylus" scoped>
</style>
