<template lang="pug">
  .bonus-card-wrapper
    slot
</template>

<style lang="stylus" scoped>
.bonus-card-wrapper
  position relative

  &._finished
    >>>.title
      font-weight bold

>>>.title
  font-size 16px
  font-weight bold
  color #0

.code
  font-weight bold
  color $cyan
  padding-right 30px
  font-size 16px

  &._red
    color $red

.group
  display flex
  align-items center

  &._padded
    padding-left 28px

.row
  display flex
  justify-content space-between
  align-items center

  &._info
    margin-top 10px

  &._promo
    padding-left 38px

.subtitle
  font-size 13px
  font-weight 500
  color $grayLight

.question
  color #000
  margin-left 10px
  cursor pointer
  position relative
  top 1px
  width: 17px
  height: 17px

.code-input-wrapper
  margin-top 16px
  flex-grow 1
  position relative
  display flex

.promocode-input
  font-weight bold
  text-transform uppercase

  >>> input

    +placeholder()
      text-transform none

.app-input
  font-size 13px
  margin-right 16px
  width 300px

.sms-input
  width 128px

.app-button
  max-width 144px
  height 44px

.error
  font-size 12px
  color $red

.description
  font-size 12px
  color $grayLight

  a
    color $cyan

.bonus-points-radio
  width: 50%

  >>> .app-radio
    .text
      display: flex
      align-items: center
      color: #000

    .question
      margin-left 6px

  .description
    display: inline-block
    padding 4px 16px 0 34px
    line-height: 1.5

.pointer
  width: 20px
  height: 20px
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  top: 0
  right: 0
  transition .2s

  .app-icon
    width: 14px
    height: 12px
    opacity: .5

  &._active
    transform rotate(180deg)

+tablet()
  .group
    flex-grow 1
    justify-content space-between

    &._padded
      padding-left 36px

    &:nth-child(2)
      justify-content: flex-end

  .app-button
    height 48px

  >>>.title
    font-size 14px
    font-weight 600
    color #0

  .code
    padding-right 0
    font-size 14px

  .row
    position relative

  .question
    top 0
    right 0
    width: 14px
    height: 14px
    color $gray

  .code-input-wrapper
    flex-direction: column
    margin-top: 0

    &._promocode
      flex-direction: row

  .code-input,
  .promocode-input
    margin-top 16px
    display flex
    justify-content space-between

  .app-input
    height 36px
    margin-right 24px
    width 100%
    min-width 100%

  .promocode-input
    width calc(100% - 118px)
    min-width calc(100% - 118px)
    margin-right: 8px

  .app-input + .app-input
    margin-top: 16px

  .app-input + .app-button
    margin-top: 16px

  .code-input .arrow-wrapper,
  .arrow-wrapper
    display none

  .card-button
    display block
    height 36px
    font-size 12px

  .code-input-wrapper._promocode .card-button
    width: 110px
    min-width: 110px

  .bonus-points-radio
    margin-top: 16px
    width auto

    >>> .app-radio
      .text
        display: flex
        align-items: center
        color: #000
        font-size: 14px
        margin-left: 14px

      .question
        margin-left 6px

    .description
      padding 4px 16px 0 36px
      line-height: 1.5

  .pointer
    display none

+mobile()

  .code-input
    margin-top 16px
    display flex
    flex-direction column
    justify-content space-between

  .code
    padding-right: 0

  .row

    &._promo
      padding-left 0
</style>
