<template lang="pug">
  .checkout-info(
    ref="info"
    :class="[{'_fixed': menu.isFixed}, {'_bottomed': menu.isBottomed}]"
  )
    template(v-if="view === 'done'")
      CheckoutCard
      //- .controls
      //-   app-button(
      //-     mod="_green _shaking"
      //-     @click="getBonuses"
      //-   ) Получить 500 бонусов
    template(v-else)
      .top
        .title Оформление
        //- .goods {{ goodsStatus }}
      CheckoutSteps
      CheckoutTotal
</template>

<script>
import morphHelper from '@/helpers/morphHelper';
import CheckoutSteps from '@/components/checkout/CheckoutSteps';
import CheckoutTotal from '@/components/checkout/CheckoutTotal';
import CheckoutCard from '@/components/checkout/CheckoutCard';

export default {
  components: {
    CheckoutSteps,
    CheckoutTotal,
    CheckoutCard,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    allGoods: 3,
    currentGoods: 2,
    currentStep: 2,
    menu: {
      isFixed: false,
      isBottomed: false,
    },
    isPreTablet: false,
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    goodsStatus() {
      return `${this.currentGoods} из ${this.allGoods} ${morphHelper('товара', 'товаров', 'товаров', this.allGoods)}`;
    },
  },

  watch: {
    isMobile() {
      this.initScroll();
    },
    isPreTablet() {
      this.initScroll();
    },
  },

  mounted() {
    window.addEventListener('resize', this.checkedPreTablet);
    this.checkedPreTablet();
    this.initScroll();
  },

  beforeDestroy() {
    document.removeEventListener('scroll', this.positionCats);
    window.removeEventListener('resize', this.checkedPreTablet);
  },

  methods: {
    checkedPreTablet() {
      this.isPreTablet = window.innerWidth < 1210;
    },
    initScroll() {
      if (!this.isMobile && !this.isPreTablet) {
        document.addEventListener('scroll', this.positionCats);
      } else {
        this.menu.isFixed = false;
        this.menu.isBottomed = false;
        this.menu.isShowHeader = false;
        document.removeEventListener('scroll', this.positionCats);
      }
    },

    positionCats() {
      const containerRect = this.$refs.info.parentNode.getBoundingClientRect();
      const topPadding = document.querySelector('header').offsetHeight;

      const scrollElement = document.scrollingElement
            || document.documentElement;
      const { scrollTop } = scrollElement;
      const top = containerRect.top + scrollTop;
      const bottom = containerRect.bottom - this.$refs.info.offsetHeight + scrollTop;

      if (top < scrollTop + topPadding) {
        this.menu.isFixed = true;
        this.menu.isBottomed = bottom < scrollTop + topPadding;
      } else {
        this.menu.isFixed = false;
      }
    },

    getBonuses() {
      // Временная демонстрация
      if (this.$route.query.auth) {
        this.$modal.show('checkout-popup', { view: 'get-bonuses' });
      } else {
        this.$modal.show('checkout-popup', { view: 'registration' });
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-info
  position absolute
  top 0
  min-width 310px

  &._fixed
    position fixed
    top 70px

  &._bottomed
    position absolute
    bottom 0
    top auto

.top
  display flex
  justify-content space-between
  align-items center
  padding 33px 0 23px

.title
  font-size 18px
  font-weight 600
  margin 0

.goods
  font-size 13px
  font-weight 500
  color $grayLight

.checkout-steps
  margin-bottom 25px

.checkout-card
  margin-top 47px

.controls
  margin-top 40px

.app-button
  width 286px
  border-radius 4px

+pre-tablet()
  .checkout-info
    position static

  .checkout-card
    margin 0 auto

  .controls
    margin-top 24px

  .app-button
    margin 0 auto 12px

+tablet()
  .top,
  .title,
  .checkout-steps
    display none

  .checkout-card
    position relative

+mobile()
  .checkout-info
    min-width auto
    width 100%
</style>
