<template lang="pug">
  .checkout-counter
    .minus(
      v-if="amount > 1"
      @click="() => multiply(-1)"
    )
      app-icon.icon(
        name="minus"
        width="14"
        height="2"
        fill="#75787b"
      )
    .count {{ amount }}
    .plus(@click="() => multiply(1)")
      app-icon.icon(
        name="plus-thic"
        width="14"
        height="14"
        fill="#75787b"
      )
</template>

<script>
export default {
  props: {
    amount: {
      type: Number,
      default: 0,
    },
  },

  data: () => ({
    dir: 0,
  }),

  methods: {
    multiply(dir) {
      if (dir < 0) {
        if (this.amount > 1) {
          this.dir = -1;
        }
      } else {
        this.dir = 1;
      }

      this.$emit('change', this.amount, this.dir);
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-counter
  display flex
  align-items center

.minus,
.plus
  width 40px
  height 40px
  border 1px solid #ec
  border-radius 50%
  display flex
  align-items center
  justify-content center
  color $grayLight
  cursor pointer

.count
  width 44px
  text-align center
  font-size 14px
  font-weight 600
  color #0

+tablet()
  .count
    width 36px

+mobile()
  .count
    width 43px

  .minus,
  .plus
    width 33px
    height 33px
</style>
