<template lang="pug">
  .checkout-contacts
    CheckoutStep(:mod="view ? `_${view}` : ''")
      template(v-if="view === 'completed'")
        .wrapper
          .top
            app-step-circle(status="completed") 3
            h3.title Контакты
            .edit(@click="handleEdit")
              app-icon.pen(
                name="pen-solid"
                width="15"
                height="15"
              )
              span Изменить
          .main
            CheckoutContactsResult
      template(v-else-if="view === 'disabled'")
        .wrapper
          .top
            app-step-circle(status="disabled") 3
            h3.title Контакты
      template(v-else)
        .wrapper
          .top
            app-step-circle 3
            h3.title Контакты
            .description Укажите свои данные, чтобы быть в курсе изменений статуса заказа.
          .main
            form.form(@submit.prevent)
              .row
                .group._half
                  .group-title Ваше имя
                  app-input(
                    type="text"
                    placeholder="Иван"
                    v-model.trim="$v.name.$model"
                  )
                  .error(v-if="$v.name.$dirty")
                    span(v-if="!$v.name.required") Обязательное поле
                    span(v-if="!$v.name.validateName") В имени допускаются только кириллица и тире
                .group._half
                  .group-title Ваша фамилия
                  app-input(
                    type="text"
                    placeholder="Иванов"
                    v-model.trim="$v.familyName.$model"
                  )
                  .error(v-if="$v.familyName.$dirty")
                    span(v-if="!$v.familyName.required") Обязательное поле
                    span(v-if="!$v.familyName.validateName")
                      | В фамилии допускаются только кириллица и тире
              .row
                .group._half
                  .group-title Телефон для связи
                  app-input(
                    placeholder="+7 ("
                    v-model.trim="$v.phone.$model"
                    v-mask="'+7 (###) ###-##-##'"
                    @focus="correctPhone"
                  )
                  .error(v-if="$v.phone.$dirty")
                    span(v-if="!$v.phone.required") Обязательное поле
                .group._half
                  .group-title Адрес электронной почты
                  app-input(
                    type="email"
                    placeholder="mail@mail.ru"
                    v-model.trim="$v.email.$model"
                  )
                  .error(v-if="$v.email.$dirty")
                    span(v-if="!$v.email.required") Обязательное поле
                    span(v-else-if="!$v.email.email") Некорректный email
              .row
                .group
                  .group-title._caller(
                    @click="toggleMessage"
                    :class="{'_active': isMessageVisible}"
                  )
                    span Добавить комментарий
                    app-icon.arrow(
                      name="arrow-down"
                      width="10"
                      height="8"
                      fill="#75787b"
                    )
                  app-textarea(
                    v-show="isMessageVisible"
                    v-model="message"
                    :rows="6"
                  )
                .group._subs
                  app-checkbox(
                    :checked="shouldSubscribe"
                    @change="shouldSubscribe = !shouldSubscribe"
                  ) Подписаться на акции и предложения
              .row
                .group._controls
                  .submit
                    app-button(
                      mod="_cyan"
                      @click="handleSubmit"
                    ) Продолжить
                  .caution
                    span Персональные данные обрабатываются в соответствии
                    br
                    span с&nbsp;
                    a(
                      href="/about/protection-of-information/"
                    ) Политикой обработки персональных данных.
</template>

<script>
import {
  required,
  email,
} from 'vuelidate/lib/validators';
import validateName from '@/helpers/customValidations';
import CheckoutStep from '@/components/checkout/CheckoutStep';
import CheckoutContactsResult from '@/components/checkout/CheckoutContactsResult';

export default {
  components: {
    CheckoutStep,
    CheckoutContactsResult,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    select: '',
    isMessageVisible: false,
    name: '',
    familyName: '',
    phone: '',
    email: '',
    message: '',
    shouldSubscribe: true,
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    personal() {
      return this.$store.state.user.personal.data;
    },
  },

  mounted() {
    this.name = this.personal.name ? this.personal.name : '';
    this.familyName = this.personal.lastName ? this.personal.lastName : '';
    this.phone = this.personal.phone ? this.personal.phone : '';
    this.email = this.personal.email ? this.personal.email : '';
  },

  validations: {
    name: {
      required,
      validateName,
    },
    familyName: {
      required,
      validateName,
    },
    email: {
      required,
      email,
    },
    phone: {
      required,
    },
  },

  methods: {
    correctPhone(e) {
      if (!e.target.value) {
        this.phone = '+7 (';
      }
    },

    toggleMessage() {
      this.isMessageVisible = !this.isMessageVisible;
    },

    handleSubmit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$store.commit('delivery/SET_CONTACTS', {
          name: this.name,
          familyName: this.familyName,
          phone: this.phone,
          email: this.email,
          message: this.message,
          shouldSubscribe: this.shouldSubscribe,
        });
        this.$store.dispatch('checkout/COMPLETE_STEP', {
          step: 'contacts',
          title: 'Контакты',
        });

        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        const headerHeight = document.querySelector('header').offsetHeight;

        if (this.isMobile) {
          window.scroll({
            top: this.$el.getBoundingClientRect().top + scrollTop - headerHeight,
            left: 0,
            behavior: 'smooth',
          });
        } else {
          window.scroll({
            top: document.getElementById('checkoutTitle').getBoundingClientRect().top
              + scrollTop - headerHeight,
            left: 0,
            behavior: 'smooth',
          });
        }
      }
    },

    handleEdit() {
      this.$store.dispatch('checkout/EDIT_STEP', { step: 'contacts' });
    },
  },
};
</script>

<style lang="stylus" scoped>
.row
  display flex
  justify-content space-between
  position: relative;

  & + &
    margin-top 22px

.group
  width 100%

  &._half
    width calc(50% - 5px)

  &._controls
    display flex
    align-items center
    justify-content space-between

  &._subs
    position absolute
    top: 0;
    right: 0;
    width: calc(50% - 5px)

.group-title
  font-size 13px
  font-weight 500
  color #0
  margin-bottom 10px

  &._caller
    cursor pointer
    color $cyan

    &._active .arrow
      transform: rotate(180deg);

.submit
  width 142px
  min-width 142px

.caution
  font-size 12px
  color #0
  text-align right
  padding-left 20px
  line-height 1.5

  a
    text-decoration none
    color $cyan

.arrow
  margin-left 5px
  transition transform .2s

.error
  font-size 12px
  color $red
  margin 5px 0 0

+tablet()

  .group

    &._controls
      flex-direction column

  .caution
    text-align center
    margin 20px 0 0
    padding 0

  .submit
    width 100%
    min-width 100%

  .app-button
    height 48px
    font-size 12px

+mobile()

  .row
    flex-direction column

    & + &
      margin-top 16px

  .group

    & + &
      margin-top 16px

    &._half
      width 100%

    &._subs
      position static
      width 100%
      margin-top 10px

    &._controls
      padding-top 8px

</style>
