<template lang="pug">
  .checkout-total(:class="view ? `_${view}` : ''")
    template(v-if="view === 'done'")
      .main._mobile
        .row(v-if="bonusSelected && isBonusActive")
          .title._bonus Оплата бонусами
          .value._red - {{ bonusSelected }} руб.
        .row(v-if="isPromocodeActive && promocodePrice")
          .title._bonus Промокод &laquo;{{ promocodeLabel }}&raquo;
          .value._red - {{ promocodePrice }} руб.
        .row
          .title._heavy Итого
          .value._heavy {{ total.toLocaleString('ru') }} руб.
        .row._info
          .title._delivery
            span До бесплатной доставки осталось&nbsp;
            b {{ freeThreshold }} руб
          .value._delivery(v-if="bonus && isBonusActive") + {{ bonus }} бонусов
    template(v-else)
      .main._desktop
        .summary
          span Итого
          span {{ total.toLocaleString('ru') }} руб.
        .bonuses(v-if="bonus && isBonusActive")
          span Бонусы за покупку
          span +{{ bonus }} бонусов
      .main._mobile
        .row(v-if="bonusSelected && isBonusActive")
          .title._bonus Оплата бонусами
          .value._red - {{ bonusSelected }} руб.
        .row(v-if="isPromocodeActive && promocodePrice")
          .title._bonus Промокод &laquo;{{ promocodeLabel }}&raquo;
          .value._red - {{ promocodePrice }} руб.
        .row
          .title._heavy Итого
          .value._heavy {{ total.toLocaleString('ru') }} руб.
        .row._info
          .title._delivery
            template(v-if="freeThreshold")
              span До бесплатной доставки осталось&nbsp;
              b {{ freeThreshold }} руб
            template(v-else-if="amountFreeThreshold")
              span Доставка бесплатно
          .value._delivery(v-if="bonus && isBonusActive") + {{ bonus }} бонусов
      .controls._desktop
        app-button(
          :class="{'_shaking': !isDisabled}"
          mod="_red"
          :disabled="isDisabled"
          @click="handleSubmit"
        ) {{ textButtonDone }}
      .main._mobile
        .bonus
          BonusCard
        .bonus
          Promocode
      .controls._mobile
        app-link._shaking(
          mod="_red"
          @click.native="handleNext"
        ) Продолжить
</template>

<script>
import BonusCard from '@/components/checkout/BonusCard';
import Promocode from '@/components/checkout/Promocode';

export default {
  components: {
    BonusCard,
    Promocode,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    isPromocodeInputVisible: true,
  }),

  computed: {
    price() {
      return this.$store.state.basket.products.total;
    },

    deliveryType() {
      return this.$store.state.delivery.type;
    },

    total() {
      if (this.deliveryType) {
        return this.$store.state.basket.products.total
          + this.$store.state.delivery[this.deliveryType].price;
      }

      return this.$store.state.basket.products.total;
    },

    bonus() {
      return this.$store.state.basket.bonus || 0;
    },

    steps() {
      return this.$store.state.checkout.steps;
    },

    textButtonDone() {
      return this.$store.state.checkout.steps.payment.type === 'payment_2'
        ? 'Оплатить картой'
        : 'Оформить заказ';
    },

    isDisabled() {
      return this.steps.contacts.status !== 'completed';
    },

    isBonusActive() {
      return this.$store.state.bonusCard.isActive;
    },

    isPromocodeActive() {
      return this.$store.state.promocode.isActive;
    },

    bonusSelected() {
      return this.$store.state.bonusCard.selected;
    },

    promocodeLabel() {
      return this.$store.state.promocode.code;
    },

    promocodePrice() {
      return +this.$store.state.promocode.discountAmount;
    },

    amountFreeThreshold() {
      return +this.$store.state.delivery.deliveries.data.freeThreshold;
    },

    freeThreshold() {
      const result = this.amountFreeThreshold - this.price;
      if (result > 0) {
        return `${result}`.toLocaleString('ru');
      }

      return '';
    },
  },

  methods: {
    togglePromocodeInput(e) {
      this.isPromocodeInputVisible = e.checked;
    },

    handleSubmit() {
      this.$store.dispatch('delivery/CREATE_ORDER')
        .then((response) => {
          if (response.link) {
            window.location.href = response.link;
          } else {
            // роутер не хочет пушить на рут, которого есть id как get-параметр
            this.$router.push(`/checkout/done/?doneId=${response.orderId}`);
            this.$store.commit('checkout/RESET_STEPS');
          }
        });
    },

    handleNext() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      const headerHeight = document.querySelector('header').offsetHeight;

      window.scroll({
        top: document.getElementById('checkoutTitle')
          .getBoundingClientRect().top + scrollTop - headerHeight,
        left: 0,
        behavior: 'smooth',
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-total
  border-top 1px solid #ec
  padding-top 15px

.row
  display flex
  align-items center
  justify-content space-between

  & + &
    margin-top 4px

.summary,
.bonuses
  display flex
  justify-content space-between
  align-items center

.summary
  font-size 20px
  font-weight 700
  color #0
  margin-bottom 8px

.bonuses
  font-size 13px

  span:first-child
    font-weight 500
    color $grayLight

  span:last-child
    font-weight 600
    color $grayLight

.controls
  padding-top 30px

  &._mobile
    display none

.conditions
  padding-top 37px

.bonus-card
  margin-bottom 20px

.button
  text-decoration none

.title
  font-size 13px
  font-weight 500
  color $grayLight

  &._heavy
    font-size 18px
    font-weight 700
    color #0

  &._bonus
    font-size 12px
    color #9

  &._delivery
    font-size 12px
    color #9
    max-width 60%

.value
  font-size 12px
  font-weight 600
  padding-right 20px

  &._bold
    font-size 16px
    font-weight 700

  &._red
    color $red
    font-weight 700

  &._heavy
    font-size 18px
    font-weight 700

  &._delivery
    font-size 12px
    color #9

.main
  &._mobile
    display none

+tablet()
  .summary
    font-size 18px
    margin-bottom 8px

  .bonuses
    font-size 12px

    span:last-child
      color #0

  .conditions
    padding-top 24px

  .bonus-card
    margin-bottom 20px

  .controls
    padding-top 24px

  .app-button
    height 48px

  .code
    padding-right 37px
    font-size 14px

  .row
    position relative

    & + .row._info
      margin-top 8px

  .question
    position absolute
    top 4px
    right 0

  .code-input
    margin-top 16px
    display flex
    justify-content space-between

  .app-input
    height 36px
    margin-right 24px
    width calc(100% - 224px)
    min-width calc(100% - 224px)

  .arrow
    display none

  .card-button
    display block
    height 36px
    font-size 12px

  .controls
    padding-top 24px

    &._desktop
      display none

    &._mobile
      display block

  .main
    &._desktop
      display none

    &._mobile
      display block

  .checkout-total._done

    .main

      &._mobile
        padding-top: 16px

  .bonus
    margin-top: 26px

    & + &
      border-top: 1px solid #d9
      padding-top 22px

  .value
    padding-right: 0

+mobile()

  .checkout-total
    border-top none
    padding-top 0

  .code-input
    margin-top 16px
    display flex
    flex-direction column
    justify-content space-between

  .app-input
    height 36px
    margin-right 24px
    width 100%
    min-width 100%
    margin-bottom 16px
</style>
