<template lang="pug">
  form.checkout-delivery(@submit.prevent="handleSubmit")
    .loading(v-if="isLoading")
      app-icon.icon(name="loading")
    CheckoutStep(:mod="view ? `_${view}` : ''")
      template(v-if="view === 'completed'")
        .wrapper
          .top
            app-step-circle(status="completed") 1
            h3.title {{ deliveryTitle }}
            .edit(@click="handleEdit")
              app-icon.pen(
                name="pen-solid"
                width="15"
                height="15"
              )
              span Изменить
          .main
            CheckoutDeliveryResult
      template(v-else-if="view === 'done'")
        .wrapper
          .top
            h3.title {{ deliveryDoneTitle }}
          .main
            CheckoutDeliveryResult
      template(v-else)
        .wrapper
          .top
            app-step-circle 1
            h3.title Доставка&nbsp;
              span.d-word покупок
            .description(v-if="freeThreshold")
              | При выкупе заказа от {{ freeThreshold }} руб любой тип доставки&nbsp;
              b бесплатно
          .main
            .row
              .subtitle Выберите город:
              app-suggestions.search(
                placeholder="г. Барнаул"
                :bounds="bounds"
                :initial-value="initialValue"
                :auto-select-value="autoSelectCityValue"
                @select="handleSelect"
              )
            .row
              .subtitle Выберите способ доставки:
              .container
                CheckoutRadio(
                  v-for="delivery in deliveries"
                  name="delivery"
                  :key="delivery.type"
                  :checked="deliveryType"
                  @change="setDeliveryType(delivery)"
                  :value="delivery.type"
                  :disabled="!delivery.enabled"
                )
                  .content
                    .top
                      .title {{ delivery.name }}
                      .status(v-if="isActive(delivery.type) && getPrice(delivery.type)")
                        | {{ getPrice(delivery.type) }} р.
                      .status(v-else-if="delivery.price")
                        | {{ delivery.price }} р.
                      .status(v-else-if="delivery.minPrice")
                        | от {{ delivery.minPrice }} р.
                      .status(v-else)
                        | Бесплатно
                        app-icon.question(
                          v-if="delivery.detailInfo"
                          name="question-circle-regular"
                          width="15"
                          height="14"
                          v-tooltip.top-center="delivery.detailInfo"
                        )
                    .main
                      .text
                        span(v-if="isActive(delivery.type) && getDescription(delivery.type)")
                          | {{ getDescription(delivery.type) }}
                        span(v-else)
                          | {{ delivery.description }}
                        .status._mobile(v-if="isActive(delivery.type) && getPrice(delivery.type)")
                          | {{ getPrice(delivery.type) }} р.
                        .status._mobile(v-else-if="delivery.price")
                          | {{ delivery.price }} р.
                        .status._mobile(v-else-if="delivery.minPrice")
                          | от {{ delivery.minPrice }} р.
                        .status._mobile(v-else)
                          | Бесплатно
                          app-icon.question(
                            v-if="delivery.detailInfo"
                            name="question-circle-regular"
                            width="15"
                            height="14"
                            v-tooltip.top-center="delivery.detailInfo"
                          )
            .row(id="content")
              CheckoutShops(
                v-if="deliveryType === 'takeFromStore'"
              )
              //- CheckoutShops(
              //-   v-else-if="deliveryType === 'deliverToStore'"
              //-   view="from-shop"
              //- )
              CheckoutCourier(
                v-else-if="deliveryType === 'courier'"
                :location="city.data.cityFiasId"
                @submit="handleSubmit"
              )
              CheckoutPostal(
                v-else-if="deliveryType === 'postal'"
                :location="city.data.cityFiasId"
                @submit="handleSubmit"
              )
              DeliveryPoints(
                v-else-if="deliveryType === 'pvz'"
              )
</template>

<script>
import CheckoutStep from '@/components/checkout/CheckoutStep';
import CheckoutRadio from '@/components/checkout/CheckoutRadio';
import CheckoutShops from '@/components/checkout/CheckoutShops';
import CheckoutCourier from '@/components/checkout/CheckoutCourier';
import CheckoutPostal from '@/components/checkout/CheckoutPostal';
import DeliveryPoints from '@/components/checkout/DeliveryPoints';
import CheckoutDeliveryResult from '@/components/checkout/CheckoutDeliveryResult';

export default {
  components: {
    CheckoutStep,
    CheckoutRadio,
    CheckoutShops,
    CheckoutCourier,
    CheckoutPostal,
    DeliveryPoints,
    CheckoutDeliveryResult,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    bounds: ['city', 'city'],
  }),

  computed: {
    initialValue() {
      if (this.addresses && this.addresses[0]) {
        return this.addresses[0].city;
      }

      return this.city.name ? this.city.name : this.city.value;
    },

    isLoading() {
      const store = this.$store.state.delivery;
      return store.deliveries.isFetching
        || store.delivery.isFetching
        || this.$store.state.map.isLoading;
    },

    city() {
      return this.$store.state.delivery.city.value
        ? this.$store.state.delivery.city : this.$store.state.user.city;
    },

    autoSelectCityValue() {
      return this.$store.state.delivery.autoSelectCityValue;
    },

    addresses() {
      return this.$store.state.user.personal.data.addresses;
    },

    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    bitrixId() {
      return this.$store.state.delivery.bitrixId;
    },

    code() {
      return this.$store.state.delivery.code;
    },

    deliveries() {
      return this.$store.state.delivery.deliveries.data.deliveries;
    },

    takeFromStore() {
      return this.$store.state.delivery.takeFromStore;
    },

    deliverToStore() {
      return this.$store.state.delivery.deliverToStore;
    },

    courier() {
      return this.$store.state.delivery.courier;
    },

    postal() {
      return this.$store.state.delivery.postal;
    },

    pvz() {
      return this.$store.state.delivery.pvz;
    },

    freeThreshold() {
      const amount = this.$store.state.delivery.deliveries.data.freeThreshold;

      if (amount) {
        return `${amount}`.toLocaleString('ru');
      }

      return '';
    },

    price() {
      return `${this.$store.state.basket.products.total}`;
    },

    valueFreeThreshold() {
      const amount = +this.$store.state.delivery.deliveries.data.freeThreshold;
      if (Number.isNaN(amount)) { return 'NaN'; }

      const result = amount - this.price;
      if (result > 0) {
        return `${result}`.toLocaleString('ru');
      }

      return '';
    },

    deliveryTitle() {
      return this.$store.state.delivery.title;
    },

    deliveryDoneTitle() {
      if (this.$store.state.delivery.orderInfo.data.delivery) {
        return this.$store.state.delivery.orderInfo.data.delivery.description.title;
      }

      return '';
    },

    deliveryType() {
      return this.$store.state.delivery.type;
    },

    point() {
      return this.$store.state.delivery.point;
    },

    allPoints() {
      return this.$store.state.delivery.delivery.data;
    },
  },

  watch: {
    city() {
      if (!this.deliveryType || !this.code) { return; }
      if (this.deliveryType === 'courier' || this.deliveryType === 'postal') { return; }

      this.$store.dispatch('delivery/FETCH_DELIVERY', {
        type: this.deliveryType,
        code: this.code,
        city: this.city.data.city,
      });
    },
    valueFreeThreshold(newValue, oldValue) {
      if (oldValue === 'NaN') { return; }
      if (!this.city.data) { return; }
      if (((+newValue > 0 && +oldValue > 0) || (!+newValue && !+oldValue))) { return; }

      this.$store.commit('checkout/SET_STEP_PRICE', {
        step: 'delivery',
        value: this.getPrice(this.deliveryType),
      });

      const mapDeliveries = {
        courier: 'fetchCourier',
        takeFromStore: 'fetchDelivery',
        pvz: 'fetchDelivery',
      };
      const methodFetch = mapDeliveries[this.deliveryType];

      const stepDelivery = this.$store.state.checkout.steps.delivery;
      const isCompleted = stepDelivery.status === 'completed';

      if (!isCompleted) {
        this.fetchDeliveriesAll(this.city)
          .then(() => this.fetchDelivery())
          .catch(() => ({}));
      } else if (methodFetch) {
        this[methodFetch]()
          .then(() => {
            this.setCompleteStep();
          })
          .catch(() => ({}));
      }
    },
  },

  methods: {
    handleSelect(selection) {
      this.$store.commit('delivery/SET_CITY', selection);
      this.fetchDeliveriesAll(selection);
    },

    fetchDeliveriesAll(selection) {
      return this.$store.dispatch('delivery/FETCH_DELIVERIES', {
        country: selection.data.country,
        region: `${selection.data.region} ${selection.data.regionTypeFull}`,
        city: selection.data.city,
        postalCode: selection.data.postalCode,
      });
    },

    fetchDelivery() {
      return new Promise((resolve) => {
        if (!this.deliveryType || !this.code) { return; }
        if (this.deliveryType === 'courier' || this.deliveryType === 'postal') { return; }

        this.$store.dispatch('delivery/FETCH_DELIVERY', {
          type: this.deliveryType,
          code: this.code,
          city: this.city.data.city,
        }).then(() => {
          if (this.deliveryType !== 'pvz') { return; }

          const addressPointShop = this.point.address;
          if (!addressPointShop) { return; }

          const { price } = this.allPoints
            .find(({ address }) => address === `${addressPointShop}`) || {};
          if (price === undefined) { return; }

          this.$store.commit('delivery/SET_PRICE', {
            type: 'pvz',
            price,
          });

          resolve();
        });
      });
    },

    fetchCourier() {
      return new Promise(() => {
        this.$store.dispatch('delivery/FETCH_COURIER', {
          code: this.code,
          region: `${this.city.data.region} ${this.city.data.regionTypeFull}`,
          city: this.city.data.city,
        }).then((data) => {
          this.$store.commit('delivery/SET_PRICE', {
            type: 'courier',
            price: data.price,
          });
        });
      });
    },

    setCompleteStep() {
      this.$store.dispatch('checkout/COMPLETE_STEP', {
        step: 'delivery',
        title: this.deliveryTitle,
        price: this.getPrice(this.deliveryType),
        type: this.deliveryType,
      });
    },

    setDeliveryType(delivery) {
      this.$store.commit('delivery/SET_TITLE', delivery.name);
      this.$store.commit('delivery/SET_TYPE', delivery.type);
      this.$store.commit('delivery/SET_BITRIX_ID', delivery.bitrixId);
      this.$store.commit('delivery/SET_CODE', delivery.code);
      this.$store.commit('checkout/SET_STEP_PRICE', { step: 'delivery', value: delivery.price });

      if (delivery.type !== 'courier' && delivery.type !== 'postal') {
        this.$store.dispatch('delivery/FETCH_DELIVERY', {
          type: delivery.type,
          code: delivery.code,
          city: this.city.data.city,
        });
      }

      if (this.isMobile) {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        const headerHeight = document.querySelector('header').offsetHeight;

        window.scroll({
          top: document.getElementById('content')
            .getBoundingClientRect().top + scrollTop - headerHeight,
          left: 0,
          behavior: 'smooth',
        });
      }
    },

    handleSubmit() {
      this.$store.dispatch('delivery/FETCH_PAYMENTS', {
        code: this.deliveryType,
        id: this.bitrixId,
      }).then(() => {
        this.setCompleteStep();
      });

      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      const headerHeight = document.querySelector('header').offsetHeight;

      window.scroll({
        top: this.$el.getBoundingClientRect().top + scrollTop - headerHeight,
        left: 0,
        behavior: 'smooth',
      });
    },

    handleEdit() {
      this.$store.dispatch('checkout/EDIT_STEP', { step: 'delivery' });
    },

    getPrice(type) {
      if (this[type]) {
        return this[type].price;
      }

      return 0;
    },

    getDescription(type) {
      if (this[type]) {
        return this[type].description;
      }

      return '';
    },

    isActive(type) {
      return this.deliveryType === type;
    },
  },
};
</script>

<style lang="stylus">
  .question
    color #65686a
    opacity .5
    position: relative
    z-index: 2

  .checkout-delivery
    position: relative

    .loading
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: rgba(255,255,255,0.7)
      z-index: 6
      pointer-events none
      user-select none
      display: flex
      align-items: center
      justify-content: center

    .loading + .checkout-step
      pointer-events none
      user-select none

    .status
      font-weight 500

  +desktop-only()
    .checkout-delivery .checkout-radio
        padding: 17px 12px 18px 45px;

</style>
