<template lang="pug">
  .checkout-cart-item(
    :class="{'_cancelled': !info.count}"
  )
    .group
      .close(
        v-if="view !== 'done'"
        @click="handleCancel"
      )
        app-icon.icon(
          name="close"
          width="8"
          height="8"
        )
      .image-wrapper(v-if="info.count")
        img.image(
            v-if="info.images"
            :src="info.images['1x'] || info.images"
            :srcset="info.images['2x'] || info.images"
            :alt="info.name"
          )
      .text-wrapper
        .title {{ info.name }}
          span.amount(
            v-if="view === 'done' && info.count > 1"
          ) &nbsp;x {{ info.count }}
          span.bonus(
            v-if="view !== 'done' && info.count && isBonusActive && info.bonus"
          ) +{{ info.bonus }} бонусов
        .description(v-if="info.properties")
          .description-item(v-if="info.properties.size && info.properties.size.name")
            span Размер:&nbsp;
            span {{ info.properties.size.name }}
          .description-item(v-if="info.properties.color && info.properties.color.name")
            span цвет:&nbsp;
            span {{ info.properties.color.name }}
    .group(v-if="!info.count")
      .return
        .return-info Товар удален
        .return-link(
          @click="handleReturn"
        )
          app-icon.return-icon(
            name="arrow-back"
            width="23"
            height="12"
            fill="#75787b"
          )
          span Вернуть
    .group(v-else)
      CheckoutCounter(
        v-if="view !== 'done'"
        :amount="info.count"
        @change="handleQuantityChange"
      )
      .price-wrapper
        template(v-if="discount")
          .price._discount(v-if="info.price")
            span {{ `${info.price.toLocaleString('ru')} руб.` }}
          .price-bottom(
            v-if="info.priceCatalogDiscount"
            title="Скидка по промокоду"
          )
            .old-price
              span {{ `${info.priceCatalogDiscount.toLocaleString('ru')} руб.` }}
            app-item-badges(
              :discount="discountPromocode"
            )
          .price-bottom(
            v-if="info.oldPrice"
            title="Скидка по каталогу"
          )
            .old-price
              span {{ `${info.oldPrice.toLocaleString('ru')} руб.` }}
            app-item-badges(
              :discount="discount"
            )
        // TODO: Временно скрыл, пока незнаю что с этим делать
        template(v-else-if="selectedBonus && isBonusActive && false")
          .price._discount(v-if="info.price")
            span {{ `${info.price.toLocaleString('ru')} руб.` }}
          .price-bottom(v-if="info.price")
            .old-price
              span {{ `${(info.price - selectedBonus).toLocaleString('ru')} руб.` }}
            app-item-badges(
              :is-new="info.isNew"
              :discount="`-${selectedBonus} ₽`"
            )
        template(v-else)
          .price(v-if="info.price")
            span {{ `${info.price.toLocaleString('ru')} руб.` }}
</template>

<script>
import CheckoutCounter from '@/components/checkout/CheckoutCounter';

export default {
  components: {
    CheckoutCounter,
  },

  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
    view: {
      type: String,
      default: '',
    },
  },

  computed: {
    isBonusActive() {
      return this.$store.state.bonusCard.isActive;
    },

    city() {
      return this.$store.state.delivery.city.value
        ? this.$store.state.delivery.city : this.$store.state.user.city;
    },

    selectedBonus() {
      return this.$store.state.bonusCard.selected;
    },

    amountProductsInBasket() {
      return this.$store.getters['basket/productsAmount'];
    },

    discount() {
      return this.info.discount
        ? `-${this.info.discount}%`
        : '';
    },

    discountPromocode() {
      return this.info.discountPromocode
        ? `-${this.info.discountPromocode}%`
        : '';
    },
  },

  methods: {
    async handleQuantityChange(amount, dir) {
      if (this.amountProductsInBasket > 4 && dir > 0) {
        this.$modal.show('checkout-popup', { view: 'overload' });
        return;
      }

      await this.$store.dispatch('basket/FETCH_UPDATE_COUNT_PRODUCT', {
        id: this.info.id,
        count: amount + dir,
      });

      this.fetchDeliveriesAll();
    },

    async handleCancel() {
      if (!this.info.count) {
        this.handleCancelInRemoved();
        return;
      }
      const response = await this.$store.dispatch('basket/FETCH_REMOVE_PRODUCT', {
        ids: this.info.id,
      });

      if (response.basketItems && !Object.keys(response.basketItems).length) {
        this.$router.push('/');
      } else {
        this.fetchDeliveriesAll();
      }
    },

    handleCancelInRemoved() {
      this.$store.commit('basket/REMOVE_REMOVED', this.info.id);
    },

    async handleReturn() {
      if (this.amountProductsInBasket > 4) {
        this.$modal.show('checkout-popup', { view: 'overload' });
        return;
      }
      await this.$store.dispatch('basket/FETCH_RETURN_REMOVED_PRODUCT', { id: this.info.id });

      this.fetchDeliveriesAll();
    },

    fetchDeliveriesAll() {
      const regionTypeFull = this.city.data.regionTypeFull
        ? this.city.data.regionTypeFull : this.city.data.region_type_full;
      const postalCode = this.city.data.postalCode
        ? this.city.data.postalCode : this.city.data.postal_code;

      this.$store.dispatch('delivery/FETCH_DELIVERIES', {
        country: this.city.data.country,
        region: `${this.city.data.region} ${regionTypeFull}`,
        city: this.city.data.city,
        postalCode,
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-cart-item
  display flex
  align-items center
  justify-content space-between
  min-height 100px
  padding 14px 0 18px

  & + &
    border-top 1px solid #ec

.group
  display flex
  align-items center

.close
  width 40px
  height 40px
  min-width 40px
  min-height 40px
  border 1px solid #ec
  border-radius 50%
  display flex
  align-items center
  justify-content center
  color $grayLight
  cursor pointer
  margin 0 23px 0 -18px

.image-wrapper
  width 120px
  height auto
  overflow hidden
  margin-left -11px
  margin-right 45px

.image
  width 100%
  display flex

.title
  font-size 16px
  font-weight 700
  margin-bottom 5px

.amount
  font-size 14px
  color $red

.description
  font-size 13px
  color $gray

.description
  display flex

.description-item

  & + &
    margin-left 15px

.price-wrapper
  width 150px
  text-align right
  padding-right 20px

.price
  font-size 16px
  font-weight bold
  color #0
  letter-spacing -0.3px

  &._discount
    color #dc193e

.old-price
  font-size 12px
  color $grayLight
  text-decoration line-through
  margin-right 10px

.price-bottom
  margin-top 5px
  display flex
  justify-content flex-end

// Отменённый товар
.return
  display flex
  flex-direction column
  align-items flex-end
  padding-right 20px

.return-info
  font-size 14px
  color $grayLight
  margin-bottom 7px

.return-link
  font-size 13px
  color $gray
  cursor pointer

.return-icon
  margin-right 7px

.checkout-cart-item._cancelled

  .title
    text-decoration line-through
    font-weight 400
    color $grayLight

  .description-item
    text-decoration line-through
    color $gray

.bonus
  font-size 12px
  font-weight bold
  color $cyan
  padding-left 12px
  position: relative
  top -4px

+tablet()
  .checkout-cart-item
    min-height 82px
    padding 10px 0 10px

    &._cancelled
      padding 14px 0 18px

      .title
        font-weight 600

      .description-item

        & + .description-item
          margin-left 12px

  .title
    margin-bottom 6px;

  .close
    border none
    margin 0 3px 0 5px

  .image-wrapper
    width 80px
    margin-right 25px

  .title
    font-size 14px
    font-weight 600
    margin-bottom 5px

  .description-item
    font-size 12px

    & + &
      margin-left 26px

  .return-info
    opacity 0

  .return-link
    font-size 12px

  .price-wrapper
    padding-right 23px
    margin-left 30px

  .price
    font-size 14px

+mobile()
  .checkout-cart-item
    min-height 78px
    position relative
    flex-direction column
    padding 10px 16px 17px 18px

    &._cancelled
      padding 16px 16px 17px 15px
      flex-direction row

      .close
        top 7px

      .group
        width auto

        & + &
          margin-top 0

      .title
        font-weight 600

      .description
        flex-direction row

      .description-item

        span:first-child
          display none

        & + .description-item
          margin-left 12px
          margin-top 0

      .return
        padding 10px 0 0

  .image-wrapper
    margin-left 0
    margin-right 13px

  .return-info
    display none

  .group
    width 100%

    &:last-child
      justify-content space-between

    & + &
      margin-top 10px

  .close
    position absolute
    top 11px
    right 0

  .description
    flex-direction column

  .description-item
    font-size 12px

    & + &
      margin-left 0
      margin-top 5px

  .price-wrapper
    margin-left 0
    padding-right 0
    height 38px
    display flex
    flex-direction column
    justify-content center

  .bonus
    top 0
</style>
