<template lang="pug">
  section.checkout-section
    slot
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
.checkout-section
  position relative

  & + &
    margin-top 22px

.title
  font-family 'Century Gothic'
  font-size 22px
  font-weight 700
  margin 0
  padding 28px 0 22px

.content
  border 1px solid #ec
  background-color #f
  border-radius 2px

+tablet()
  .title
    font-size 18px
    padding 24px 0 16px

+mobile()
  .title
    padding 16px 0 16px
</style>
