<template lang="pug">
  .checkout-miss-goods
    template(v-if="info.goods && view !== 'from-shop'")
      .caller(
        :class="{'_active': isListVisible}"
        @click="toggleList"
      )
        .title(v-html="title")
        app-icon.arrow(
          name="arrow-down"
          width="10"
          height="8"
          fill="#75787b"
        )
      .list(v-show="isListVisible")
        .item(v-for="item in info.goods")
          .image-wrapper
            img.image(
              :src="item.image"
              :alt="item.name"
            )
          .text-wrapper
            .item-title {{ item.name }}
            .properties {{ item.size }}, {{ item.color }}
    template(v-else)
      template(v-if="view === 'reservation'")
        .title Все размеры в наличии
      template(v-else-if="view === 'pvz'")
        .title
          span(v-if="info.date")
            app-icon.calendar-icon(
              name="calendar-check-solid"
              width="10"
              height="12"
            )
            span {{ date }}
          b(v-if="info.price") {{ price }} руб.
      template(v-else)
        .title Все товары в наличии
</template>

<script>
import morphHelper from '@/helpers/morphHelper';
import dateFormatter from '@/helpers/dateFormatter';

export default {
  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
    view: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    isListVisible: false,
  }),

  computed: {
    date() {
      if (this.info.date) {
        return new Date(this.info.date).toLocaleDateString('ru-RU', {
          day: 'numeric',
          month: 'long',
        });
      }

      return '';
    },

    price() {
      if (this.info.price) {
        return `${this.info.price}`.toLocaleString('ru-RU');
      }

      return '';
    },

    title() {
      if (!this.info.goods) {
        return '';
      }

      if (this.view === 'reservation') {
        return `
          ${morphHelper('Отсутствует', 'Отсутствуют', 'Отсутствуют', this.info.goods.length)}
          <b>${this.info.goods.length}&nbsp;
          ${morphHelper('размер', 'размера', 'размеров', this.info.goods.length)}</b>
        `;
      }

      if (this.view === 'from-shop') {
        return 'Товары прибудут 31 апреля. <b>100 руб.</b>';
      }

      return `
        ${morphHelper('Отсутствует', 'Отсутствуют', 'Отсутствуют', this.info.goods.length)}
        <b>${this.info.goods.length}&nbsp;
        ${morphHelper('товар', 'товара', 'товаров', this.info.goods.length)}</b>
      `;
    },
  },

  methods: {
    toggleList(e) {
      e.stopPropagation();
      this.isListVisible = !this.isListVisible;
      if (window.checkout.map) {
        this.$nextTick(() => {
          window.checkout.map.container.fitToViewport();
        });
      }
    },
    dateFormatter,
  },
};
</script>

<style lang="stylus" scoped>
.caller
  cursor pointer
  display flex
  align-items center

.title
  font-size 12px
  color $gray
  display flex
  justify-content space-between
  padding-right 0

  .calendar-icon
    position: relative
    top 1px
    margin-right 8px

  >>> b
    font-weight 600
    color $green
    margin-left 5px

.arrow
  margin-left 5px
  transition transform .2s

.caller._active .arrow
  transform rotate(180deg)

.list
  border 1px solid #ec
  background-color #f5
  border-radius 2px
  margin-top 10px

.item
  height 70px
  padding 0 15px
  display flex
  align-items center

  & + &
    border-top 1px solid #ec

.image-wrapper
  height 52px
  width 52px
  overflow hidden
  margin-right 10px

.image
  width 100%

.item-title
  font-size 13px
  font-weight 600
  color #0
  margin-bottom 5px

.properties
  font-size 12px
  color $gray

</style>
