<template lang="pug">
  .checkout-shops-map
    .map(ref="ymap")
</template>

<script>
import getScript from '@/helpers/getScript';

const ymapUrl = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU';

export default {
  props: {
    point: {
      type: Array,
      default: () => ([]),
    },
    shops: {
      type: Array,
      default: () => ([]),
    },
  },

  data: () => ({
    error: {},
  }),

  computed: {
    street() {
      if (this.$store.state.delivery.street.value) {
        return [
          this.$store.state.delivery.street.data.geoLat,
          this.$store.state.delivery.street.data.geoLon,
        ];
      }

      return [];
    },

    city() {
      if (this.$store.state.delivery.city.value) {
        return [
          this.$store.state.delivery.city.data.geoLat,
          this.$store.state.delivery.city.data.geoLon,
        ];
      }


      // TODO: HARDCODE
      return [
        '55.7540471',
        '37.620405',
      ];
    },

    shop() {
      return this.$store.state.delivery.point;
    },
  },

  watch: {
    street(val) {
      if (window.checkout && window.checkout.map) {
        window.checkout.map.setCenter(val, 15);
      }
    },
    city(val) {
      if (window.checkout && window.checkout.map) {
        window.checkout.map.setCenter(val, 10);
      }
    },
    shop(point) {
      if (window.checkout && window.checkout.map) {
        if (point.lat && point.lng) {
          window.checkout.map.setCenter([point.lat, point.lng], 15);
        } else {
          const bounds = window.checkout.map.geoObjects.getBounds();
          if (!bounds) { return; }

          window.checkout.map.setBounds(bounds, { checkZoomRange: true });
        }
      }
    },
    shops() {
      if (window.ymaps && window.checkout.map) {
        ymaps.ready(async () => {
          await this.setPlacemarks();
        });
      }
    },
  },

  async mounted() {
    this.$store.commit('map/LOADING');
    // Вызов методов карты в параллельном компоненте.
    // Потом надо вынести её в стор
    window.checkout = window.checkout || {};

    if (window.ymaps) {
      await ymaps.ready(async () => {
        this.createMap();
        await this.setPlacemarks();
      });
    } else {
      await this.init();
    }
  },

  methods: {
    async init() {
      try {
        window.ymaps = await this.initScript();
        this.createMap();
        await this.setPlacemarks();
      } catch (error) {
        this.error = error;
      }
    },

    initScript() {
      return new Promise((resolve, reject) => {
        if (window.ymaps) {
          resolve(window.ymaps);
        } else {
          getScript(ymapUrl)
            .then(() => window.ymaps.ready(() => resolve(window.ymaps)))
            .catch(reject);
        }
      });
    },

    async setPlacemarks() {
      if (!window.ymaps.Placemark) {
        return;
      }

      this.$store.commit('map/LOADING');

      if (window.checkout.map.geoObjects) {
        window.checkout.map.geoObjects.removeAll();
      }

      const clusterer = new window.ymaps.Clusterer({
        clusterOpenBalloonOnClick: false,
        minClusterSize: 2,
      });

      this.shops.forEach((item) => {
        const coordinates = [item.lat, item.lng];
        const pinOptions = {};

        if (item.type && item.type !== 'takeFromStore') {
          pinOptions.iconLayout = 'default#imageWithContent';
          pinOptions.iconContentLayout = window.ymaps.templateLayoutFactory.createClass(`
            <div class="custom-pin _${item.type}"></div>
          `);
          pinOptions.iconImageOffset = [-50, 0];
        }

        const placemark = new window.ymaps.Placemark(coordinates, {}, {
          zIndexActive: 9999,
          ...pinOptions,
        });

        placemark.events.add('click', e => this.placemarkClickHandler(e, item));

        clusterer.add(placemark);
        window.checkout.map.geoObjects.add(clusterer);
      });

      const { geoObjects } = window.checkout.map;
      const bounds = geoObjects.getBounds();

      if (geoObjects && bounds) {
        await window.checkout.map.setBounds(bounds, { checkZoomRange: true });
      }

      window.checkout.map.events.add('click', () => {
        window.checkout.map.balloon.close();
      });

      this.$store.commit('map/LOADED');
    },

    createMap() {
      const map = new window.ymaps.Map(this.$refs.ymap, {
        center: this.city,
        zoom: 10,
        controls: ['zoomControl'],
      });

      window.checkout.map = map;
    },

    placemarkClickHandler(e, item) {
      this.$store.commit('delivery/SET_POINT', item);
    },
  },
};
</script>

<style lang="stylus" scoped>
.map
  height 100%

  >>> .custom-pin
    width 40px
    height 40px
    background-color #f
    border-radius 50%
    overflow hidden
    background-position center
    background-repeat no-repeat

    &._b2cpl
      background-image url('/img/pins/b2cpl.png')

    &._boxberry,
    &._boxbery
      background-image url('/img/pins/boxbery.png')

    &._dpd
      background-image url('/img/pins/dpd.png')

    &._pik
      background-image url('/img/pins/pik.png')

    &._pochta
      background-image url('/img/pins/pochta.png')

    &._cdek
      background-image url('/img/pins/sdek.png')

    &._tervolina
      background-image url('/img/pins/tervolina.png')

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
      background-size 50%

      &._b2cpl
        background-image url('/img/pins/b2cpl@2x.png')

      &._boxberry
        background-image url('/img/pins/boxberry@2x.png')

      &._dpd
        background-image url('/img/pins/dpd@2x.png')

      &._pik
        background-image url('/img/pins/pik@2x.png')

      &._pochta
        background-image url('/img/pins/pochta@2x.png')

      &._cdek
        background-image url('/img/pins/sdek@2x.png')

      &._tervolina
        background-image url('/img/pins/tervolina@2x.png')
</style>
