<template lang="pug">
  .checkout-postal
    CheckoutStep
      .top
        h3.title Адрес доставки
      .main
        form.form(@submit.prevent)
          .row
            .group._index
              .subtitle Индекс:
              app-input(
                placeholder="999000"
                v-model="index"
                type="number"
              )
            .group
              .subtitle Укажите улицу, дом, квартиру:
              app-suggestions(
                placeholder="ул. Ленина, 21к6, лит.А, 234"
                :location="location",
                :bounds="['street', 'house']",
                :initial-value="address"
                :savedResults="savedResults"
                @select="result => address = result"
                @input="result => address = result"
              )
          .controls
            app-button(
              mod="_cyan"
              :disabled="!address || !index"
              @click="handleSubmit"
            ) Продолжить
</template>

<script>
import CheckoutStep from '@/components/checkout/CheckoutStep';

export default {
  components: {
    CheckoutStep,
  },

  props: {
    location: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    savedResults: [],
  }),

  computed: {
    city() {
      return this.$store.state.delivery.city;
    },

    code() {
      return this.$store.state.delivery.code;
    },

    addresses() {
      return this.$store.state.user.personal.data.addresses;
    },

    address: {
      get() {
        return this.$store.state.delivery.address;
      },

      set(address) {
        if (address.data && address.data.cityWithType !== this.city.value) {
          this.$store.commit('delivery/SET_AUTO_SELECT_CITY_VALUE', address.data.cityWithType);
        } else if (address.value) {
          this.$store.commit('delivery/SET_ADDRESS_DADATA', address);
        }

        const value = address.value ? address.value : address;

        this.$store.commit('delivery/SET_ADDRESS', value);

        if (address.index) {
          this.$store.commit('delivery/SET_INDEX', address.index);
        }
      },
    },

    index: {
      get() {
        return this.$store.state.delivery.index;
      },

      set(value) {
        this.$store.commit('delivery/SET_INDEX', value);
      },
    },
  },

  watch: {
    address() {
      this.updateData();
    },

    index() {
      this.updateData();
    },
  },

  mounted() {
    this.updateSaved();
    this.updateData();
  },

  methods: {
    handleSubmit() {
      this.$emit('submit');
    },

    updateData() {
      if (this.address.length && this.index.length) {
        this.$store.dispatch('delivery/FETCH_POSTAL', {
          address: this.address,
          postalCode: this.index,
        }).then((data) => {
          this.$store.commit('delivery/SET_PRICE', {
            type: 'postal',
            price: data.price,
          });
        });
      } else {
        this.$store.commit('delivery/SET_PRICE', {
          type: 'postal',
          price: 0,
        });
      }
    },

    updateSaved() {
      if (this.addresses.length) {
        this.savedResults = this.addresses.map(item => ({
          value: item.address,
          data: {
            cityWithType: item.city,
            street: item.address,
          },
          status: 'Сохранённый адрес',
          index: item.index,
        }));
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.row
  display flex

  & + &
    margin-top 17px

.group
  flex-grow 1

  &._select
    flex-grow 0
    min-width 290px
    margin-right 45px

  &._index
    flex-grow 0
    min-width 100px
    width 100px
    margin-right 20px

.text
  height 44px
  display flex
  align-items center

.controls
  padding-top 40px

.app-button
  width 142px

+tablet()

  .title
    margin-left 0

  .controls
    padding-top 24px

  .app-button
    width 100%
    font-size 12px

  .text
    font-size 13px
    height 36px

+mobile()
  .controls
    padding-top 14px

  .row
    flex-direction column

    & + &
      margin-top 16px

  .group

    & + &
      margin-top 16px

    &._select,
    &._index
      min-width 0
      width auto
      margin-right 0

  .app-button
    height 48px
</style>
