<template lang="pug">
  .checkout-delivery-result
    CheckoutResult
      .row(
        v-if="deliveryType !== 'postal' && deliveryType !== 'courier'"
      )
        .column
          .item._main {{ point.address }}
          .item(v-if="point.metro")
            app-metro-indicator(:color="point.metro.color") {{ point.metro.name }}
          .item._map-link
            a(
              href="javascript:void(0)"
              @click="handleToggleMap"
            ).link Показать на карте
        .column
          template(v-if="deliveryType === 'takeFromStore'")
            .item._sub
              app-icon.icon(
                name="calendar-alt-solid"
                width="13"
                height="15"
              )
              span Дата получения {{ date }}
            //- .item.products-caller(@click="handleToggleProducts")
            //-   span Сегодня есть&nbsp;
            //-   b 2 из 3 товаров
            //-   app-icon.arrow(
            //-     name="arrow-down"
            //-     width="10"
            //-     height="8"
            //-     fill="#75787b"
            //-   )
          template(v-else)
            .item._sub
              app-icon.icon(
                name="calendar-alt-solid"
                width="13"
                height="15"
              )
              span Товары прибудут {{ date }}.&nbsp;
                b(v-if="getPrice(deliveryType) === 0 && donePrice === 0") Бесплатно
                b(v-else-if="donePrice") {{ donePrice }} руб.
                b(v-else-if="getPrice(deliveryType)") {{ getPrice(deliveryType) }} руб.
      .row(v-else-if="deliveryType === 'courier'")
        .column
          .item._main {{ address }}
        .column
          .item._sub
            app-icon.icon(
              name="calendar-alt-solid"
              width="13"
              height="15"
            )
            span Товары прибудут {{ date }}.&nbsp;
              b(v-if="getPrice(deliveryType) === 0 && donePrice === 0") Бесплатно
              b(v-else-if="donePrice") {{ donePrice }} руб.
              b(v-else-if="getPrice(deliveryType)") {{ getPrice(deliveryType) }} руб.
      .row(v-else-if="deliveryType === 'postal'")
        .column
          .item._main {{ address }}, {{ index }}
        .column
          .item._sub(v-if="getPrice(deliveryType) === 0 && donePrice === 0")
            span: b Бесплатно
          .item._sub(v-else-if="donePrice")
            span: b {{ donePrice }} руб.
          .item._sub(v-else-if="getPrice(deliveryType)")
            span: b {{ getPrice(deliveryType) }} руб.
    .products(v-if="isShowProducts")
      .products-item(v-for="item in goods")
        .image-wrapper
          img.image(
            :src="item.image"
            :alt="item.name"
          )
        .text-wrapper
          .item-title {{ item.name }}
          .properties {{ item.size }}, {{ item.color }}
    CheckoutShopsMap(
      v-if="isShowMap"
      :shops="[point]"
    )
</template>

<script>
import CheckoutResult from '@/components/checkout/CheckoutResult';
import CheckoutShopsMap from '@/components/checkout/CheckoutShopsMap';

export default {
  components: {
    CheckoutShopsMap,
    CheckoutResult,
  },

  data: () => ({
    isShowProducts: false,
    isShowMap: false,
    goods: [],
  }),


  computed: {
    point() {
      if (this.$store.state.delivery.point.name) {
        return this.$store.state.delivery.point;
      }

      if (this.$store.state.delivery.orderInfo.data.delivery) {
        return this.$store.state.delivery.orderInfo.data.delivery.description.point;
      }

      return '';
    },

    address() {
      if (this.$store.state.delivery.address.length) {
        return this.$store.state.delivery.address;
      }

      if (this.$store.state.delivery.orderInfo.data.delivery) {
        return this.$store.state.delivery.orderInfo.data.delivery.description.address;
      }

      return '';
    },

    index() {
      if (this.$store.state.delivery.index.length) {
        return this.$store.state.delivery.index;
      }

      if (this.$store.state.delivery.orderInfo.data.delivery) {
        return this.$store.state.delivery.orderInfo.data.delivery.description.index;
      }

      return '';
    },

    takeFromStore() {
      return this.$store.state.delivery.takeFromStore;
    },

    deliverToStore() {
      return this.$store.state.delivery.deliverToStore;
    },

    courier() {
      return this.$store.state.delivery.courier;
    },

    postal() {
      return this.$store.state.delivery.postal;
    },

    pvz() {
      return this.$store.state.delivery.pvz;
    },

    date() {
      const { desiredDate } = this.$store.state.delivery;
      if (desiredDate.length) {
        return new Date(desiredDate).toLocaleDateString('ru-RU', {
          day: 'numeric',
          month: 'long',
        });
      }

      return '';
    },

    deliveryType() {
      if (this.$store.state.delivery.type) {
        return this.$store.state.delivery.type;
      }

      if (this.$store.state.delivery.orderInfo.data.delivery) {
        return this.$store.state.delivery.orderInfo.data.delivery.description.type;
      }

      return '';
    },

    donePrice() {
      if (this.$store.state.delivery.orderInfo.data.delivery) {
        return this.$store.state.delivery.orderInfo.data.delivery.description.price;
      }

      return 0;
    },
  },

  methods: {
    handleToggleProducts() {
      this.isShowProducts = !this.isShowProducts;
    },

    handleToggleMap() {
      this.isShowMap = !this.isShowMap;
    },

    getPrice(type) {
      if (this[type]) {
        return this[type].price;
      }

      return '';
    },
  },
};
</script>

<style lang="stylus" scoped>
  .checkout-shops-map
    margin-top: 24px
    width 100%
    height: 340px

  .products
    border 1px solid #ec
    background-color #f5
    border-radius 2px
    margin-top 24px

    &-caller
      cursor: pointer

    .products-item
      height 70px
      padding 0 15px
      display flex
      align-items center

      & + &
        border-top 1px solid #ec

    .image-wrapper
      height 52px
      width 52px
      overflow hidden
      margin-right 10px

    .image
      width 100%

    .item-title
      font-size 13px
      font-weight 600
      color #0
      margin-bottom 5px

    .properties
      font-size 12px
      color $gray

+mobile()
  .checkout-shops-map
    height: 288px
</style>
