<template lang="pug">
  .checkout-thanks
    template(v-if="view === 'fail'")
      img.bg(src="/img/done.jpg", alt="done")
      app-step-circle(status="failed")
      .content
        h1.title Заказ не был оплачен
        .text
          p
            | Возникли проблемы с оплатой.
    template(v-else)
      img.bg(src="/img/done.jpg", alt="done")
      app-step-circle(status="completed")
      .content
        h1.title Заказ оформлен
        .text
          p
            | Спасибо, что выбрали нас.
          p
            | После обработки заявки, мы пришлём вам письмо
            br
            | на&nbsp;
            b {{ contacts.email }}&nbsp;
            | и СМС на номер&nbsp;
            b._nowrap-text {{ contacts.phone }}
          //- p
          //-   | Товар можно забрать в течение 1 дня с момента получения СМС.
          //-   | Для экономии вашего времени приходите в магазин после получения СМС.
</template>

<script>
export default {
  props: {
    view: {
      type: String,
      default: '',
    },
  },

  computed: {
    contacts() {
      return this.$store.state.delivery.contacts;
    },
  },
};
</script>

<style lang="stylus" scoped>
._nowrap-text
  white-space nowrap

.checkout-thanks
  display flex
  padding 32px 0 0
  position relative

  .bg
    position absolute
    top 0
    left -130px

  .content,
  .app-step-circle
    position relative

  .title
    margin 9px 0 26px

  .text
    font-size 18px
    line-height 1.5

    b
      font-weight 600

    p
      margin 0 0 16px

.app-step-circle
  margin-right 16px

+mobile()
  .checkout-thanks
    display flex
    padding 20px 0 0

    .bg
      left 0

    .title
      margin 4px 0 16px
      font-size 16px

    .text
      font-size 14px
      line-height 1.5

      b
        font-weight 600

      p
        margin 0 0 16px

</style>
