<template lang="pug">
  .checkout-courier
    CheckoutStep
      .top
        h3.title Адрес доставки
      .main
        form.form(@submit.prevent)
          .row
            .group
              .subtitle Укажите улицу, дом, квартиру:
              app-suggestions(
                placeholder="ул. Ленина, 21к6, лит.А, 234"
                :location="location",
                :bounds="['street', 'house']",
                :initial-value="address"
                :savedResults="savedResults"
                @select="result => address = result"
                @input="result => address = result"
              )
          .row
            .group._select
              .subtitle Предварительная дата доставки:
              multiselect(
                v-model="select"
                :options="dates"
                :searchable="false",
                :show-labels="false"
                track-by="value"
                label="label"
                :placeholder="address.length ? 'Выберите дату' : 'Введите адрес'"
                :disabled="!address.length"
              )
            .group._fe
              .text С Вами свяжутся и уточнят удобное для Вас время
          .controls
            app-button(
              mod="_cyan"
              :disabled="!address || !select"
              @click="handleSubmit"
            ) Продолжить
</template>

<script>
import CheckoutStep from '@/components/checkout/CheckoutStep';

export default {
  components: {
    CheckoutStep,
  },

  props: {
    location: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    select: '',
    savedResults: [],
  }),

  computed: {
    initialDate() {
      const date = this.$store.state.delivery.desiredDate;

      if (date.length) {
        return this.processDate(date);
      }

      return {};
    },

    courier() {
      return this.$store.state.delivery.courier.data;
    },

    code() {
      return this.$store.state.delivery.code;
    },

    city() {
      return this.$store.state.delivery.city;
    },

    addresses() {
      return this.$store.state.user.personal.data.addresses;
    },

    address: {
      get() {
        return this.$store.state.delivery.address;
      },

      set(address) {
        if (address.data && address.data.cityWithType !== this.city.value) {
          this.$store.commit('delivery/SET_AUTO_SELECT_CITY_VALUE', address.data.cityWithType);
        } else if (address.value) {
          this.$store.commit('delivery/SET_ADDRESS_DADATA', address);
        }
        const value = address.value ? address.value : address;
        this.$store.commit('delivery/SET_ADDRESS', value);
      },
    },

    dates() {
      if (this.courier.dates) {
        return this.courier.dates.map(value => this.processDate(value));
      }

      return [];
    },

    description() {
      if (this.select && this.select.value) {
        return `Доставим ${this.select.label.split(',')[0]} или позже`;
      }

      return '';
    },
  },

  watch: {
    address() {
      this.updateData();
    },

    select() {
      this.$store.commit('delivery/SET_DESCRIPTION', this.description);
      if (this.select) {
        this.$store.commit('delivery/SET_DESIRED_DATE', this.select.value);
      }
    },
  },

  mounted() {
    if (this.initialDate.value) {
      this.select = this.initialDate;
    }

    this.updateSaved();
    this.updateData();
  },

  methods: {
    setAddressString(value) {
      this.$store.commit('delivery/SET_ADDRESS', value);
    },

    handleSubmit() {
      this.$emit('submit');
    },

    processDate(value) {
      const monthDay = new Date(value).toLocaleDateString('ru-RU', {
        day: 'numeric',
        month: 'long',
      });
      const weekDay = new Date(value).toLocaleDateString('ru-RU', {
        weekday: 'long',
      });

      return {
        label: `${monthDay}, ${weekDay}`,
        value,
      };
    },

    updateData() {
      if (this.address.length) {
        this.$store.dispatch('delivery/FETCH_COURIER', {
          code: this.code,
          region: `${this.city.data.region} ${this.city.data.regionTypeFull}`,
          city: this.city.data.city,
        }).then((data) => {
          this.$store.commit('delivery/SET_PRICE', {
            type: 'courier',
            price: data.price,
          });
        });
      } else {
        this.$store.commit('delivery/SET_PRICE', {
          type: 'courier',
          price: 0,
        });
        this.select = '';
      }
    },

    updateSaved() {
      if (this.addresses.length) {
        this.savedResults = this.addresses.map(item => ({
          value: item.address,
          data: {
            cityWithType: item.city,
            street: item.address,
          },
          status: 'Сохранённый адрес',
        }));
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.row
  display flex

  & + &
    margin-top 17px

.group
  flex-grow 1

  &._select
    flex-grow 0
    min-width 290px
    margin-right 25px

.text
  height 44px
  display flex
  align-items center
  color $grayLight
  font-size: 13px
  line-height 1.5

.controls
  padding-top 40px

.app-button
  width 142px

+tablet()

  .title
    margin-left 0

  .controls
    padding-top 24px

  .app-button
    width 100%
    font-size 12px

  .text
    font-size 13px
    height 36px

+mobile()
  .controls
    padding-top 14px

  .row
    flex-direction column

    & + &
      margin-top 16px

  .group

    & + &
      margin-top 16px

    &._select
      min-width 0
      margin-right 0

  .app-button
    height 48px
</style>
