<template lang="pug">
  .checkout-result
    slot
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
.row
  display flex
  align-items flex-end
  justify-content space-between
  position relative

.icon
  color #afb0b0
  margin-right 5px

.link
  text-decoration none
  font-weight 600
  color $cyan

.item
  display flex
  align-items center
  font-size 12px
  color $gray

  & + &
    margin-top 10px

  &._main
    font-size 13px
    font-weight 700
    max-width 235px
    line-height 1.5

  &._sub
    color #0

  &._map-link
    position absolute
    bottom 0
    left 33%

  b
    font-weight 600

.arrow
  margin-left 5px

+mobile()
  .row
    flex-direction column
    align-items flex-start

  .item

    & + &
      margin-top 12px

    &._map-link
      position relative
      left auto
      top auto
      margin-bottom 10px

  .column

    & + &
      margin-top 12px

</style>
