<template lang="pug">
  label.checkout-radio(
    :class="[{'_active': checked === value}, {'_disabled': disabled}]"
  )
    app-radio(
      :name="name"
      wrapper="span"
      :checked="checked"
      @change="(value) => $emit('change', value)"
      :value="value"
      :disabled="disabled"
    )
    slot
</template>

<script>
export default {
  props: {
    checked: {
      type: [String, Number],
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      default: '',
    },
    error: {
      type: String,
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-radio
  position relative
  border 1px solid #C7D0D8
  border-radius 2px
  padding 17px 18px 18px 43px
  cursor pointer
  transition background-color .2s

  &:hover,
  &._active
    background-color #f8

  &._disabled
    background-color transparent
    pointer-events none

  .app-radio
    position absolute
    top 15px
    left 16px

  .title
    max-width 70%

.top
  display flex
  justify-content space-between
  align-items center
  font-size 14px
  font-weight 700
  margin-bottom 5px

.title
  color #0

.status
  color $green
  display: flex
  align-items: center

  &._mobile
    display none

.text
  font-size 13px
  color $gray
  line-height 1.5

.checkout-radio._disabled .top,
.checkout-radio._disabled .main
  opacity .5

.question
  position relative
  color: #0
  margin-left: 4px

+tablet()
  .checkout-radio
    padding 0

  .top
    font-size 13px
    padding 17px 18px 0 43px

  .text
    font-size 12px
    line-height 1.6
    padding 8px 16px 24px 16px

+mobile()
  .checkout-radio
    padding-bottom 24px

    .title
      max-width none

  .top
    font-weight 600

  .text
    padding 8px 16px 0 16px

  .status
    display none

    &._mobile
      display flex
      font-size 13px
      font-weight 600
      margin-top 10px
      margin-bottom -12px
</style>
