<template lang="pug">
  .checkout-shops-item(
    :class="[state ? `_${state}` : '', view ? `_${view}` : '']"
    @click="handlePointSelect"
  )
    template(v-if="state === 'detail'")
      .content
        .top
          .title
            span.pvz-icon(
              v-if="view === 'pvz'"
              :class="`_${info.type}`"
            )
            span {{ info.name }}
          .metro(v-if="info.metro")
            app-metro-indicator(:color="info.metro.color") {{ info.metro.name }}
        .main
          .address(v-if="info.address") {{ info.address }}
          .contacts
            .time(v-if="info.workTime")
              app-icon.icon(
                name="clock-solid"
                width="14"
                height="14"
              )
              span {{ info.workTime }}
            a.phone(
              v-if="info.phone"
              :href="`tel:${info.phone}`"
            )
              app-icon.icon(
                name="phone-solid"
                width="14"
                height="14"
              )
              span {{ info.phone }}
          CheckoutMissGoods(
            v-if="view !== 'reservation'"
            :info="info"
            :view="view"
          )
          .controls(v-if="view !== 'reservation'")
            app-button(mod="_cyan") Выбрать и продолжить
        .controls(v-if="view === 'reservation'")
          app-button(
            :mod="view === 'reservation' ? '_red' : '_cyan'"
          ) Выбрать и продолжить
    template(v-else)
      .content
        .top
          .title
            span.pvz-icon(
              v-if="view === 'pvz'"
              :class="`_${info.type}`"
            )
            span {{ info.name }}
          .metro(v-if="info.metro")
            app-metro-indicator(:color="info.metro.color") {{ info.metro.name }}
          CheckoutMissGoods(
            :goods="info.missGoods"
            :info="info"
            :view="view"
          )
</template>

<script>
import CheckoutMissGoods from '@/components/checkout/CheckoutMissGoods';

export default {
  components: { CheckoutMissGoods },

  props: {
    state: {
      type: String,
      default: '',
    },
    view: {
      type: String,
      default: '',
    },
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  methods: {
    handlePointSelect() {
      const type = this.view === 'reservation'
        ? 'takeFromStore'
        : 'pvz';

      this.$store.commit('delivery/SET_POINT', this.info);
      this.$store.commit('delivery/SET_PRICE', {
        type,
        price: this.info.price,
      });
      this.$store.commit('delivery/SET_DESIRED_DATE', this.info.date);
      this.$store.commit('reservation/SET_SELECTED_SHOP', { id: this.info.id, value: this.info.address });
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-shops-item
  min-height 100px
  cursor pointer
  transition background-color .2s

  & + &
    border-top 1px solid #ec

.top
  padding 18px 22px 16px

  &:hover
    background-color #f8

.title
  font-size 13px
  font-weight 700
  color #0
  margin-bottom 9px

.metro
  margin-bottom 9px

// Детальное состояние
.main
  background #f

.address
  font-size 13px
  color $gray
  line-height 1.5
  margin-bottom 20px

.contacts
  margin-bottom 20px

.time,
.phone
  display flex
  align-items center
  font-size 13px

.time
  color $gray

.phone
  text-decoration none
  color $cyan
  font-weight 500
  margin-top 10px

.icon
  color #afb0b0
  margin-right 5px

.controls
  padding-top 15px

.app-button
  font-size 13px

.checkout-shops-item._detail
  border 1px solid #ec
  border-radius 2px
  cursor default

  .top
    background-color #f8

  .main
    padding 18px 22px 16px

.checkout-shops-item._detail._reservation
  border none

  .top,
  .main
    border 1px solid #ec

  .top
    border-bottom none

  .main
    border-top none

  .contacts
    margin-bottom 10px

  .controls
    padding-top 33px

  .app-button
    font-size 13px

.title
  display: flex
  align-items: center

.pvz-icon
  width 18px
  height 18px
  border-radius 50%
  background-color #f
  background-size contain
  background-position center
  margin-right 4px
  background-repeat no-repeat

  &._b2cpl
    background-image url('/img/pins/b2cpl.png')

  &._boxberry,
  &._boxbery
    background-image url('/img/pins/boxbery.png')

  &._dpd
    background-image url('/img/pins/dpd.png')

  &._pik
    background-image url('/img/pins/pik.png')

  &._pochta
    background-image url('/img/pins/pochta.png')

  &._cdek
    background-image url('/img/pins/sdek.png')

  &._tervolina
    background-image url('/img/pins/tervolina.png')

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    background-size 50%

    &._b2cpl
      background-image url('/img/pins/b2cpl@2x.png')

    &._boxberry
      background-image url('/img/pins/boxberry@2x.png')

    &._dpd
      background-image url('/img/pins/dpd@2x.png')

    &._pik
      background-image url('/img/pins/pik@2x.png')

    &._pochta
      background-image url('/img/pins/pochta@2x.png')

    &._cdek
      background-image url('/img/pins/sdek@2x.png')

    &._tervolina
      background-image url('/img/pins/tervolina@2x.png')

+tablet()

  .top
    padding 18px 22px 16px 0

  .top:hover
    background-color transparent

  .checkout-shops-item._detail,
  .checkout-shops-item._detail._reservation
    border none

    .top
      background-color transparent
      border none

    .main
      padding 0
      border none

  .app-button
    font-size 12px
    height 48px

+mobile()

  .controls
    padding-top 20px

</style>
