<template lang="pug">
  .checkout-payment
    CheckoutStep(:mod="view ? `_${view}` : ''")
      template(v-if="view === 'completed'")
        .wrapper
          .top
            app-step-circle(status="completed") 2
            h3.title {{ steps.payment.title }}
            .edit._payment(@click="handleEdit")
              app-icon.pen(
                name="pen-solid"
                width="15"
                height="15"
              )
              span Изменить
      template(v-else-if="view === 'disabled'")
        .wrapper
          .top
            app-step-circle(status="disabled") 2
            h3.title Оплата
      template(v-else)
        .wrapper
          .top
            app-step-circle 2
            h3.title Оплата
            .description Выберите удобный способ оплаты:
          .main
            .container
              CheckoutRadio(
                v-for="payment in payments"
                name="payment"
                :key="payment.id"
                :checked="activePayment"
                @change="setActivePayment(payment)"
                :value="payment.id"
              )
                .content
                  .top
                    .title {{ payment.name }}
                  .main
                    .payments(v-if="payment.id === '5'")
                      app-icon.icon._mastercard(
                        name="mastercard"
                        width="45"
                        height="45"
                      )
                      app-icon.icon(
                        name="visa"
                        width="48"
                        height="48"
                      )
                      app-icon.icon(
                        name="mir"
                        width="50"
                        height="50"
                      )
                    .text(v-else) {{ payment.description }}
            .controls
              app-button(
                mod="_cyan"
                @click="handleSubmit"
                :disabled="!activePayment"
              ) Продолжить
</template>

<script>
import CheckoutStep from '@/components/checkout/CheckoutStep';
import CheckoutRadio from '@/components/checkout/CheckoutRadio';

export default {
  components: {
    CheckoutStep,
    CheckoutRadio,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    title: '',
    activePayment: '',
  }),

  computed: {
    steps() {
      return this.$store.state.checkout.steps;
    },

    payments() {
      return this.$store.state.delivery.payments.data;
    },
  },

  methods: {
    setActivePayment(payment) {
      this.activePayment = payment.id;
      this.title = payment.name;
    },

    handleSubmit() {
      this.$store.commit('delivery/SET_PAYMENT', this.activePayment);
      this.$store.dispatch('checkout/COMPLETE_STEP', {
        step: 'payment',
        title: this.title,
      });

      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      const headerHeight = document.querySelector('header').offsetHeight;

      window.scroll({
        top: this.$el.getBoundingClientRect().top + scrollTop - headerHeight,
        left: 0,
        behavior: 'smooth',
      });
    },

    handleEdit() {
      this.$store.dispatch('checkout/EDIT_STEP', { step: 'payment' });
    },
  },
};
</script>

<style lang="stylus" scoped>
.payments
  display flex
  align-items center

.icon
  margin-top -10px
  margin-right 10px

  &._mastercard
    margin -10px 0 0 -10px

.payment-info
  font-size 13px
  color $gray
  line-height 1.5

.controls
  padding-top 22px

.app-button
  width 142px
  font-size 13px

.checkout-payment
  .checkout-step._completed
    .wrapper
      height 88px
      padding 0 80px
      display flex
      align-items center

    .top
      margin-bottom 0

    .app-step-circle
      position absolute
      top 0
      bottom 0
      margin auto 0
      left 24px

+tablet()

  .payments
    padding 8px 16px 0 16px

  .controls
    padding-top 24px

  .app-button
    width 100%
    font-size 12px
    height 48px

  .checkout-payment
    .checkout-step._completed
      .wrapper
        height 60px
        padding 0 24px

      .app-step-circle
        left 16px

+mobile()

  .payments
    margin-bottom -21px
</style>
