<template lang="pug">
  .checkout-step(
    :class="mod"
    @submit="$emit('submit')"
  )
    slot
</template>

<script>
export default {
  props: {
    mod: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="stylus" scoped>
.wrapper
  position relative
  padding 43px 80px 40px

.top
  margin-bottom 20px

.title
  font-size 16px
  font-weight bold
  color #0
  margin 0

.description
  font-size 13px
  color #0
  padding 10px 0 10px
  letter-spacing -.4px

  b
    font-weight 600

.app-step-circle
  position absolute
  top 33px
  left 25px

.subtitle
  font-size 13px
  font-weight 500
  color #0
  margin-bottom 10px

.row

  & + &
    margin-top 30px

.container
  display flex
  flex-wrap wrap
  margin 0 -18px -18px 0

.checkout-radio
  width calc(50% - 18px)
  margin-right 18px
  margin-bottom 18px

.checkout-step._disabled
  .wrapper
    height 88px
    padding 0 80px
    display flex
    align-items center

  .top
    margin-bottom 0

  .app-step-circle
    position absolute
    top 0
    bottom 0
    margin auto 0
    left 22px

  .title
    opacity .5

.checkout-step._done
  .wrapper
    padding 43px 60px 40px 40px

.group

  &._fe
    display flex
    align-items flex-end

.edit
  position absolute
  top 43px
  right 80px
  color $cyan
  font-size 12px
  cursor pointer

  &._payment
    top 33px

.pen
  margin-right 8px
  position relative
  top 3px

+tablet()
  .wrapper
    position relative
    padding 19px 24px 28px

  .top
    margin-bottom 18px

  .title
    font-size 16px
    font-weight bold
    color #0
    margin 0 0 0 30px

  .subtitle
    font-size 12px

  .app-step-circle
    top 15px
    left 15px

  .description
    padding 12px 0 0

  .edit
    top 19px
    right 24px

    &._payment
      top 19px

  .row

    & + &
      margin-top 23px

  .checkout-step._disabled
    .wrapper
      height 60px
      padding 0 24px

    .top
      margin-bottom 0

    .app-step-circle
      left 16px
      background-color #f8

    .title
      opacity .5
      font-size 16px
      font-weight 500

  .checkout-step._done
    .wrapper
      padding 19px 24px 28px

    .title
      margin-left 0

+mobile()
  .wrapper
    padding 19px 20px 20px

  .description
    line-height 1.6

  .container
    margin 0 0 -12px 0

  .checkout-radio
    width 100%
    margin 0 0 12px

  .row

    & + &
      margin-top 20px

  .checkout-step._done
    .wrapper
      padding 19px 20px 20px

  .title
    .d-word
      display none

  .edit
    top: 16px
    right 4px

    &._payment
      top 18px

    span
      display: none

</style>
