<template lang="pug">
  .checkout-cart(:class="view ? `_${view}` : ''")
    template(v-if="view === 'done'")
      .container
        CheckoutCartItem(
          v-for="(item, index) in doneOrder"
          v-if="item.count"
          :key="index + 1"
          :info="item"
          :view="view"
        )
      .info._done
        .row
          .title Итого {{ doneAmount }}
          .value._bold {{ donePrice.toLocaleString('ru') }} руб.
        //- .row
        //-   .title Скидка по промокоду LETO19
        //-   .value._red - 88 руб.
        .row(v-if="bonusSelected && isBonusActive")
          .title Оплата бонусами
          .value._red - {{ bonusSelected.toLocaleString('ru') }} руб.
        .row(v-if="isPromocodeActive && promocodePrice")
          .title._bonus Промокод &laquo;{{ promocodeLabel }}&raquo;
          .value._red - {{ promocodePrice }} руб.
      .total
        .row
          .title._heavy Оплата при получении
          .value._heavy {{ donePrice.toLocaleString('ru') }} руб.
        .row(v-if="bonus && isBonusActive")
          .title Бонусы за покупку
          .value +{{ bonus }} бонусов
    template(v-else)
      .container
        CheckoutCartItem(
          v-for="item, index in order"
          :key="index + 1"
          :info="item"
          :view="view"
        )
      .total
        .row(v-if="bonusSelected && isBonusActive")
          .title._bonus Оплата бонусами
          .value._red - {{ bonusSelected }} руб.
        .row(v-if="isPromocodeActive && promocodePrice")
          .title._bonus Промокод &laquo;{{ promocodeLabel }}&raquo;
          .value._red - {{ promocodePrice }} руб.
        .row
          .title._heavy {{ amount }} на сумму
          .value._heavy
            span.old-price(v-if="oldTotal !== price")
              | {{ oldTotal.toLocaleString('ru') }} руб.
            span {{ price.toLocaleString('ru') }} руб.
        .row
          .title._delivery
            template(v-if="freeThreshold")
              span До бесплатной доставки осталось&nbsp;
              b {{ freeThreshold }} руб
            template(v-else-if="amountFreeThreshold")
              span Доставка бесплатно
      .bonus
        BonusCard
      .bonus
        Promocode
</template>

<script>
import morphHelper from '@/helpers/morphHelper';
import CheckoutCartItem from '@/components/checkout/CheckoutCartItem';
import BonusCard from '@/components/checkout/BonusCard';
import Promocode from '@/components/checkout/Promocode';

export default {
  components: {
    CheckoutCartItem,
    BonusCard,
    Promocode,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
  },

  computed: {
    order() {
      return this.$store.getters['basket/products'];
    },

    price() {
      return `${this.$store.state.basket.products.total}`;
    },

    oldTotal() {
      return `${this.$store.state.basket.products.oldTotal}`;
    },

    amount() {
      const amount = this.$store.getters['basket/productsAmount'];
      return `
        ${amount}
        ${morphHelper('товар', 'товара', 'товаров', amount)}`;
    },

    bonus() {
      return this.$store.state.basket.bonus || 0;
    },

    doneOrder() {
      return this.$store.getters['basket/doneProducts'];
    },

    donePrice() {
      return `${this.$store.state.basket.doneProducts.total}`;
    },

    doneAmount() {
      const amount = this.$store.getters['basket/doneProductsAmount'];
      return `
        ${amount}
        ${morphHelper('товар', 'товара', 'товаров', amount)}`;
    },

    isBonusActive() {
      return this.$store.state.bonusCard.isActive;
    },

    isPromocodeActive() {
      return this.$store.state.promocode.isActive;
    },

    bonusSelected() {
      return this.$store.state.bonusCard.selected;
    },

    promocodeLabel() {
      return this.$store.state.promocode.code;
    },

    promocodePrice() {
      return +this.$store.state.promocode.discountAmount;
    },

    amountFreeThreshold() {
      return +this.$store.state.delivery.deliveries.data.freeThreshold;
    },

    freeThreshold() {
      const result = (this.amountFreeThreshold - this.price).toFixed(2);
      if (result > 0) {
        return `${result}`.toLocaleString('ru');
      }

      return '';
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-cart
  padding 0 40px 20px

.row
  display flex
  align-items center
  justify-content space-between

  & + &
    margin-top 4px

.info
  border-top 1px solid #ececec
  padding 26px 0 25px

.total
  padding 32px 0 23px
  border-top 1px solid #ececec

.bonus
  padding 24px 0 24px 18px
  border-top 1px solid #ececec

.title
  font-size 13px
  font-weight 500
  color $grayLight

  &._heavy
    font-size 20px
    font-weight 700
    color #0

  &._bonus
    font-size 14px
    color $grayLight

  &._delivery
    font-size 14px
    color: #0

.value
  font-size 14px
  font-weight 600
  padding-right 20px

  &._bold
    font-size 16px
    font-weight 700

  &._red
    color $red
    font-weight 700

  &._heavy
    font-size 20px
    font-weight 700

.old-price
  font-size 14px
  color $grayLight
  font-weight 500
  text-decoration line-through
  margin-right 12px

+tablet()
  .checkout-cart
    padding 0

    &._done
      padding 0 24px

  .total
    padding 16px 16px 23px

  .bonus
    padding 16px 16px

  .total,
  .bonus,
  .info._done
    display none

+mobile()

  .info
    padding 16px 0 16px

  .row
    flex-direction column
    align-items flex-start

    & + &
      margin-top 16px

  .title
    margin-bottom 8px

    &._heavy
      font-size 16px

  .value
    padding-right 0

    &._heavy
      font-size 16px

  .checkout-cart._done
    padding 0 16px 24px

    .total
      padding 16px 0 23px
</style>
