<template lang="pug">
  .checkout-steps
    .container
      .step(
        v-for="step, key, index in steps"
        :key="key"
      )
        .group
          app-step-circle(:status="step.status") {{ index + 1 }}
          .title
            span {{ step.title }}
            .date(v-if="key === 'delivery'")
              span {{ date }}
            //- .description(v-if="key === 'delivery' && step.type === 'courier' && !price")
            //-   | * при выкупе заказа от {{ freeThreshold }} руб.
        .group(v-if="key === 'delivery'")
          .status(v-if="step.price") {{ step.price }} р.
          //- .status(v-else) Бесплатно
          //-   span(v-if="step.type === 'courier'") &nbsp;*
</template>

<script>
export default {
  computed: {
    steps() {
      return this.$store.state.checkout.steps;
    },

    date() {
      return this.$store.state.delivery.date;
    },

    price() {
      return this.$store.state.delivery.price;
    },

    deliveryTitle() {
      return this.$store.state.delivery.title;
    },

    freeThreshold() {
      const amount = this.$store.state.delivery.deliveries.data.freeThreshold;

      if (amount) {
        return `${amount}`.toLocaleString('ru');
      }

      return '';
    },
  },
};
</script>

<style lang="stylus" scoped>
.step,
.group
  display flex
  position relative

.step
  justify-content space-between

  & + &
    margin-top 11px

.app-step-circle
  margin-right 15px

.title
  font-size 14px
  font-weight 600
  color #0
  position relative
  padding-top 10px

.date,
.description
  font-size 12px
  color $grayLight
  font-weight 400
  white-space nowrap
  margin-top 4px

.date
  color: #0
  font-weight 500

.description
  margin-top 4px

.status
  font-size 14px
  font-weight 700
  color $green
  padding-top 10px
  position absolute
  right: 0
  top: 0
  white-space nowrap
</style>
