<template lang="pug">
  .checkout-shops-list(:class="view ? `_${view}` : ''")
    .title(v-if="view === 'reservation'") Выберите магазин
    .content(v-show="state === 'list'")
      .top
        app-suggestions(
          placeholder="Укажите улицу"
          :bounds="bounds"
          :location="city.data ? city.data.cityFiasId : ''"
          :count="5"
          @select="handleCitySelect"
        )
      .main(ref="scroll-container")
        .container
          CheckoutShopsItem(
            v-for="(shop, index) in currentShops"
            :key="index + 1"
            :info="shop"
            :view="view"
            @click.native="handleShopSelect(shop)"
          )
          .controls(
            v-show="isMobile"
            v-if="currentShops.length < shops.length"
          )
            app-button(
              @click.native.prevent="loadPage"
            ) Показать еще {{ pageSize }}
    .content(v-show="state === 'detail'")
      .top
        .back(@click="backToList")
          app-icon.back-icon(
            name="arrow"
            width="19"
            height="7"
            fill="#404244"
          )
          span(v-if="view === 'pvz'") К списку всех пунктов выдачи
          span(v-else) К списку всех магазинов
      .detail
        CheckoutShopsItem(
          v-if="activeShop.address"
          :info="activeShop"
          state="detail"
          :view="view"
        )
</template>

<script>
import CheckoutShopsItem from '@/components/checkout/CheckoutShopsItem';

export default {
  components: { CheckoutShopsItem },

  props: {
    view: {
      type: String,
      default: '',
    },
    shops: {
      type: Array,
      default: () => ([]),
    },
  },

  data: () => ({
    state: 'list',
    activeShop: {},
    bounds: ['street', 'street'],
    currentPage: 1,
    pageSize: 10,
    currentShops: [],
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    city() {
      return this.$store.state.delivery.city.value
        ? this.$store.state.delivery.city : this.$store.state.user.city;
    },

    point() {
      return this.$store.state.delivery.point;
    },

    type() {
      if (this.view === 'reservation') {
        return 'takeFromStore';
      }
      return this.$store.state.delivery.type;
    },
  },

  watch: {
    point(shop) {
      if (shop.lat) {
        this.handleShopSelect(shop);
      }
    },
    isMobile() {
      this.initScroll();
    },

    shops(newShops) {
      this.$store.commit('delivery/SET_POINT', {});
      this.$store.commit('delivery/SET_PRICE', {
        type: this.type,
        price: 0,
      });
      this.currentPage = 1;
      this.currentShops = [];

      const addressActiveShop = this.activeShop.address;
      if (addressActiveShop) {
        this.activeShop = newShops
          .find(({ address }) => address === `${addressActiveShop}`) || {};
      }
      this.$nextTick(() => {
        this.loadPage();
      });
    },

    activeShop(newShop) {
      if (newShop.address) { return; }
      this.state = 'list';
    },

    city() {
      this.$store.commit('delivery/SET_POINT', {});
      this.$store.commit('delivery/SET_PRICE', {
        type: this.type,
        price: 0,
      });
      this.currentPage = 1;
      this.currentShops = [];
      this.$nextTick(() => {
        this.loadPage();
      });
    },
  },

  mounted() {
    this.initScroll();

    if (this.view === 'reservation') {
      this.currentShops = this.currentShops.concat(this.shops.slice(
        this.currentShops.length,
        this.currentPage * this.pageSize,
      ));
    } else if (this.shops.length) {
      this.loadPage();
    }
    if (this.point.lat) {
      this.activeShop = this.point;
      this.state = 'detail';
    }
  },

  methods: {
    initScroll() {
      this.$vuebar.destroyScrollbar(this.$refs['scroll-container']);
      this.$refs['scroll-container'].childNodes[0]
        .removeEventListener('scroll', this.handleScroll);
      if (!this.isMobile) {
        this.$vuebar.initScrollbar(this.$refs['scroll-container'], {});
        this.$refs['scroll-container'].childNodes[0]
          .addEventListener('scroll', this.handleScroll);
      }
    },

    handleShopSelect(shop) {
      this.state = 'detail';
      this.activeShop = shop;
      this.$nextTick(() => {
        window.checkout.map.container.fitToViewport();
      });

      if (this.isMobile) {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        const headerHeight = document.querySelector('header').offsetHeight;

        window.scroll({
          top: this.$el.getBoundingClientRect().top + scrollTop - headerHeight,
          left: 0,
          behavior: 'smooth',
        });
      }
    },

    handleCitySelect(selection) {
      this.$store.commit('delivery/SET_STREET', selection);
    },

    backToList() {
      this.state = 'list';
      this.$store.commit('delivery/SET_POINT', {});
      this.$store.commit('delivery/SET_PRICE', {
        type: this.type,
        price: 0,
      });
      this.$nextTick(() => {
        this.loadPage();
        this.$nextTick(() => {
          window.checkout.map.container.fitToViewport();
        });
      });
    },

    loadPage() {
      this.currentShops = this.currentShops.concat(this.shops.slice(
        this.currentShops.length,
        this.currentPage * this.pageSize,
      ));

      this.currentPage += 1;
    },

    handleScroll(e) {
      const el = e.target;

      if (el.offsetHeight + el.scrollTop === el.scrollHeight
        && this.currentShops.length < this.shops.length) {
        this.loadPage();
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-shops-list
  width 264px
  min-width 264px

.app-input
  font-size 13px

.top
  margin-bottom 25px

.main
  height 288px
  overflow auto

.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  color #0
  margin-bottom 15px

.back
  display flex
  align-items center
  font-size 12px
  font-weight 500
  color $gray
  cursor pointer

.back-icon
  transform rotate(180deg)
  margin-right 10px

>>> .control
  padding 11px 22px

.checkout-shops-list._reservation

  .main
    height 402px

+tablet()

  .main
    height auto
    overflow hidden

  .top
    margin-bottom 10px

  .controls
    padding-top 20px
    border-top 1px solid #ec

  .app-button
    font-size 12px

  .checkout-shops-list._reservation

    .main
      height auto

</style>
