<template lang="pug">
  .checkout-card
    .title Номер заказа:
    .number {{ orderId }}
</template>

<script>
export default {
  computed: {
    orderId() {
      if (this.$route.query.id) {
        return this.$route.query.id;
      }

      return this.$route.query.doneId;
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-card
  border-radius 8px
  background-image linear-gradient( 45deg, rgb(228,0,43) 0%, rgb(250,74,74) 100%)
  box-shadow 0px 14px 26px 0px rgba(163, 15, 33, 0.22)
  width 286px
  height 160px
  color #f
  display flex
  align-items center
  justify-content center
  flex-direction column

.title
  font-size 18px
  margin-bottom 20px

.number
  font-size 32px
  font-weight bold
</style>
