<template lang="pug">
  .checkout-contacts-result
    CheckoutResult
      .column
        .row
          .item._main {{ contacts.name }} {{ contacts.familyName }}
          .item {{ contacts.email }}
      .column
        .row
          .item._sub
            span {{ contacts.phone }}
</template>

<script>
import CheckoutResult from '@/components/checkout/CheckoutResult';

export default {
  components: {
    CheckoutResult,
  },


  computed: {
    contacts() {
      return this.$store.state.delivery.contacts;
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
