<template lang="pug">
  .checkout-shops(:class="view ? `_${view}` : ''")
    CheckoutShopsMap(
      v-if="allPoints.length"
      :shops="allPoints"
    )
    CheckoutShopsList(
      v-if="allPoints.length"
      view="pvz"
      :shops="allPoints"
    )
</template>

<script>
import CheckoutShopsMap from '@/components/checkout/CheckoutShopsMap';
import CheckoutShopsList from '@/components/checkout/CheckoutShopsList';

export default {
  components: {
    CheckoutShopsMap,
    CheckoutShopsList,
  },

  props: {
    view: {
      type: String,
      default: '',
    },
  },

  computed: {
    allPoints() {
      return this.$store.state.delivery.delivery.data;
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-shops
  display flex
  justify-content flex-end
  position relative

.checkout-shops-map
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  width 380px

.checkout-shops-list
  width 264px
  min-width 264px
  margin-left 16px

.checkout-shops._reservation
  .checkout-shops-map
    width 444px

+tablet()

  .checkout-shops-map
    width calc(50% - 10px)
    max-height 500px

  .checkout-shops._reservation
    .checkout-shops-map
      width calc(50% - 10px)

  .checkout-shops-list
    width calc(50% - 10px)
    min-width calc(50% - 10px)

+mobile()
  .checkout-shops
    flex-direction column

  .checkout-shops-map
    width 100%
    height 288px
    position relative

  .checkout-shops-list
    width 100%
    min-width 100%
    margin-left 0
    margin-top 20px

  .checkout-shops._reservation
    .checkout-shops-map
      width 100%
</style>
