<template lang="pug">
  .bonuses-phone
    .title {{ title }}
    .text
      span Мы отправили СМС с кодом на указаный в заказе номер +7 *** *** 45 67
    form.form(@submit.prevent="handleSubmit")
      .row
        app-input(
          placeholder="Код из СМС"
          v-model.trim="$v.code.$model"
          v-mask="'####'"
          @input="handleCodeInput"
          :error="$v.code && $v.code.$dirty && $v.code.$error || isCodeInvalid"
          :valid="$v.code && $v.code.$dirty && !$v.code.$error && !isCodeInvalid"
        )
        .error(v-if="$v.code.$dirty && $v.code.$error")
          span(v-if="!$v.code.required") Обязательное поле
          span(v-else-if="!$v.code.minLength") Код должен быть 4-х значным
        .error(v-else-if="isCodeInvalid && !$v.code.$error")
          span Неверный код
      .controls
        app-button(
          mod="_red"
        ) Подтвердить
        .info
          span Не пришло?&nbsp;
          a(href="javascript:void(0);") Выслать еще раз.
</template>

<script>
import {
  required,
  minLength,
} from 'vuelidate/lib/validators';

export default {
  props: {
    title: {
      type: String,
      default: 'Подтвердите телефон',
    },
  },

  data: () => ({
    code: '',
    isCodeInvalid: false,
  }),

  methods: {
    handleSubmit() {
      this.$v.code.$touch();

      if (!this.$v.$invalid) {
        if (this.code === '1111') {
          this.isCodeInvalid = false;
          this.$emit('success');
        } else {
          this.isCodeInvalid = true;
        }
      }
    },

    handleCodeInput() {
      this.isCodeInvalid = false;
    },
  },

  validations() {
    return {
      code: {
        required,
        minLength: minLength(4),
      },
    };
  },
};
</script>

<style lang="stylus" scoped>
</style>
