<template lang="pug">
  form.promocode(
    ref="form"
    @submit.prevent="handleSubmit"
  )
    BonusCardWrapper
      .row
        .group
          app-checkbox(
            :checked="isActive"
            mod="_big"
            @change="(e) => toggleInput(e.checked)"
            :disabled="isBonuscardActive"
          )
            span.title Промокод
          app-icon.question(
            v-if="!isSubmitted"
            name="question-circle-solid"
            width="17"
            height="17"
            v-tooltip.top-center="tooltip"
          )
        .group(v-if="isSubmitted && isActive")
          .code - {{ promocodePrice }} руб.
        .pointer(
          v-if="!(isSubmitted && isActive)"
          :class="{'_active': isInputVisible}"
          @click="isInputVisible = !isInputVisible"
        )
          app-icon(name="arrow-down")
      template(v-if="isInputVisible && !isSubmitted")
        .row._promo
          .code-input-wrapper._promocode
            app-input.promocode-input(
              placeholder="Введите промокод"
              v-model="promo"
              @input="handleInput"
              key='promo'
              :error="!status && isInputted"
              :valid="status && isInputted"
            )
            app-button.card-button(mod="_cyan") Применить
        .row._info._promo(v-if="$v.$invalid && $v.promo && $v.promo.$dirty || isInputted")
          .error(v-if="!$v.promo.required || !status")
            span(v-if="!$v.promo.required") Обязательное поле
            span(v-else) {{ message }}
          .description(v-if="status")
            span {{ message }}
</template>

<script>
import BonusCardWrapper from '@/components/checkout/BonusCardWrapper';
import { debounce } from 'lodash';
import {
  required,
} from 'vuelidate/lib/validators';

export default {
  components: { BonusCardWrapper },

  data: () => ({
    isInputVisible: false,
    promo: '',
    isInputted: false,
    message: '',
    status: false,
  }),

  computed: {
    isActive: {
      get() {
        return this.$store.state.promocode.isActive;
      },
      set(value) {
        this.$store.commit('promocode/SET_ACTIVE', value);
        if (value) { return; }

        this.$store.dispatch('promocode/FETCH_REMOVE_PROMOCODE')
          .then(() => {
            this.isInputted = false;
            this.promo = '';
            this.message = '';
            this.status = false;
          })
          .catch();
      },
    },

    isSubmitted() {
      return this.$store.state.promocode.isSubmitted;
    },

    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    isBonuscardActive() {
      return this.$store.state.bonusCard.isActive;
    },

    promocodePrice() {
      return this.$store.state.promocode.discountAmount;
    },

    tooltip() {
      return {
        content: 'При использовании промокода<br> другие скидки могут быть недоступны',
        trigger: this.isMobile ? 'click' : 'hover',
      };
    },
  },

  watch: {
    isActive(value) {
      this.isInputVisible = value;
    },
  },

  methods: {
    toggleInput(value) {
      if (!this.isBonuscardActive) {
        this.isActive = value;
      }
    },
    handleInput: debounce(async function handleInput(promocode) {
      this.isInputted = true;
      if (promocode.length > 2) {
        await this.$store.dispatch('promocode/FETCH_CHECK_PROMOCODE', {
          promocode: promocode.toUpperCase(),
        })
          .then(({ DATA }) => {
            this.status = DATA.result;
            this.message = this.status ? 'Промокод может быть применен' : 'Введен некорректный промокод';
          })
          .catch(() => {
            this.message = 'Потеряна связь с сервером';
            this.status = false;
          });
      }
    }, 800),


    handleSubmit() {
      this.$v.$touch();
      if (this.$v.$invalid || !this.status) { return; }

      this.$store.dispatch('promocode/FETCH_PROMOCODE', {
        promocode: this.promo.toUpperCase(),
      })
        .catch(() => {});
    },
  },


  validations() {
    return {
      promo: {
        required,
      },
    };
  },
};
</script>
