<template lang="pug">
  form.reservation-form(@submit.prevent="handleSubmit")
    .content
      .title Бронирование
    .row
      .field
        .label Ваше имя
        app-input(
          type="text"
          placeholder="Имя"
          v-model.trim="$v.name.$model"
        )
        .error(v-if="$v.name.$dirty")
          span(v-if="!$v.name.required") Обязательное поле
          span(v-if="$v.name.required && !$v.name.validateName")
            | В имени допускаются только кириллица и тире
      .field
        .label Ваша фамилия
        app-input(
          type="text"
          placeholder="Фамилия"
          v-model.trim="$v.lastName.$model"
        )
        .error(v-if="$v.lastName.$dirty")
          span(v-if="!$v.lastName.required") Обязательное поле
          span(v-if="$v.lastName.required && !$v.lastName.validateName")
            | В фамилии допускаются только кириллица и тире
    .row
      .field
        .label Телефон для связи
        app-input(
          type="tel"
          placeholder="Телефон"
          v-mask="'+7 (###) ###-##-##'"
          v-model.trim="$v.phone.$model"
          @focus="correctPhone"
        )
        .error(v-if="$v.phone.$dirty")
          span(v-if="!$v.phone.required") Обязательное поле
          span(v-else-if="!$v.phone.minLength") Телефон введен неверно
          span(v-else-if="!$v.phone.maxLength") Телефон введен неверно
      .field
        .label Адрес электронной почты
        app-input(
          type="email"
          placeholder="E-mail"
          v-model.trim="$v.email.$model"
        )
        .error(v-if="$v.email.$dirty")
          span(v-if="!$v.email.required") Обязательное поле
          span(v-else-if="!$v.email.email") Некорректный email
    .controls
      .submit
        app-button(mod="_red _small") Забронировать на день
      .caution  Отправляя вы соглашаетесь с&nbsp;
        a(href="/about/protection-of-information/") Политикой обработки персональных данных.
</template>

<script>
import {
  required,
  email,
  minLength,
  maxLength,
} from 'vuelidate/lib/validators';
import validateName from '@/helpers/customValidations';

export default {
  props: {
    color: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    name: '',
    lastName: '',
    email: '',
    phone: '',
  }),

  computed: {
    user() {
      return this.$store.state.user.personal.data || {};
    },
  },

  mounted() {
    this.name = this.user.name || '';
    this.lastName = this.user.lastName || '';
    this.email = this.user.email || '';
    this.phone = this.user.phone || '';
  },

  methods: {
    handleSubmit() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      const selectedSizeId = this.$store.state.reservation.selectedSize.id;
      const type = selectedSizeId ? 'size' : 'color';
      const id = selectedSizeId || this.color.id;
      const storeId = this.$store.state.reservation.selectedShop.id;

      this.$store.dispatch('reservation/FETCH_ADD_ORDER', {
        id,
        storeId,
        name: this.name,
        familyName: this.lastName,
        phone: this.phone,
        email: this.email,
      }).then(() => {
        this.$store.commit('reservation/SET_STEP', 'ReservationSuccess');
        this.$store.dispatch('detailPage/SET_BOOKED', { type, id });
      });
    },

    correctPhone(e) {
      if (!e.target.value) {
        this.phone = '+7 (';
      }
    },
  },

  validations: {
    name: {
      required,
      validateName,
    },
    lastName: {
      required,
      validateName,
    },
    email: {
      required,
      email,
    },
    phone: {
      required,
      minLength: minLength(18),
      maxLength: maxLength(18),
    },
  },
};
</script>

<style lang="stylus" scoped>
.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  margin-bottom 24px
  color #0

.row
  display flex
  justify-content space-between

  & + &
    margin-top 24px

.field
  width 240px

.label
  font-size 13px
  font-weight 500
  margin-bottom 11px

.controls
  padding-top 32px
  display flex
  align-items center
  justify-content space-between

.submit
  min-width 211px
  margin-right 20px

.caution
  font-size 12px
  color $gray
  text-align right

  a
    text-decoration none
    color $cyan

.error
  font-size 12px
  color $red
  margin 5px 0 0
  padding 0

+mobile()
  .row
    flex-direction column
    align-items center

    & + &
      margin-top 12px

  .field
    width 280px

    & + &
      margin-top 12px

  .controls
    flex-direction column
    justify-content center
    padding-top 24px

  .caution
    text-align center

  .submit
    margin-right 0
    margin-bottom 12px
    width 280px

</style>
