<template lang="pug">
  .reservation-success
    .content
      .title Забронировано!
      .text
        span
          | Вы успешно забронировали&nbsp;
          nuxt-link(to="/catalog/") {{ label }} {{ color }} {{ size }}
          | &nbsp;в магазине по адресу&nbsp;
          nuxt-link(to="/about/shops/") {{ address }}
          | &nbsp;до {{ date }}. Сообщите
          | менеджеру ваш номер бронирования:
        br
        b {{ orderId }}.&nbsp;
        span
          | Мы выслали вам эту информация по СМС, так же вы можете посмотреть все
          | бронирования в &nbsp;
          nuxt-link(to="/account/") личном кабинете.
      .controls
        nuxt-link.link(to="/account/")
          app-button(mod="_cyan _small") Личный кабинет
</template>

<script>
export default {

  computed: {
    label() {
      return this.$store.state.detailPage.params.data.name;
    },
    color() {
      return this.$store.state.detailPage.activeColor.name;
    },
    size() {
      const { value } = this.$store.state.reservation.selectedSize;
      if (value) {
        return `${value} размера`;
      }
      return '';
    },
    address() {
      return this.$store.state.reservation.selectedShop.value;
    },
    date() {
      return this.$store.state.reservation.selectOrder.data.date;
    },
    orderId() {
      return this.$store.state.reservation.selectOrder.data.id;
    },
  },
};
</script>

<style lang="stylus" scoped>
.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  margin-bottom 20px
  color #0

.text
  line-height 1.6

a
  color $cyan
  text-decoration none

.controls
  padding-top 30px

.app-button
  max-width 211px

.link
  text-decoration none

</style>
