<template lang="pug">
  form.reservation-map(@submit.prevent="handleSubmit")
    .content
      .title(v-if="sizes && sizes.length") Выберите размер
      DetailSizes(
        v-if="sizes && sizes.length"
        :sizes="sizes"
        view="reservation"
        @click="handleSelectSize"
      )
      .map
        CheckoutShops(
          view="reservation"
          :shops="shops"
        )
</template>

<script>
import CheckoutShops from '@/components/checkout/CheckoutShops';
import DetailSizes from '@/components/detail/DetailSizes';

export default {
  components: {
    CheckoutShops,
    DetailSizes,
  },
  props: {
    color: {
      type: Object,
      default: () => ({}),
    },
    sizes: {
      type: Array,
      default: () => ([]),
    },
  },

  computed: {
    activeSize() {
      if (!this.sizes || !this.sizes.length) { return {}; }
      const id = this.$store.state.detailPage.activeSizeId;
      const { value } = this.sizes
        .find(({ id: sizeId }) => sizeId === id) || {};
      return {
        id,
        value,
      };
    },

    shops() {
      if (this.activeSize.id) {
        const { id: activeSizeId } = this.activeSize;
        const { stores } = this.sizes
          .find(({ id }) => id === activeSizeId) || {};
        return stores;
      }

      return this.color.stores;
    },
  },

  mounted() {
    this.$store.commit('reservation/SET_SELECTED_SIZE', this.activeSize);
  },

  methods: {
    handleSubmit() {
      this.$store.commit('reservation/SET_STEP', 'ReservationForm');
    },

    handleSelectSize(size) {
      const {
        value: price,
        oldValue: oldPrice,
        discount,
      } = size.price;
      this.$store.commit('detailPage/SET_PRICE', {
        price,
        oldPrice,
        discount,
      });
      this.$store.commit('detailPage/SET_ACTIVE_SIZE', size.id);
      this.$store.commit('reservation/SET_SELECTED_SIZE', { id: size.id, value: size.value });
      this.$store.commit('delivery/SET_POINT', {});
    },
  },
};
</script>

<style lang="stylus" scoped>
.reservation-map
  position: relative

.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  margin-bottom 24px
  color #0
  text-align center

.detail-sizes
  margin-bottom 20px
</style>
