<template lang="pug">
  ContentWrapper(
    :menu="menu"
    :title="title"
    :subtitle="subtitle"
    mod="_reverse _detail _top-menu"
  )
    StockWrapper
</template>

<script>
import ContentWrapper from '@/components/content/ContentWrapper';
import StockWrapper from '@/components/content/StockWrapper';

export default {
  components: {
    StockWrapper,
    ContentWrapper,
  },
  data: () => ({
    title: 'Акции',
    subtitle: 'Cкидка 30% на пляжную обувь',
  }),
  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    menu() {
      return [
        {
          label: this.isMobile ? 'В рознице' : 'Акции в розничных магазинах',
          url: '/about/actions/retail/',
        },
        {
          label: this.isMobile ? 'В интернете' : 'Акции в интернет-магазине',
          url: '/about/actions/internet/',
        },
      ];
    },
  },
  head: () => ({
    title: 'Акции',
  }),
};
</script>

<style lang="stylus" scoped>

</style>
