<template lang="pug">
  ContentWrapper(
    :menu="menu"
    :title="title"
    mod="_reverse _top-menu"
  )
    Actions
</template>

<script>
import ContentWrapper from '@/components/content/ContentWrapper';
import Actions from '@/components/content/Actions';

export default {
  components: {
    ContentWrapper,
    Actions,
  },
  data: () => ({
    title: 'Акции Tervolina',
    menu: [],
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    getMenu() {
      return [
        {
          label: this.isMobile ? 'В рознице' : 'Акции в розничных магазинах',
          url: '/about/actions/retail/',
        },
        {
          label: this.isMobile ? 'В интернете' : 'Акции в интернет-магазине',
          url: '/about/actions/internet/',
        },
      ];
    },
  },


  watch: {
    isMobile() {
      this.menu = this.getMenu;
    },
  },

  beforeMount() {
    this.menu = this.getMenu;
  },

  head: () => ({
    title: 'Акции Tervolina',
  }),
};
</script>

<style lang="stylus" scoped>
>>>.menu
  .link._active
    display block
</style>
