<template lang="pug">
  .checkout
    .content-wrapper
      .top
        CheckoutSection
          CheckoutThanks
        .checkout-rails
          CheckoutInfo(view="done")
      .main
        CheckoutSection
          .content
            CheckoutDelivery(view="done")
        CheckoutSection
          h2.title Ваш заказ
          .content
            CheckoutCart(view="done")
        CheckoutTotal(view="done")
      .bottom
        app-button(
          mod="_cyan"
          @click="$router.push('/')"
        )
          span На главную страницу
        app-button(
          mod="_red"
          @click="$router.push('/account/')"
        )
          span В личный кабинет
</template>

<script>
import CheckoutSection from '@/components/checkout/CheckoutSection';
import CheckoutCart from '@/components/checkout/CheckoutCart';
import CheckoutInfo from '@/components/checkout/CheckoutInfo';
import CheckoutDelivery from '@/components/checkout/CheckoutDelivery';
import CheckoutThanks from '@/components/checkout/CheckoutThanks';
import CheckoutTotal from '@/components/checkout/CheckoutTotal';

export default {
  layout: 'checkout',

  components: {
    CheckoutSection,
    CheckoutCart,
    CheckoutInfo,
    CheckoutDelivery,
    CheckoutThanks,
    CheckoutTotal,
  },

  beforeRouteEnter(to, from, next) {
    if (!to.query.id && !to.query.doneId) {
      next('/');
    }
    next();
  },

  beforeRouteLeave(to, from, next) {
    this.$store.dispatch('basket/FETCH_PRODUCTS');
    next();
  },

  mounted() {
    const id = this.$route.query.id ? this.$route.query.id : this.$route.query.doneId;

    if (id) {
      this.$store.dispatch('delivery/FETCH_ORDER_INFO', {
        orderId: id,
      }).then((response) => {
        this.$store.dispatch('basket/FETCH_PRODUCTS');
        this.$store.commit('basket/SET_DONE_PRODUCTS', {
          basketItems: response.cart.basketItems,
          total: response.cart.total,
        });
        if (response.delivery.description.point.name) {
          this.$store.commit(
            'delivery/SET_PRICE',
            {
              price: response.delivery.description.point.price,
              type: response.delivery.description.type,
            },
          );
        }
        this.$store.commit(
          'delivery/SET_DESIRED_DATE',
          response.delivery.description.desiredDate,
        );
        this.$store.commit(
          'delivery/SET_ADDRESS',
          response.delivery.description.address,
        );
      });
    }
  },

  beforeDestroy() {
    this.$store.commit('basket/SET_DONE_PRODUCTS', {
      basketItems: {},
      total: 0,
    });
  },
};
</script>

<style lang="stylus" scoped>
.top
  display flex
  justify-content space-between
  margin-bottom 40px

.main
  margin-bottom 30px

.checkout-section
  max-width 820px
  flex-grow 1

.checkout-rails
  position absolute
  top 0
  right 0
  bottom 0
  width 300px

.bottom
  display: flex
  margin-bottom: 60px
  .app-button
    font-size: 13px
    max-width: 210px

  .app-button + .app-button
    margin-left: 25px

+pre-tablet()
  .top
    margin-bottom 15px
    flex-direction column

  .checkout-section
    margin 0 auto
    width 100%

  .checkout-rails
    position static
    width 100%
    max-width 820px
    margin 0 auto

  .bottom
    width: 100%
    max-width: 820px;
    margin-right:auto
    margin-left:auto

+mobile()
  .bottom
    display: block
    .app-button
      max-width none

    .app-button + .app-button
       margin: 16px 0 0 0
</style>
