<template lang="pug">
  .checkout
    .loading(v-if="isLoading")
      app-icon.icon(name="loading")
    .content-wrapper
      .top
        CheckoutSection
          h1.title Корзина
          .loading(v-if="isLoadingCart")
            app-icon.icon(name="loading")
          .content
            CheckoutCart
        .checkout-rails
          CheckoutInfo
      .main
        CheckoutSection(
          v-for="step, key in steps"
          :key="key"
        )
          h2.title(
            id="checkoutTitle"
            v-if="key === 'delivery'"
          ) Оформление заказа
          .content
            component(
              :is="step.component"
              :view="step.status"
            )
        .confirm
          app-button(
            :class="{'_shaking': !isDisabled}"
            mod="_red"
            :disabled="isDisabled"
            @click="handleSubmit"
          ) {{ textButtonDone }}
</template>

<script>
import smoothscroll from 'smoothscroll-polyfill';
import CheckoutSection from '@/components/checkout/CheckoutSection';
import CheckoutCart from '@/components/checkout/CheckoutCart';
import CheckoutInfo from '@/components/checkout/CheckoutInfo';
import CheckoutDelivery from '@/components/checkout/CheckoutDelivery';
import CheckoutPayment from '@/components/checkout/CheckoutPayment';
import CheckoutContacts from '@/components/checkout/CheckoutContacts';

export default {
  layout: 'checkout',

  middleware: ['checkout'],

  components: {
    CheckoutSection,
    CheckoutCart,
    CheckoutInfo,
    CheckoutDelivery,
    CheckoutPayment,
    CheckoutContacts,
  },

  computed: {
    isLoading() {
      const store = this.$store.state.delivery;
      return store.orderResults.isFetching;
    },

    isLoadingCart() {
      return this.$store.state.basket.products.isFetching;
    },

    steps() {
      return this.$store.state.checkout.steps;
    },

    textButtonDone() {
      return this.$store.state.checkout.steps.payment.type === 'payment_2'
        ? 'Оплатить картой'
        : 'Оформить заказ';
    },

    isDisabled() {
      return this.steps.contacts.status !== 'completed';
    },

    initialCity() {
      return this.$store.state.delivery.city.value
        ? this.$store.state.delivery.city : this.$store.state.user.city;
    },
  },

  fetch({ store }) {
    store.commit('basket/CLEAR_REMOVED');
    if (store.state.user.isAuthorized) {
      return store.dispatch('basket/FETCH_PERSONAL')
        .catch(() => {});
    }
    return {};
  },

  mounted() {
    smoothscroll.polyfill();

    // Временная демонстрация
    if (this.$route.query.showPopup) {
      this.$modal.show('checkout-popup', { view: 'overload' });
    }
  },

  methods: {
    handleSubmit() {
      this.$store.dispatch('delivery/CREATE_ORDER')
        .then((response) => {
          if (response.link) {
            window.location.href = response.link;
          } else {
            // роутер не хочет пушить на рут, которого есть id как get-параметр
            this.$router.push(`/checkout/done/?doneId=${response.orderId}`);
            this.$store.commit('checkout/RESET_STEPS');
          }
        });
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout
  position relative

.loading
  position fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(255,255,255,0.7)
  z-index 999
  pointer-events none
  user-select none
  display: flex
  align-items: center
  justify-content: center

.loading + .content-wrapper
  pointer-events none
  user-select none

.checkout-section .loading
  position: absolute

  & + .content
    pointer-events none
    user-select none

.top
  display flex
  justify-content space-between
  margin-bottom 30px

.main
  margin-bottom 100px

.checkout-section
  max-width 820px
  flex-grow 1

.checkout-rails
  position absolute
  top 0
  right 0
  bottom 0
  width 310px

  &._mobile, &._tablet
    display none

.confirm
  display none

+pre-tablet()
  .top
    margin-bottom 15px
    flex-direction column

  .checkout-section
    margin 0 auto
    width 100%

  .checkout-rails
    position static
    width 100%
    max-width 820px
    margin 15px auto 0

    &._desktop
      display none

    &._tablet
      display block

  .confirm
    display block
    margin-top 22px
</style>
