<template lang="pug">
  .detail
    .content-wrapper
      .content
        //section.modals
        //  Gallery
        section.top
          app-breadcrumbs.nav
            nuxt-link.top-right._tablet(:to="urlSubcategory")
              app-icon.icon(name="arrow-down")
            template(v-if="!isMobile")
              nuxt-link.item(to="/") Главная
              span.item(v-if="currentDepartment") /
              nuxt-link.item(:to="currentDepartment.url") {{ currentDepartment.label }}
              span.item(v-if="currentCategories") /
            nuxt-link.item(
              v-if="currentCategories"
              :to="currentCategories.url"
            ) {{ currentCategories.label }}
            span.item(v-if="label") /
            nuxt-link.item(
              v-if="label"
              :to="urlSubcategory"
              ) {{ label }}
            span.item(v-if="article") /
            span.item.art(v-if="article") {{ article }}

        section.main
          .main-container
            DetailMain(
              view="detail"
            )
            .main-info-rails
              MainInfo(
                view="detail"
              )
            // TODO: Подрезка сайта к запуску 1-го этапа
            DetailCombo(v-if="false")
            DetailTabs(
              v-if="!isMobile"
              ref="tabs"
            )
            DetailTabsTablet(v-else)
          // TODO: Подрезка сайта
          DetailBenefits(v-if="false")
          DetailSuggestion(v-if="false")
          DetailSimilar(v-if="false")
          //DetailLatest
</template>

<script>
import DetailMain from '@/components/detail/DetailMain';
import DetailStarRating from '@/components/detail/DetailStarRating';
import DetailCombo from '@/components/detail/DetailCombo';
import DetailTabs from '@/components/detail/DetailTabs';
import DetailSimilar from '@/components/detail/DetailSimilar';
import DetailBenefits from '@/components/detail/DetailBenefits';
import DetailSuggestion from '@/components/detail/DetailSuggestion';
import DetailLatest from '@/components/detail/DetailLatest';
import Gallery from '@/components/modals/Gallery';
import DetailTabsTablet from '@/components/detail/DetailTabsTablet';
import MainInfo from '@/components/detail/MainInfo';
import MAP_DEPARTMENT from '@/assets/json/mapDepartment.json';

export default {
  components: {
    DetailTabsTablet,
    DetailMain,
    DetailStarRating,
    DetailCombo,
    DetailTabs,
    DetailSimilar,
    DetailBenefits,
    DetailSuggestion,
    DetailLatest,
    Gallery,
    MainInfo,
  },
  middleware: 'detail',
  head() {
    return {
      meta: [
        {
          name: 'viewport',
          content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no',
        },
      ],
    };
  },
  data: () => ({
    urlCatalog: '/catalog/',
  }),
  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    currentDepartment() {
      const department = this.$store.state.layout.currentDepartment;
      if (!department.label) { return null; }
      const { label, url } = department;
      return {
        label,
        url: MAP_DEPARTMENT[url] || url,
      };
    },
    currentCategories() {
      const category = this.$store.state.catalogPage.categories.selectedCategory;
      if (!category.label) { return null; }
      const { label, url } = category;
      return {
        label,
        url,
      };
    },
    label() {
      return this.$store.state.detailPage.params.data.name;
    },
    article() {
      return this.$store.state.detailPage.currentBarCode || '';
    },
    urlCategory() {
      const {
        department,
        category,
      } = this.$route.params;
      const routes = [
        department,
        category,
      ].filter(route => route);
      return ''.concat(this.urlCatalog, routes.join('/'), '/');
    },

    urlSubcategory() {
      const {
        subcategory,
      } = this.$route.params;
      return ''.concat(this.urlCategory, subcategory, '/');
    },
  },
  fetch({ store, route }) {
    const { detail } = route.params;
    const detailId = detail.split('-')[1];

    return Promise.all([
      store.dispatch('detailPage/FETCH_PARAMS', detailId),
      store.dispatch('detailPage/FETCH_INFO', detailId),
      store.dispatch('detailPage/FETCH_BUY_TOGETHER_CHEAPER', detailId),
    ]).catch(() => {});
  },
};
</script>

<style lang="stylus" scoped>
  .detail
    .nav .item
      position: relative
      z-index: 2

    .main-container
      position: relative

    .main-info-rails
      position: absolute
      right: 0
      top: -33px
      bottom: 0
      width: 298px

    .content
      position relative

    .top
      padding-top 31px
      display flex
      justify-content space-between

    .top-right
      a-reset()
      display none
      align-items center
      justify-content space-between

    .icon
      display: none

    .detail-combo
      margin-bottom 77px

    .detail-tabs
      margin-bottom 77px

    .detail-similar
      margin-bottom  -11px

    .detail-benefits
      margin-bottom 71px

    .detail-suggestion
      margin-bottom -14px

  +tablet()
    .detail
      .main-info-rails
        width: 288px
        top: 0
        bottom: auto

      .nav
        max-width: 390px;
        display: inline-block;

      .top
        position: absolute
        z-index: 2
        top: 0
        left: 0

      .item
        font-size: 12px

      .top-right
        display: inline-block;

      .icon
        display: block
        margin-right 8px
        transform rotate(90deg)
        width 14px
        height 10px

      .main
        padding-top: 25px
        display: flex
        flex-direction: column

      .detail-main
        order 1

      .detail-combo
        order 2
        margin-bottom: 86px

      .detail-tabs-tablet
        order: 3
        margin-bottom: 45px

      .detail-benefits
        order 4
        margin-bottom 50px

      .detail-similar
        order 5
        margin-bottom: 34px

      .detail-suggestion
        order: 6
        margin-bottom: 33px

      .detail-latest
        order: 7
        display: none

  +mobile()
    .detail
      .main-info-rails
        position: relative
        width:100%
        margin-bottom: 26px

      .nav
        max-width: 80vw;

      .top
        padding-top: 15px
        padding-left: 26px

      .item
        font-size: 14px

      .top-right
        position: absolute
        top: 16px
        left: 0
        color: $gray
        z-index: 2

      .icon
        width: 18px;
        height: 16px;

      .detail-combo
        margin-bottom:32px

      .detail-benefits
        margin-bottom:33px

      .detail-similar
        margin-bottom: 30px

      .detail-suggestion
        margin-bottom: 30px

      .detail-latest
        display: block
        margin-bottom: 29px
</style>
