<template lang="pug">
  .catalog
    .content-wrapper
      section.top
        app-breadcrumbs
          nuxt-link.item(to="/") Главная
          span.item(v-if="currentDepartment && currentDepartment.label") /
          nuxt-link.item(
            v-if="currentDepartment && currentDepartment.label"
            :to="currentDepartment.url"
          ) {{ currentDepartment.label }}
          span.item(v-if="currentCategory && currentCategory.label") /
          nuxt-link.item(
            v-if="currentCategory && currentCategory.label"
            :to="currentCategory.url"
            key="category"
          ) {{ currentCategory.label }}
          span.item(v-if="currentSubCategory && currentSubCategory.label") /
          nuxt-link.item(
            v-if="currentSubCategory && currentSubCategory.label"
            :to="currentSubCategory.url"
            key="subcategory"
          ) {{ currentSubCategory.label }}
        // TODO: Подрезка сайта к запуску 1-го этапа
        //CardMenu
      section.head(
        ref="head"
        :class=`[
          {'_active': activeHead},
          {'_scrolled-up': isScrollingUp || isMobileMenuOpen},
          {'_scrolled': isScrolled}
        ]`
      )
        .title
          app-icon.icon(
            name="arrow-down"
            width="15"
            height="12"
            fill="#75787b"
          )
          h1(v-html="title")
        ProductMenu(
          @change="handleChangeDropout"
        )
        SortingMenu(@change="handleChangeDropout")
        Filters(
          @change="handleChangeDropout"
          :filters="filters"
        )
      section.main
        .accordion-rails(v-show="!isMobile")
          AccordionMenu(
            v-if="categories && categories.length"
            :categories="categories"
            :title="title"
            :sibling="$refs"
          )
        .container-list(:class="classList")
          app-product-list(
            :items="products"
            view="catalog"
            :pagen="pagen"
            @clickPagen="handleClickPagen"
            ref="products"
          )
</template>

<script>
import CardMenu from '@/components/catalog/CardMenu';
import SortingMenu from '@/components/catalog/SortingMenu';
import Filters from '@/components/catalog/Filters';
import AccordionMenu from '@/components/catalog/AccordionMenu';
import ProductMenu from '@/components/catalog/ProductMenu';
import MAP_DEPARTMENT from '@/assets/json/mapDepartment.json';

export default {
  components: {
    ProductMenu,
    CardMenu,
    SortingMenu,
    Filters,
    AccordionMenu,
  },
  middleware: 'catalog',
  data: () => ({
    loading: false,
    options: {
      sorting: false,
      products: false,
      filters: false,
    },
    maxLengthTitle: 15,
    amount: 100,
    scrollPos: 0,
    isScrollingUp: false,
    isScrolled: false,
    paddingTop: 155,
  }),
  head: () => ({
    title: 'Каталог',
  }),
  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    activeHead() {
      return Object
        .keys(this.options)
        .find(key => (this.options[key]));
    },
    title() {
      if (!this.currentDepartment || !this.currentDepartment.label) { return ''; }

      const currentDepartment = this.currentDepartment.label.toLowerCase();
      const department = {
        муж: 'Мужск',
        жен: 'Женск',
        дет: 'Детск',
      };

      const foundedDepartment = Object.keys(department)
        .find(dep => currentDepartment.indexOf(dep) !== -1);

      const { categories } = this.$store.state.catalogPage;
      let searchProducts = !this.isMobile
        ? categories.selectedSubCategory.label
          || categories.selectedCategory.label
        : categories.selectedCategory.label;
      const endingSearchProducts = searchProducts.slice(-1);

      const map = {
        в: 'ие',
        и: 'ие',
        ы: 'ие',
        я: 'ие',
        ь: 'ая',
        а: 'ие',
        т: foundedDepartment === 'муж' ? 'ой' : 'ий',
        E: foundedDepartment === 'муж' ? 'ой' : 'ий',
      };

      if (searchProducts !== 'SALE') {
        searchProducts = searchProducts.toLowerCase();
      }

      let title = `${department[foundedDepartment]}${map[endingSearchProducts]} ${searchProducts}`;
      const isLineBreakTitle = title.length > this.maxLengthTitle && !this.isMobile;
      if (isLineBreakTitle) {
        title = [
          `${department[foundedDepartment]}${map[endingSearchProducts]}`,
          `${searchProducts}`,
        ];
      }

      if (searchProducts === 'SALE') {
        // TODO: HARDCODE
        searchProducts = `<span style="color: #EB0029; white-space: nowrap; ">${searchProducts} </span>`;
        title = `${department[foundedDepartment]}${map[endingSearchProducts]} ${searchProducts}`;
      }

      return !isLineBreakTitle
        ? title
        : [title[0], title[1]];
    },
    currentDepartment() {
      const department = this.$store.state.layout.currentDepartment;
      if (!department.label) { return null; }
      const { label, url } = department;
      return {
        label,
        url: MAP_DEPARTMENT[url] || url,
      };
    },
    currentCategory() {
      return this.$store.state.catalogPage.categories.selectedCategory;
    },
    currentSubCategory() {
      return this.$store.state.catalogPage.categories.selectedSubCategory;
    },
    categories() {
      return this.$store.state.layout.currentDepartment.categories || [];
    },
    products() {
      const result = this.$store.state.catalogPage.products.data;
      return Array.isArray(result) ? result : [result];
    },
    filters() {
      return this.$store.state.catalogPage.filters.data;
    },

    page: {
      get() {
        return this.$store.state.catalogPage.page;
      },
      set(value) {
        this.$store.commit('catalogPage/SET_PAGE', value);
      },
    },

    pagen() {
      return {
        pageSize: 40,
        page: this.page,
        amount: +this.$store.state.catalogPage.products.length,
      };
    },

    classList() {
      return {
        _loading: this.$store.state.catalogPage.products.isFetching,
      };
    },

    isMobileMenuOpen() {
      return this.$store.state.layout.isMobileMenuOpen;
    },
  },

  mounted() {
    window.addEventListener('scroll', this.processScroll);
    const { detailUrl, scrollPoint } = this.$store.state.catalogPage.backToCatalog;

    if (detailUrl.indexOf(this.$route.params.subcategory) !== -1) {
      setTimeout(() => window.scrollTo(0, scrollPoint), 0);
    }
    this.$store.commit('catalogPage/SET_BACK_TO_CATALOG', {});
  },

  beforeDestroy() {
    window.removeEventListener('scroll', this.processScroll);
  },
  methods: {
    processScroll() {
      this.detectScrollDirection();
      this.detectScroll();
    },

    detectScroll() {
      this.isScrolled = window.pageYOffset > this.paddingTop;
    },

    detectScrollDirection() {
      const { top: topBody } = document.body.getBoundingClientRect();
      const scrollStrength = Math.abs(topBody - this.scrollPos);

      if (scrollStrength && scrollStrength > 8) {
        this.isScrollingUp = topBody > this.scrollPos;
      }

      this.scrollPos = topBody;

      if (!this.scrollPos) {
        this.isScrollingUp = false;
      }
    },

    handleChangeDropout({ name, value }) {
      this.options = {
        ...this.options,
        [name]: value,
      };
    },

    async handleClickPagen() {
      // check filters in query
      const keysQuery = Object.keys(this.$route.query);
      const keysFilters = Object.keys(this.$store.state.catalogPage.filters.data);
      const checkFilters = keysQuery
        .find(item => keysFilters
          .find(filter => item === filter || item === 'minPrice' || item === 'maxPrice'));

      const subCategories = this.currentCategory.subCategories.reduce((acc, sub) => [
        ...acc,
        sub.id,
      ], []);

      const paramsSubCategories = {
        'section-id': subCategories,
      };

      const paramsSection = this.currentSubCategory.id
        ? { 'section-id': this.currentSubCategory.id }
        : { ...paramsSubCategories };

      // TODO: Сделано временно для получения NEW и SALES
      const diffCategory = {
        ...(this.currentCategory.id === 'new' ? { isNew: true } : {}),
        ...(this.currentCategory.id === 'sale' ? { isSale: true } : {}),
      };

      const params = {
        ...diffCategory,
        ...paramsSection,
        page: this.page + 1,
        limit: 40,
      };

      const scrollPoint = window.pageYOffset || document.documentElement.scrollTop;

      if (!checkFilters) {
        await this.$store.dispatch('catalogPage/FETCH_PRODUCTS', {
          ...params,
        })
          .then(() => {
            this.page += 1;
            window.scrollTo(0, scrollPoint);
          });
      } else {
        await this.$store.dispatch('catalogPage/FETCH_FILTERED_PRODUCTS', {
          ...params,
          query: {
            ...this.$route.query,
          },
        })
          .then(() => {
            this.page += 1;
            window.scrollTo(0, scrollPoint);
          });
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
  .title
    pointer-events none
    a-reset()
    margin 0 70px 0 0
    min-width 180px
    min-height 22px

    h1
      display none

  .item:first-letter
    text-transform: uppercase

  .top
    padding-top 25px
    margin-bottom 18px
    display flex
    justify-content space-between

  .head
    display flex
    border-bottom 1px solid #f1f1f1
    padding-bottom 25px
    align-items flex-end
    flex-grow: 1;

  .filters
    margin-left: auto

  .main
    display flex
    margin-bottom 80px
    min-height 500px

  .title .icon
    display: none

  .accordion-rails
    position relative
    min-width 220px
    margin-top -63px

  .container-list
    width:100%

    &._loading
      position: relative
      & *
        user-select none
        pointer-events none
      &:before
        content: ''
        display: block
        position: absolute
        z-index: 4
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: rgba(255,255,255, 0.8)

  +tablet()
    .top
      display: none

    .accordion-rails
      min-width 0

    .head
      padding: 16px 0 20px
      border: 0
      position relative
      bottom-line()

    .title
      margin-right: auto
      min-width 0
      min-height 0
      display block

      h1
        display block
        font-family 'Century Gothic'
        font-weight 700
        color #0
        font-size: 20px
        line-height: 24px
        letter-spacing: 0.32px

    .sorting-menu
      margin-left: 31px

    .filters
      margin-left: 23px

    .main
      align-items flex-start
      margin-bottom: 40px
      min-height 0

  +mobile()
    .catalog
      padding-top 100px

    .head
      flex-wrap wrap
      align-items center
      z-index 200
      position absolute
      top -100px
      left 0
      right 0
      padding 0 16px

      > *
        width 50%

      &._scrolled
        position fixed
        top 55px
        opacity 0
        visibility hidden
        margin-bottom 0

      &._scrolled._scrolled-up
        visibility visible
        opacity 1
        box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

    .head._active
      &:before
        position: fixed
        background: rgba(0, 0, 0, 0.4)
        content ''
        top: 197px
        right: 0
        bottom: 0
        left: 0

    .title
      pointer-events auto
      position: relative
      display: flex
      align-items: center

      h1
        font-size: 14px
        line-height: 14px
        text-transform uppercase

      &:after
        content: ''
        display: block
        top: 0
        right: -100vw
        left: -100vw
        bottom: 0
        background-color: #F6F6F6
        z-index: -1
        position: absolute

      .icon
        display: block
        transform rotate(90deg)
        margin-right: 6px;
        margin-bottom: 1px;

    .title
      padding: 14px 0

    .product-menu
      text-align: right

    .sorting-menu, .filters
      margin-left: 0
      padding: 11px 0

    .sorting-menu
      position: relative

      &:after
        content: ''
        display: block
        top: 0
        right: -100vw
        left: -100vw
        bottom: 0
        background-color: #fff
        z-index: -1
        position: absolute

</style>
