<template lang="pug">
  .contacts-feedback
    form.form(@submit.prevent)
      .title Обратная связь
      .group
        .field(v-if="feedbackThemes && feedbackThemes.length")
          .label Тема сообщения
          multiselect(
            placeholder="Выберите тему вашего сообщения"
            v-model="$v.selectedTheme.$model"
            :options="feedbackThemes"
            :custom-label="customLabel"
            :searchable="false",
            :show-labels="false"
          )
          .error(v-if="$v.selectedTheme.$dirty")
            span(v-if="!$v.selectedTheme.required") Обязательное поле
        .field._half
          .label Ваше имя
          app-input(
            type="text"
            placeholder="Иван"
            v-model.trim="$v.name.$model"
          )
          .error(v-if="$v.name.$dirty")
            span(v-if="!$v.name.required") Обязательное поле
            span(v-if="!$v.name.validateName") В имени допускаются только кириллица и тире
        .field._half
          .label Ваша фамилия
          app-input(
            type="text"
            placeholder="Иванов"
            v-model.trim="$v.lastName.$model"
          )
          .error(v-if="$v.lastName.$dirty")
            span(v-if="!$v.lastName.required") Обязательное поле
            span(v-if="!$v.lastName.validateName") В имени допускаются только кириллица и тире
        .field._half
          .label Телефон для связи
          app-input(
            placeholder="+7 ("
            v-mask="'+7 (###) ###-##-##'"
            v-model.trim="$v.phone.$model"
            @focus="correctPhone"
          )
          .error(v-if="$v.phone.$dirty")
            span(v-if="!$v.phone.required") Обязательное поле
            span(v-else-if="!$v.phone.minLength") Некорректный телефон
        .field._half
          .label Адрес электронной почты
          app-input(
            type="email"
            placeholder="mail@mail.ru"
            v-model.trim="$v.email.$model"
          )
          .error(v-if="$v.email.$dirty")
            span(v-if="!$v.email.required") Обязательное поле
            span(v-else-if="!$v.email.email") Некорректный email
        .field._textarea
          .label Текст сообщения
          app-textarea(
            :rows="6"
            v-model.trim="$v.message.$model"
          )
          .error(v-if="$v.message.$dirty")
            span(v-if="!$v.message.required") Обязательное поле
      .controls
        .submit
          app-button(
            mod="_cyan _small"
            @click="handleSubmit"
          ) Отправить сообщение
        .caution Персональные данные обрабатываются в соответствии&nbsp;
          span c&nbsp;
            a(href="/about/protection-of-information/") Политикой обработки персональных данных.
</template>

<script>
import {
  required,
  email,
  minLength,
} from 'vuelidate/lib/validators';
import validateName from '@/helpers/customValidations';
import { debounce } from 'lodash';

const INIT_DATA = {
  selectedTheme: '',
  phone: '',
  name: '',
  lastName: '',
  email: '',
  message: '',
};

export default {
  data: () => ({
    ...INIT_DATA,
  }),

  computed: {
    personal() {
      return this.$store.state.user.personal.data;
    },

    feedbackThemes() {
      return this.$store.state.feedback.themes.data;
    },
  },

  validations: {
    selectedTheme: {
      required,
    },
    name: {
      required,
      validateName,
    },
    lastName: {
      required,
      validateName,
    },
    email: {
      required,
      email,
    },
    phone: {
      required,
      minLength: minLength(18),
    },
    message: {
      required,
    },
  },

  mounted() {
    this.initForm();
  },

  methods: {
    correctPhone(e) {
      if (!e.target.value) {
        this.phone = '+7 (';
      }
    },

    initFields() {
      this.name = this.personal.name ? this.personal.name : '';
      this.lastName = this.personal.lastName ? this.personal.lastName : '';
      this.phone = this.personal.phone ? this.personal.phone : '';
      this.email = this.personal.email ? this.personal.email : '';
    },

    initForm() {
      this.setData(INIT_DATA);
      this.initFields();
    },

    customLabel({ value }) {
      return value;
    },

    setData(object) {
      Object.keys(object)
        .forEach((prop) => {
          this[prop] = object[prop];
        });
    },

    handleSubmit: debounce(function handleSubmit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      this.$store.dispatch('feedback/FETCH_ADD_FEEDBACK', {
        theme: +this.selectedTheme.id,
        name: `${this.name} ${this.lastName}`,
        email: this.email,
        phone: this.phone,
        message: this.message,
        userid: +this.personal.id || 0,
      })
        .then((status) => {
          if (status === 'ERROR') {
            throw new Error('Server error');
          }

          this.goodSubmitted();
        })
        .catch((e) => {
          this.$modal.show('info', {
            title: 'Ошибка',
            text: e.message,
          });
        });
    }, 300),

    goodSubmitted() {
      this.initForm();
      this.$nextTick(() => { this.$v.$reset(); });

      this.$modal.show('info', {
        title: 'Спасибо за обращение!',
        text: 'Ваше сообщение отправлено. В ближайшее время наши специалисты свяжутся с Вами!',
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.title
  margin-bottom: 28px
  font-size: 16px
  font-weight: 700

.group
  display: flex
  flex-wrap wrap
  justify-content: space-between
  margin-bottom: 42px

.field
  width: 100%
  &:not(:last-child)
    margin-bottom: 21px

  &._half
    width calc(50% - 10px)

.label
  font-size: 13px
  font-weight: 500
  margin-bottom: 11px

.controls
  display: flex

.submit
  width: 210px

.app-button
  height: 48px

.caution
  font-size 12px
  color #0
  text-align right
  padding-top: 5px
  padding-left 20px
  line-height 1.5
  flex: 1
  display: flex
  flex-direction: column
  a
    text-decoration none
    color $cyan

.error
  font-size 12px
  color $red
  margin 5px 0 0

+tablet()
  .title
    margin-bottom:31px

  .group
    margin-bottom: 32px

  .field
    &:not(:last-child)
      width calc(50% - 20px)
      margin-bottom: 16px

  .label
    font-size: 12px
    font-weight: 400
    margin-bottom: 8px

  .submit
    order:1
    width: 286px
    .app-button
      height: 40px

  .caution
    order: 0
    padding: 0
    padding-right: 30px
    text-align: left
    a
      text-decoration underline

+mobile()

  .group
    margin-bottom:24px

  .field
    &:not(:last-child)
      width 100%
      margin-bottom: 16px

  .controls
    flex-direction: column
    > *
      width:100%

  .caution
    display: block
    padding: 0
    margin-bottom: 24px
</style>
