<template lang="pug">
  .contacts-info
    .title ООО «Вертикальное интегрирование»
    .main
      .left
        .block
          .block-title Офис компании:
          .block-row
            span 121309, г. Москва, ул. Барклая, дом 13, строение 2, этаж 5, комната 15
        .block._map
          .toggle(@click="handleToggleMap")
            span Показать на карте
            app-icon.link-arrow(
              name="arrow-down"
              :class="{'_show': isShowMap}"
              width="10"
              height="8"
              color="#229595"
              fill="#229595"
            )
          .wrapper(v-if="isShowMap")
            MapPlaces(
              :coords="[map.coords]"
              :selectedItem="0"
              :name="'contacts'"
            )
      .right
        .block
          .block-title Время работы офиса:
          .block-row
            span Пн - Чт:
            span 9:30 — 18:00
          .block-row
            span Пт:
            span 9:30 — 17:00
          .block-row
            span Сб - Вс:
            span Выходные
        .block
          .block-title Способы связи:
          .block-group
            .block-row
              span Tелефон:
              a.link(href="tel:84959373955") +7 (495) 937-39-55
            .block-row
              span Факс:
              a.link(href="tel:84959373954") +7 (495) 937-39-54
          .block-group
            .block-row
              span Общие вопросы:
              a.link(href="mailto:infotrv@tervolina.ru") infotrv@tervolina.ru
            .block-row
              span Служба персонала:
              a.link(href="mailto:recruiter@tervolina.ru") recruiter@tervolina.ru
            .block-row
              span Отдел оптовых продаж:
              a.link(href="mailto:opt@tervolina.ru") opt@tervolina.ru

</template>

<script>
import MapPlaces from '@/components/shops/MapPlaces';

export default {
  components: { MapPlaces },
  data: () => ({
    isShowMap: false,
    map: {
      coords: {
        lat: 55.744683,
        lng: 37.494297,
      },
    },
  }),
  methods: {
    handleToggleMap() {
      this.isShowMap = !this.isShowMap;
    },
  },
};
</script>

<style lang="stylus" scoped>
.contacts-info
  display: flex
  flex-direction: column
  padding-top:11px

.title
  font-size: 16px
  font-weight: 700
  margin-bottom: 28px

.main
  display: flex
  flex-direction: column

.left, .right
  display: flex
  flex-direction: column

.toggle
  font-size: 13px
  color: $cyan
  font-weight: 600
  margin-bottom: 12px
  cursor: pointer

.wrapper
  height: 180px
  border-radius 5px
  overflow hidden
  margin-bottom: 20px

.link-arrow
  margin-top: 2px
  margin-left: 2px
  &._show
    transform: scale(1, -1)

.block
  &:not(:last-child)
    margin-bottom: 22px
  &-title
    margin-bottom: 13px
    font-weight: 600
    font-size: 14px
  &._map
    margin-bottom: 10px
  &-group
    &:not(:last-child)
      margin-bottom: 19px
  &-row
    font-size: 13px
    line-height: 24px
    color: #404244
    display: flex
    justify-content: space-between

.left
  .block
    &:first-child
      margin-bottom: 11px

.right
  .block
    &:first-child
      margin-bottom:25px
    &:last-child
      .block-row
        margin-bottom: 3px
      .block-group
        &:not(:last-child)
          margin-bottom: 14px

.link
  a-reset()
  color: $red
  font-weight:600

+tablet()
  .contacts-info
    padding-top: 7px

  .title
    line-height: 19px
    font-weight: 600
    margin-bottom: 37px

  .main
    flex-wrap wrap
    height 332px

  .left
    padding-right: 30px
    width: calc(50%)
    .block
      &:first-child
        margin-bottom: 19px

  .right
    width: calc(50% - 20px)
    .block
      &:first-child
        margin-bottom:25px
      &:last-child
        .block-row, .block-group
          &:not(:last-child)
            margin-bottom: 9px

  .toggle
    font-size: 12px
    line-height: 14px
    letter-spacing: -0.19px
    margin-bottom:19px

  .link-arrow
    margin-left:7px

  .wrapper
    height: 170px

  .block
    &._map
      margin-bottom: 10px
    &-title
      font-size: 13px
      line-height: 16px
    &-row
      line-height: 20px

+mobile()
  .contacts-info
    padding-top: 0

  .main
    height auto
    margin-bottom:17px

  .title
    margin-bottom: 24px;

  .left, .right
    width: 100%
    padding: 0

  .left
    .block
      &:first-child
        margin-bottom: 13px

  .toggle
    margin-bottom: 16px

  .wrapper
    margin-bottom: 14px
</style>
