<template lang="pug">
  section.blog-news
    .content-wrapper
      .content
        .left
          template(v-for="item, index in news")
            a.item._big(href="javascript:void(0);", v-if="index === 0")
              .image-wrapper
                img(:src="item.image" alt="item.name")
              .text-wrapper
                h5.item-title {{ item.name }}
                .preview {{ item.previewText }}
        .right(v-if="news.length > 1")
          .title Новости
          .container
            template(v-for="item, index in news")
              a.item(href="javascript:void(0);", v-if="index !== 0")
                .text-wrapper
                  h5.item-title {{ item.name }}
                  .preview {{ item.previewText }}
                  .date {{ dateFormatter(item.date) }}
</template>

<script>
import dateFormatter from '@/helpers/dateFormatter';

export default {
  data: () => ({
    news: [{
      name: 'Обувь на зиму: ТОП-6 моделей',
      date: new Date(),
      previewText: 'Сделали для вас подборку мужской обуви, которая обязательно пригодится зимой.',
      image: '/img/blog-top-1.jpg',
    }, {
      name: 'Главные аксессуары сезона',
      date: new Date(new Date().setDate(new Date().getDate() - 1)),
      previewText: 'Красота – в деталях, согласны? Давайте скорее смотреть, что из аксессуаров стоит купить в первую очередь',
    }, {
      name: 'Вне времени: топ-20 тренчей',
      date: new Date(new Date().setDate(new Date().getDate() - 2)),
      previewText: 'В городе осень, а значит настало время тренчей. Классический или трендовый, лаконичный или с необычными деталями',
    }, {
      name: 'Трендовые сумки',
      date: new Date(new Date().setDate(new Date().getDate() - 3)),
      previewText: 'Берем за правило: чем необычнее сумка, тем больше у нее шансов попасть в вишлист нового сезона',
    }],
  }),

  methods: {
    dateFormatter,
  },
};
</script>

<style lang="stylus" scoped>
.blog-news
  padding-top 30px

.content
  display flex
  justify-content space-between

.title
  font-size 18px
  font-weight 600
  color #0
  padding-top 17px
  margin-bottom 4px

.item
  display block
  text-decoration none
  padding 20px 0 23px

  & + &
    border-top 1px solid #ec

  &._big
    padding 0
    position relative

    .image-wrapper
      max-width 820px
      max-height 520px

    .text-wrapper
      position absolute
      left 61px
      bottom 54px
      width 450px

    .item-title
      font-family 'Century Gothic'
      font-size 28px
      font-weight 700
      color #0
      letter-spacing -.3px
      margin-bottom 10px

    .preview
      font-size 16px
      color #0
      line-height 1.4
      letter-spacing -.35px
      margin-bottom 0

.image-wrapper
  overflow hidden

  img
    max-height 100%

.image
  width 100%

.left
  max-width 820px

.right
  width 300px

.item-title
  font-size 14px
  font-weight 600
  color $red
  margin-bottom 10px

.preview
  font-size 13px
  color #0
  line-height 1.6
  margin-bottom 4px

.date
  font-size 12px
  font-weight 300
  color $grayLight

+tablet()

  .left
    width calc(100% - 240px)

  .right
    width 225px
    margin-right -5px
    overflow hidden

  .title
    padding-top 0
    margin-bottom 0

  .preview
    max-height 60px
    overflow hidden

  .item-title
    margin-bottom 2px
    line-height 1.5
    white-space nowrap

  .item
    padding 17px 0 5px

    & + &
      border none

    &._big

      .image-wrapper
        height 400px

      .text-wrapper
        left 32px
        right 32px
        bottom 45px
        width auto

      .item-title
        font-size 24px
        letter-spacing -.3px
        margin-bottom 12px
        white-space normal

      .preview
        font-size 13px
        line-height 1.6
        letter-spacing -.35px

+mobile()
  .blog-news
    padding-top 9px

  .left
    width auto
    margin-bottom 20px

  .right
    width auto
    margin-right 0

  .content
    flex-direction column

  .title
    font-weight 700

  .item
    padding 17px 0 2px

    &._big
      margin 0 -8px

      .image-wrapper
        height 372px

      .text-wrapper
        left 24px
        right 24px
        bottom 40px

      .item-title
        line-height 1.2
        margin-bottom 17px
</style>
