<template lang="pug">
  section.blog-detail-slider
    .content
      .slider-wrapper
        .prev
          app-icon.icon(
            name="arrow-down"
            width="23"
            height="19"
            fill="#75787b"
          )
        .next
          app-icon.icon(
            name="arrow-down"
            width="23"
            height="19"
            fill="#75787b"
          )
        .swiper-container(
          ref="swiper"
          data-type="blog-detail-slider"
        )
          .swiper-wrapper
            .banner.swiper-slide(
              v-for="slide, index in slides"
              :key="index"
            )
              .image-wrapper
                img.image(:src="slide")
        .swiper-pagination
</template>

<script>
import Swiper from '@/widgets/Swiper';

export default {
  data: () => ({
    swiper: {},
    slides: [
      '/img/blog-detail-1.jpg',
      '/img/blog-detail-2.jpg',
    ],
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  watch: {
    isMobile() {
      this.initSwiper();
    },
  },

  mounted() {
    this.initSwiper();
  },

  methods: {
    initSwiper() {
      if (this.swiper.swiper) {
        this.swiper.swiper.destroy();
      }

      this.swiper = new Swiper(this.$refs.swiper, {
        pagination: {
          el: '.swiper-pagination',
          type: 'progressbar',
        },
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.content
  position relative

.prev,
.next
  width 60px
  height 60px
  border 1px solid #ec
  border-radius 50%
  display flex
  align-items center
  justify-content center
  position absolute
  top 45%
  cursor pointer
  outline none
  transition opacity .2s

  &.swiper-button-disabled
    opacity .3

  .icon
    position relative

.prev
  left -100px
  transform rotate(90deg)

  .icon
    top 2px

.next
  right -100px
  transform rotate(-90deg)

  .icon
    bottom -1px

.image-wrapper
  width 940px
  height 480px

.swiper-pagination
  display: none

+tablet()
  .image-wrapper
    width  640px
    height  300px

  .swiper-pagination
    display: block
    top: 24px;
    max-width: 59%;
    margin: 0 auto;

+mobile()
  .image-wrapper
    width  auto
    height  200px

  .swiper-pagination
    max-width:100%
    top: 13px
</style>
