<template lang="pug">
  .blog-pagen
    .controls
      nav.list
        a.link._active(
          href="javascript:void(0);"
        ) 1
        a.link(
          href="javascript:void(0);"
        ) 2
        a.link(
          href="javascript:void(0);"
        ) 3
        a.link(
          href="javascript:void(0);"
        ) 4
      .button(v-if="showButton")
        app-button(mod="_small") Показать еще
</template>

<script>
export default {
  props: {
    showButton: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
.controls
  display flex
  justify-content space-between

.list
  display flex

.link
  display flex
  align-items center
  justify-content center
  text-decoration none
  font-weight 600
  color #0
  width 44px
  height 44px
  border 1px solid #ec
  transition background-color .2s
  cursor pointer

  & + &
    margin-left 10px

  &:hover,
  &._active
    background-color #f8

  &._active
    font-weight normal

.button
  width 222px

  .app-button
    font-size 13px
</style>
