<template lang="pug">
  section.blog-detail-collection(:class="view ? `_${view}` : ''")
    template(v-if="view === 'type1'")
      .container
        a.item(
          v-for="item, index in items"
          v-if="index < 3"
          href="javascript:void(0);"
        )
          .image-wrapper(v-if="item.images")
            img.image(:src="item.images.footwear", :alt="item.name")
          .text-wrapper
            .price {{ `${item.price.toLocaleString('ru')} руб.` }}
            .title {{ item.name }}
    template(v-if="view === 'type2'")
      .container
        a.item(
          v-for="item, index in items"
          v-if="index < 4"
          href="javascript:void(0);"
        )
          .image-wrapper(v-if="item.images")
            img.image(:src="item.images.footwear", :alt="item.name")
          .badge-wrapper
            app-item-badges(
              :is-new="item.isNew"
              :discount="item.discount"
            )
          .text-wrapper
            .price-wrapper
              .price(:class="{'_discount': item.oldPrice}")
                span {{ `${item.price.toLocaleString('ru')} руб.` }}
              .old-price(v-if="item.oldPrice")
                span {{ `${item.oldPrice.toLocaleString('ru')} руб.` }}
            .title {{ item.name }}
</template>

<script>
export default {
  props: {
    view: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    items: [{
      name: 'Ботинки',
      price: 6504,
      images: {
        footwear: '/img/catalog-list-item-3.jpg',
        model: '/img/catalog-list-item-2.jpg',
      },
      colors: [{
        name: 'бежевый',
        value: '#e1ccc0',
      }, {
        name: 'коричневый',
        value: '#cc976b',
      }],
      sizes: [
        36, 37, 38, 41, 42, 43, 44,
      ],
      isFavourite: true,
    }, {
      name: 'Дутики',
      price: 6504,
      images: {
        footwear: '/img/catalog-list-item-1.jpg',
        model: '/img/catalog-list-item-2.jpg',
      },
      colors: [{
        name: 'бежевый',
        value: '#e1ccc0',
      }, {
        name: 'коричневый',
        value: '#cc976b',
      }],
      sizes: [
        36, 37, 38, 41, 42, 43, 44,
      ],
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: '/img/catalog-list-item-1.jpg',
        model: '/img/catalog-list-item-2.jpg',
      },
      colors: [{
        name: 'бежевый',
        value: '#e1ccc0',
      }, {
        name: 'коричневый',
        value: '#cc976b',
      }],
      sizes: [
        36, 37, 38, 41, 42, 43, 44,
      ],
      discount: '12%',
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: '/img/catalog-list-item-1.jpg',
        model: '/img/catalog-list-item-2.jpg',
      },
      colors: [{
        name: 'бежевый',
        value: '#e1ccc0',
      }, {
        name: 'коричневый',
        value: '#cc976b',
      }],
      sizes: [
        36, 37, 38, 41, 42, 43, 44,
      ],
      discount: '12%',
      isFavourite: false,
    }],
  }),
};
</script>

<style lang="stylus" scoped>
.blog-detail-collection

  &._type1
    border 1px solid #ec

.container
  display flex

.item
  text-decoration none

.blog-detail-collection._type1
  margin-bottom 50px
  padding: 20px 0;

  .image-wrapper
    width 120px
    margin-right 10px
    margin-top auto

  .image
    width 100%

  .item
    width 33.3%
    height 185px
    display flex
    align-items center
    justify-content center

  .text-wrapper
    margin: auto 0 50px 0

  .price
    font-size 14px
    font-weight 700
    color #0
    margin-bottom 5px

  .title
    font-size 13px
    color $gray

.blog-detail-collection._type2
  margin-bottom 90px

  .image-wrapper
    width 150px
    margin auto

  .image
    width 100%

  .item
    width 25%
    margin: auto 0 0;

  .price
    font-size 14px
    font-weight 700
    color #0
    margin-bottom 5px

  .title
    font-size 13px
    color $gray

  .badge-wrapper
    padding 4px 0
    height 31px

  .price-wrapper
    display flex

  .price
    font-size 14px
    font-weight bold
    color #0
    letter-spacing -0.3px

    &._discount
      color #dc193e

  .old-price
    font-size 12px
    color $grayLight
    text-decoration line-through
    margin-left 10px

+tablet()
  .blog-detail-collection._type2
    margin-bottom: 55px

    .item
      padding: 0 0 0 22px;

    .image-wrapper
      width: 115px

    .badge-wrapper
      margin-top: -20px
      height: 24px

    .price,
    .old-price
      white-space nowrap

    .price
      font-size: 13px
      line-height: 16px
      margin-bottom:9px

    .old-price
      font-size: 11px
      line-height: 16px

    .title
      font-size: 11px
      line-height: 13px
      letter-spacing: -0.18px

+mobile()
  .blog-detail-collection._type2
    max-width 680px
    margin: 0 auto 14px

    .container
      flex-wrap wrap
      justify-content: center

    .item
      padding: 0
      width: calc(50%)

    .image-wrapper
      width: 100%
      max-width: 180px
</style>
