<template lang="pug">
  //- svg-sprite
  .page
    //- Если не импортировать хотя бы одно модальное окно, то модальные окна на
    //- страниц других шаблонов будут глючить, если просмотр сайта начался с
    //- этого шаблона.
    .modals
      Info
    HeaderBlog
    main.main
      nuxt
    SubscribeForm(
      mod="_blog"
      title="Получайте модные советы первыми, подписывайтесь!"
    )
    FooterBlog
    CookieAlert
</template>

<script>
import HeaderBlog from '@/components/layout/HeaderBlog';
import FooterBlog from '@/components/layout/FooterBlog';
import SubscribeForm from '@/components/index/SubscribeForm';
import Info from '@/components/modals/Info';
import CookieAlert from '@/components/layout/CookieAlert';
import globalLayout from '@/mixins/globalLayout';

export default {
  components: {
    HeaderBlog,
    FooterBlog,
    SubscribeForm,
    Info,
    CookieAlert,
  },

  mixins: [globalLayout],
};
</script>
