<template lang="pug">
  //- svg-sprite
  .page._checkout
    .modals
      ChooseCity
      Feedback
      Info
      Sizes
      CheckoutPopup
    HeaderCheckout
    main.main
      nuxt
    Benefits
    Footer
    CookieAlert
</template>

<script>
import HeaderCheckout from '@/components/layout/HeaderCheckout';
import Footer from '@/components/layout/Footer';
import Benefits from '@/components/layout/Benefits';
import ChooseCity from '@/components/modals/ChooseCity';
import Feedback from '@/components/modals/Feedback';
import Info from '@/components/modals/Info';
import Sizes from '@/components/modals/Sizes';
import CookieAlert from '@/components/layout/CookieAlert';
import CheckoutPopup from '@/components/modals/CheckoutPopup';
import globalLayout from '@/mixins/globalLayout';

export default {
  components: {
    HeaderCheckout,
    Footer,
    Benefits,
    ChooseCity,
    Feedback,
    Info,
    Sizes,
    CookieAlert,
    CheckoutPopup,
  },

  mixins: [globalLayout],
};
</script>
