<template lang="pug">
  //- svg-sprite
  .page
    .modals
      ChooseCity
      Auth
      Feedback
      Preview
      Info
      AddComment
      AddQuestion
      Sizes
      Reservation
      PasswordRefresh
      CheckoutPopup
    // TODO: Подрезка сайта к запуску 1-го этапа
    TopBanner(
      v-if="isBannerVisible && false"
      @closeBanner="isBannerVisible = false"
    )
    Header(:class="`_${$route.name}`")
    main.main
      nuxt
    Benefits
    Footer
    CookieAlert
</template>

<script>
import TopBanner from '@/components/layout/TopBanner';
import Header from '@/components/layout/Header';
import Footer from '@/components/layout/Footer';
import Benefits from '@/components/layout/Benefits';
import ChooseCity from '@/components/modals/ChooseCity';
import Auth from '@/components/modals/Auth';
import Feedback from '@/components/modals/Feedback';
import Preview from '@/components/modals/Preview';
import Info from '@/components/modals/Info';
import AddComment from '@/components/modals/AddComment';
import AddQuestion from '@/components/modals/AddQuestion';
import Sizes from '@/components/modals/Sizes';
import Reservation from '@/components/modals/Reservation';
import CookieAlert from '@/components/layout/CookieAlert';
import PasswordRefresh from '@/components/modals/PasswordRefresh';
import CheckoutPopup from '@/components/modals/CheckoutPopup';
import globalLayout from '@/mixins/globalLayout';

export default {
  components: {
    AddQuestion,
    AddComment,
    TopBanner,
    Header,
    Footer,
    Benefits,
    ChooseCity,
    Auth,
    Feedback,
    Preview,
    Info,
    Sizes,
    Reservation,
    CookieAlert,
    PasswordRefresh,
    CheckoutPopup,
  },

  mixins: [globalLayout],

  data: () => ({
    isBannerVisible: true,
  }),
};
</script>
