<template lang="pug">
  Error
</template>

<script>
import Error from '@/pages/error';
import isMobile from '@/helpers/isMobile';

export default {
  components: {
    Error,
  },

  beforeMount() {
    this.checkedMobile();
    window.addEventListener('resize', this.checkedMobile);
  },
  destroyed() {
    window.removeEventListener('resize', this.checkedMobile);
  },
  methods: {
    checkedMobile() {
      const result = window.innerWidth < 1180 || isMobile();
      this.$store.commit('layout/SET_MOBILE', result);
    },
  },
};
</script>
