<template lang="pug">
  ContentWrapper(:menu="menu" :title="title")
    Certificate
</template>

<script>
import ContentWrapper from '@/components/content/ContentWrapper';
import Certificate from '@/components/content/Certificate';

export default {
  components: {
    ContentWrapper,
    Certificate,
  },
  data: () => ({
    menu: [
      {
        label: 'Бонусные карты',
        url: '/buyers/bonus/',
      },
      // {
      //   label: 'Дисконтные карты',
      //   url: '/about/discount-cards',
      // },
      {
        label: 'Подарочные сертификаты',
        url: '/about/certificate',
      },
    ],
    title: 'Подарочные сертификаты',
  }),
  head: () => ({
    title: 'Подарочные сертификаты',
  }),
};
</script>

<style lang="stylus" scoped>

</style>
