<template lang="pug">
  .contacts
    section.top
      .content-wrapper
        .top-wrapper
          .navigation
            app-breadcrumbs.navigation-breadcrumbs
              nuxt-link.item(to="/")
                app-icon.icon(
                  name="arrow-down"
                  width="10"
                  height="8"
                )
                | Главная
              span.item /
              nuxt-link.item(to="/about/") О компании
              span.item /
              nuxt-link.item(to="/about/shops") Контакты
            .navigation-title
              h1.title Контакты
          .address
            .type Юридический адрес:
            .text 121309, г. Москва, ул. Барклая, дом 13, строение 2, этаж 5, комната 15
    section.main
      .content-wrapper
        .main-wrapper
          .info
            Info
          .feedback
            Feedback
</template>

<script>
import SortingMenu from '@/components/catalog/SortingMenu';
import Feedback from '@/components/contacts/Feedback';
import Info from '@/components/contacts/Info';

export default {
  components: {
    Info,
    Feedback,
    SortingMenu,
  },
  head: () => ({
    title: 'Поиск',
  }),

  fetch({ store }) {
    return store.dispatch('feedback/FETCH_THEMES')
      .catch(() => {});
  },
};
</script>

<style lang="stylus" scoped>
.title
  font-family 'Century Gothic'
  font-size 22px
  font-weight 700
  color #0
  margin 0 70px 0 0
  line-height 1

.top
  border-bottom 1px solid #f1f1f1
  padding 25px 0
  display flex
  justify-content space-between

  &-wrapper
    display: flex
    justify-content: space-between

.navigation
  &-breadcrumbs
    margin-bottom: 18px

.address
  display: flex
  flex-direction: column
  align-items: flex-end
  justify-content: space-between
  padding-top: 9px

.type
  font-size: 12px
  color: #75787b

.text
  font-size: 13px
  font-weight: 500

.main-wrapper
  width: 100%
  display flex
  padding-top: 25px
  padding-bottom 79px

.info
  width: 342px
  margin-right:78px

.feedback
  flex: 1
  padding: 50px 60px
  border: 1px solid #ececec

.app-breadcrumbs
  .icon
    display: none

+tablet()

  .app-breadcrumbs
    align-items: center
  .title
    font-size: 20px
    line-height: 24px
  .top
    padding: 16px 0

    .icon
      transform rotate(90deg)
      margin-right: 5px
      display: inline-block

  .navigation-breadcrumbs
    margin-bottom: 4px

  .item
    font-size: 10px
    line-height: 18px

  .main-wrapper
    flex-direction: column
    padding-top: 23px

  .info, .feedback
    width: 100%

  .info
    margin-right:0

  .feedback
    border: none
    padding: 0
    padding-right: 20px

+mobile()
  .top-wrapper
    flex-direction: column

  .top
    padding: 0

    .icon
      margin-right:14px

  .app-breadcrumbs
    white-space nowrap
    padding:10px 0 7px
    position: relative
    &:before
      content ''
      position: absolute
      top: 0
      bottom: 0
      left: -50vw
      right: -50vw
      background-color: #F6F6F6;
      z-index: -1

  .address
    align-items: flex-start

    .text
      padding 3px 0 23px

  .info
    margin-bottom: 23px

  .feedback
    padding: 0

  .title
    font-size: 18px
    line-height: 22px
    padding: 12px 0 0px
    margin: 0

  .main-wrapper
    padding-top: 20px
    padding-bottom: 40px
</style>
