<template lang="pug">
  ContentWrapper(:menu="menu" :title="title")
    About
</template>

<script>
import ContentWrapper from '@/components/content/ContentWrapper';
import About from '@/components/content/About';

export default {
  components: {
    ContentWrapper,
    About,
  },
  data: () => ({
    menu: [
      {
        label: 'О компании',
        url: '/',
      },
      {
        label: 'Условия и стоимость доставки',
        url: '/buyers/delivery/',
      },
      {
        label: 'Защита персональных данных',
        url: '/about/protection-of-information/',
      },
      {
        label: 'Как оплатить заказ?',
        url: '/buyers/payment/',
      },
    ],
    title: 'О компании',
  }),
  head: () => ({
    title: 'О компании',
  }),
};
</script>

<style lang="stylus" scoped>

</style>
