<template lang="pug">
  ContentWrapper(:menu="menu" :title="title")
    ProtectionOfInformation
</template>

<script>
import ContentWrapper from '@/components/content/ContentWrapper';
import ProtectionOfInformation from '@/components/content/ProtectionOfInformation';

export default {
  components: {
    ContentWrapper,
    ProtectionOfInformation,
  },
  data: () => ({
    menu: [
      {
        label: 'Условия и стоимость доставки',
        url: '/buyers/delivery/',
      },
      {
        label: 'Защита персональных данных',
        url: '/about/protection-of-information',
      },
    ],
    title: 'Защита персональных данных',
  }),
  head: () => ({
    title: 'Защита персональной информации',
  }),
};
</script>

<style lang="stylus" scoped>

</style>
