<template lang="pug">
  .about-shops
    section.top
      .content-wrapper
        .columns
          .columns-item
            app-breadcrumbs.row
              nuxt-link.item(to="/")
                app-icon.icon(
                  name="arrow-down"
                  width="10"
                  height="8"
                )
                | Главная
              span.item /
              nuxt-link.item(to="/about/") О компании
              span.item /
              nuxt-link.item(to="/about/shops") Магазины
            .row._heading
              h1.title._desktop-and-tablet Магазины Tervolina в {{ city }}
              h1.title._mobile Магазины
              LocationMenu.location._mobile
          .columns-item.controls
            LocationMenu.location._desktop-and-tablet
            .mode-map
              span.mode-map-item(@click="hideMapFull" :class="{'_active': !isMapFull}") Списком
              span.mode-map-item(@click="showMapFull" :class="{'_active': isMapFull}") На карте
    section.main(:class="{'_map-full': isMapFull}")
      .content-wrapper
        .main-wrapper(v-if="places && places.length")
          MapPlaces.map-wrapper(
            :coords="getCoords"
            :places="places"
            :selectedItem="selectedPlace"
            @loadedMap="loadedMap"
            name='shops'
          )
          PlaceList(
            v-show="!isMapFull"
            :places="places"
            :activePlace="selectedPlace"
            @select-place="handleSelectedPlace"
            :showMap="showMap"
          )
        .main-wrapper(v-else) В вашем городе нет магазинов
</template>

<script>
import PlaceList from '@/components/shops/PlaceList';
import MapPlaces from '@/components/shops/MapPlaces';
import LocationMenu from '@/components/layout/header/LocationMenu';

export default {
  components: {
    LocationMenu,
    MapPlaces,
    PlaceList,
  },
  data: () => ({
    isMapFull: false,
    showMap: false,
    selectedPlace: 0,
  }),
  computed: {
    getCoords() {
      return this.places.map(({ lat, lng }) => ({
        lat,
        lng,
      }));
    },
    city() {
      return this.$store.state.user.city.data.city;
    },
    places() {
      return this.$store.state.map.shops.data;
    },
  },

  watch: {
    city(value) {
      if (!value) { return; }
      this.$store
        .dispatch('map/FETCH_SHOPS', value)
        .then(() => {
          this.findShopById();
        })
        .catch(() => {});
    },
  },

  fetch({ store }) {
    return store
      .dispatch('map/FETCH_SHOPS', store.state.user.city.data.city)
      .catch(() => {});
  },

  created() {
    this.findShopById();
  },

  methods: {
    findShopById() {
      if (!this.places || !this.places.length) { return; }

      const { shop } = this.$route.query;
      if (!shop) {
        this.goToShop();
        return;
      }

      const findedPlace = this.places.find(({ id }, index) => {
        if (+id !== +shop) { return false; }
        this.selectedPlace = index;
        return true;
      });

      if (!findedPlace) {
        this.selectedPlace = 0;
        this.goToShop();
      }
    },

    goToShop() {
      const { id: shopId } = this.places[this.selectedPlace];
      this.$router.push({
        query: {
          shop: shopId,
        },
      });
    },

    hideMapFull() {
      if (!window.shops.map) return;
      this.isMapFull = false;
      this.$nextTick(() => {
        window.shops.map.container.fitToViewport();
      });
    },
    loadedMap(value) {
      this.showMap = value;
    },
    showMapFull() {
      if (!window.shops.map) return;
      this.isMapFull = true;
      this.$nextTick(() => {
        window.shops.map.container.fitToViewport();
      });
    },
    handleSelectedPlace(index) {
      this.selectedPlace = index;
      const { id } = this.places[index];

      this.$router.push({
        query: {
          shop: id,
        },
      });
    },
  },
  head: () => ({
    title: 'Магазины',
  }),
};
</script>

<style lang="stylus" scoped>
.title
  font-family 'Century Gothic'
  font-size 22px
  font-weight 700
  color #0
  margin 0 70px 0 0
  line-height 1

&._mobile
  display none

.top
  boredr-top 1px solid #f1f1f1
  border-bottom 1px solid #f1f1f1
  padding 25px 0
  display flex
  justify-content space-between

.main
  padding-top 31px
  padding-bottom: 60px
  &-wrapper
    width: 100%
    display flex

  .map-wrapper
    flex: 1
    height: 345px
    margin-right: 60px

    .content-wrapper
      &._hide
        display: none
  &._map-full
    padding: 0
    height: 605px
    .main-wrapper
      height:100%
    > .content-wrapper
      margin: 0
      max-width: unset
      width: 100%
      height: 100%
    .map-wrapper
      height: 100%
      margin:0

.place-list
  max-height: 600px

.columns
  display: flex
  justify-content: space-between
  &-item
    > *
      &:first-child
        margin-bottom 18px

.mode-map
  &-item
    font-size: 16px
    font-weight: 600
    cursor: pointer
    &._active
      color: $red
    &:first-child
      margin-right:35px

.controls
  display: flex;
  flex-direction: column;
  justify-content: space-between;
.location
  justify-content: flex-end


.app-breadcrumbs
  .icon
    display: none

+tablet()
  .mode-map
    &-item
      font-size: 14px

      &:first-child
        margin-right 32px

  .location

    >>>.link
      color $cyan
      font-weight 600

  .app-breadcrumbs
    align-items: center

  .title
    font-size: 20px
    line-height: 24px

  .top
    padding: 16px 0

    .icon
      transform rotate(90deg)
      margin-right: 5px
      display: inline-block

  .navigation-breadcrumbs
    margin-bottom: 4px

  .item
    font-size: 10px
    line-height: 18px
  .main
    padding-top: 24px
    padding-bottom: 41px
    .map-wrapper
      flex: none
      width: calc(50% - 30px)
      height: 420px
      margin-right: 32px
    &._map-full
      height: 372px
      > .content-wrapper
        margin: 0
        padding: 0
      .map-wrapper
        width: 100%
        margin:0
+mobile()
  .place-list
    max-height: none

  .columns
    flex-direction: column

  .top
    padding: 0

    .icon
      margin-right:14px

  .row._heading
    display flex
    align-items center
    justify-content: space-between
    border-bottom 1px solid #ec
    margin 0 -16px 10px
    padding 0 16px 10px

  .title
    margin 0
    font-size: 18px

  &._desktop-and-tablet
    display none

  &._mobile
    display block

  .controls
    padding 8px 0 16px

  .app-breadcrumbs
    white-space nowrap
    padding:10px 0 7px
    position: relative
    &:before
      content ''
      position: absolute
      top: 0
      bottom: 0
      left: -50vw
      right: -50vw
      background-color: #F6F6F6;
      z-index: -1

  .main
    padding-top: 0px
    padding-bottom: 0
    .map-wrapper
      opacity: 0
      visibility hidden
      position: absolute
      z-index: -1
    &._map-full
      height: 372px
      > .content-wrapper
        margin: 0
        padding: 0
      .map-wrapper
        position: relative
        z-index: 1
        opacity: 1
        visibility visible
        width: 100%
        margin:0
</style>
