<template lang="pug">
  ContentWrapper(:menu="menu" :title="title")
    Wholesale
</template>

<script>
import ContentWrapper from '@/components/content/ContentWrapper';
import Wholesale from '@/components/content/Wholesale';

export default {
  components: {
    ContentWrapper,
    Wholesale,
  },
  data: () => ({
    menu: [
      {
        label: 'Оптовая продажа',
        url: '/about/wholesale',
      },
      {
        label: 'Франчайзинг',
        url: '/about/franchising',
      },
    ],
    title: 'Оптовая продажа',
  }),
  head: () => ({
    title: 'Оптовая продажа',
  }),
};
</script>

<style lang="stylus" scoped>

</style>
