<template lang="pug">
  .blog
    BlogNews
    PopularArticles(view="blog")
    LastArticles(
      view="blog"
      title="Последние статьи из блога"
    )
</template>

<script>
import BlogNews from '@/components/blog/BlogNews';
import PopularArticles from '@/components/index/PopularArticles';
import LastArticles from '@/components/index/LastArticles';

export default {
  layout: 'blog',

  components: {
    BlogNews,
    PopularArticles,
    LastArticles,
  },
};
</script>

<style lang="stylus" scoped>
.blog-news
  margin-bottom 55px

.popular-articles
  margin-bottom 50px

.last-articles
  margin-bottom 80px

+tablet()
  .blog-news
    margin-bottom 30px

  .popular-articles
    margin-bottom 45px

+mobile()
  .blog-news
    margin-bottom 40px

  .popular-articles
    margin-bottom 15px
</style>
