<template lang="pug">
  .account
    section.top(:class=`[
      {'_dashboard': $route.name === 'account'},
      {'_bound': binding === 'bound'}
    ]`)
      .content-wrapper
        .avatar-wrapper(v-if="photo && $route.name === 'account'")
          img(:src="photo")
        .columns
          .columns-item
            app-breadcrumbs.row
              nuxt-link.item(to="/")
                app-icon.icon(
                  name="arrow-down"
                  width="10"
                  height="8"
                )
                | Главная
              span.item /
              .item Личный кабинет
            .row
              h1.title
                template(v-if="$route.name === 'account'")
                  span._desktop-and-tablet Личный кабинет
                  span._mobile Привет, {{ name }}!
                template(v-else)
                  span Личный кабинет
          .hello(v-if="$route.name === 'account'")
            .text._mobile Добро пожаловать в Ваш личный кабинет.
            .text._desktop-and-tablet Здравствуйте, &nbsp;
              span.name {{ name }}
              |!
            .text._desktop-and-tablet Добро пожаловать в Ваш личный кабинет.
    section.main
      .content-wrapper
        .main-wrapper
          Menu
          nuxt-child.right
            favourite
            contacts
            orders
</template>

<script>
import Menu from '@/components/account/Menu';
import contacts from '@/pages/account/contacts';
import orders from '@/pages/account/orders';
import favourite from '@/pages/account/favourite';

export default {
  components: {
    orders,
    contacts,
    Menu,
    favourite,
  },

  computed: {
    photo() {
      return this.$store.state.user.personal.data.photo;
    },

    binding() {
      return this.$store.state.bonusCard.binding;
    },


    name() {
      return this.$store.state.user.personal.data.name;
    },
  },

  head: () => ({
    title: 'Личный кабинет',
  }),
};
</script>

<style lang="stylus" scoped>
.title
  font-family 'Century Gothic'
  font-size 22px
  font-weight 700
  color #0
  margin 0 70px 0 0
  line-height 1

.top
  border-bottom 1px solid #f1f1f1
  padding 25px 0
  display flex
  justify-content space-between

  .icon
    display: none

.main
  padding-top 18px
  padding-bottom: 60px
  background: #f8f8f8
  &-wrapper
    display flex
    align-items flex-start

.columns
  display: flex
  justify-content: space-between
  &-item
    > *
      &:first-child
        margin-bottom 18px

.hello
  padding-top: 2px
  .text
    font-size: 13px
    font-weight: 500
    color: #75787b
    text-align: right
    &:not(:last-child)
      margin-bottom: 13px
  .name
    color: #000
.right
  flex: 1

.avatar-wrapper
  display: none

._mobile
  display none

+tablet()
  .top
    padding: 16px 0
    .icon
      transform rotate(90deg)
      margin-right: 5px
      display: inline-block
  .app-breadcrumbs
    align-items: center
  .item
    font-size: 10px
    line-height: 18px
  .title
    font-size: 20px
    line-height: 24px
  .columns-item
     > *
       &:first-child
         margin-bottom 4px
  .main-wrapper
    flex-direction: column
  .right
    order: 0
  .menu
    order: 1

  .main
    padding-bottom 0

  .hello
    padding-top: 8px
    .text
      font-size: 12px
      font-weight: 400
      line-height: 18px
      &:not(:last-child)
        margin-bottom: 1px

+mobile()
  .app-breadcrumbs.row
    display: none

  .top
    border:0
    display none

    &._dashboard
      background: linear-gradient(90deg, #E4002B, #FA4A4A)
      min-height: 158px
      color #f
      display block

      .title
        color #f

      .hello .text
        color #f
        margin-right 20px

    &._bound
      background: linear-gradient(90deg, #1A70BA, #3EADCD)

    .content-wrapper
      display: flex;
      justify-content: space-between
      align-items flex-start

  .columns
    flex-direction: column

  .title
    font-size: 18px
    line-height: 22px

  .hello
    .text
      font-size: 12px
      text-align: left

  .avatar-wrapper
    display block
    width 48px
    min-width: 48px
    height 48px
    border 2px solid #fff
    border-radius 50%
    overflow hidden
    margin-right: 20px

    img
      width: 100%

  ._desktop-and-tablet
    display none

  ._mobile
    display block

</style>
