<template lang="pug">
  .index
    Promo(
      :slides="slides"
    )
    // TODO: Подрезка сайта к запуску 1-го этапа
    LastArticles(
      v-if="false"
      view="index"
      :articles="lastArticles"
    )
    // TODO: Подрезка сайта к запуску 1-го этапа
    SubscribeForm(
      v-if="false"
      title="Получите скидку 15% подписавшись на новости"
    )
    NewProducts(
      v-if="+newProducts.itemsQuantity"
      :items="newProducts"
    )
    // TODO: Подрезка сайта к запуску 1-го этапа
    PromocodeBanner(
      :promocode="promocode"
    )
    // TODO: Подрезка сайта к запуску 1-го этапа
    //PopularArticles(
    //  view="index"
    //  :articles="popularArticles"
    //)
    Instagram(:items="instagram")
</template>

<script>
import Promo from '@/components/index/Promo';
import LastArticles from '@/components/index/LastArticles';
import SubscribeForm from '@/components/index/SubscribeForm';
import NewProducts from '@/components/index/NewProducts';
import PromocodeBanner from '@/components/index/PromocodeBanner';
import PopularArticles from '@/components/index/PopularArticles';
import Instagram from '@/components/index/Instagram';

export default {
  components: {
    Promo,
    LastArticles,
    SubscribeForm,
    NewProducts,
    PromocodeBanner,
    PopularArticles,
    Instagram,
  },

  computed: {
    slides() {
      return this.$store.state.mainPage.promo.slider.children.data;
    },
    lastArticles() {
      return this.$store.state.mainPage.lastArticles.children.data;
    },
    popularArticles() {
      const result = this.$store.state.mainPage.popularArticles.data;
      return result
        .map(item => ({
          ...item,
          images: {
            '1x': '/img/index-promo-1-child.png',
            '2x': '/img/index-promo-1-child.png',
          },
        }));
    },
    newProducts() {
      return this.$store.state.mainPage.newProducts.data;
    },
    promocode() {
      const { data } = this.$store.state.mainPage.promocode.children;
      return Array.isArray(data) ? data[0] : data;
    },
    instagram() {
      return this.$store.state.mainPage.instagram.data;
    },
  },

  fetch({ store }) {
    const departments = Array.from(store.state.layout.departments.data);
    const currentDepartment = departments
      .find(({ url }) => url === '/children/') || {};

    return Promise.all([
      store.dispatch('mainPage/FETCH_PROMO_CHILDREN_SLIDER'),
      store.dispatch('mainPage/FETCH_PROMOCODE_CHILDREN'),
      store.dispatch('mainPage/FETCH_LAST_ARTICLES_CHILDREN'),
      store.dispatch('mainPage/FETCH_POPULAR_ARTICLES'),
      store.dispatch('mainPage/FETCH_INSTAGRAM'),
      store.dispatch('mainPage/FETCH_NEW_PRODUCTS', {
        id: currentDepartment.id,
      }),
    ]).catch(() => {});
  },

  mounted() {
    // Временная демонстрация
    if (this.$route.query.passwordRefresh) {
      this.$modal.show('passwordRefresh');
    }
  },
};
</script>

<style lang="stylus" scoped>
  .promo
    margin-bottom 80px

  // TODO: для показа, после убрать
  .index >>>.promo .slider-wrapper .banner img
    width: 100%
    height auto

  .last-articles
    margin-bottom 80px

  .subscribe-form
    margin-bottom 67px

  .new-products
    margin-bottom 68px

  .promocode-banner
    margin-bottom 80px

  .popular-articles
    margin-bottom 80px

  .instagram
    margin-bottom 60px

  +tablet()

    .promo
      margin-bottom 40px

    .last-articles
      margin-bottom 30px

    .subscribe-form
      margin-bottom 18px

    .new-products
      margin-bottom 40px

    .promocode-banner
      margin-bottom 40px

    .popular-articles
      margin-bottom 50px

    .instagram
      margin-bottom 40px

  +mobile()

    .promo
      margin-bottom 17px

    .last-articles
      margin-bottom 24px

    .subscribe-form
      margin-bottom 32px

    .new-products
      margin-bottom 30px

    .promocode-banner
      margin-bottom 40px

    .popular-articles
      margin-bottom 38px

    .instagram
      margin-bottom 30px
</style>
