<template lang="pug">
  .error
    section.top
      .content-wrapper
        nuxt-link.link(to="/")
          app-icon.icon(
            name="arrow-down"
            width="10"
            height="8"
          )
          span Вернуться на главную
        h1.title Ошибка 404
    section.main
      .content-wrapper
        .main-wrapper
          .text Неправильно набран адрес
            |  или такой страницы на сайте больше не существует.
            | Попробуйте
            nuxt-link.link(to="/")  вернуться на главную
            |  или воспользуйтесь
            nuxt-link.link(to="/")  поиском по сайту.
          .recommend
            DetailProductList(
              title="Рекомендуем вам"
              :products="products"
            )

</template>

<script>
import DetailProductList from '~/components/detail/DetailProductList';

export default {
  components: {
    DetailProductList,
  },
  head: () => ({
    title: '404',
  }),
  data: () => ({
    products: [{
      name: 'Ботинки',
      price: 6504,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      isFavourite: true,
    }, {
      name: 'Дутики',
      price: 6504,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    },
    {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    }, {
      name: 'Кросовки',
      price: 4494,
      oldPrice: 7494,
      images: {
        footwear: {
          '1x': '/img/catalog-list-item-1.jpg',
          '2x': 'img/catalog-list-item-1.jpg',
        },
        model: {
          '1x': '/img/catalog-list-item-2.jpg',
          '2x': 'img/catalog-list-item-2.jpg',
        },
      },
      colors: [
        {
          name: 'бежевый',
          value: '#e1ccc0',
          sizes: [{
            id: 341,
            value: 41,
          },
          {
            id: 342,
            value: 42,
          },
          {
            id: 343,
            value: 43,
          },
          {
            id: 344,
            value: 44,
          },
          {
            id: 346,
            value: 46,
          },
          {
            id: 347,
            value: 47,
          }],
        },
        {
          name: 'коричневый',
          value: '#cc976b',
          sizes: [{
            id: 341,
            value: 36,
          },
          {
            id: 342,
            value: 37,
          },
          {
            id: 343,
            value: 38,
          },
          {
            id: 344,
            value: 39,
          }],
        },
      ],
      discount: '12%',
      isFavourite: false,
    }],
  }),
};
</script>

<style lang="stylus" scoped>
  .link
    a-reset()

  .icon
    transform rotate(90deg)
    margin-right: 5px

  .title
    font-family 'Century Gothic'
    font-size 22px
    font-weight 700
    color #0
    margin 0 70px 0 0
    line-height 1
    margin-top: 18px

  .top
    border-bottom 1px solid #f1f1f1
    padding 25px 0
    display flex
    justify-content space-between

    .link
      color: $gray
      align-items: center
      font-size: 13px

  &-wrapper
      display: flex
      justify-content: space-between

  .main
    padding-top: 24px
    padding-bottom: 39px
    &-wrapper
      width: 100%
      display flex
      flex-direction: column

  .text
    margin-bottom: 81px
    font-size: 13px
    line-height: 20px

    .link
      color: $cyan

  >>>.detail-product-list .content-wrapper
    padding: 0

+tablet()
  .top
    padding: 16px 0

    .link
      font-size: 10px
      line-height: 18px

  .title
    font-size: 20px
    line-height: 24px
    letter-spacing: 0.32px
    margin-top: 3px

  .main
    padding-bottom: 33px

+mobile()
  .text
    margin-bottom: 40px

  .main
    padding-bottom: 52px
</style>
