<template lang="pug">
  .search
    section.top
      .content-wrapper
        .top-wrapper
          .result
            .result-count {{ description }}
            .result-title
              h1.title Товары по запросу "{{ query }}"
          SortingMenu(view='search').sort
    section.main
      .content-wrapper
        .main-wrapper
          .found
            .found-products(v-if="currentItems.length")
              .loading(v-if="isLoading")
                app-icon.icon(name="loading")
              section.found-products-list
                app-product-list(
                  :count="results.itemsQuantity"
                  view="search"
                  :items="currentItems"
                  @clickPagen="handlePagen"
                  :pagen="pagen"
                )
            .found-empty(v-else-if="isSearchFailed  && !$store.state.search.results.isFetching")
              .text К сожалению мы не смогли найти совпадений по вашему запросу,
                |  возможно у нас нет этого в наличии или вы допустили ошибку.
          //- .other
          //-   .other-title Вас могут заинтересовать другие модели
          //-   .other-list
          //-     FoundProductsList(:count="5" :items="others")
</template>

<script>
import morphHelper from '@/helpers/morphHelper';
import SortingMenu from '@/components/catalog/SortingMenu';

export default {
  components: {
    SortingMenu,
  },

  head: () => ({
    title: 'Поиск',
  }),

  data: () => ({
    currentPage: 1,
    currentItems: [],
    isSearchFailed: false,
  }),

  computed: {
    isLoading() {
      return this.$store.state.search.results.isFetching;
    },

    description() {
      if (this.results.itemsQuantity) {
        return `
          Найдено ${this.results.itemsQuantity}
          ${morphHelper('товар', 'товара', 'товаров', +this.results.itemsQuantity)}
          по запросу
        `;
      }

      return '';
    },

    query() {
      if (this.$store.state.search.query) {
        return this.$store.state.search.query;
      }
      return this.$route.query.query;
    },

    departmentId() {
      return this.$store.state.layout.currentDepartment.id;
    },

    sort() {
      return this.$store.state.catalogPage.sort;
    },

    results() {
      return this.$store.state.search.results.data;
    },

    pagen() {
      return {
        pageSize: 20,
        page: this.currentPage,
        amount: +this.results.itemsQuantity,
      };
    },
  },

  watch: {
    sort() {
      this.updateData();
    },

    query() {
      this.updateData();
    },

    results() {
      this.fillList();
    },
  },

  beforeRouteEnter(to, from, next) {
    if (!to.query.query) {
      next('/');
    }
    next();
  },

  async fetch({ store, route }) {
    await store.dispatch('search/FETCH_RESULTS', {
      query: route.query.query,
      sortBy: route.query.sortBy,
      sortOrder: route.query.sortOrder,
      page: 1,
      departmentId: store.state.layout.currentDepartment.id,
    });
  },

  mounted() {
    this.fillList();
  },

  methods: {
    updateData() {
      this.currentItems = [];
      this.currentPage = 1;
      this.fetchResults();
    },

    fillList() {
      if (this.results.items && this.results.items.length) {
        this.currentItems = [...this.currentItems, ...this.results.items];
      } else {
        this.isSearchFailed = true;
      }
    },

    fetchResults() {
      this.$store.dispatch('search/FETCH_RESULTS', {
        query: this.query,
        sortBy: this.sort.by,
        sortOrder: this.sort.order,
        page: this.currentPage,
        departmentId: this.departmentId,
      });
    },

    handlePagen() {
      this.currentPage += 1;
      this.fetchResults();
    },
  },
};
</script>

<style lang="stylus" scoped>
.loading
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(255,255,255,0.7)
  z-index: 6
  pointer-events none
  user-select none
  display: flex
  align-items: center
  justify-content: center

.loading + .found-products-list
  pointer-events none
  user-select none

.found-products
  position relative

.title
  font-family 'Century Gothic'
  font-size 22px
  font-weight 700
  color #0
  margin 0 70px 0 0
  line-height 1

.top
  border-bottom 1px solid #f1f1f1
  padding 25px 0
  display flex
  justify-content space-between

  &-wrapper
    display: flex
    justify-content: space-between

.result-count
  font-size: 12px
  color: #75787b
  font-weight: 500
  margin-bottom:18px

.main
  padding-bottom: 39px
  &-wrapper
    width: 100%
    display flex
    flex-direction: column
.sort
  align-items: flex-end

.found
  display: flex
  &-empty
    height: 257px
    width: 100%
    font-size: 13px
    line-height: 20px
    color: #75787b
    padding-bottom: 28px
    display: flex
    align-items: center
    justify-content: center
    .text
      text-align: center
      max-width: 530px
      width: 100%
  &-products
    padding 18px 0 9px

.other
  display: flex
  flex-direction: column
  &-title
    font-size: 18px
    font-weight: 700
    text-align: center
  &-list
    padding 17px 0 0 0

+mobile()
  .top
    padding: 16px 0

  .other
    margin-top: 60px

  .title
    pointer-events auto
    font-size: 12px
    line-height: 14px
    margin-right:auto

  .result-count
    font-size: 10px
    margin-bottom:10px
</style>
