<template lang="pug">
  .map(ref="ymap")
    slot
</template>

<script>
import getScript from '@/helpers/getScript';

const ymapUrl = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU';

export default {
  props: {
    coords: {
      type: Array,
      default: () => ([]),
    },
    places: {
      type: Array,
      default: () => ([]),
    },
    selectedItem: {
      type: [String, Number],
      default: 0,
    },
    name: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    error: {},
  }),
  watch: {
    selectedItem(value) {
      const { lat, lng } = this.coords[value];
      const { map } = window[this.name];
      map.setCenter([lat, lng], 13);
    },
    coords() {
      this.setPlacemarks();
    },
  },
  mounted() {
    // Вызов методов карты в параллельном компоненте.
    // Потом надо вынести её в стор
    window[this.name] = window[this.name] || {};

    if (window.ymaps) {
      ymaps.ready(() => {
        this.createMap();
        this.setPlacemarks();
      });
    } else {
      this.init();
    }
  },
  methods: {
    async init() {
      try {
        window.ymaps = await this.initScript();
        this.createMap();
        this.setPlacemarks();
      } catch (error) {
        this.error = error;
      }
    },

    initScript() {
      return new Promise((resolve, reject) => {
        if (window.ymaps) {
          resolve(window.ymaps);
        } else {
          getScript(ymapUrl)
            .then(() => window.ymaps.ready(() => resolve(window.ymaps)))
            .catch(reject);
        }
      });
    },

    setPlacemarks() {
      if (!window.ymaps.Placemark) {
        return;
      }

      const { map } = window[this.name];

      if (map.geoObjects) {
        map.geoObjects.removeAll();
      }

      const clusterer = new window.ymaps.Clusterer({
        clusterOpenBalloonOnClick: false,
        minClusterSize: 2,
      });

      this.places.forEach((item) => {
        const coordinates = [item.lat, item.lng];

        const balloonContentBody = `
            <div class="place-item" style="
              font-family: 'Montserrat';
              max-width: 240px;
            ">
              <div class="metro" style=" display: ${item.metro ? 'flex' : 'none'}; align-items: center;">
                <div class="metro-icon" style="
                  background: ${item.metro ? item.metro.color : ''};
                  width: 17px;
                  height: 17px;
                  margin-right: 5px;
                  border-radius: 50%;
                  position: relative;
                "> <span style="
                  line-height: 0;
                  content: 'м';
                  color: #fff;
                  display: block;
                  position: absolute;
                  top: 8px;
                  left: 4px;
                  font-size: 12px;
                  font-weight: 700;
                "> м </span></div>
                <div class="metro-label"> ${item.metro ? item.metro.name : ''} </div>
              </div>
              <div class="place" style="
                font-size: 16px;
                font-weight: 700;
                margin-top: 7px;
                margin-bottom: 7px;"
              > ${item.address} </div>
              <div class="address" style="
                color: #404244;
              "> ${item.address} </div>
              <div class="contacts" style="
                margin-top: 6px;
              ">
                <a href="tel:8${item.phone.raw.slice(1)}" class="tel" style="
                  text-decoration: none;
                  color: inherit;
                  margin-right: 18px;
                  display: flex;
                  align-items: center;
                ">
                  <svg fill="" stroke="" width="14px" height="14px" color="#afb0b0" class="app-icon tel-icon" data-v-50482646=""><use xlink:href="#icon-phone-solid"></use></svg>
                  <span class="tel-text" style="
                    font-weight: 600;
                    color: #229595;
                  "> ${item.phone.formatted} </span>
                </a>
                <div class="time" style="
                  display: flex;
                  align-items: center;
                ">
                  <svg fill="" stroke="" width="13px" height="14px" color="#afb0b0" class="app-icon time-icon" data-v-50482646=""><use xlink:href="#icon-clock-solid"></use></svg>
                  <span class="time-text" style="
                    color: #404244;
                  "> ${item.workTime}</span>
                </div>
              </div>
            </div>
          `;

        const placemark = new window.ymaps.Placemark(coordinates, {
          balloonContentBody,
        }, {
          zIndexActive: 9999,
        });

        clusterer.add(placemark);
        map.geoObjects.add(clusterer);
      });

      if (!this.places || !this.places.length) {
        this.coords.forEach((item) => {
          const coordinates = [item.lat, item.lng];

          const placemark = new window.ymaps.Placemark(coordinates, {}, {
            zIndexActive: 9999,
          });

          clusterer.add(placemark);
          map.geoObjects.add(clusterer);
        });
      }

      const bounds = map.geoObjects.getBounds();

      if (map.geoObjects && bounds) {
        map.setBounds(bounds, { checkZoomRange: true })
          .then(() => this.initPlace());
      }

      map.events.add('click', () => {
        map.balloon.close();
      });
    },

    createMap() {
      const moscow = [55.83367, 37.617874];
      const map = new window.ymaps.Map(this.$refs.ymap, {
        center: moscow,
        zoom: 10,
        controls: ['zoomControl'],
      });

      window[this.name].map = map;
      this.$emit('loadedMap', true);
    },

    initPlace() {
      if (!window[this.name] || !window[this.name].map) {
        return;
      }
      const { lat, lng } = this.coords[this.selectedItem];
      const { map } = window[this.name];
      map.setCenter([lat, lng], 13);
    },
  },
};
</script>

<style lang="stylus" scoped>
  .map
    height 100%
</style>
