<template lang="pug">
  .place-item
    .metro(v-if="place.metro")
      .metro-icon(:style="{background: place.metro.color}")
      .metro-label {{ place.metro.name }}
    .place {{ place.address }}
    .address {{ place.address }}
    .contacts
      a.tel(:href="`tel:8` + place.phone.raw.slice(1)")
        app-icon.tel-icon(
          name="phone-solid"
          width="14px"
          height="14px"
          color="#afb0b0"
        )
        span.tel-text {{ place.phone.formatted }}
      .time
        app-icon.time-icon(
          name="clock-solid"
          width="13px"
          height="14px"
          color="#afb0b0"
        )
        span.time-text {{ place.workTime }}
    MapPlaces.map-wrapper(
      v-if="showMap"
      :places="[place]"
      :coords="getCoords"
      :selectedItem="0"
      :name="nameFull"
    )

</template>

<script>
import MapPlaces from '@/components/shops/MapPlaces';

export default {
  components: {
    MapPlaces,
  },
  props: {
    placeIndex: {
      type: Number,
      default: 0,
    },
    showMap: {
      type: Boolean,
      default: false,
    },
    place: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    getCoords() {
      return [this.place.lat, this.place.lng];
    },
    nameFull() {
      return `shops${this.placeIndex}`;
    },
  },
};
</script>

<style lang="stylus" scoped>
.place-item
  cursor: pointer
  width: 100%
  padding: 23px 42px 26px
  position: relative
  &:not(:first-child)
    border-top 1px solid #ececec

  &._active
    background: #f8f8f8
    border none
    .contacts
      display: flex

  &._active + &
    border none

.metro
  display: flex
  margin-bottom: 12px
  &-icon
    margin-right: 5px
    width 17px
    height 17px
    border-radius 50%
    position: relative
    &:before
      line-height: 0
      content: 'м'
      color: #fff
      display: block
      position: absolute
      top: 8px;
      left: 4px;
      font-size: 12px
      font-weight: 700
  &-label
      font-size: 13px

.place
  font-size: 16px
  font-weight: 700
  margin-bottom: 7px
.address
  color: #404244

.contacts
  margin-top: 17px
  display: none


.address, .tel, .time
  font-size: 13px

.tel
  a-reset()
  margin-right: 18px
  &-text
    font-weight: 600
    color: $cyan
.time, .tel
  display: flex
  align-items: center
  &-icon
    margin-right: 7px

.map-wrapper
  opacity 0
  position: relative
  width: 0
  height: 0
  visibility hidden

+tablet()
  .place-item
    padding:18px 12px 20px 15px
    &:first-child
      padding-top: 10px
  .metro
    margin-bottom: 10px
    &-icon
      width 16px
      height 15px
      &:before
        font-size: 10px
        font-weight: 500
  .place
    font-size: 13px
    line-height: 16px
    font-weight: 600
    margin-bottom: 11px
  .address
    line-height: 20px
  .tel, .time
    font-size: 12px
    letter-spacing: -0.19px

+mobile()
  .place-item
    padding:20px 0
    position: relative
    &._active
      .map-wrapper
        margin-top: 20px
        opacity 1
        position: relative
        visibility visible
        width: 100%
        height: 170px
    &:not(:first-child)
      border-top 0
    &:first-child
      padding-top: 18px
      &:before
        display: none
      &._active
        &:before
          display: block
    &:before
      content: ''
      display: block
      height: 1px;
      width: 140vw
      left: -20vw
      right: -20vw
      background: #ec
      position: absolute
      top: 0
    &._active
      &:before
        height:100%
        z-index: -1
        background: #f8f8f8
    &._active + &
      &:before
        display: none
  .metro
    margin-bottom: 8px
  .place
    line-height: 20px
  .tel, .time
    letter-spacing: -0.4px
  .tel
    margin-right:12px

</style>
