<template lang="pug">
  .place-list
    template(v-if="places.length > 4 && !isMobile")
      .wrapper-bar(v-bar)
        .wrapper
          PlaceItem(
            v-for="(place, index) in places"
            :place="place"
            :key="index + 1"
            :placeIndex="index + 1"
            @click.native="handleClickPlace(index)"
            :class="{'_active': index === activePlace}"
            :showMap="showMap"
          )
    template(v-else)
      PlaceItem(
        v-for="(place, index) in places"
        :place="place"
        :key="index + 1"
        :placeIndex="index + 1"
        @click.native="handleClickPlace(index)"
        :class="{'_active': index === activePlace}"
        :showMap="showMap"
      )
</template>

<script>
import PlaceItem from '@/components/shops/PlaceItem';

export default {
  components: { PlaceItem },
  props: {
    places: {
      type: Array,
      default: () => ([]),
    },
    showMap: {
      type: Boolean,
      default: false,
    },
    activePlace: {
      type: [String, Number],
      default: 0,
    },
  },

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  methods: {
    handleClickPlace(indexPlace) {
      this.$emit('select-place', indexPlace);
    },
  },
};
</script>

<style lang="stylus" scoped>
.place-list
  width:620px

  >>>.place-item
    display: block

.wrapper-bar
  overflow: hidden
  height: 100%

+tablet()
  .place-list
    width: 50%
+mobile()
  .place-list
    width:100%
</style>
