<template lang="pug">
  .halva-page
    .content-wrapper
      app-breadcrumbs.row
        nuxt-link.item(to="/")
          app-icon.icon(
            name="arrow-down"
            width="10"
            height="8"
          )
          | Главная
        span.item /
        nuxt-link.item(to="/about/") О компании
        span.item /
        nuxt-link.item(to="/promo/halva/") Халва
    HalvaTitleWrapper
      .bg._halva
      .content-wrapper
        .content
          h1.title
            span
              | Новые
              br
              | туфли каждый
              br
              | месяц – легко!
            br
            span в магазине Tervolina по карте Халва
          app-button(
              mod="_red _small"
              @click="handleScrollToForm"
            ) Заказать карту
    HalvaMainWrapper
      .content-wrapper
        .content
          .title Невероятные условия с картой Халва
          .text
            span
              | Оплачивайте картой на сайте, в пунктах выдачи и при доставке
              | собственной службой Tervolina
            br
          .main
            .image-wrapper
              img.image(src="/img/halva-card.jpg")
            .text-wrapper
              ul.list
                li.item
                  .highlighted 3
                  .point месяца рассрочки на все покупки
                li.item
                  .highlighted 0%
                  .point за пользование рассрочкой
                li.item
                  .highlighted 0₽
                  .point бесплатное оформление и обслуживание
                li.item
                  .highlighted 0%
                  .point первоначальный взнос
                li.item
                  .highlighted 0%
                  .point бесплатное пополнение онлайн
    HalvaBenefitsWrapper
      .content-wrapper
        .content
          .title Удовольствие от покупок с картой Халва
          .text Получите карту для покупок в рассрочку в Tervolina и у других партнеров
          ul.list
            li.item
              .image-wrapper
                app-icon(name="card-pen")
              .point
                | Оформите и получите
                br
                | карту Халва
            li.item
              .image-wrapper
                app-icon(name="card-cart")
              .point
                | Выбирайте товары
                br
                | в Tervolina
            li.item
              .image-wrapper
                app-icon(name="card-hand")
              .point
                | Оплачивайте их
                br
                | картой Халва
            li.item
              .image-wrapper
                app-icon(name="card-discount")
              .point
                | Пользуйтесь
                br
                | рассрочкой
    .iframe-wrapper#halvaForm
      .iframe-title Оформить Халву сейчас
      iframe.iframe(
        src="https://halva-start.sovcombank.ru/partnerform?utm_medium=Partner&utm_source=tervolina.ru"
        scrolling="no"
      )
      .iframe-copyrights
        span ПАО «Совкомбанк». Генеральная лицензия Банка России №963.
        br
        span Подробнее о карте Халва на сайте&nbsp;
        a(
          href="halvacard.ru"
          target="_blank"
        ) halvacard.ru
</template>

<script>
import HalvaTitleWrapper from '@/components/promo/HalvaTitleWrapper';
import HalvaMainWrapper from '@/components/promo/HalvaMainWrapper';
import HalvaBenefitsWrapper from '@/components/promo/HalvaBenefitsWrapper';

export default {
  components: {
    HalvaTitleWrapper,
    HalvaMainWrapper,
    HalvaBenefitsWrapper,
  },

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  methods: {
    handleScrollToForm() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      const headerHeight = document.querySelector('header').offsetHeight / 3;

      if (this.isMobile) {
        window.scroll({
          top: document.getElementById('halvaForm').getBoundingClientRect().top
            + scrollTop - headerHeight,
          left: 0,
          behavior: 'smooth',
        });
      } else {
        window.scroll({
          top: document.getElementById('halvaForm').getBoundingClientRect().top
            + scrollTop,
          left: 0,
          behavior: 'smooth',
        });
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.iframe
  border none
  width 100%
  height 420px

.iframe-title
  font-family 'Century Gothic'
  font-size 42px
  line-height 1.2
  padding 80px 0 65px
  text-align center

.iframe-copyrights
  text-align center
  font-size 13px
  font-weight 500
  color $grayLight
  line-height 1.8
  padding 45px 0 65px

  a
    color $grayLight

.halva-page
  .app-breadcrumbs
    display none

+tablet()
  .iframe
    height 260px

  .iframe-title
    padding 65px 0 65px

+mobile()
  .halva-page
    .app-breadcrumbs
      display: block
      white-space nowrap
      padding:10px 0 7px
      position: relative
      &:before
        content ''
        position: absolute
        top: 0
        bottom: 0
        left: -50vw
        right: -50vw
        background-color: #F6F6F6;
        z-index: -1

      .item
        font-size 10px
        line-height 18px

      .icon
        transform rotate(90deg)
        margin-right 14px
        display inline-block

    .iframe-title
      font-size 24px
      padding 33px 20px 33px

    .iframe
      height 450px

    .iframe-copyrights
      text-align center
      font-size 13px
      font-weight 500
      color $grayLight
      line-height 1.8
      padding 15px 20px 45px

</style>
