<template lang="pug">
  .sovest-page
    .content-wrapper
      app-breadcrumbs.row
        nuxt-link.item(to="/")
          app-icon.icon(
            name="arrow-down"
            width="10"
            height="8"
          )
          | Главная
        span.item /
        nuxt-link.item(to="/about/") О компании
        span.item /
        nuxt-link.item(to="/promo/sovest/") Совесть
    HalvaTitleWrapper
      .bg._sovest
      .content-wrapper
        .content
          h1.title
            span
              | 3 месяца
              br
              | рассрочки
            br
            span в магазине Tervolina по карте Совесть
          app-button(
            mod="_red _small"
            @click="handleScrollToForm"
          ) Заказать карту
    HalvaMainWrapper
      .content-wrapper
        .content
          .title Выгодная карта для покупок в Tervolina
          .text
            span
              | Пользуйтесь картой рассрочки Совесть, как обычной банковской
              | картой Оплачивайте картой на сайте, в пунктах выдачи и при
              | доставке собственной службой Tervolina
            br
            a(href="javascript:void(0);" style="display:none")
              | Подробнее о способах оплаты в вашем городе
          .main
            .image-wrapper
              img.image(src="/img/sovest-card.jpg")
            .text-wrapper
              ul.list
                li.item
                  .highlighted 0%
                  .point Покупки без переплат
                li.item
                  .highlighted 1К
                  .point Тысячи магазинов по всей России
                li.item
                  .highlighted 300
                  .point Лимит до 300 000 ₽
                li.item
                  .highlighted 0₽
                  .point Бесплатное годовое обслуживание
          .text._cond
            a(
              href="https://sovest.ru/rates?utm_source=lamoda.ru&utm_medium=&utm_campaign=01_11_17&utm_content=rates&utm_term=promo-landing"
              target="_blank"
            ) Подробные условия программы
    HalvaBenefitsWrapper
      .content-wrapper
        .content
          .title Закажите карту сейчас
          .text Получите карту для покупок в рассрочку в Tervolina и у других партнеров Совести
          ul.list
            li.item
              .image-wrapper
                app-icon(name="card-pen")
              .point
                | Заполните
                br
                | заявку
            li.item
              .image-wrapper
                app-icon(name="card-time")
              .point
                | Узнайте решение
                br
                | за несколько минут
            li.item
              .image-wrapper
                app-icon(name="card-hand")
              .point
                | Встречайте курьера
                br
                | с вашей картой
            li.item
              .image-wrapper
                app-icon(name="card-cart")
              .point
                | Покупайте с картой
                br
                | Совесть в Tervolina
    .iframe-wrapper#sovestForm
      iframe.iframe(
        src="https://sovest.ru/card-order?utm_medium=Partner&utm_source=tervolina.ru"
        scrolling="no"
      )
</template>

<script>
import HalvaTitleWrapper from '@/components/promo/HalvaTitleWrapper';
import HalvaMainWrapper from '@/components/promo/HalvaMainWrapper';
import HalvaBenefitsWrapper from '@/components/promo/HalvaBenefitsWrapper';

export default {
  components: {
    HalvaTitleWrapper,
    HalvaMainWrapper,
    HalvaBenefitsWrapper,
  },

  methods: {
    handleScrollToForm() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      const headerHeight = document.querySelector('header').offsetHeight / 3;
      window.scroll({
        top: document.getElementById('sovestForm').getBoundingClientRect().top
          + scrollTop - headerHeight,
        left: 0,
        behavior: 'smooth',
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.iframe-wrapper
  font-size 0

.iframe
  border none
  width 100%
  height 930px

.sovest-page
  .app-breadcrumbs
    display none

+mobile()

  .sovest-page
    .app-breadcrumbs
      display: block
      white-space nowrap
      padding:10px 0 7px
      position: relative
      &:before
        content ''
        position: absolute
        top: 0
        bottom: 0
        left: -50vw
        right: -50vw
        background-color: #F6F6F6;
        z-index: -1

      .item
        font-size 10px
        line-height 18px

      .icon
        transform rotate(90deg)
        margin-right 14px
      display inline-block

</style>
