<template lang="pug">
  modal(
    height="auto"
    width="100%"
    :adaptive="true"
    name="add-comment"
    :scrollable="true"
    @click.native="handleOutsideClose"
  )
    .add-comment(ref="modal")
      .close(@click="handleClose")
        app-icon.icon(name="close")
      .content
        .title Оставить отзыв о товаре
        form.form(@submit.prevent)
          .row
            .group._half
              .group-title  Представьтесь
              app-input(
                    placeholder="Имя и фамилия"
              )
            .group._half
              .group-title  Оцените товар
              app-star-rating(
                @click="handleClickRating"
                :current-rating="rating"
              )
          .row
            .group
              .group-title  Оставьте свой комментарий
              app-textarea(
                name="message"
                :rows="6"
              )
          .row
            .group
              .group-title  Фотографии
              .photos
                .photos-item(
                  v-for="(photo, index) in photos"
                  :key="index + 1"
                )
                  img(:src="photo")
                  .remove(
                    @click="handleRemoveImage($event,index)"
                  )
                    app-icon(
                      name="close"
                      width="9"
                      height="8"
                    )
                label.photos-item._input-file
                  input(
                    type="file"
                    multiple
                    hidden
                    @change="handleFileChange"
                    ref="photos"
                  )
                  app-icon.icon(
                    name="camera-add"
                    width="24"
                    height="24"
                  )
          .row
            .group
              .group-title  Какой размер вы примеряли?
              multiselect(
                v-model="size"
                :options="['39', '40', '41']"
                :searchable="false",
                :show-labels="false"
              )
          .row
            .group
              .group-title  На какую погоду подходит?
              multiselect(
                v-model="weather"
                :options="['Зима', 'Лето', 'Деми']"
                :searchable="false",
                :show-labels="false"
              )
          .row
            .group
              .group-title  Соответствие размеру
              multiselect(
                v-model="sizeMatch"
                :options="['Да', 'Больше', 'Меньше']"
                :searchable="false",
                :show-labels="false"
              )
          .row
            .group._controls
              .submit
                app-button(mod="_cyan") Оставить отзыв
              .caution  Персональные данные обрабатываются в соответствии с&nbsp;
                a(href="/about/protection-of-information/") Политикой обработки персональных данных.
</template>

<script>
import { getImage } from '@/helpers/fileUpload';

export default {
  data: () => ({
    size: '39',
    weather: 'Зима',
    sizeMatch: 'Да',
    rating: 0,
    photos: [],
  }),

  methods: {
    handleClose() {
      this.$modal.hide('add-comment');
    },
    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$modal.hide('add-comment');
      }
    },
    handleClickRating(value) {
      this.rating = value + 1;
    },
    handleRemoveImage(e, index) {
      const photoImages = this.photos;
      this.photos = photoImages.filter((item, i) => index !== i);
      e.stopPropagation();
    },
    handleFileChange(e) {
      Array.from(e.target.files).map(file => getImage(file).then((img) => {
        this.photos = [
          ...this.photos,
          img,
        ];
      }));
    },
  },
};
</script>

<style lang="stylus" scoped>
  .add-comment
    position relative
    padding 42px 60px 60px
    width 620px
    background-color #f
    margin auto
    border 1px solid #ececec
    box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)
    overflow auto

  .close
    position absolute
    top 17px
    right 17px
    width 20px
    height 20px
    display flex
    align-items center
    justify-content center
    cursor pointer
    color #b2b2b2

    .icon
      width 8px
      height 8px

  .title
    font-family 'Century Gothic'
    font-size 20px
    font-weight bold
    color #0
    margin-bottom 27px

  .row
    display flex
    justify-content space-between

    & + &
      margin-top 22px

  .group
    width 100%

    &._half
      width: calc(30% - 8px)
      &:first-child
        width calc(60% + 10px)

    &._controls
      display flex
      align-items center
      justify-content space-between

  .group-title, .row-title
    font-size 13px
    font-weight 500
    color #0

  .group-title
    margin-bottom 10px

  .photos
    display: flex
    margin: -8px
    flex-wrap wrap

    &-item
      margin: 8px
      width: 80px
      height: 80px
      border: 1px solid #c7d0d8
      display: flex
      align-items: center
      justify-content: center
      position: relative


      &._input-file
        cursor: pointer

      .remove
        display: none
        cursor: pointer
        position: absolute
        right: 4px
        top: 4px
        z-index: 2
        color: $red
        border: 1px solid $red
        background: #ffffff
        border-radius 50%
        height: 16px
        width: 16px

        .app-icon
          position: absolute
          top: 50%
          left: 50%
          transform translate(-50%,-50%)

    &-item:hover
      .remove
        display: flex

    img
      width:100%

  .submit
    width 211px
    min-width 211px

  .caution
    font-size 12px
    color #0
    text-align right
    padding-left 20px
    line-height 1.5

    a
      text-decoration none
      color $cyan

  >>>.app-star-rating
    margin-top: 19px

    .icon-wrapper
      width: 22px;
      height: 20px;
      padding: 0
      &:not(:first-child)
        margin-left: 8px
    svg
      height: 100%
      width: 100%

  +tablet()
    .add-comment
      padding 28px 32px 32px
      width 380px

    .close
      top 24px
      right 24px

    .title
      font-family 'Montserrat'
      font-size 16px
      font-weight 600
      margin-bottom 23px

    .row
      flex-direction: column

      & + &
        margin-top 16px

      &._star
        flex-direction: row

    .group
      width 100%

      &._half
        width 100%

        &:first-child
          width:100%

      & + &
        margin-top 16px

      &._controls
        display flex
        flex-direction column-reverse

    .group-title, .row-title
      font-size: 12px
      line-height: 14px
      font-weight: 400

    .group-title
      margin-bottom: 9px

    .photos
      &-item
        height: 60px
        width: 60px
        .remove
          display: flex

    .caution
      font-size 12px
      text-align left
      padding-left 0
      line-height 1.5
      margin 0 0 20px

    .submit
      width 100%
      min-width 100%

      .app-button
        font-size 12px

  >>>.app-star-rating
    margin-top: 0

+mobile()
    .row._star
      flex-direction: column
      align-items: flex-start

    .add-comment
      padding 24px 24px 24px
      width 100%
      height 100%

    .close
      width 30px
      height 30px
      color $red

      .icon
        width 20px
        height 20px


    .title
      font-size 13px
      margin-bottom 19px

    .app-star-rating
      margin-top: 10px
</style>
