<template lang="pug">
  modal(
    height="auto"
    width="100%"
    :adaptive="true"
    name="add-question"
    :scrollable="true"
    @click.native="handleOutsideClose"
  )
    .add-question(ref="modal")
      .close(@click="handleClose")
        app-icon.icon(name="close")
      .content
        .title Задайте вопрос о товаре
        form.form(@submit.prevent)
          .row
            .group
              .group-title Представьтесь
              app-input(
                name="name"
                placeholder="Иван Иванов"
              )
          .row
            .group
              .group-title Оставьте свой вопрос
              app-textarea(
                name="message"
                :rows="6"
              )
          .row
            .group._controls
              .submit
                app-button(mod="_cyan") Задать вопрос
              .caution Отправляя вы соглашаетесь с&nbsp;
                a(href="/about/protection-of-information/") Политикой обработки персональных данных.
</template>

<script>

export default {
  methods: {
    handleClose() {
      this.$modal.hide('add-question');
    },
    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$modal.hide('add-question');
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
  .add-question
    position relative
    padding 42px 60px 60px
    width 620px
    background-color #f
    margin auto
    border 1px solid #ececec
    box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

  .close
    position absolute
    top 17px
    right 17px
    width 20px
    height 20px
    display flex
    align-items center
    justify-content center
    cursor pointer
    color #b2b2b2

    .icon
      width 8px
      height 8px

  .title
    font-family 'Century Gothic'
    font-size 20px
    font-weight bold
    color #0
    margin-bottom 29px

  .row
    display flex
    justify-content space-between

    & + &
      margin-top 22px

    &._star
      align-items: center

  .group
    width 100%

    &._half
      width calc(50% - 5px)

    &._controls
      display flex
      align-items center
      justify-content space-between

  .group-title, .row-title
    font-size 13px
    font-weight 500
    color #0

  .group-title
    margin-bottom 10px

  .submit
    width 211px
    min-width 211px

  .caution
    font-size 12px
    color #0
    text-align right
    padding-left 20px
    line-height 1.5

    a
      text-decoration none
      color $cyan

  >>>.app-star-rating
    .icon-wrapper
      width: 22px;
      height: 20px;
      padding: 0
      &:not(:first-child)
        margin-left: 8px
    svg
      height: 100%
      width: 100%

  +tablet()
    .add-question
      padding 28px 32px 32px
      width 380px

    .close
      top 24px
      right 24px

    .title
      font-family 'Montserrat'
      font-size 16px
      font-weight 600
      margin-bottom 23px

    .row
      flex-direction: column

      & + &
        margin-top 16px

      &._star
        flex-direction: row

    .group
      width 100%

      &._half
        width 100%

      & + &
        margin-top 16px

      &._controls
        display flex
        flex-direction column-reverse

    .group-title, .row-title
      font-size: 12px
      line-height: 14px
      font-weight: 400

    .group-title
      margin-bottom: 9px

    .caution
      font-size 12px
      text-align left
      padding-left 0
      line-height 1.5
      margin 0 0 20px

    .submit
      width 100%
      min-width 100%

      .app-button
        font-size 12px

  +mobile()
    .add-question
      padding 24px 24px 24px
      width 100%
      height 100%

    .close
      width 30px
      height 30px
      color $red

      .icon
        width 20px
        height 20px

    .row._star
      flex-direction: column
      align-items: flex-start

    .title
      font-size 13px
      margin-bottom 19px

    .app-star-rating
      margin-top: 10px
</style>
