<template lang="pug">
  modal(
    height="auto"
    width="100%"
    :adaptive="true"
    name="auth"
    @click.native="handleOutsideClose"
    @before-open="beforeOpen"
  ).back
    .auth(ref="modal")
      .close(
        v-if="!isMobile"
        @click="handleClose"
      )
        app-icon.icon(
          name="close"
          width="8"
          height="8"
          fill="#b2b2b2"
        )
      .content
        template(v-if="isMobile")
          app-tabs(
            view="auth"
            :structure="tabs"
          )
            template(v-for="tab, index in tabs")
              template(:slot="`head_${index}`")
                .title {{ tab.title }}
              template(:slot="`content_${index}`")
                template(v-if="index === 0")
                  Login
                template(v-if="index === 1")
                  Registration
        template(v-else)
          Login(:redirect="redirect")
          Registration(:redirect="redirect")
</template>

<script>
import Login from '@/components/layout/auth/Login';
import Registration from '@/components/layout/auth/Registration';

export default {
  components: {
    Login,
    Registration,
  },

  data: () => ({
    width: 820,
    tabs: [{
      title: 'Вход',
      active: true,
    }, {
      title: 'Регистрация',
    }],
    redirect: '',
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  mounted() {
    if (this.isMobile) {
      this.width = 380;
    }
  },

  methods: {
    beforeOpen(event) {
      if (event.params) {
        this.redirect = event.params.redirect;
      }
    },
    handleClose() {
      this.$modal.hide('auth');
    },
    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$modal.hide('auth');
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.back
  z-index:9991

.auth
  position relative
  width 820px
  background-color #f
  margin auto
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

.close
  position absolute
  top 17px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

.content
  display flex

.login,
.registration
  width 50%

+tablet()
  .auth
    width 380px

  .login,
  .registration
    width 100%

+mobile()
  .auth
    width 300px
</style>
