<template lang="pug">
  modal(
    height="100%"
    width="100%"
    :adaptive="true"
    name="checkout-popup"
    @before-open="beforeOpen"
  )
    .checkout-popup(
      :class="mod"
      v-click-outside="handleClose"
    )
      .close(@click="handleClose")
        app-icon.icon(name="close")
      .content(v-if="view === 'overload'")
        .title Корзина переполнена
        .text
          span Количество товаров в корзине ограничено.
          br
          span В один заказ можно добавить не более 5 товаров.
        .controls
          app-button(
            mod="_red"
            @click="handleClose"
          ) В корзину
      .content(v-else-if="view === 'get-bonuses'")
        .title Получить 500 бонусов
        .text
          span
            | Подтвердите ваш телефон по СМС
            | и мы начислим вам 500 бонусов в личном кабинете.
        .controls
          app-button(
            mod="_red"
            @click.native="(e) => callPhoneConfirmPopup(e)"
          ) Выслать СМС
      .content(v-else-if="view === 'get-bonuses-phone'")
        PhoneConfirm(
          title="Получить 500 бонусов"
          @success="redirectToAccount"
        )
      .content(v-else-if="view === 'registration'")
        Registration(
          view="checkout-done"
          @submit="callPhoneConfirmRegPopup"
        )
      .content(v-else-if="view === 'get-bonuses-phone-reg'")
        PhoneConfirm(
          title="Получить 500 бонусов"
          @success="callBonusSuccessPopup"
        )
      .content(v-else-if="view === 'bonus-success'")
        BonusesSuccess
      .content(v-else-if="view === 'old-user-update'")
        OldUserUpdate(
          @submit="callPhoneConfirmPopup"
        )
      .content(v-else-if="view === 'old-user-update-phone'")
        PhoneConfirm(
          @success="redirectToAccount"
        )
</template>

<script>
import PhoneConfirm from '@/components/checkout/PhoneConfirm';
import Registration from '@/components/layout/auth/Registration';
import BonusesSuccess from '@/components/checkout/BonusesSuccess';
import OldUserUpdate from '@/components/layout/OldUserUpdate';

export default {
  components: {
    PhoneConfirm,
    Registration,
    BonusesSuccess,
    OldUserUpdate,
  },

  data: () => ({
    view: '',
    mod: '',
  }),

  methods: {
    beforeOpen(event) {
      if (event.params) {
        this.view = event.params.view;
      }
    },

    handleClose() {
      this.$modal.hide('checkout-popup');
      this.mod = '';
    },

    callPhoneConfirmPopup(e) {
      if (e) {
        e.stopPropagation();
      }
      this.view = 'old-user-update-phone';
    },

    callPhoneConfirmRegPopup() {
      this.view = 'get-bonuses-phone-reg';
    },

    redirectToAccount() {
      this.$router.push('/account/');
      this.$modal.hide('checkout-popup');
    },

    callBonusSuccessPopup() {
      this.$store.commit('bonusCard/SET_CODE', '123 456 789 1111');
      this.$store.commit('bonusCard/SET_BINDING', 'bound');
      this.view = 'bonus-success';
      this.mod = '_red';
    },
  },
};
</script>

<style lang="stylus" scoped>
.checkout-popup
  position relative
  padding 42px 56px 50px
  width 410px
  background-color #f
  margin auto
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

  &._red
    background-image linear-gradient( 45deg, rgb(228,0,43) 0%, rgb(250,74,74) 100%)
    border-color transparent
    color #f
    text-align center
    width 460px
    padding 42px 37px 50px
    font-size 13px

    .title,
    >>> .title
      color #f

    .text,
    >>> .text
      margin-top 16px
      font-size 13px

    .controls,
    >>> .controls

      .info

        a
          color #f

    >>> .cards-item-bonus
      margin 23px auto 30px

.close
  position absolute
  top 17px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

  .icon
    width 8px
    height 8px

.title,
>>> .title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  color #0

.text,
>>> .text
  margin-top 23px
  font-size 14px
  line-height 1.5

.controls,
>>> .controls
  padding-top 24px

  .info
    margin-top 16px
    text-align center

    a
      color $red

.form,
>>> .form
  padding-top 24px

.error,
>>> .error
  padding-top: 12px
  font-size 12px
  color $red

.row,
>>>.row

  & + .row
    margin-top 22px

  &._checkbox
    margin-top 18px
    display flex
    align-items center

.link,
>>> .link
  a
    text-decoration: none
    color $cyan

+tablet()

  .checkout-popup
    padding 28px 32px 32px
    width 380px

    &._red
      width 380px
      padding 28px 32px 32px

  .title
    font-family 'Montserrat'
    font-size 16px
    font-weight 600
    margin-bottom 19px

+mobile()

  .checkout-popup
    padding 24px 24px 24px
    width 100%
    height 100%

    &._red
      padding 24px 24px 24px
      width 100%

  .close
    width 30px
    height 30px
    color $red

    .icon
      width 20px
      height 20px

  .title
    font-size 13px
    margin-bottom 19px

  >>>.bonuses-phone
    margin-top: 28px
</style>
