<template lang="pug">
  modal(
    height="100%"
    width="100%"
    :adaptive="true"
    name="choose-city"
    @click.native="handleOutsideClose"
    @before-open="beforeOpen"
  )
    .choose-city(ref="modal")
      .close(@click="handleClose")
        app-icon.icon(name="close")
      .content
        .title Укажите ваш регион
        .search-wrapper
          app-suggestions.search(
            placeholder="Введите название города"
            :bounds="bounds"
            @select="handleSelect"
          )
        .list-wrapper(v-bar)
          ul.list
            li.item(v-for="city, index in cityList")
              app-icon.check(
                v-if="cityName === city.name"
                name="check"
              )
              .city(
                :class="[{'_major': index < 3}, {'_active': cityName === city.name}]"
                @click="selectCity(city)"
              ) {{ city.name }}
</template>

<script>
import dadataSuggest from '@/helpers/dadataSuggest';

export default {
  data: () => ({
    bounds: ['city', 'city'],
  }),

  computed: {
    cityName() {
      return this.$store.state.user.city.data.city;
    },

    cityList() {
      return this.$store.state.user.cityList.data;
    },
  },

  methods: {
    beforeOpen() {
      this.$store.dispatch('user/FETCH_CITY_LIST');
    },

    handleSelect(selection, phone) {
      this.$store.commit('user/FETCHED_CITY', selection);
      document.cookie = `confirmedCity=${selection.data.city}`;
      if (window.localStorage) {
        localStorage.setItem('confirmedCity', JSON.stringify({
          ...selection,
          phone,
        }));
      }
      this.handleClose();
    },

    handleClose() {
      this.$modal.hide('choose-city');
    },

    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$modal.hide('choose-city');
      }
    },

    selectCity(city) {
      if (city.phone) {
        this.$store.commit('user/FETCHED_PHONE', city.phone);
      }
      dadataSuggest(this, {
        query: city.name,
        count: 1,
      }).then(([selection]) => {
        this.handleSelect(selection, city.phone);
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.choose-city
  position relative
  padding 42px 60px 50px
  width 620px
  background-color #f
  margin auto
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

.close
  position absolute
  top 17px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

  .icon
    width 8px
    height 8px

.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  color #0
  margin-bottom 23px

.search-wrapper
  margin-bottom 20px

.list
  ul-reset()
  columns 3
  column-gap 24px
  position relative

  &:after
    content ''
    position absolute
    bottom 0
    left 0
    right 0
    background #f
    height 1px

.item
  border-bottom 1px solid #ececec
  padding 7px 0
  cursor pointer

.city
  font-size 12px
  color #0
  text-decoration none

  &._major
    font-weight 600

  &._active
    font-weight bold
    color #e4002b

.check
  display none

+tablet()

  .choose-city
    padding 28px 32px 32px
    width 380px

  .title
    font-family 'Montserrat'
    font-size 16px
    font-weight 600
    margin-bottom 19px

  .list-wrapper
    height 290px

  .list
    columns auto

  .item
    border-bottom none
    padding 7px 0
    cursor pointer
    position relative

  .search-wrapper
    margin-bottom 20px

  .check
    position absolute
    top 10px
    right 12px
    display block
    color $red
    width 10px
    height 10px

+mobile()

  .choose-city
    padding 24px 24px 24px
    width 100%
    height 100%

  .close
    width 30px
    height 30px
    color $red

    .icon
      width 20px
      height 20px

  .title
    font-size 13px
    margin-bottom 19px
</style>
