<template lang="pug">
  modal(
    height="100%"
    width="100%"
    :adaptive="true"
    name="feedback"
    @before-open="beforeOpen"
    @click.native="handleOutsideClose"
  )
    .feedback(ref="modal")
      .close(@click="handleClose")
        app-icon.icon(name="close")
      .content
        .title Обратная связь
        form.form(@submit.prevent)
          .row(v-if="feedbackThemes && feedbackThemes.length")
            .group
              .group-title Тема сообщения
              multiselect(
                :placeholder="isMobile ? 'Выбрать тему' : 'Выберите тему вашего сообщения'"
                v-model="$v.selectedTheme.$model"
                :options="feedbackThemes"
                :custom-label="customLabel"
                :searchable="false",
                :show-labels="false"
              )
              .error(v-if="$v.selectedTheme.$dirty")
                span(v-if="!$v.selectedTheme.required") Обязательное поле
          .row
            .group._half
              .group-title Ваше имя
              app-input(
                type="text"
                :placeholder="isMobile ? 'Ваше имя' : 'Иван'"
                v-model.trim="$v.name.$model"
              )
              .error(v-if="$v.name.$dirty")
                span(v-if="!$v.name.required") Обязательное поле
                span(v-if="!$v.name.validateName") В имени допускаются только кириллица и тире
            .group._half
              .group-title Ваша фамилия
              app-input(
                type="text"
                :placeholder="isMobile ? 'Ваша фамилия' : 'Иванов'"
                v-model.trim="$v.lastName.$model"
              )
              .error(v-if="$v.lastName.$dirty")
                span(v-if="!$v.lastName.required") Обязательное поле
                span(v-if="!$v.lastName.validateName") В имени допускаются только кириллица и тире
          .row
            .group._half
              .group-title Ваш телефон
              app-input(
                :placeholder="isMobile ? 'Телефон' : '+7 (999) 999-99-99'"
                v-model.trim="$v.phone.$model"
                v-mask="'+7 (###) ###-##-##'"
                @focus="correctPhone"
              )
              .error(v-if="$v.phone.$dirty")
                span(v-if="!$v.phone.required") Обязательное поле
                span(v-else-if="!$v.phone.minLength") Некорректный телефон
            .group._half
              .group-title Адрес электронной почты
              app-input(
                type="email"
                :placeholder="isMobile ? 'Адрес электронной почты' : 'mail@mail.ru'"
                v-model.trim="$v.email.$model"
              )
              .error(v-if="$v.email.$dirty")
                span(v-if="!$v.email.required") Обязательное поле
                span(v-else-if="!$v.email.email") Некорректный email
          .row
            .group
              .group-title Текст сообщения
              app-textarea(
                :rows="6"
                v-model.trim="$v.message.$model"
                :placeholder="isMobile ? 'Текст вашего сообщения' : ''"
              )
              .error(v-if="$v.message.$dirty")
                span(v-if="!$v.message.required") Обязательное поле
          .row
            .group._controls
              .submit
                app-button(
                  mod="_cyan"
                  @click="handleSubmit"
                ) Отправить сообщение
              .caution  Отправляя вы соглашаетесь с&nbsp;
                a(href="/about/protection-of-information/") Политикой обработки персональных данных.
</template>

<script>
import {
  required,
  email,
  minLength,
} from 'vuelidate/lib/validators';
import validateName from '@/helpers/customValidations';
import { debounce } from 'lodash';

const INIT_DATA = {
  selectedTheme: '',
  phone: '',
  name: '',
  lastName: '',
  email: '',
  message: '',
};

export default {
  data: () => ({
    ...INIT_DATA,
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },

    personal() {
      return this.$store.state.user.personal.data;
    },

    feedbackThemes() {
      return this.$store.state.feedback.themes.data;
    },
  },

  mounted() {
    this.initForm();
  },

  validations: {
    selectedTheme: {
      required,
    },
    name: {
      required,
      validateName,
    },
    lastName: {
      required,
      validateName,
    },
    email: {
      required,
      email,
    },
    phone: {
      required,
      minLength: minLength(18),
    },
    message: {
      required,
    },
  },

  methods: {
    beforeOpen() {
      this.$store.dispatch('feedback/FETCH_THEMES');
    },

    initFields() {
      this.name = this.personal.name ? this.personal.name : '';
      this.lastName = this.personal.lastName ? this.personal.lastName : '';
      this.phone = this.personal.phone ? this.personal.phone : '';
      this.email = this.personal.email ? this.personal.email : '';
    },

    initForm() {
      this.setData(INIT_DATA);
      this.initFields();
    },

    customLabel({ value }) {
      return value;
    },

    handleClose() {
      this.$modal.hide('feedback');
    },

    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$modal.hide('feedback');
      }
    },

    correctPhone(e) {
      if (!e.target.value) {
        this.phone = '+7 (';
      }
    },

    setData(object) {
      Object.keys(object)
        .forEach((prop) => {
          this[prop] = object[prop];
        });
    },

    handleSubmit: debounce(function handleSubmit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      this.$store.dispatch('feedback/FETCH_ADD_FEEDBACK', {
        theme: +this.selectedTheme.id,
        name: `${this.name} ${this.lastName}`,
        email: this.email,
        phone: this.phone,
        message: this.message,
        userid: +this.personal.id || 0,
      })
        .then((status) => {
          if (status === 'ERROR') {
            throw new Error('Server error');
          }

          this.goodSubmitted();
        })
        .catch((e) => {
          this.$modal.show('info', {
            title: 'Ошибка',
            text: e.message,
          });
        });
    }, 300),

    goodSubmitted() {
      this.handleClose();
      this.initForm();
      this.$nextTick(() => { this.$v.$reset(); });

      this.$modal.show('info', {
        title: 'Спасибо за обращение!',
        text: 'Ваше сообщение отправлено. В ближайшее время наши специалисты свяжутся с Вами!',
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.feedback
  position relative
  padding 42px 60px 60px
  width 620px
  background-color #f
  margin auto
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

.close
  position absolute
  top 17px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

  .icon
    width 8px
    height 8px

.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  color #0
  margin-bottom 29px

.row
  display flex
  justify-content space-between

  & + &
    margin-top 22px

.group
  width 100%

  &._half
    width calc(50% - 5px)

  &._controls
    display flex
    align-items center
    justify-content space-between

.group-title
  font-size 13px
  font-weight 500
  color #0
  margin-bottom 10px

.submit
  width 211px
  min-width 211px

.caution
  font-size 12px
  color #0
  text-align right
  padding-left 20px
  line-height 1.5

  a
    text-decoration none
    color $cyan

.error
  font-size 12px
  color $red
  margin 5px 0 0

+tablet()

  .feedback
    padding 28px 32px 32px
    width 380px

  .close
    top 24px
    right 24px

  .title
    font-family 'Montserrat'
    font-size 16px
    font-weight 600
    margin-bottom 23px

  .row
    flex-direction: column

    & + &
      margin-top 16px

  .group
    width 100%

    &._half
      width 100%

    & + &
      margin-top 16px

    &._controls
      display flex
      flex-direction column-reverse

  .group-title
    display none

  .caution
    font-size 12px
    text-align left
    padding-left 0
    line-height 1.5
    margin 0 0 20px

  .submit
    width 100%
    min-width 100%

    .app-button
      font-size 12px

+mobile()

  .feedback
    padding 24px 24px 24px
    width 100%
    height 100%

  .close
    width 30px
    height 30px
    color $red

    .icon
      width 20px
      height 20px

  .title
    font-size 13px
    margin-bottom 19px
</style>
