<template lang="pug">
  modal(
    height="100%"
    width="100%"
    :adaptive="true"
    name="gallery"
    @click.native="handleOutsideClose"
  )
    .gallery(ref="modal")
      .close(@click="handleClose")
        app-icon.icon(
          name="close"
        )
      .content
        MainSliders(view="detail-modal")
</template>

<script>
import MainSliders from '@/components/detail/MainSliders';

export default {
  components: {
    MainSliders,
  },
  methods: {
    handleClose() {
      this.$modal.hide('gallery');
    },
    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$modal.hide('gallery');
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.gallery
  position relative
  padding 50px 60px 80px
  color #b2b2b2
  background-color #f
  margin auto
  width 100%
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

.close
  z-index 2
  position absolute
  top 52px
  right 52px
  width 25px
  height 25px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #000

  .icon
    width 12px
    height 12px

+tablet()
  .gallery
    padding: 32px

+mobile()
  .gallery
    padding 32px 16px
    width 100%
    height 100%

  .content
    display flex
    flex-direction column
    height 100%

  .close
    top: 17px
    right: 17px
    width 30px
    height 30px
    color $red

    .icon
      width 20px
      height 20px
</style>
