<template lang="pug">
  modal(
    height="auto"
    width="100%"
    :adaptive="true"
    name="info"
    @before-open="beforeOpen"
    @click.native="handleOutsideClose"
  ).info-back
    .info(ref="modal")
      .close(
        @click="handleClose"
      )
        app-icon.icon(
          name="close"
          width="8"
          height="8"
          fill="#b2b2b2"
        )
      .content
        .title {{ title }}
        .text {{ text }}
        .controls
          app-button(
            mod="_cyan"
            @click.native="handleClose"
          ) Понятно
</template>

<script>
export default {
  data: () => ({
    title: '',
    text: '',
  }),

  methods: {
    handleClose() {
      this.$store.commit('CLEAR_ERRORS');
      this.$modal.hide('info');
    },
    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$store.commit('CLEAR_ERRORS');
        this.$modal.hide('info');
      }
    },

    beforeOpen(event) {
      this.title = event.params.title ? event.params.title : 'Ошибка';
      this.text = event.params.text;
    },
  },
};
</script>

<style lang="stylus" scoped>
.info-back
  z-index: 9999999

.info
  position relative
  width 380px
  background-color #f
  margin auto
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)
  line-height 1.5
  padding 26px 32px 32px

  .app-button
    width 100%
    height 40px
    font-size 12px

.close
  position absolute
  top 17px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

.title
  font-size 16px
  font-weight 600
  color #0
  margin-bottom 12px

.text
  font-size 13px
  margin-bottom 16px

+tablet()
  .info
    width 380px

+mobile()
  .info
    padding 24px 24px 24px
    width 272px
</style>
