<template lang="pug">
  modal(
    height="100%"
    width="100%"
    :adaptive="true"
    name="passwordRefresh"
    @click.native="handleOutsideClose"
  )
    .password-refresh(ref="modal")
      .close(@click="handleClose")
        app-icon.icon(name="close")
      .content
        .title Обновление пароля
        form.form(@submit.prevent="handleSubmit")
          .row._error(v-if="backendError")
            .error
              span {{ backendError }}
          .row
            .group
              app-input(
                placeholder="Введите новый пароль"
                type="password"
                v-model.trim="$v.password.$model"
              )
              .error(v-if="$v.password.$dirty")
                span(v-if="!$v.password.required") Обязательное поле
                span(v-else-if="!$v.password.minLength")
                  | Пароль должен быть минимум 6 символов
          .row
            .group
              app-input(
                placeholder="Введите новый пароль ещё раз"
                type="password"
                v-model.trim="$v.repeatPassword.$model"
              )
              .error(v-if="$v.repeatPassword.$dirty")
                span(v-if="!$v.repeatPassword.required") Обязательное поле
                span(v-else-if="!$v.repeatPassword.minLength")
                  | Пароль должен быть минимум 6 символов
                span(v-else-if="!$v.repeatPassword.sameAsPassword")
                  | Пароли не совпадают
          .row
            .group._controls
              .submit
                app-button(mod="_red") Обновить и войти
</template>

<script>
import {
  required,
  minLength,
  sameAs,
} from 'vuelidate/lib/validators';

export default {
  data: () => ({
    password: '',
    repeatPassword: '',
    submitStatus: '',
    backendError: '',
    checkword: '',
    email: '',
  }),

  mounted() {
    this.checkword = this.$route.query.checkword;
    this.email = this.$route.query.email;
  },

  methods: {
    handleClose() {
      this.$modal.hide('passwordRefresh');
    },
    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$modal.hide('passwordRefresh');
      }
    },
    handleSubmit() {
      this.$v.$touch();
      this.backendError = '';
      if (!this.$v.$invalid) {
        this.$store.dispatch('user/CONFIRM_PASSWORD', {
          email: this.email,
          checkword: this.checkword,
          password: this.password,
          passwordRepeat: this.repeatPassword,
        }).then(() => {
          this.$router.push('/account/');
          this.$modal.hide('passwordRefresh');
        }).catch((e) => {
          this.backendError = e.message;
        });
        setTimeout(() => {
          this.submitStatus = 'OK';
        }, 500);
      }
    },
  },

  validations: {
    password: {
      required,
      minLength: minLength(6),
    },
    repeatPassword: {
      required,
      minLength: minLength(6),
      sameAsPassword: sameAs('password'),
    },
  },
};
</script>

<style lang="stylus" scoped>
.password-refresh
  position relative
  padding 42px 60px 60px
  width 410px
  background-color #f
  margin auto
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

.content

  &._success
    margin-bottom -28px

.close
  position absolute
  top 17px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

  .icon
    width 8px
    height 8px

.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  color #0
  margin-bottom 24px

.row
  display flex
  justify-content space-between

  &._error
    margin-top -16px

  & + &
    margin-top 22px

.group
  width 100%

  &._controls
    display flex
    align-items center
    justify-content space-between

.submit
  width 100%

.error
  font-size 12px
  color $red
  margin 5px 0 0

+tablet()

  .password-refresh
    padding 28px 32px 32px
    width 380px

  .close
    top 24px
    right 24px

  .title
    font-family 'Montserrat'
    font-size 16px
    font-weight 600
    margin-bottom 23px

  .row
    flex-direction: column

    & + &
      margin-top 16px

  .group
    width 100%

    & + &
      margin-top 16px

    &._controls
      display flex
      flex-direction column-reverse

  .group-title
    display none

  .submit
    width 100%
    min-width 100%

    .app-button
      font-size 12px

+mobile()

  .password-refresh
    padding 24px 24px 24px
    width 100%
    height 100%

  .close
    width 18px
    height 18px
    color $red

    .icon
      width 20px
      height 20px

  .title
    font-size 13px
    margin-bottom 19px
</style>
