<template lang="pug">
  modal(
    height="auto"
    width="100%"
    :adaptive="true"
    name="preview"
    @before-open="beforeOpen"
    @click.native="handleOutsideClose"
  )
    .product-preview(ref="modal")
      .close(@click="handleClose")
        app-icon.icon(
          name="close"
          width="8"
          height="8"
        )
      .content
        DetailMain(
          view="preview"
          :info="item"
        )
</template>

<script>
import DetailMain from '@/components/detail/DetailMain';

export default {
  components: { DetailMain },

  data: () => ({
    item: {},
  }),

  watch: {
    $route() {
      this.handleClose();
    },
  },

  methods: {
    handleClose() {
      this.$modal.hide('preview');
    },

    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$modal.hide('preview');
      }
    },

    beforeOpen(event) {
      this.item = event.params.item;
    },
  },
};
</script>

<style lang="stylus" scoped>
.product-preview
  position relative
  padding 45px 40px 50px
  width 820px
  background-color #f
  margin auto
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

.close
  position absolute
  top 17px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2
</style>
