<template lang="pug">
  modal(
    height="100%"
    width="100%"
    :adaptive="true"
    name="reservation"
    @before-open="beforeOpen"
    @click.native="handleOutsideClose"
  )
    .reservation(
      :class="{'_form': step !== 'ReservationMap'}"
      ref="modal"
    )
      .close(@click="handleClose")
        app-icon.icon(name="close")
      .loading(v-if="isLoading")
        app-icon.icon(name="loading")
      .content
        components(
          :is="step"
          :sizes="sizes"
          :color="color"
        )
</template>

<script>
import ReservationMap from '@/components/checkout/ReservationMap';
import ReservationForm from '@/components/checkout/ReservationForm';
import ReservationSuccess from '@/components/checkout/ReservationSuccess';

export default {
  components: {
    ReservationMap,
    ReservationForm,
    ReservationSuccess,
  },

  data: () => ({
    bounds: ['city', 'city'],
    location: '',
    color: {},
    sizes: [],
  }),

  computed: {
    step() {
      return this.$store.state.reservation.step;
    },
    isLoading() {
      return this.$store.state.reservation.selectOrder.isFetching
        || this.$store.state.map.isLoading;
    },
  },

  watch: {
    $route() {
      this.handleClose();
    },
  },

  beforeDestroy() {
    if (this.step === 'ReservationSuccess') {
      this.$store.commit('reservation/SET_STEP', 'ReservationMap');
    }
  },

  methods: {
    handleClose() {
      if (this.step !== 'ReservationMap') {
        this.$store.commit('reservation/SET_STEP', 'ReservationMap');
      }
      this.$store.commit('delivery/SET_POINT', {});
      this.$modal.hide('reservation');
    },

    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.handleClose();
      }
    },

    async beforeOpen(event) {
      this.color = event.params.color;

      if (this.color.sizes && this.color.sizes.length) {
        this.sizes = this.color.sizes;
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.reservation
  position relative
  padding 40px 40px 50px
  width 820px
  background-color #f
  margin auto
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

  &._form
    width 620px
    padding 48px 60px 50px

  .loading
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(255,255,255,0.7)
    z-index: 6
    pointer-events none
    user-select none
    display: flex
    align-items: center
    justify-content: center

  .loading + .content
    pointer-events none
    user-select none

.close
  position absolute
  top 17px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

  .icon
    width 8px
    height 8px

+tablet()
  .reservation,
  .reservation._form
    padding 32px

  .reservation
    width 100%
    overflow auto

+mobile()
  .reservation,
  .reservation._form
    padding 32px 16px

  .reservation
    width 100%
    height 100%

  .close
    width 30px
    height 30px
    color $red

    .icon
      width 20px
      height 20px
</style>
