<template lang="pug">
  modal(
    width="100%"
    height="auto"
    :adaptive="true"
    name="sizes"
    :scrollable="true"
    @click.native="handleOutsideClose"
  )
    .sizes(ref="modal")
      .close(@click="handleClose")
        app-icon.icon(name="close")
      .content
        template(v-if="~$route.path.indexOf('/man/')")
          .title Размеры мужских моделей
          .table
            .row
              .cell._head Размер
              .cell._head См
            .row
              .cell: b 39
              .cell 24
            .row
              .cell: b 40
              .cell 25.5
            .row
              .cell: b 41
              .cell 26.5
            .row
              .cell: b 42
              .cell 27
            .row
              .cell: b 43
              .cell 27.5
            .row
              .cell: b 44
              .cell 28.5
            .row
              .cell: b 45
              .cell 29.5
            .row
              .cell: b 46
              .cell 30
            .row
              .cell: b 47
              .cell 30.5
            .row
              .cell: b 48
              .cell 32
        template(v-if="~$route.path.indexOf('/children/')")
          .title Размеры детских моделей
          .table
            .row
              .cell._head Размер
              .cell._head См
            .row
              .cell: b 16
              .cell 9.5
            .row
              .cell: b 17
              .cell 10.5
            .row
              .cell: b 18
              .cell 11
            .row
              .cell: b 19
              .cell 11.5
            .row
              .cell: b 20
              .cell 12.5
            .row
              .cell: b 21
              .cell 13
            .row
              .cell: b 22
              .cell 13.5
            .row
              .cell: b 23
              .cell 14.5
            .row
              .cell: b 24
              .cell 15
            .row
              .cell: b 25
              .cell 15.5
            .row
              .cell: b 26
              .cell 16.5
            .row
              .cell: b 27
              .cell 17
            .row
              .cell: b 28
              .cell 17.5
            .row
              .cell: b 29
              .cell 18.5
            .row
              .cell: b 30
              .cell  19
            .row
              .cell: b 31
              .cell 19.5
            .row
              .cell: b 32
              .cell 20.5
            .row
              .cell: b 33
              .cell 21
            .row
              .cell: b 34
              .cell 21.5
            .row
              .cell: b 35
              .cell 22.5
            .row
              .cell: b 36
              .cell 23
        template(v-else)
          .title Размеры женских моделей
          .table
            .row
              .cell._head Размер
              .cell._head См
            .row
              .cell: b 34
              .cell 22.5
            .row
              .cell: b 35
              .cell 23
            .row
              .cell: b 36
              .cell 23.5
            .row
              .cell: b 37
              .cell 24
            .row
              .cell: b 37.5
              .cell 24.5
            .row
              .cell: b 38
              .cell 25
            .row
              .cell: b 38.5
              .cell 25.5
            .row
              .cell: b 39
              .cell 26
            .row
              .cell: b 39.5
              .cell 26.5
            .row
              .cell: b 40
              .cell 27
            .row
              .cell: b 41
              .cell 27.5
            .row
              .cell: b 41.5
              .cell 28.5
</template>

<script>

export default {
  methods: {
    handleClose() {
      this.$modal.hide('sizes');
    },
    handleOutsideClose(e) {
      if (!this.$refs.modal) { return; }
      if (!this.$refs.modal.contains(e.target)) {
        this.$modal.hide('sizes');
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.sizes
  position relative
  padding 45px 40px 50px
  background-color #f
  width 380px
  border 1px solid #ececec
  box-shadow 0 8px 16px 0 rgba(72, 81, 91, 0.12)
  margin auto
  overflow auto

.close
  position absolute
  top 17px
  right 17px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

  .icon
    width 8px
    height 8px

.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  color #0
  margin-bottom 23px
  text-align center

.table
  border-top 1px solid #ec
  max-width 400px
  margin 0 auto

.cell
  width 50%
  height 35px
  display flex
  align-items center
  justify-content center
  font-size 12px
  color #0

  &._head
    font-size 13px

  b
    font-weight 600

.row
  display flex
  border-bottom 1px solid #ec

+mobile()

  .sizes
    width 100%
    height 100%

  .close
    width 30px
    height 30px
    color $red

    .icon
      width 20px
      height 20px

</style>
