<template lang="pug">
  .delivery
    ContentMainWrapper
      .block.block-border
        .text
          p
            | TERVOLINA - сеть салонов обуви и аксессуаров, основанная в 1992г.
          p
            | Качество и функциональность каждой детали — приоритет бренда. Когда
            | всё продумано до мелочей, вам остается просто наслаждаться
            | богатством выбора, красотой и любить себя без компромиссов.
      .block
        .title._tt
          span Наши преимущества:
      .block
        AboutBenefits
        .text
          p
            | В салонах TERVOLINA Вы найдете не только обувь, но и огромный выбор
            | стильных и актуальных сезону аксессуаров: богатый ассортимент сумок
            | различных цветов, фактур и размеров, оригинальная линия бижутерии,
            | палантины и перчатки.
          p
            | История TERVOLINA восходит к 1992 году. Компания стартовала как
            | оптовый поставщик итальянской обуви в Россию. В 90х годах рынок
            | переживает бурный рост, и руководство компании TERVOLINA принимает
            | решение о создании одноименной розничной сети салонов обуви. В 2001
            | году открывается первый салон в самом центре Москвы, на исторической
            | улице Никольская.
          blockquote
            | 7 февраля 2008 года независимый экспертный Совет международной
            | Программы «Superbrand» («Супербренд») включил компанию «ТЕРВОЛИНА»
            | в список «Супербрендов» российского потребительского рынка.
          p
            | География розничной сети из года в год расширяется. На начало 2019
            | года насчитывается 100 собственных салонов (Москва, Московская
            | область, Санкт-Петербург, Нижний Новгород, Дзержинск, Павлово,
            | Екатеринбург, Тюмень, Ростов-на-Дону, Оренбург). В 2014 году был
            | запущен интернет-магазин www.tervolina.ru, который в 2018 году был
            | обновлён и усовершенствован.
      .block
        .title._tt
          span МИССИЯ КОМПАНИИ
        .text
          p._highlighted._cyan
            | МЫ ПОМОГАЕМ КАЖДОМУ УЧИТЬСЯ ЛЮБИТЬ СЕБЯ И ДЕЛАТЬ ВЫБОР
            br
            | БЕЗ КОМПРОМИССОВ С СОБОЙ!
          p
            | TERVOLINA напоминает женщинам об их самоценности. Вы можете быть
            | прекрасны и изящны, выглядеть красиво и чувствовать себя уверенно.
            | Больше не нужно страдать от неудобных туфель, ходить в некрасивой
            | или старой обуви, потому что на поиски нового не хватает времени,
            | сил или средств…
          p
            | Обувь TERVOLINA – это красота и комфорт без компромиссов.
      .block
        .subtitle
          span Мы сочетаем в себе самые важные качества:
        .text
          ul
            li Качество, проверенное временем
            li Широкий размерный ряд
            li Доступность, известную на рынке
            li Дизайн, над которым мы не перестаем работать
          p
            | У нас нет компромиссов, мы хотим сочетать в себе все, и помогать
            | нашим дорогим клиентам относиться к себе с любовью.
          p._highlighted._cyan ЛЮБИ СЕБЯ БЕЗ КОМПРОМИССОВ!
</template>

<script>
import ContentMainWrapper from '@/components/content/ContentMainWrapper';
import AboutBenefits from '@/components/content/AboutBenefits';

export default {
  components: {
    ContentMainWrapper,
    AboutBenefits,
  },
};
</script>

<style lang="stylus" scoped>
.about-benefits
  margin -10px 0 10px
</style>
