<template lang="pug">
  .about-benefits
    .container
      .item
        .image-wrapper
          app-icon.icon(name="boot")
        .title
          | Стильный
          br
          | дизайн
      .item
        .image-wrapper
          app-icon.icon(name="prize")
        .title
          | Современные технологии
          br
          | производства
      .item
        .image-wrapper
          app-icon.icon(name="steps")
        .title
          | Анатомически
          br
          | правильные колодки
      .item
        .image-wrapper
          app-icon.icon(name="atom")
        .title
          | Высокие стандарты
          br
          | качества
</template>

<style lang="stylus" scoped>
.about-benefits
  .container
    display flex
    flex-wrap wrap

  .item
    width 37%
    display flex
    align-items center
    margin-bottom 20px

  .image-wrapper
    display flex
    align-items center
    justify-content center
    background-color #ec
    border-radius 50%
    width 80px
    min-width 80px
    height 80px
    margin-right 19px

  .title
    font-size 13px
    font-weight 600
    margin 0

  .icon
    width 50%
    height 50%

+tablet()
  .about-benefits

    .item
      width 43%

    .title
      line-height 1.4

+mobile()
  .about-benefits

    .container
      flex-direction column

    .item
      width auto
</style>
