<template lang="pug">
  li.actions-item
    nuxt-link(:to="info.link").content
      .image-wrapper
        img(
          v-if="info.images"
          :src="info.images['1x']"
          :srcset="`${info.images['2x']} 2x`"
          :alt="info.name"
        )
      .text-wrapper
        .date._desktop {{ dateFormatter(info.date) }}
        h5.title {{ info.name }}
        .preview {{ info.previewText }}
        .date._mobile {{ dateFormatter(info.date) }}
</template>

<script>
import dateFormatter from '@/helpers/dateFormatter';

export default {
  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },

  methods: {
    dateFormatter,
  },
};
</script>

<style lang="stylus" scoped>
.actions-item
  max-height 120px
  overflow hidden
  display block
  -webkit-column-break-inside avoid
  page-break-inside avoid
  break-inside avoid

  & + &
    margin-top 34px

  .title
    font-size 14px
    font-weight 600
    margin 0 0 7px

  .content
    display flex
    text-decoration none
    color #0

.image-wrapper
  width 120px
  min-width 120px
  height 120px
  margin-right 32px
  overflow hidden

  img
    width 100%

.text-wrapper
  line-height 1.4

.date
  font-size 12px
  color $grayLight
  font-weight 300
  margin-bottom 6px
  margin-top -2px

  &._mobile
    display: none

+tablet()
  .image-wrapper
    width 76px
    height: 76px
    min-width 76px
    margin-right 18px
    margin-bottom: 0

  .date
    font-size 12px
    color $grayLight
    font-weight 300
    margin-bottom 6px
    margin-top -2px

    &._desktop
      display: none

    &._mobile
      display block

  li.actions-item
    max-height none
    margin-bottom 24px !important

    & + &
      margin-top 0

    .title
      font-size 14px
      font-weight 600
      margin 0 0 8px
      max-height 56px
      overflow hidden
      line-height 1.3

  .preview
    display: none

  .actions-item:first-child

    .content
      flex-direction: column

    .image-wrapper
      height 200px
      width 100%
      margin-bottom 16px

    .title
      font-size: 16px
      margin-bottom: 8px

+mobile()

  .actions-item
    max-height none
    width 100%
    margin-bottom 24px
</style>
