<template lang="pug">
  .content-actions
    ul.container
      ActionsItem(
        v-for="item, key in items"
        :key="key + 1"
        :info="item"
      )
    BlogPagen(:showButton="false")
</template>

<script>
import ActionsItem from '@/components/content/ActionsItem';
import BlogPagen from '@/components/blog/BlogPagen';

export default {
  components: {
    ActionsItem,
    BlogPagen,
  },

  computed: {
    items() {
      return [{
        name: 'Только в интернет-магазине: дополнительная скидка 20% на одежду, обувь и товары для спорта и активного отдыха по промокоду',
        date: new Date(),
        previewText: 'Классическое английское пальто универсально. Оно идеально подчеркивает элегантность делового костюма, но также и подходит к неформальной одежде: джинсам и свитшоту. Такое пальто не баловство, а необходимая вещь в межсезонном гардеробе. Хотя и зимой его тоже можно носить. ',
        images: {
          '1x': '/img/index-magazine-1.jpg',
          '2x': '/img/index-magazine-1.jpg',
        },
        link: '1',
      }, {
        name: 'Только в интернет-магазине: дополнительная скидка 20% на одежду, обувь и товары для спорта и активного отдыха по промокоду',
        date: new Date(new Date().setDate(new Date().getDate() - 1)),
        previewText: 'Когда на улице становится холодно, вопрос, какую верхнюю одежду надеть, самый животрепещущий.',
        images: {
          '1x': '/img/index-magazine-1.jpg',
          '2x': '/img/index-magazine-1.jpg',
        },
        link: '1',
      }, {
        name: 'Только в интернет-магазине: дополнительная скидка 20% на одежду, обувь и товары для спорта и активного отдыха по промокоду',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        previewText: 'Когда на улице становится холодно, вопрос, какую верхнюю одежду надеть, самый животрепещущий.',
        images: {
          '1x': '/img/index-magazine-1.jpg',
          '2x': '/img/index-magazine-1.jpg',
        },
        link: '1',
      }, {
        name: 'Только в интернет-магазине: дополнительная скидка 20% на одежду, обувь и товары для спорта и активного отдыха по промокоду',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        previewText: 'Когда на улице становится холодно, вопрос, какую верхнюю одежду надеть, самый животрепещущий.',
        images: {
          '1x': '/img/index-magazine-1.jpg',
          '2x': '/img/index-magazine-1.jpg',
        },
        link: '1',
      }, {
        name: 'Только в интернет-магазине: дополнительная скидка 20% на одежду, обувь и товары для спорта и активного отдыха по промокоду',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        previewText: 'Когда на улице становится холодно, вопрос, какую верхнюю одежду надеть, самый животрепещущий.',
        images: {
          '1x': '/img/index-magazine-1.jpg',
          '2x': '/img/index-magazine-1.jpg',
        },
        link: '1',
      }, {
        name: 'Только в интернет-магазине: дополнительная скидка 20% на одежду, обувь и товары для спорта и активного отдыха по промокоду',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        previewText: 'Когда на улице становится холодно, вопрос, какую верхнюю одежду надеть, самый животрепещущий.',
        images: {
          '1x': '/img/index-magazine-1.jpg',
          '2x': '/img/index-magazine-1.jpg',
        },
        link: '1',
      }, {
        name: 'Только в интернет-магазине: дополнительная скидка 20% на одежду, обувь и товары для спорта и активного отдыха по промокоду',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        previewText: 'Когда на улице становится холодно, вопрос, какую верхнюю одежду надеть, самый животрепещущий.',
        images: {
          '1x': '/img/index-magazine-1.jpg',
          '2x': '/img/index-magazine-1.jpg',
        },
        link: '1',
      }, {
        name: 'Только в интернет-магазине: дополнительная скидка 20% на одежду, обувь и товары для спорта и активного отдыха по промокоду',
        date: new Date(new Date().setDate(new Date().getDate() - 2)),
        previewText: 'Когда на улице становится холодно, вопрос, какую верхнюю одежду надеть, самый животрепещущий.',
        images: {
          '1x': '/img/index-magazine-1.jpg',
          '2x': '/img/index-magazine-1.jpg',
        },
        link: '1',
      }];
    },
  },
};
</script>

<style lang="stylus" scoped>
.content-actions
  padding-left 58px
  padding-top 12px

  ul.container
    margin 0
    padding 0
    margin-bottom 60px

+tablet()
  .content-actions
    padding: 0

    ul.container
      columns 2
      column-gap 28px
      margin-bottom 40px

+mobile()
  .content-actions

    ul.container
      columns 1
      margin-bottom 40px

</style>
