<template lang="pug">
  .bonus-card-table
    .table-desktop
      .row._head
        .column._head Статус участника Бонусной программы
        .column Белый
        .column._blue Синий
        .column._red Красный
      .row
        .column._head Суммарные накопления, руб
        .column от 1 до 15 000
        .column от 15 001 до 40000
        .column от 40 001
      .row
        .column._head Возможность накапливать бонусы и оплачивать ими часть покупок
        .column *
        .column *
        .column *
      .row
        .column._head Возможность получения экстрабонусов
        .column *
        .column *
        .column *
      .row
        .column._head Процент накоплений за покупку товаров
        .column 10%
        .column 15%
        .column 20%
      .row
        .column._head Процент оплаты бонусами товаров без скидок
        .column До 20%
        .column До 30%
        .column До 40%
    .table-mobile
      .table-title Статус участника Бонусной программы
      .group
        .group-head Белый
        .row
          span.label Суммарные накопления, руб
          span.value от 1 до 15 000
        .row
          span.label Возможность накапливать бонусы и оплачивать ими часть покупок
          span.value *
        .row
          span.label Возможность получения экстрабонусов
          span.value *
        .row
          span.label Процент накоплений за покупку товаров
          span.value 10%
        .row
          span.label Процент оплаты бонусами товаров без скидок
          span.value До 20%
      .group
        .group-head._blue Синий
        .row
          span.label Суммарные накопления, руб
          span.value от 15 001 до 40000
        .row
          span.label Возможность накапливать бонусы и оплачивать ими часть покупок
          span.value *
        .row
          span.label Возможность получения экстрабонусов
          span.value *
        .row
          span.label Процент накоплений за покупку товаров
          span.value 15%
        .row
          span.label Процент оплаты бонусами товаров без скидок
          span.value До 30%
      .group
        .group-head._red Красный
        .row
          span.label Суммарные накопления, руб
          span.value от 40 001
        .row
          span.label Возможность накапливать бонусы и оплачивать ими часть покупок
          span.value *
        .row
          span.label Возможность получения экстрабонусов
          span.value *
        .row
          span.label Процент накоплений за покупку товаров
          span.value 20%
        .row
          span.label Процент оплаты бонусами товаров без скидок
          span.value До 40%
</template>

<script>

export default {
};
</script>

<style lang="stylus" scoped>
.row
  display: flex
  padding-top: 13px;
  &._head
    border-bottom: 1px solid #ececec
    font-size: 13px
    font-weight: 600
    padding: 0
    padding-bottom: 10px
.column
  width: 102px
  font-size: 12px
  font-weight: 600
  &:not(:last-child)
    margin-right: 33px
  &:last-child
    width: 73px
  &._head
    margin-right: 0
    font-weight: 400
    width: 430px

.row._head
  .column._head
    font-weight: 600

._blue
  color: #0d3a61
._red
  color: $red

.table-mobile
  display: none

+tablet()
  .bonus-card-table
    border-bottom 1px solid #ec
  .row
    &:nth-child(2)
      padding-top: 20px
    padding-top: 8px;
    &._head
      padding-bottom: 14px
  .column
    width: 102px
    text-align: right
    &:not(:last-child)
      margin-right: 46px
    &:last-child
      margin-left: 15px
      width: 80px
    &._head
      text-align: left
      margin-right: auto
      width: 300px

+mobile()
  .table-desktop
    display: none
  .table-mobile
    display: flex
    flex-direction: column
  .table-title
    font-size: 13px
    font-weight: 600
    line-height: 20px
    margin-bottom:12px
  .label
    font-size: 12px
    line-height: 20px
    color: #404244
  .value
    font-size: 13px
    font-weight: 600
    line-height: 20px
    white-space: nowrap
    margin-left: 2px
  .group
    display: flex
    flex-direction: column
    border-top: 1px solid #ec
    padding-top: 12px
    padding-bottom: 12px
    &-head
      font-size: 13px
      font-weight: 600
      line-height: 20px
      margin-bottom:13px
  .row
    &:nth-child(2)
      padding-top: 0
    padding-top: 0
    margin-bottom: 8px
    justify-content: space-between
    align-items: center
</style>
