<template lang="pug">
  .certificate
    ContentMainWrapper
      p
        | Рады приветствовать вас в клубе постоянных покупателей TERVOLINA! Вас
        | ждут невероятные скидки на коллекции обуви и всевозможные специальные
        | предложения, которые беспрерывно будут радовать вас.
      blockquote._plain Производим обувь, а продаём мечты
      p
        | Став постоянным покупателем TERVOLINA, Вы получаете возможность быть в
        | курсе последних новостей, новинок и выгодных акций с рекордными
        | скидками до 90%!
      p
        | Более того, при совершении покупки на любую сумму, вы приобретаете&nbsp;
        nuxt-link(to="/buyers/bonus/") Бонусную карту
        | &nbsp;с первоначальной скидкой до 20%. Увеличивая количество
        | покупок, вы увеличиваете и свою скидку до 30%, а затем — до 40%.
      p
        | TERVOLINA также предоставляет вам возможность дарить подарки! С&nbsp;
        nuxt-link(to="/about/certificate/") Подарочным сертификатом
        | &nbsp;TERVOLINA номиналом 500, 1000, 3000, 5000
        | или 10 000 рублей, подарок на любой случай станет подходящим, ведь
        | ваши близкие смогут выбрать его самостоятельно. Совершайте выгодные
        | покупки и дарите полезные подарки вместе с TERVOLINA!
      p
        | Покупателям TERVOLINA мы предлагаем приобрести долгожданные модели в
        | рассрочку на 3 месяца!
      p
        | Рассрочка распространяется на все товары, включая товары со скидками,
        | во всех салонах TERVOLINA при оплате покупки картами «Совесть» или
        | «Халва».
</template>

<script>
import ContentMainWrapper from '@/components/content/ContentMainWrapper';

export default {
  components: { ContentMainWrapper },
};
</script>

<style lang="stylus" scoped>
</style>
