<template lang="pug">
  .certificate
    ContentMainWrapper
      p Приближается праздник? Время выбирать подарки!
        |  Но чем ближе торжество — тем больше появляется всевозможных вариантов.
      p Чтобы не запутаться и не промахнуться с выбором
        |  — порадуйте своих близких Подарочным сертификатом TERVOLINA! Подарите им возможность
        | самостоятельно выбрать то, что идеально подойдет и, безусловно,
        | будет вызывать самые положительные эмоции.
      p Помните несколько правил, и приобретение подарка
        |  станет не только любимым, но еще и очень простым занятием.
      .block
        ul
          li В продажах имеются сертификаты номиналом 500; 1000; 3000; 5000; 10000 рублей
          li Срок действия сертификата – 24 месяца со дня активации
          li Сертификат активируется в течение суток с момента покупки
          li Для активации и использования не требуется предоставления документов
          li Обмен сертификата на денежные средства невозможен
      .images
        .images-list
          .images-item(v-for="(image, index) in images" :key="index + 1")
            img(:src="image")
      .block
        .title Условия публичной оферты
        ol
          li
            .count
            | Покупка Подарочного сертификата TERVOLINA (далее по тексту — Сертификат)
            | свидетельствует о заключении между Продавцом и Приобретателем сертификата
            | предварительного договора с обязательством в течение срока действия Сертификата
            | заключить основной договор розничной купли-продажи товаров (обуви и аксессуаров)
            | из ассортимента и по ценам, представленными в салонах обуви TERVOLINA на день
            | заключения розничного договора купли-продажи.
          li
            .count
            | Сумма внесенных Приобретаем сертификата
            | денежных средств соответствует номиналу выбранного им Сертификата.
          li._center
            .count
            | Срок действия сертификата определен периодом времени, указанным в Сертификате.
          li
            .count
            .left
              | Действие Сертификата распространяется на приобретение обуви и аксессуаров,
              | реализуемых в салонах обуви TERVOLINA по адресам, указанным здесь:
              a(href="www.tervolina.ru/shop").link._red  www.tervolina.ru/shop
              |  , кроме франчайзинговых салонов.
          li._center
            .count
            | Сертификат не восстанавливается в случае его утраты.

</template>

<script>
import ContentMainWrapper from '@/components/content/ContentMainWrapper';

export default {
  components: { ContentMainWrapper },
  data: () => ({
    images: [
      '/img/certificate-1.jpg',
      '/img/certificate-2.jpg',
      '/img/certificate-3.jpg',
      '/img/certificate-4.jpg',
    ],
  }),
};
</script>

<style lang="stylus" scoped>

.images
  padding-right: 32px
  padding-bottom:35px

+tablet()
  p
    &:nth-child(1),&:nth-child(2)
      margin-bottom: 8px !important
    &:nth-child(3)
      margin-bottom: 19px !important

  .images
    padding-right: 0
    padding-bottom: 38px

+mobile()
  p
    &:nth-child(3)
      margin-bottom: 22px !important
  .images
    max-width: 375px;
    margin: 0 auto;
    padding-bottom: 25px
</style>
