<template lang="pug">
  .content-text-wrapper
    slot
</template>

<script>


export default {

};
</script>

<style lang="stylus" scoped>
.content-text-wrapper
  >>>.block
    position: relative
    &:not(:last-child)
      margin-bottom: 31px
    &-border
      &:not(:first-child)
        padding-top: 30px
        border-top: 1px solid #ececec
      &:not(:last-child)
        margin-bottom: 27px
  >>>a
    color $cyan
    text-decoration none
    font-weight 600
  >>>li
    p
      display: block
      margin-bottom: 12px
    > ol
      padding-top: 15px
  >>>ul, >>>ol
    ul-reset()
  >>> ul, >>>ol, >>>p
    font-size: 13px
    line-height: 20px
    &:not(:last-child)
      margin-bottom: 14px

  >>>ul
    padding-left: 38px
    > li
      position: relative
      &:not(:last-child)
        margin-bottom: 13px
      &:before
        position: absolute
        left: -38px
        top: 9px
        content: ''
        display: inline-block
        min-width: 20px
        max-width: 20px
        background: $red
        height:1px
  >>>ol
    counter-reset: list1;
    > li
      position: relative
      display: flex
      &:not(:last-child)
        margin-bottom: 13px
      .count
        border: 1px solid #ececec
        border-radius 50%
        min-width: 32px
        max-width: 32px
        height: 32px
        position: relative
        margin-right: 19px
        &:after
          position: absolute
          top: 50%
          left: 50%
          transform translate(-50%,-50%)
          counter-increment: list1
          content: counter(list1)
  >>>blockquote
    margin 36px 0 36px
    font-size 14px
    font-weight 600
    color #0
    border-left: 1px solid $red
    padding 10px 0 10px 36px
    line-height 1.8
    &._plain
      margin 14px 0 14px
  >>>.title
    font-size: 16px
    font-weight: 700
    margin-bottom:18px
    display: flex
    justify-content: space-between
    + .subtitle
      margin-top: 29px
    &._tt
      text-transform uppercase
  >>>.subtitle
    font-size: 13px
    font-weight: 600
    margin-bottom: 18px
  >>>.price, >>>.number, >>>.link
    font-size: 13px
    font-weight: 600
    a-reset()
  >>>.images
    &-list
      display: flex
      justify-content: space-between
    &-item
      border-radius 10px
      width: calc(100% / 4 - 12px)
    img
      width: 100%
  >>>.text
    padding-right: 20px
  >>>._column
    flex-direction: column
  >>>._center
    align-items: center
  >>>._highlighted
    font-weight 600
  >>>._cyan
    color: $cyan
  >>>._red
    color: $red
  >>>._black
    color: #000
  >>>._grey
    color: #404244

+tablet()
  .content-text-wrapper
    >>>.block
      &:not(:last-child)
        margin-bottom: 35px
      &-border
        &:not(:first-child)
          padding-top: 35px;
        &:not(:last-child)
          margin-bottom: 33px
    >>>.text
      padding-right: 0
    >>>li
      p
        margin-bottom: 12px
      > ol
        margin-left: -4px
        padding-top: 22px
    >>>ul, >>>ol, >>>p
      &:not(:last-child)
        margin-bottom: 24px
    >>>ul
      padding-left: 24px
      > li
        position: relative
        &:not(:last-child)
          margin-bottom: 8px
        &:before
          left: -24px;
          top: 11px;
          min-width: 12px;
          max-width: 12px;
    >>>ol
      > li
        &:not(:last-child)
          margin-bottom: 24px
        .count
          min-width: 24px
          max-width: 24px
          height: 24px
          position: relative
          margin-right: 8px
          &:after
            font-size: 10px
            line-height: 12px
            font-weight: 500
    >>>blockquote
      margin 32px 0 32px
      font-size 13px
      padding 10px 0 10px 32px
      line-height 1.6
    >>>.price, >>>.number, >>>.link
      font-size: 13px
      font-weight: 600
+mobile()
  .content-text-wrapper
    >>>.block
      &:not(:last-child)
        margin-bottom: 25px
      &-border
        &:not(:first-child)
          padding-top: 22px;
        &:not(:last-child)
          margin-bottom: 33px
    >>>.title
      line-height: 24px
      font-weight: 600
      margin-bottom:15px
    >>>ul, >>>ol, >>>p
      &:not(:last-child)
        margin-bottom: 20px
    >>>ul
      padding-left: 20px
      > li
        &:before
          left: -20px;
    >>>li
      > ol
        margin-left: 0
        padding-top: 18px
    >>>ol
      > li
        &:not(:last-child)
          margin-bottom: 17px

    >>>blockquote
      margin 24px 0 24px
      padding 10px 0 10px 24px

    >>>.title
      + .subtitle
        margin-top: 15px
        line-height: 20px
    >>>.images
      &-list
        flex-wrap: wrap
      &-item
        width: calc(100% / 2 - 4px)
</style>
