<template lang="pug">
  .about-content(:class="mod")
    section.top
      .content-wrapper
        .top-wrapper
          .navigation
            app-breadcrumbs.navigation-breadcrumbs
              nuxt-link.item(to="/")
                app-icon.icon(
                  name="arrow-down"
                  width="10"
                  height="8"
                )
                | Главная
              template(v-if="$route.path !== '/about/' && ~$route.path.indexOf('/about/')")
                span.item /
                nuxt-link.item(to="/about/") О компании
              template(v-if="$route.path !== '/buyers/' && ~$route.path.indexOf('/buyers/')")
                span.item /
                nuxt-link.item(to="/buyers/") Покупателям
              span.item /
              span.item {{ title }}
            .navigation-title
              h1.title {{ subtitle || title }}
    section.main
      .content-wrapper
        .main-wrapper
          .text
            ContentMainWrapper
              slot
          .menu
            template(v-for="(link, index) in menu")
              nuxt-link.link(
                v-if="link.url"
                :to="link.url"
                :key="index + 1"
              )
                img(v-if='link.img' :src="link.img")
                span {{ link.label }}
              .link(
                v-else-if="link.action"
                @click="$emit(link.action)"
                :key="index + 1"
              )
                img(v-if='link.img' :src="link.img")
                span {{ link.label }}
</template>

<script>
import ContentMainWrapper from '@/components/content/ContentMainWrapper';

export default {
  components: { ContentMainWrapper },
  props: {
    menu: {
      type: Array,
      default: () => ({}),
    },
    title: {
      type: String,
      default: '',
    },
    subtitle: {
      type: String,
      default: '',
    },
    mod: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="stylus" scoped>
  .title
    font-family 'Century Gothic'
    font-size 22px
    font-weight 700
    color #0
    margin 0 70px 0 0
    line-height 1

  .top
    border-bottom 1px solid #f1f1f1
    padding 25px 0
    display flex
    justify-content space-between

    &-wrapper
      display: flex
      justify-content: space-between

    .icon
      display: none

  .navigation-breadcrumbs
      margin-bottom: 18px

  .main-wrapper
    width: 100%
    display flex
    padding-top: 26px
    padding-bottom 79px

  .text
    flex: 1
    margin-right: 100px
  .menu
    width: 300px
    padding-top: 9px
  .link
    a-reset()
    display: block
    cursor: pointer
    font-size: 14px
    font-weight: 700
    border-bottom: 1px solid #ececec
    &:first-child
      padding-bottom: 18px
    &:not(:first-child)
      padding: 15px 0 18px
    &._active
      color: $red
    > img
      width:100%
      margin-bottom: 21px


  .about-content._reverse

    .main-wrapper
      flex-direction row-reverse

    .text
      margin  0 0 0 100px
+tablet()
  .navigation
    width:100%
  .top
    padding: 16px 0

    .icon
      transform rotate(90deg)
      margin-right: 5px
      display: inline-block

  .app-breadcrumbs
    align-items: center

  .item
    font-size: 10px
    line-height: 18px
  .title
    font-size: 20px
    line-height: 24px

  .navigation-breadcrumbs
    margin-bottom: 4px

  .main-wrapper
    flex-direction: column
    padding-bottom: 16px

  .about-content._reverse

    .main-wrapper
      flex-direction column

  .menu
    padding-top:40px

  .text
    margin-right:0

  .link
    position: relative
    border: 0;
    text-align: center
    &:first-child, &:not(:first-child)
      padding: 19.5px 0
    &:before
      content: ''
      display: block
      height: 1px;
      width: 140vw
      left: -20vw
      right: -20vw
      background: #ec
      position: absolute
      top: 0
      > img
        display: none

  .about-content._reverse

    .text
      margin  0

  .about-content._top-menu

    .text
      order: 2;
      margin-top: 16px
      margin-bottom: 40px

    .menu
      order: 1;
      padding: 14px 0 12px
      display: flex
      position: relative
      &:before
        content: ''
        display: block
        height: 1px;
        width: 140vw
        left: -20vw
        right: -20vw
        background: #ec
        position: absolute
        bottom: 0

    .link
      background: #fff
      color: $cyan
      padding: 9px 20px 11px
      border: 1px solid #ECECEC;
      &._active
        background: $cyan
        border-color: $cyan
        color: #fff
      &:first-child
        border-radius: 4px 0 0 4px;
      &:last-child
        border-radius: 0 4px 4px 0;
      &:before
        display: none

    .main-wrapper
      padding-top: 0

+mobile()
  .top
    padding: 0

    .icon
      position absolute
      top 16px
      margin-left -24px
      margin-right 0

    .app-breadcrumbs
      display inline-block
      max-width 80vw
      width 100%
      padding 10px 0 7px 16px
      position: relative
      &:before
        content ''
        position: absolute
        top: 0
        bottom: 0
        left: -50vw
        right: -50vw
        background-color: #F6F6F6;
        z-index: -1

  .title
    font-size: 18px
    line-height: 22px
    padding: 12px 0 16px
    margin: 0
  .main-wrapper
    padding-top: 20px
    padding-bottom: 4px;

+mobile-l()
  .about-content._top-menu
    .menu
      width: 100%
    .link
      width: 50%

</style>
