<template lang="pug">
  .delivery
    .block.block-border
      .title
        span Москва
        span.price._red Бесплатно
      .text
        p БЕСПЛАТНО при сумме выкупа от 4 999 рублей. При сумме выкупа
          |  менее 4 999 рублей, а также при полном отказе при доставке, стоимость доставки
          | составит - 350 рублей. Доставка курьерской службой интернет-магазина tervolina.ru
        ul
          li Доставка осуществляется в течение 1-2 дней, с понедельника по воскресенье
            |  с 9:00 до 21:00, включая праздники. Заказы, оформленные до 18:30, доставляются
            | на следующий день с момента оформления. Заказы оформленные после 18:30,
            | доставляются через день.
          li При подтверждении заказа нашему менеджеру вы можете выбрать в
            |  удобный интервал времени доставки.
          li Вы можете осуществить бесплатную примерку в течение 15 минут,
            |  возможен частичный отказ при получении заказа.
    .block.block-border
      .title
        span Санкт-Петербург
        span.price._red Бесплатно
      .text
        p БЕСПЛАТНО при сумме выкупа от 4 999 рублей. При сумме выкупа менее 4 999 рублей,
          | а также при полном отказе при доставке, стоимость доставки составит - 300 рублей.
          | Доставка курьерской службой интернет-магазина tervolina.ru
        ul
          li Доставка осуществляется в течение 2-4 дней, с понедельника
            |  по воскресенье с 9:00 до 21:00, включая праздники.
          li При подтверждении заказа нашему менеджеру
            |  вы можете выбрать удобный интервал времени доставки.
          li Вы можете осуществить бесплатную примерку в течение 15 минут, возможен
            |  частичный отказ при получении заказа.
    .block.block-border
      .title Регионы
      .text
        p Чтобы узнать стоимость доставки, введите название города:
      .field
        app-input(name="city" placeholder="Смоленск")
        .field-bottom
          span Курьерская доставка :&nbsp;
            span.price._cyan 400 ₽
          span При сумме заказа от 4 999 ₽ :&nbsp;
            span.price._red Бесплатно
      .text
        ul
          li Доставка заказов в регионы осуществляется Курьерскими службами
            |  и Почтой России. Сроки, способ и стоимость доставки зависят от
            | выбранного региона. Заказы с суммой от 4 999 рублей доставляются БЕСПЛАТНО.
            | Для уточнения информации необходимо ввести интересующий город в соответствующее
            | поле, после чего система автоматически отобразит данную информацию или обратиться
            | по телефону 8 800 600 63 44.
          li Примерка или частичный отказ при получении заказа отсутствует.&nbsp;
            | С условиями возврата вы можете ознакомиться в соответствующем разделе сайта.
</template>

<script>
import ContentMainWrapper from '@/components/content/ContentMainWrapper';

export default {
  components: { ContentMainWrapper },
};
</script>

<style lang="stylus" scoped>
.field
  padding-top: 20px
  padding-bottom: 20px
  &-bottom
    padding-top: 11px
    font-size: 12px
    display: flex
    justify-content: space-between

+tablet()
  .field
    padding-top: 16px
    padding-bottom: 20px
    &-bottom
      padding-top: 16px

+mobile()
  .field
    padding-top: 14px
    padding-bottom: 25px
    &-bottom
      flex-direction: column
      padding-top: 16px
      > *
        display: flex
        justify-content: space-between
        align-items: baseline
        &:first-child
          margin-bottom: 8px
</style>
