<template lang="pug">
  .protection-of-information
    ContentMainWrapper
      p Оплатить заказанные товары можно одним из указанных ниже способов:
      .block
        .title Оплата наличными
        .text
          ul
            li оплата производится при получении заказа;
            li при доставке курьерской службой tervolina.ru Вы можете
              |  открыть упаковку и при необходимости примерить вещи до оплаты заказа.
      .block
        .title Оплата банковской картой
        .text
          ul
            li банковская карта должна быть доступна для оплаты в Интернете
              |  (определяется банком-эмитентом);
            li к оплате принимаются: VISA, MasterCard, МИР;
            li заказ должен быть оплачен в течение одного часа. В случае не поступления оплаты
              |  в установленный период, метод оплаты у заказа будет автоматически изменен
              |  на "оплата наличными".
      .block
        .title Оплата картой рассрочки Совесть
        .text
          p Оплата картой Совесть доступна только при "онлайн-оплате" на сайте.
          p Доступные варианты доставки в ваш город вы можете узнать на специальной странице.
          p Узнать подробнее о карте и оформить заявку на получение карты рассрочки Совесть
            |  вы можете&nbsp;
            nuxt-link.link(to="/promo/sovest/") здесь.
      .block
        .title Оплата картой рассрочки Халва
        .text
          p Оплата картой Халва доступна доступна только при "онлайн-оплате" на сайте.
          p Доступные варианты доставки в ваш город вы можете узнать на специальной странице.
          p Узнать подробнее о карте и оформить заявку на получение карты рассрочки Халва
            |  вы можете&nbsp;
            nuxt-link.link(to="/promo/halva/") здесь.

</template>

<script>
import ContentMainWrapper from '@/components/content/ContentMainWrapper';

export default {
  components: {
    ContentMainWrapper,
  },
};
</script>

<style lang="stylus" scoped>

</style>
