<template lang="pug">
  .protection-of-information
    ContentMainWrapper
      .title Предоставление информации Клиентом
      p При оформлении Заявки на Сайте Клиент предоставляет следующую информацию: Фамилия, Имя,
        |  адрес электронной почты, телефон, адрес доставки.
        br
        | Продавец использует информацию для выполнения своих обязательств перед Клиентом.
      .title Разглашение информации, полученной Продавцом
      p Продавец обязуется не разглашать полученную от Клиента информацию. Не считается
        |  нарушением предоставление Продавцом информации агентам и третьим лицам, действующим
        |  на основании договора с Продавцом, для исполнения обязательств перед Клиентом.
        br
        | Не считается нарушением обязательств разглашение информации в соответствии
        |  с обоснованными и применимыми требованиями закона.
        br
        | Продавец не несет ответственности за сведения, предоставленные Клиентом на Сайте в
        | общедоступной форме.
      .title Рассылки и информационные сообщения
      p При регистрации на Сайте Клиент дает согласие на получение от Продавца рассылок
        |  рекламно-информационного характера. Указанные рассылки содержат информацию о
        |  предстоящих акциях и других мероприятиях Продавца, включая рекламные рассылки и
        |  специальные предложения.
        br
        | Настройка параметров рассылки (периодичность получения, возможность отказа от рассылки
        |   и пр.) размещена в разделе «Личный кабинет», в пункте «Мои данные».
        br
        | Рассылки поступают в виде электронного письма на адрес и/или короткого сообщения (sms) на
        |  номер телефона, указанный Клиентом при регистрации. Рекламно-информационные материалы
        |  могут представляться в виде бумажно-полиграфической и сувенирной продукции,
        |  вкладываться в заказы клиентов и доставляться на указанный почтовый адрес в
        |  в виде писем и посылок.
      .title Как отписаться
      p Что делать, если я больше не хочу получать рекламу и рассылки от TERVOLINA? Вы можете
        |  отписаться от рекламных и информационных рассылок от TERVOLINA в любое время.
        |  Вы можете сделать это, выполнив следующие действия:
      .block
        .text
          ul
            li Нажмите на ссылку, расположенную в конце каждого маркетингового сообщения
              |  электронной почты от TERVOLINA.
            li На следующей странице («Личный кабинет»), подтвердите свои действия, убрав галочку
              |  в строке «Еженедельная рассылка новостей» и в конце нажав кнопку «ОК».
          p Рассылки от TERVOLINA на ваш электронный адрес будут полностью приостановлены.
      .block
        .title Какая информация собирается TERVOLINA о клиентах через веб-сайт и как
          br
          |  эта информация используется?
        p При регистрации на рассылки и рекламные акции, мы будем собирать следующую информацию:
          br
          |  Контактную информацию: ваше имя, электронную почту и другую подобную информацию
        .contacts
          .contacts-item
            .contacts-row
              span.contacts-row-label Телефон:
              .contacts-tel
                a.link._cyan(href="tel:84959253378")  +7 (495) 925-3378
                a.link._cyan(href="tel:88004353500") 8-800-435-3500
            .contacts-row
              span.contacts-row-label E-mail:
              a.link._cyan(href="mailto:service@tervolina.ru") service@tervolina.ru
            .contacts-row
              span.contacts-row-label Адрес:
              span.contacts-row-address._cyan 109029 г. Москва, Михайловский проезд, д. 1, стр. 1
            .contacts-row
              span.contacts-row-label Сайт:
              a.link._cyan(href="www.tervolina.ru") tervolina.ru
</template>

<script>
import ContentMainWrapper from '@/components/content/ContentMainWrapper';

export default {
  components: {
    ContentMainWrapper,
  },
};
</script>

<style lang="stylus" scoped>

._cyan
  color $cyan

.contacts-row
  display flex
  text-align left
  margin-bottom 4px

  &-label
    font-weight 700
    width 12%
    font-size 13px

  &-address
    font-weight 600

.contacts-tel
  display flex
  flex-direction column

  & a:not(:last-child)
    margin-bottom 4px

+mobile()

  .contacts-row

    &-label
      width 77px

    &-address
      width 150px

</style>
