<template lang="pug">
  .stock-wrapper
    .left
      img(:src="img")
    .right
      .period Период проведения акции:&nbsp
          span.data 29.04.2019 - 30.06.2019
      .desc За покупку любой пары обуви - скидка 30% на пляжную обувь.
        br
        | Купите любую пару обуви в магазинах Tervolina и получите скидку 30% на пляжную обувь.
      nuxt-link.link(to="/about/") Подробная информация об условиях акции

</template>

<script>
import ContentMainWrapper from '@/components/content/ContentMainWrapper';
import BonusCardTable from '@/components/content/BonusCardTable';

export default {
  components: {
    ContentMainWrapper,
    BonusCardTable,
  },
  data: () => ({
    img: '/img/stock-img.jpg',
  }),
};
</script>

<style lang="stylus" scoped>
.stock-wrapper
  display: flex
  margin-top: 14px
  margin-left: -43px
.left
  max-width: 364px
  margin-right: 32px
  width: 100%
  img
    width: 100%
.right
  max-width: 350px
  width: 100%
.period
  color: $grayLight
  font-size: 12px
  margin-bottom: 13px
.desc
  font-size: 13px
  line-height: 20px
  margin-bottom: 24px
.right .link
  font-size: 14px
  color: $cyan
  font-weight: 600

+tablet()
  .stock-wrapper
    margin-left: 0
  .left
    max-width: 340px

+mobile()
  .stock-wrapper
    display: block
    margin-top: 0
  .left, .right
    max-width: 100%
  .left
    margin: 0 0 16px 0

  .period
    font-size: 13px
    line-height: 20px
    margin-bottom: 16px
  .data
    display: block
  .desc
    font-size: 12px
    line-height: 18px
    margin-bottom: 20px
  .right .link
    font-size: 12px
    letter-spacing: -0.2px;

</style>
