<template lang="pug">
  .terms-of-sale
    ContentMainWrapper
      p Сторонами настоящего Соглашения являются:
        br
        | Клиент — физическое лицо, имеющее намерение оформить и/или оформляющее Заявки
        |  на Товары, представленные на сайте официального "интернет-магазина TERVOLINA
        |  (tervolina.ru)
        br
        | Продавец — Общество с ограниченной ответственностью
        span._cyan  «ПРИВАТ ТРЭЙД»
        |  (ОГРН 1087746760397, юридический адрес: 109029 г. Москва, Михайловский
        |  проезд, д. 1, стр. 1.)
        br
        | Термины:
        br
        | Сайт — tervolina.ru
        br
        | Заявка — должным образом оформленный запрос Клиента на покупку и
        |  доставку Товара, представленного на Сайте.
      .block
        .title Общие положения
        .text
          ol
            li
              .count
              | Информация о Товарах, размещаемых на сайте tervolina.ru предоставляется Продавцом,
              |  если иное прямо не указано в информации о Товаре.
            li
              .count
              | Заказывая товары через Cайт, Клиент соглашается с Условиями продажи товаров
              |  Продавца (далее — Условия), изложенными ниже.
            li
              .count
              | Настоящее соглашение, а также информация о Товаре, представленная на Сайте, являются
              |  публичной офертой в соответствии со ст. 435 и ч. 2 ст. 437 ГК РФ.
            li
              .count
              | К отношениям между Клиентом и Продавцом применяются положения ГК РФ о розничной
              |  купле-продаже (§ 2 Главы 30), Закон РФ «О защите прав потребителей»
              |  от 07.02.1992 г. № 2300-1 и иные правовые акты, принятые в соответствии с ними.
            li
              .count
              | Местом продажи Товаров является территория Российской Федерации.
            li
              .count
              | Продавец оставляет за собой право вносить изменения в настоящее Соглашение.
      .block
        .title Оформление Заявки.
        .text
          ol
            li
              .count
              | Заявка Клиента оформляется самостоятельно Клиентом на Сайте.
            li
              .count
              | Для того чтобы иметь возможность оформления Заявок на сайте Клиент заполняет
              |  регистрационную форму и соглашается с условиями настоящей оферты.
            li
              .count
              | Для исполнения Заявки данные из регистрационной формы передаются Продавцу.
            li
              .count
              | Регистрация на Cайте подразумевает обязательное согласие с публичной офертой
              |  ООО «Приват Трэйд», в противном случае Клиенту не будет предоставлена
              |  возможность оформления Заявок на Товар.
            li
              .count
              | Продавец оставляет за собой право отказать Клиенту в регистрации на Сайте
              |  без объяснения причин.
            li
              .count
              | Продавец имеет право аннулировать (удалить) регистрацию пользователя
              |  без объяснения причин.
</template>

<script>
import ContentMainWrapper from '@/components/content/ContentMainWrapper';

export default {
  components: {
    ContentMainWrapper,
  },
};
</script>

<style lang="stylus" scoped>

._cyan
  color $cyan
  font-weight 600

</style>
