<template lang="pug">
  .wholesale-trade
    ContentMainWrapper
      .block.block-border
        .block
          .block
            p TERVOLINA работает с известными и авторитетными обувными фабриками
              |  Бразилии, Италии, Португалии и Словении, в нашей компании всегда
              | возможен заказ со свободного склада,
              | а также предзаказ будущей коллекции по образцам.
            p Более того, в TERVOLINA ежесезонно (2 раза в год) проводятся
              |  презентации коллекций обуви. Каждый год специалисты представляют коллекцию
              | TERVOLINA на российских обувных выставках, где каждый желающий может ознакомиться
              | с ассортиментом компании, а также обсудить все детали сотрудничества.
          .subtitle Четыре простых шага для оптовой закупки
          ol
            li
              .count
              .left
                | Связаться с нашим менеджером по e-mail:
                a(href="mailto:opt@tervolina.ru").link._red  opt@tervolina.ru
                |<br> или по тел.:
                a(href="tel:opt@tervolina.ru").link._red  +7 495 937-21-35
                |,
                a(href="tel:opt@tervolina.ru").link._red  +7 495 937-21-36
                |.
            li._center
              .count
              | Посетить Шоурум в Москве.
            li._center
              .count
              | Встретиться с нами на сезонных выставках.
        .block
          .title Общая информация
          .subtitle Женская обувь из натуральной кожи оптом
          ul
            li Средняя оптовая цена пары женских туфель 2200 — 2600 руб.
            li Размерный ряд обуви 36 - 41, комплектация короба 1-2-3-3-2-1.
            li В коробе 12 пар обуви.
      .block.block-border
        .subtitle Оплата и доставка
        ul.text
          li Товар можно оплатить безналичным расчетом по реквизитам счета.
          li БЕСПЛАТНАЯ доставка до терминала любой выбранной
            |  Вами транспортной компании в г. Москве.
          li Поставка сопровождается необходимыми документами:
            |  ТОРГ-12, Счет-Фактура, Декларации Соответствия.
      .block.block-border
        .title Контакты
        .contacts._grey
          .contacts-item
            .contacts-description Офис оптовых продаж в Москве:  123154, Россия,
              |  Москва, пр-т Маршала Жукова, 59
            .contacts-row
              span.contacts-row-label Телефон:
              .contacts-tel
                a.link._red(href="tel:84959372135") +7 495 937-21-35
                a.link._red(href="tel:84959372136") +7 495 937-21-36
            .contacts-row
              span.contacts-row-label E-mail:
              a.link._red(href="mailto:opt@tervolina.ru") opt@tervolina.ru
          .contacts-item
            .contacts-description Менеджер отдела оптовых продаж
              |  и франчайзинга:
              span.link  Колотий Татьяна
            .contacts-row
              span.contacts-row-label Телефон:
              a.link._red(href="tel:84959373955") +7 495 937-39-55
                span._grey  доб. 261
            .contacts-row
              span.contacts-row-label E-mail:
              a.link._red(href="mailto:T_Kolotiy@tervolina.ru") T_Kolotiy@tervolina.ru
</template>

<script>
import ContentMainWrapper from '@/components/content/ContentMainWrapper';

export default {
  components: { ContentMainWrapper },
};
</script>

<style lang="stylus" scoped>
.wholesale-trade
  padding-bottom: 33px
.contacts
  display: flex
  justify-content: space-between
  padding-right: 51px
  &-item
    font-size: 13px
    width: calc(100% / 2 - 45px)
    &-label
      font-weight: 600
  &-item, &-tel
    display: flex
    flex-direction: column
  &-tel
    .link
      &:not(:last-child)
        margin-bottom: 12px
  &-row
    display: flex
    justify-content: space-between
    &:not(:last-child)
      margin-bottom: 12px
  &-description
    line-height: 20px
    margin-bottom: 23px

+tablet()
  .wholesale-trade
    padding-bottom:0
  .contacts
    padding-right: 39px
    &-item
      &:first-child
        width: calc(100% / 2 - 27px)
      &:last-child
        width: calc(100% / 2 - 38px);
+mobile()
  .wholesale-trade
    padding-bottom:7px
  .contacts
    flex-direction: column
    padding-right: 0
    &-item
      width:100% !important
      &:first-child
        margin-bottom: 25px
    &-description
      margin-right: -2px
</style>
