<template lang="pug">
  nav.cart-menu(v-click-outside="handleClickOutside")
    .content
      .caller(@click="toggleDropout")
        app-icon.icon(
          name="cart"
          fill="#ec0928"
        )
        .title Корзина
        .counter(v-if="itemsLength")
          app-counter {{ itemsLength }}
      app-dropout(
        :is-active="isDropoutVisible"
      )
        HeaderCart(
          @close="toggleDropout"
          :products="products"
          @delete="handleDeleteProduct"
        )
</template>

<script>
import HeaderCart from '@/components/layout/header/HeaderCart';

export default {
  components: {
    HeaderCart,
  },

  data: () => ({
    isDropoutVisible: false,
  }),

  computed: {
    products() {
      return this.$store.getters['basket/products'];
    },
    itemsLength() {
      return this.$store.getters['basket/productsAmount'];
    },
  },
  methods: {
    handleClickOutside() {
      this.isDropoutVisible = false;
    },

    toggleDropout() {
      this.isDropoutVisible = !this.isDropoutVisible;
    },

    async handleDeleteProduct(id) {
      await this.$store.dispatch('basket/FETCH_REMOVE_PRODUCT', { ids: id });
    },
  },
};
</script>

<style lang="stylus" scoped>
.caller
  display flex
  align-items center
  height 28px
  position relative
  top -3px
  cursor pointer

.title
  margin-left 8px
  font-size 14px
  font-weight 500
  color $red

.counter
  margin-left 6px

.app-dropout
  position absolute
  top 43px
  right -40px
  padding 0

.icon
  width 20px
  height 21px

+tablet()
  .title
    display none

  .caller
    top -1px

  .counter
    margin-left 10px

+mobile()
  .icon
    width 17px
    height 18px

  .app-dropout
    top 40px
</style>
