<template lang="pug">
  nav.categories-menu(
    v-if="filteredList"
    :class="mod"
  )
    .container
      .link(
        v-for="(item, index) in filteredList"
        :class="{'_selected': item.id === currentDepartment.id}"
        :key="index + 1"
        @click="changeDepartment(item)"
      )
        nuxt-link.inner(
          :to="parseUrl(item.url) "
        ) {{ item.label }}
</template>

<script>
import MAP_DEPARTMENT from '@/assets/json/mapDepartment.json';

export default {
  props: {
    mod: {
      type: String,
      default: '',
    },
    list: {
      type: Array,
      default: () => ([]),
    },
  },

  computed: {
    currentDepartment() {
      return this.$store.state.layout.currentDepartment;
    },
    filteredList() {
      return this.list.filter(item => item.id && item.label);
    },
  },

  methods: {
    parseUrl(url) {
      // TODO: сделано времено, пока нет нормальных URL для отделов
      return MAP_DEPARTMENT[url] || url;
    },
    changeDepartment(link) {
      this.$store.commit('layout/SET_CURRENT_DEPARTMENT', link);
      this.$store.dispatch('layout/FETCH_TOP_MENU', link.id)
        .catch();
    },
  },
};
</script>

<style lang="stylus" scoped>
.container
  display flex
  justify-content center

.inner
  display inline-block
  font-size 13px
  font-weight 600
  text-transform uppercase
  padding 5px 5px 25px
  text-decoration none
  color #000

.link
  position relative

  &:after
    content ''
    position absolute
    bottom 0px
    left 0
    background $red
    width 25%
    height 2px
    opacity 0
    transition .5s
    z-index 10

  & + &
    margin-left 29px

  &:hover:after,
  &._selected:after
    width 100%
    opacity 1

+tablet()
  .inner
    padding 5px 10px 20px

  .link

    & + &
      margin-left 19px

    &:after
      height 2px

+mobile()
  .categories-menu
    overflow auto

  .container
    display flex
    justify-content space-between
    padding 0 18px
    white-space nowrap

  .inner
    height 43px
    display inline-block
    font-size 12px
    padding 13px 10px 15px

  .link

    & + &
      margin-left 0

    &:after
      height 2px

  .categories-menu._mobile-menu
    .container
      padding 0 24px
      border-bottom 1px solid #ec

    .inner
      height auto
      font-size 10px
      padding 16px 0 15px
</style>
