<template lang="pug">
  .header-cart-item
    .delete(@click="$emit('delete')")
      app-icon.icon(
        name="close"
        width="6"
        height="6"
      )
    .content
      .image-wrapper
        img(
          v-if="info.images"
          :src="info.images['1x'] || info.images"
          :srcset="info.images['2x'] || info.images"
          :alt="info.name"
        )
      .text-wrapper
        .title {{ info.name }}
        .stats(v-if="info.properties")
          span.size(
            v-if="info.properties.size && info.properties.size.name"
          ) {{ info.properties.size.name }},&nbsp
          span.size(v-if="info.properties.color") {{ info.properties.color.name }}
      .price-wrapper
        .price(:class="{'_discount': info.oldprice}") {{ `${info.price.toLocaleString('ru')} ₽` }}
        .old-price(v-if="info.oldprice") {{ `${info.oldprice.toLocaleString('ru')}` }}
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="stylus" scoped>
.header-cart-item
  position relative

.content
  display flex
  align-items center
  justify-content space-between
  height 78px
  border-bottom 1px solid #ececec

.delete
  position absolute
  top 0
  bottom 0
  left -10px
  margin auto 0
  width 10px
  height 10px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

.image-wrapper
  width 60px
  min-width 60px
  height 60px
  overflow hidden

  img
    width 100%

.text-wrapper
  padding 0 10px 0 18px
  line-height 1.5
  flex-grow 1

.title
  font-size 13px
  font-weight 600
  word-wrap break-word
  color #0

.stats
  font-size 12px
  color $gray

.price-wrapper
  text-align right
  min-width 60px

.price
  font-size 12px
  font-weight bold
  color #0
  position relative
  top -11px
  letter-spacing -0.3px

  &._discount
    color #dc193e
    top -2px

.old-price
  font-size 12px
  text-decoration line-through
</style>
