<template lang="pug">
  .header-cart
    .title {{ title }}
    .content(v-if="itemsLength")
      .container
        HeaderCartItem(
          v-for="(item, index) in products"
          v-if="item.count"
          :key="index + 1"
          :info="item"
          @delete="$emit('delete', item.id)"
        )
      .result
        .left Итого
        .right {{ price }}
      .controls
        app-button(
          mod="_red"
          @click.native="moveToCheckout"
        ) Оформить заказ
</template>

<script>
import morphHelper from '@/helpers/morphHelper';
import HeaderCartItem from '@/components/layout/header/HeaderCartItem';

export default {
  components: { HeaderCartItem },

  props: {
    products: {
      type: Array,
      default: () => ([]),
    },
  },

  computed: {
    title() {
      if (this.products.length) {
        return `В корзине ${this.itemsLength} ${morphHelper('товар', 'товара', 'товаров', this.itemsLength)}:`;
      }

      return 'Корзина пуста';
    },

    price() {
      const total = `${this.$store.state.basket.products.total}`;
      return `${total.toLocaleString('ru')} ₽`;
    },

    itemsLength() {
      return this.$store.getters['basket/productsAmount'];
    },

    isAuthorized() {
      return this.$store.state.user.isAuthorized;
    },
  },

  methods: {
    moveToCheckout() {
      this.$emit('close');
      this.$router.push('/checkout/');
    },
  },
};
</script>

<style lang="stylus" scoped>
.header-cart
  width 320px
  padding 24px 40px 34px

.title
  font-size 13px
  font-weight 500
  color $grayLight
  letter-spacing -0.3px
  margin-bottom 2px

.result
  display flex
  justify-content space-between
  font-size 14px
  font-weight bold
  color #0
  padding 12px 0 16px
</style>
