<template lang="pug">
  nav.site-menu(v-click-outside="handleClickOutside")
    .link(@click="callPreview")
      span {{ city.name }}
      app-icon.link-arrow(
        name="arrow-down"
        width="10"
        height="8"
        fill="#75787b"
      )
      .preview(v-show="isPreviewVisible")
        .title Ваш город
        .city {{ city.name }}
        .controls
          app-button(
            mod="_red _extra-small"
            @click.native="e => confirm(e)"
          ) Да, спасибо
          app-button(
            mod="_extra-small"
            @click.native="e => callLocationPopup(e)"
          ) Нет, другой
    a.link._phone(
      v-if="city.phone"
      :href="`tel:${city.phone.raw}`"
    ) {{ city.phone.formatted }}
</template>

<script>
import getCookie from '@/helpers/getCookie';

export default {
  data: () => ({
    isPreviewVisible: false,
  }),

  computed: {
    city() {
      return this.$store.state.user.city;
    },
  },

  mounted() {
    this.$nextTick(() => {
      if (
        !getCookie('confirmedCity')
        || !window.localStorage
        || !localStorage.getItem('confirmedCity')
      ) {
        this.isPreviewVisible = true;
      }
    });
  },

  methods: {
    callLocationPopup(e) {
      e.stopPropagation();
      this.isPreviewVisible = false;
      this.$modal.show('choose-city');
    },

    callPreview() {
      this.isPreviewVisible = true;
    },

    confirm(e) {
      e.stopPropagation();
      this.isPreviewVisible = false;
      document.cookie = `confirmedCity=${this.city.data.city}`;
      if (window.localStorage) {
        localStorage.setItem('confirmedCity', JSON.stringify(this.city));
      }
    },

    handleClickOutside() {
      this.isPreviewVisible = false;
    },
  },
};
</script>

<style lang="stylus" scoped>
.site-menu
  display flex

.link
  font-size 12px
  font-weight 500
  color $gray
  text-decoration none
  cursor pointer
  position: relative

  span
    max-width: 200px
    display: inline-block
    text-align: right

  >>>&._phone
    letter-spacing -0.5px
    margin-left 18px

.link-arrow
  margin-left 4px

.preview
  position: absolute
  z-index: 100
  text-align: center
  top 100%
  left: -200px
  right: -200px
  width: 355px
  background-color #f
  margin 24px auto 0
  padding: 28px 30px 34px
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

  .app-button._extra-small
    width: 140px
    height: 38px

.controls
  display: flex
  justify-content: space-between

.title
  color $grayLight
  font-size: 12px
  margin-bottom: 4px

.city
  font-weight: bold
  font-size: 18px
  margin-bottom: 16px

+tablet()

  .link
    font-size 11px

    >>>&._phone
      letter-spacing -0.3px
      margin-left 17px

+mobile()

  .preview
    right: -66px
    width: 320px
    padding: 18px 20px 24px;

    .app-button._extra-small
      width: 132px
</style>
