<template lang="pug">
  nav.mobile-menu(v-click-outside="handleClickOutside")
    .content
      .caller(@click="toggleDropout")
        span
        span
        span
      app-dropout(:is-active="isDropoutVisible")
        MobileMenuDropout
</template>

<script>
import MobileMenuDropout from '@/components/layout/header/MobileMenuDropout';

export default {
  components: { MobileMenuDropout },

  data: () => ({
    isDropoutVisible: false,
  }),

  watch: {
    $route() {
      this.handleClickOutside();
    },
  },

  methods: {
    handleClickOutside() {
      if (this.isDropoutVisible) {
        this.$store.commit('layout/SET_MOBILE_MENU', false);
      }
      this.isDropoutVisible = false;
    },

    toggleDropout() {
      this.isDropoutVisible = true;
      this.$store.commit('layout/SET_MOBILE_MENU', true);
    },
  },
};
</script>

<style lang="stylus" scoped>
.mobile-menu
  position relative
  margin-left -16px

.caller
  width 46px
  height 55px
  display flex
  align-items center
  justify-content center
  flex-direction column
  cursor pointer

  span
    width 14px
    height 1px
    background-color $red

    & + span
      margin-top 4px

.app-dropout
  position absolute
  top 0
  left 0

  &._active
    z-index 100
    overflow visible
</style>
