<template lang="pug">
  .mobile-menu-dropout
    Search(
      view="mobile-menu"
      placeholder="Поиск по 2 000 товаров"
    )
    CategoriesMenu(
      mod="_mobile-menu"
      :list="departments"
    )
    MobileSubcategories(:list="categories")
    MobileLocationMenu
</template>

<script>
import Search from '@/components/layout/Search';
import CategoriesMenu from '@/components/layout/header/CategoriesMenu';
import MobileSubcategories from '@/components/layout/header/MobileSubcategories';
import MobileLocationMenu from '@/components/layout/header/MobileLocationMenu';

export default {
  components: {
    Search,
    CategoriesMenu,
    MobileSubcategories,
    MobileLocationMenu,
  },

  computed: {
    departments() {
      return this.$store.state.layout.departments.data;
    },
    categories() {
      return this.$store.state.layout.currentDepartment.categories;
    },
  },
};
</script>

<style lang="stylus" scoped>
.mobile-menu-dropout
  min-height 250px
  width 270px

.city
  min-height 56px
  line-height 1.5
  display flex
  align-items center
  justify-content space-between
  padding 0 24px
  font-size 12px
  font-weight 600
  color $cyan

.city-name
  display flex
  align-items center

.link-arrow
  transform rotate(-90deg)

.location
  margin-right 10px
</style>
