<template lang="pug">
  .mobile-location-menu(v-click-outside="handleClickOutside")
    .city-name(@click="callPreview")
      app-icon.location(
        name="location"
        width="16"
        height="20"
        fill="#75787b"
      )
      span {{ city }}
    app-icon.link-arrow(
      name="arrow-down"
      width="9"
      height="8"
      fill="#75787b"
    )
    .preview(v-show="isPreviewVisible")
      .close(@click="e => closePreview(e)")
        app-icon.icon(name="close")
      .title Ваш город
      .city {{ city }}
      .controls
        app-button(
          mod="_red _extra-small"
          @click.native="e => closePreview(e)"
        ) Да, спасибо
        app-button(
          mod="_extra-small"
          @click.native="e => callLocationPopup(e)"
        ) Нет, другой
</template>

<script>
export default {
  data: () => ({
    isPreviewVisible: false,
  }),

  computed: {
    city() {
      return this.$store.state.user.city.name;
    },
  },

  methods: {
    callLocationPopup(e) {
      e.stopPropagation();
      this.isPreviewVisible = false;
      this.$modal.show('choose-city');
    },

    callPreview() {
      this.isPreviewVisible = true;
    },

    closePreview(e) {
      e.stopPropagation();
      this.isPreviewVisible = false;
    },

    handleClickOutside() {
      this.isPreviewVisible = false;
    },
  },
};
</script>

<style lang="stylus" scoped>
.mobile-location-menu
  min-height 56px
  line-height 1.5
  display flex
  align-items center
  justify-content space-between
  padding 0 24px
  font-size 12px
  font-weight 600
  color $cyan

.city-name
  display flex
  align-items center

.link-arrow
  transform rotate(-90deg)

.location
  margin-right 10px

.preview
  position: absolute
  z-index: 100
  text-align: center
  top 100%
  left: -1px
  min-width: 320px
  width: 100vw
  background-color #f
  margin 0 auto 0
  padding: 20px 24px 24px
  border 1px solid #ececec
  box-shadow 0px 8px 16px 0px rgba(72, 81, 91, 0.12)

  .app-button._extra-small
    width: 120px

    & + .app-button
      margin-left 12px

.controls
  display: flex
  justify-content: center

.title
  color $grayLight
  font-size: 12px
  margin-bottom: 4px

.city
  font-weight: bold
  color: #0
  font-size: 16px
  margin-bottom: 12px

.close
  position absolute
  top 10px
  right 10px
  width 20px
  height 20px
  display flex
  align-items center
  justify-content center
  cursor pointer
  color #b2b2b2

  .icon
    width 8px
    height 8px
</style>
