<template lang="pug">
  .mobile-subcategories
    .group(
      v-for="category in list"
      :class="{'_active': activeCategory === category.label}"
    )
      template(v-if="category.subCategories && category.subCategories.length")
        .caller(@click="toggleCategory(category.label)")
          .title(:class="{'_hot': category.label === 'SALE'}") {{ category.label }}
          app-icon.link-arrow(
            name="arrow-down"
            width="9"
            height="8"
            fill="#75787b"
          )
        slide-up-down(
          :active="activeCategory === category.label"
          :duration="300"
        )
          .content
            template(v-if="category.subCategories.length > 8")
              .wrapper(v-bar)
                .container
                  nuxt-link.link(
                    v-for="(subCategory, index) in category.subCategories"
                    :key="index + 1"
                    :to="subCategory.url"
                    :class="subCategory.mod"
                  ) {{ subCategory.label }}
            template(v-else)
              .container
                nuxt-link.link(
                  v-for="(subCategory, index) in category.subCategories"
                  :key="index + 1"
                  :to="subCategory.url"
                  :class="subCategory.mod"
                ) {{ subCategory.label }}
      template(v-else)
        nuxt-link.caller(:to="category.url")
          .title {{ category.label }}
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      default: () => ([]),
    },
  },

  data: () => ({
    activeCategory: '',
  }),

  methods: {

    toggleCategory(label) {
      if (this.activeCategory === label) {
        this.activeCategory = '';
      } else {
        this.activeCategory = label;
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.group
  border-bottom 1px solid #ec

.caller
  display flex
  align-items center
  justify-content space-between
  text-decoration none
  min-height 48px
  padding 0 24px

.title,
.link
  line-height 1.5
  font-size 12px
  font-weight 600
  color #0
  cursor pointer
  text-decoration none

  &._hot
    color: $red

.link._active
  color: $cyan

.link-arrow
  transition transform .2s

.group._active .link-arrow
  transform rotate(180deg)

.wrapper
  height 230px
  margin-right 24px

.content
  margin-bottom 24px

.link
  display block
  font-weight 500
  padding 3px 24px
  margin-bottom 5px
</style>
