<template lang="pug">
  nav.site-menu
    // TODO: Подрезка сайта к запуску 1-го этапа
    //nuxt-link.link(to="/blog") Блог
    nuxt-link.link(to="/buyers/bonus/") Бонусная программа
    nuxt-link.link(to="/about/shops/") Салоны
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
.link
  font-size 12px
  font-weight 500
  color $gray
  text-decoration none

  & + &
    margin-left 29px

+tablet()
  .link
    font-size 11px

    & + &
      margin-left 26px
</style>
