<template lang="pug">
  nav.subcategories-menu(v-if="list && list.length")
    .content-wrapper
      .content
        .group(
          v-for="(category, index) in list"
          :key="index + 1"
          v-if="category.total"
        )
          nuxt-link.link(
            :key="index + 1"
            :to="category.url"
            :class="{'_hot': category.label === 'SALE'}"
          ) {{ category.label !== 'SALE' ? category.label : `${category.label} %` }}
          // TODO: поле index только для показа, после удалить
          TypesMenu(
            v-if="category.subCategories && category.subCategories.length && linkHover"
            :categoryId="category.id"
            :list="category.subCategories"
            :index="index + 1"
          )
</template>

<script>
import TypesMenu from '@/components/layout/header/TypesMenu';

export default {
  components: { TypesMenu },

  props: {
    list: {
      type: Array,
      default: () => ([]),
    },
  },

  data: () => ({
    currentCategory: 'women',
    links: [],
    linkHover: false,
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  mounted() {
    this.links = this.$el.querySelectorAll('.link');
    this.changeEventLink('addEventListener');
  },

  beforeDestroy() {
    this.changeEventLink('removeEventListener');
  },

  methods: {
    enableHover() {
      this.linkHover = true;
    },
    disableHover() {
      this.linkHover = false;
    },
    changeEventLink(command) {
      if (!this.links && !this.links.length) { return; }
      this.links.forEach((link) => {
        link[command]('click', this.disableHover);
        link[command]('mouseover', this.enableHover);
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.subcategories-menu
  flex-grow 1

.content
  display flex
  justify-content center
  border-top 1px solid #ec
  border-bottom 1px solid #ec
  position relative

.link
  display: block
  font-size 13px
  font-weight 600
  text-transform uppercase
  text-decoration none
  color #000
  padding 0 24px
  position relative
  height 44px
  line-height 44px

  &._active
    &:after
      content: '';
      position: absolute;
      bottom: -1px;
      right: 0
      left: 0;
      background: #eb0029;
      height: 2px;
      opacity: 1;
      transition: 0.5s;
      z-index: 10;

  &._hot
    color $red

.group

  & + &
    margin-left 55px

.types-menu
  position absolute
  left -20px
  right -20px
  z-index 10
  opacity 0
  visibility hidden
  height 0
  width 0
  overflow hidden
  transition opacity .2s

.group:hover .types-menu
  opacity 1
  visibility visible
  height auto
  width auto

+tablet()
  .subcategories-menu >>> .types-menu
    display: none

  .link
    font-size 12px
    height 40px
    line-height 40px

  .group

    & + &
      margin-left 48px

  .types-menu
    left -34px
    right -34px

</style>
