<template lang="pug">
  nav.types-menu(v-if="visibleTypesMenu")
    .content
      ul.list
        li.item(
          v-for="(subCategory, index) in list"
          :key="index + 1"
        )
          nuxt-link.link(
            @click.native="handleClickLink"
            :to="subCategory.url"
          ) {{ subCategory.label }}
      .promo
        LastArticles(
          view="types-menu"
          :articles="lastArticles"
          :indexMenu="index"
          :typesMenu="typesMenu"
          @click="handleClickLink"
        )
</template>

<script>
import LastArticles from '@/components/index/LastArticles';

export default {
  components: { LastArticles },

  props: {
    list: {
      type: Array,
      default: () => ([]),
    },
    // TODO: поле index только для показа, после удалить
    index: {
      type: [String, Number],
      default: 0,
    },
    categoryId: {
      type: [String, Number],
      default: '',
    },
  },

  data: () => ({
    visibleTypesMenu: true,
  }),

  computed: {
    currentDepartment() {
      return this.$store.state.layout.currentDepartment.label;
    },

    lastArticles() {
      return this.$store.state.mainPage.lastArticles.data;
    },

    typesMenu() {
      const index = `${this.categoryId}`;
      return this.$store.state.layout.topMenu.data[index] || [];
    },
  },

  methods: {
    handleClickLink() {
      this.visibleTypesMenu = false;
      setTimeout(() => {
        this.visibleTypesMenu = true;
      }, 0);
    },
  },

};
</script>

<style lang="stylus" scoped>
.types-menu
  background-color #f
  padding 30px 40px 40px 50px
  border 1px solid #ec
  box-shadow 0px 10px 26px 0px rgba(72, 81, 91, 0.22)

.content
  display flex
  justify-content space-between

.list
  ul-reset()
  columns 2
  column-fill auto
  margin-right -25px
  height 340px

.item
  margin-bottom 2px
  margin-right 25px

.link
  display inline-block
  text-decoration none
  min-width 180px
  font-size 14px
  color #0
  padding 7px 10px
  transition background-color .2s, color .2s

  &::first-letter
    text-transform: uppercase

  &._active
    color $cyan

  &:hover
    color $cyan
    font-weight: 600

.promo
  flex-grow: 1
  max-width calc(100% - 420px)

+tablet()
  .types-menu
    padding 25px 34px 40px 24px

  .item
    margin-bottom 7px
    margin-right 20px

  .list
    height 350px

  .promo
    margin-left 10px
</style>
