<template lang="pug">
  nav.user-menu(v-click-outside="handleClickOutside")
    .content
      template(v-if="isAuthorized")
        .top(@click="toggleDropout")
          .caller
            .avatar-wrapper(v-if="photo && photo['1x']")
              img(
                :src="photo['1x']"
                :srcset="photo['2x']"
              )
            app-icon.icon(
              v-else
              name="user-auth"
              fill="#229595"
            )
          .link Профиль
        app-dropout._auth(:is-active="isDropoutVisible")
          ul.list
            li.item(
              v-for="(link, index) in menu"
              :key="index + 1"
            ): nuxt-link.group(
              :to="link.url"
              :exact="link.exact"
              @click.native="toggleDropout"
            )
              .text {{ link.label }}
              app-counter(v-if="link.count") {{ link.count }}
          ul.list(v-if="status")
            li.item
              .group
                .text Бонусы
                app-counter(mod="_plain") {{ bonus || 0 }}
              .group
                .status {{ status }} статус
          ul.list
            li.item: .group
              .text(@click="handleLogout") Выйти
      template(v-else)
        .top
          .caller(@click="handleAuth")
            app-icon.icon(
              name="user-anon"
              width="20"
              height="21"
              fill="#75787b"
            )
</template>

<script>
import MENU from '@/assets/json/menu.json';

export default {
  data: () => ({
    isDropoutVisible: false,
    menu: MENU,
  }),

  computed: {
    photo() {
      return this.$store.state.user.personal.data.photo;
    },

    isAuthorized() {
      return this.$store.state.user.isAuthorized;
    },

    bonus() {
      const { balance } = this.$store.state.user.personal.data;
      if (!balance || !balance.accounts || Array.isArray(balance.accounts)) { return ''; }

      return balance.accounts.bonus.balance;
    },

    status() {
      const { balance } = this.$store.state.user.personal.data;
      if (!balance) { return ''; }

      return balance.status.name;
    },
  },

  methods: {
    handleClickOutside() {
      this.isDropoutVisible = false;
    },

    handleLogout() {
      this.$store.dispatch('user/LOGOUT');
      this.isDropoutVisible = false;
      this.$router.push('/');
    },

    handleAuth() {
      this.isDropoutVisible = false;
      this.$modal.show('auth', { redirect: '/account/' });
    },

    toggleDropout() {
      this.isDropoutVisible = !this.isDropoutVisible;
    },
  },
};
</script>

<style lang="stylus" scoped>
.user-menu
  position relative

.top
  display flex
  align-items center
  cursor pointer
  height 28px

.link
  margin-left 13px
  font-size 14px
  font-weight 500
  color #000
  text-decoration none
  cursor pointer
  position relative
  top -3px

.app-dropout
  position absolute
  top 43px
  left -33px
  padding 24px 31px

.list
  ul-reset()

  & + &
    margin-top 27px

.item
  font-size 14px
  color #0
  font-weight 600
  text-decoration none
  cursor pointer
  white-space nowrap
  width 100%

  & + &
    margin-top 16px

.group
  display flex
  justify-content space-between
  color #0
  text-decoration none

  & + &
    margin-top 5px

  &._active
    color: $red

.status
  font-size 13px
  font-weight normal
  color $gray

.icon
  width 18px
  height 21px

.avatar-wrapper
  width 28px
  height 28px
  border 2px solid $red
  border-radius 50%
  overflow hidden
  position relative
  top -2px

  img
    width 100%

+tablet()

  .link
    display none

  .app-dropout
    position absolute
    top 43px
    left auto
    right -117px
    padding 24px 31px

+mobile()
  .icon
    height 19px

  .app-dropout
    top 38px
    left auto
    right -81px
</style>
