<template lang="pug">
  .login
    .content
      .top._desktop
        .title Вход
        .states
          .state(
            :class="{'_active': currentState === 'email'}"
            @click="currentState = 'email'"
          ) по Email
          .state(
            :class="{'_active': currentState === 'phone'}"
            @click="currentState = 'phone'"
          ) по телефону
      .top._tablet-and-mobile
        .title
          span Вход&nbsp;
          span.state(
            :class="{'_active': currentState === 'email'}"
            @click="currentState = 'email'"
          ): b по Email
          span &nbsp;или&nbsp;
          span.state(
            :class="{'_active': currentState === 'phone'}"
            @click="currentState = 'phone'"
          ): b по телефону
      form.form(@submit.prevent="handleSubmit")
        .form-content(v-if="currentState === 'email'")
          .row(v-if="backendError")
            .error
              span {{ backendError }}
          .row(v-if="$v.email")
            app-input(
              type="email"
              placeholder="E-mail"
              v-model.trim="$v.email.$model"
              key="email"
            )
            .error(v-if="$v.email.$dirty")
              span(v-if="!$v.email.required") Обязательное поле
              span(v-else-if="!$v.email.email") Некорректный email
          .row(v-if="$v.password")
            app-input(
              type="password"
              placeholder="Пароль"
              v-model.trim="$v.password.$model"
              key="password"
            )
            .error(v-if="$v.password.$dirty")
              span(v-if="!$v.password.required") Обязательное поле
              span(v-else-if="!$v.password.minLength") Пароль должен быть минимум 6 символов
          .row._checkbox
            app-checkbox(:checked="shouldRemember") Запомнить меня
            .link(
              @click="currentState = 'recover'"
            ): a Забыли пароль?
        .form-content(v-else-if="currentState === 'phone'")
          .row(v-if="backendError")
            .error
              span {{ backendError }}
          .row(v-if="$v.phone")
            app-input(
              placeholder="Телефон"
              v-mask="'+7 (###) ###-##-##'"
              v-model="$v.phone.$model"
              @focus="correctPhone"
              key="phone"
            )
            .error(v-if="$v.phone.$dirty")
              span(v-if="!$v.phone.required") Обязательное поле
              span(v-else-if="!$v.phone.minLength") Телефон введен неверно

          .row(v-if="$v.password")
            app-input(
              type="password"
              placeholder="Пароль"
              v-model.trim="$v.password.$model"
              key="password"
            )
            .error(v-if="$v.password.$dirty")
              span(v-if="!$v.password.required") Обязательное поле
              span(v-else-if="!$v.password.minLength") Пароль должен быть минимум 6 символов
          .row._checkbox
            app-checkbox(:checked="shouldRemember") Запомнить меня
            .link(
              @click="currentState = 'recover'"
            ): a Забыли пароль?
        .form-content(v-else-if="currentState === 'recover'")
          .row(v-if="backendError")
            .error
              span {{ backendError }}
          .row(v-if="information")
            .information
              span {{ information }}
          .row
            .description Введите ваш E-mail, мы вышлем на него информацию для смены пароля.
          .row
            app-input(
              type="email"
              placeholder="E-mail"
              v-model.trim="$v.email.$model"
              key="email"
            )
            .error(v-if="$v.email.$dirty")
              span(v-if="!$v.email.required") Обязательное поле
              span(v-else-if="!$v.email.email") Некорректный email
          .row._checkbox
            .link(@click="currentState = 'email'"): a Назад ко входу
        .submit
          app-button(
            v-if="currentState === 'recover'"
            mod="_red"
          ) Отправить
          app-button(
            v-else-if="currentState === 'phone'"
            mod="_red"
          ) Войти в кабинет
          app-button(
            v-else
            mod="_red"
          ) Войти в кабинет
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators';

export default {
  props: {
    redirect: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    currentState: 'email',
    password: '',
    phone: '',
    email: '',
    shouldRemember: true,
    submitStatus: '',
    backendError: '',
    information: '',
  }),

  methods: {
    handleSubmit() {
      this.$v.$touch();
      this.backendError = '';
      this.information = '';

      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR';
      } else {
        switch (this.currentState) {
          case 'recover':
            this.$store.dispatch('user/RECOVER_PASSWORD', {
              email: this.email,
            }).then((response) => {
              this.information = response.MESSAGE;
              setTimeout(() => {
                this.$modal.hide('auth');
              }, 2000);
            }).catch((e) => {
              this.backendError = e.message;
            });
            break;
          default:
            this.$store.dispatch('user/LOGIN', {
              email: this.email,
              password: this.password,
              phone: this.phone,
            }).then(() => {
              if (this.redirect) {
                this.$router.push(this.redirect);
              }
              this.$modal.hide('auth');
            }).catch((e) => {
              this.backendError = e.message;
            });
        }
      }
    },

    correctPhone(e) {
      if (!e.target.value) {
        this.phone = '+7 (';
      }
    },
  },

  validations() {
    switch (this.currentState) {
      case 'email':
        return {
          email: {
            required,
            email,
          },
          password: {
            required,
            minLength: minLength(6),
          },
        };
      case 'phone':
        return {
          phone: {
            required,
            minLength: minLength(18),
          },
          password: {
            required,
            minLength: minLength(6),
          },
        };
      case 'recover':
        return {
          email: {
            required,
            email,
          },
        };
      default:
        return {};
    }
  },
};
</script>

<style lang="stylus" scoped>
.login
  padding 53px 60px 60px

.content
  height 100%

.title
  font-family 'Century Gothic'
  font-size 20px
  font-weight bold
  color #0
  margin-bottom 29px

.top
  position relative

  &._tablet-and-mobile
    display none

.states
  position absolute
  top 6px
  right 0
  display flex
  align-items center

.state
  font-size 13px
  font-weight 600
  color #0
  cursor pointer

  &._active
    color $red
    cursor inherit

  & + &
    margin-left 13px

.form
  min-height 345px
  position relative
  padding-bottom 70px
  height calc(100% - 52px)

.error
  font-size 12px
  color $red
  margin 5px 0 0

.information
  font-size 12px
  color $cyan
  margin 5px 0 0

.row

  & + &
    margin-top 20px

  &._checkbox
    margin-top 18px
    display flex
    align-items center
    justify-content space-between

.description
  font-size 13px
  color #0
  line-height 1.4

.link
  font-size 13px
  font-weight 500
  cursor pointer

  a
    color $red

.socials
  padding-top 35px

.submit
  position absolute
  bottom 0
  left 0
  right 0

+tablet()
  .login
    padding 32px 32px 32px

  .top
    margin-bottom 12px

    &._desktop
      display none

    &._tablet-and-mobile
      display flex

  .title
    font-family 'Montserrat'
    font-size 12px
    font-weight 400
    margin-bottom 0

  .states
    position static

  .state
    font-size 12px
    font-weight 400
    color #0
    cursor pointer

    &._active
      color $red
      font-weight 600
      cursor inherit

  .form
    min-height 292px

  .row

    & + &
      margin-top 16px

+mobile()
  .login
    padding 20px 24px 24px

  .row._checkbox
    flex-direction column
    align-items flex-start

    * + .link
      margin-top 27px

  .form
    min-height 302px

  .socials
    padding-top 20px
</style>
