<template lang="pug">
  .registration(:class="view ? `_${view}` : ''")
    .content
      template(v-if="view === 'checkout-done'")
        .top
          .title
            span Зарегистрируйтесь
            br
            span и&nbsp;
            span.red получите 500 бонусов
      template(v-else)
        .top
          .title Новый пользователь
      form.form(@submit.prevent="handleSubmit")
        template(v-if="registrationStep === 'personal'")
          .row(v-if="backendError")
            .error
              span {{ backendError }}
          .row
            app-input(
              type="text"
              placeholder="Имя"
              v-model.trim="$v.name.$model"
            )
            .error(v-if="$v.name.$dirty")
              span(v-if="!$v.name.required") Обязательное поле
              span(v-if="$v.name.required && !$v.name.validateName")
                | В имени допускаются только кириллица и тире
          .row
            app-input(
              type="email"
              placeholder="E-mail"
              v-model.trim="$v.email.$model"
            )
            .error(v-if="$v.email.$dirty")
              span(v-if="!$v.email.required") Обязательное поле
              span(v-else-if="!$v.email.email") Некорректный email
          .row
            app-input(
              placeholder="Телефон"
              v-mask="'+7 (###) ###-##-##'"
              v-model.trim="$v.phone.$model"
              @focus="correctPhone"
            )
            .error(v-if="$v.phone.$dirty")
              span(v-if="!$v.phone.required") Обязательное поле
              span(v-else-if="!$v.phone.minLength") Телефон введен неверно
              span(v-else-if="!$v.phone.maxLength") Телефон введен неверно
          .row
            app-input(
              type="password"
              placeholder="Придумайте пароль *"
              v-model.trim="$v.password.$model"
            )
            .error(v-if="$v.password.$dirty")
              span(v-if="!$v.password.required") Обязательное поле
              span(v-else-if="!$v.password.minLength") Пароль должен быть минимум 6 символов
          .row._checkbox
            app-checkbox(
              :checked="isAgree"
              @change="isAgree = !isAgree"
            ) Вы соглашаетесь с&nbsp;
            .link: a(href="/about/protection-of-information/") правилами
          template(v-if="view === 'checkout-done'")
            .submit
              app-button(
                :disabled="!isAgree"
              ) Зарегистрироваться
          template(v-else)
            .submit
              app-button(:disabled="!isAgree") Зарегистрироваться
        template(v-else)
          .row(v-if="backendError")
            .error
              span {{ backendError }}
          .row(v-if="information")
            .information
              span {{ information }}
          .row(v-if="$v.code")
            .description Мы отправили СМС с кодом на указаный номер {{ trimmedPhone }}
          .row(v-if="$v.code")
            app-input(
              type="text"
              placeholder="Код из СМС"
              v-model.trim="$v.code.$model"
              key="code"
            )
            .error(v-if="$v.code.$dirty")
              span(v-if="!$v.code.required") Обязательное поле
              span(v-else-if="!$v.code.minLength") Код должен быть минимум 4 символов
          .row._checkbox
            .link
              span Не пришло СМС?&nbsp;
              a(
                href="javascript:void(0);"
                @click="sendCodeAgain"
              ) Выслать еще раз.
          .submit
            app-button Подтвердить и войти
</template>

<script>
import {
  required,
  email,
  minLength,
  maxLength,
} from 'vuelidate/lib/validators';
import validateName from '@/helpers/customValidations';

export default {
  props: {
    view: {
      type: String,
      default: '',
    },

    redirect: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    name: '',
    email: '',
    phone: '',
    password: '',
    code: '',
    isAgree: true,
    submitStatus: '',
    backendError: '',
    information: '',
  }),

  computed: {
    user() {
      return this.$store.state.checkout.contacts || {};
    },

    registrationStep() {
      return this.$store.state.user.registrationStep;
    },

    trimmedPhone() {
      const phone = this.phone.toString()
        .substr(this.phone.length - 5).split('-').join('');
      return `******${phone}`;
    },
  },

  mounted() {
    this.name = this.user.name || '';
    this.email = this.user.email || '';
    this.phone = this.user.phone || '';
  },

  validations() {
    switch (this.registrationStep) {
      case 'personal':
        return {
          name: {
            required,
            validateName,
          },
          email: {
            required,
            email,
          },
          phone: {
            required,
            minLength: minLength(18),
            maxLength: maxLength(18),
          },
          password: {
            required,
            minLength: minLength(6),
          },
        };
      case 'code':
        return {
          code: {
            required,
            minLength: minLength(6),
          },
        };
      default:
        return {};
    }
  },

  methods: {
    handleSubmit() {
      this.$v.$touch();
      this.backendError = '';
      this.information = '';

      if (this.$v.$invalid) {
        return;
      }

      switch (this.view) {
        case 'checkout-done':
          this.$emit('submit');
          break;
        default:
          switch (this.registrationStep) {
            case 'code':
              this.$store.dispatch('user/REGISTRATION_CODE', {
                code: this.code,
              }).then(() => {
                if (this.redirect) {
                  this.$router.push(this.redirect);
                }
                this.$modal.hide('auth');
              }).catch((e) => {
                this.backendError = e.message;
              });
              break;
            default:
              this.$store.dispatch('user/REGISTRATION_PERSONAL', {
                name: this.name,
                password: this.password,
                email: this.email,
                phone: this.phone,
              }).catch((e) => {
                this.backendError = e.message;
              });
          }
      }
    },

    correctPhone(e) {
      if (!e.target.value) {
        this.phone = '+7 (';
      }
    },

    sendCodeAgain() {
      this.information = 'Код отправлен повторно';
      this.$store.dispatch('user/REGISTRATION_PERSONAL', {
        name: this.name,
        password: this.password,
        email: this.email,
        phone: this.phone,
      }).catch((e) => {
        this.backendError = e.message;
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.registration
  background #f8f8f8
  padding 53px 60px 60px
  border-left 1px solid #ececec

  >>> .text
    margin 0 0 0 14px
    font-size 13px

  .form
    min-height 345px
    position relative
    padding 0 0 70px
    height calc(100% - 52px)

  .title
    font-family 'Century Gothic'
    font-size 20px
    font-weight bold
    color #0
    margin-bottom 29px

  .error
    font-size 12px
    color $red
    margin 5px 0 0
    padding 0

  .information
    font-size 12px
    color $cyan
    margin 5px 0 0
    padding 0

  &._checkout-done
    padding 0
    border none
    background none

    .title
      text-align center

.content
  height 100%

.red
  color $red

.description
  font-size: 13px
  color: #000
  line-height: 1.4

.row

  & + &
    margin-top 20px

  &._checkbox
    margin-top 18px
    display flex
    align-items center

.link
  display inline-block
  font-size 13px
  font-weight 500

  a
    color #269797
    text-decoration none

.submit
  position absolute
  bottom 0
  left 0
  right 0

  .app-button
    border-width 1px

+tablet()
  .registration
    padding 32px 32px 32px
    background #f
    border none

    &._checkout-done

      .title
        display block

  .title
    display none

  .form
    min-height 292px

  .row

    & + &
      margin-top 16px

    &._checkbox
      margin-top 16px

+mobile()
  .registration
    padding 20px 24px 24px

  .form
    min-height 302px
</style>
