<template lang="pug">
  nav.socials
    .title Войти с помощью соцсетей:
    .container
      a.link._vk(href="javascript:void(0);")
        app-icon.icon(
          name="vk"
          width="20"
          height="14"
        )
      a.link._fb(href="javascript:void(0);")
        app-icon.icon(
          name="fb"
          width="9"
          height="14"
        )
      a.link._tw(href="javascript:void(0);")
        app-icon.icon(
          name="tw"
          width="17"
          height="14"
        )
      a.link._google(href="javascript:void(0);")
        app-icon.icon(
          name="google"
          width="23"
          height="16"
        )
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
.container
  display flex
  align-items center

.title
  font-size 13px
  font-weight 500
  color $gray
  letter-spacing -0.3px
  margin-bottom 20px

.link
  display flex
  align-items center
  justify-content center
  text-decoration none
  border-radius 50%
  border 1px solid #ec
  color #0
  width 44px
  height 44px

  &._vk
    color #4c75a1

  &._fb
    color #3d5998

  &._tw
    color #5ea9dd

  &._google
    color #e3562e

  & + &
    margin-left 12px

+tablet()
  .title
    margin-bottom 10px

  .link
    width 34px
    height 34px
</style>
