<template lang="pug">
  .app-breadcrumbs
    slot
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
.app-breadcrumbs
  display flex

.item
  font-size 13px
  font-weight 500
  color $grayLight
  text-decoration none

  & + &
    margin-left 3px
</style>
