<template lang="pug">
  .app-color-indicator(
    :class="[whiteClass, mod]"
    :style="`background: ${color}`"
    @click="handleClick"
  )
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '',
    },
    mod: {
      type: String,
      default: '',
    },
  },
  computed: {
    whiteClass() {
      return {
        _white: this.color.toLowerCase() === '#fff' || this.color.toLowerCase() === '#ffffff',
      };
    },
  },
  methods: {
    handleClick() {
      this.$emit('click', this.color);
    },
  },
};
</script>

<style lang="stylus" scoped>
.app-color-indicator
  cursor: pointer
  border-radius 50%
  width 12px
  height 12px

  &._white
    box-shadow inset 0px 0px 0px 1px rgba(236,236,236,1)

  &._big
    width 16px
    height 16px
</style>
