<template lang="pug">
  .app-counter(:class="mod")
    slot
</template>

<script>
export default {
  props: {
    mod: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="stylus" scoped>
.app-counter
  display inline-block
  padding 0 5px
  height 16px
  line-height 16px
  border-radius 8px
  background $red
  font-size 11px
  font-weight bold
  color #f

  &._plain
    font-size 14px
    font-weight bold
    color $red
    background transparent
</style>
