<template lang="pug">
  .app-filter(v-click-outside="handleClickOutside")
    .caller(
      :class="classCaller"
    )
      .caller-main(
        @click="toggleDropout"
      )
        span.title {{ title }}
        app-icon.link-arrow(
          name="arrow-down"
          width="9"
          height="8"
          fill="#75787b"
        )
      app-icon.link-clear(
        name="close"
        width="9"
        height="8"
        @click.native="handleClearFilter"
      )
    app-dropout(
      ref="dropout"
      :is-active="isDropoutVisible"
      :is-destroyed="true"
    )
      slot
</template>

<script>

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    isDropoutVisible: false,
    defaultLeft: -22,
  }),
  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
    classCaller() {
      const selectedFilter = this.$store.state.catalogPage.filters.selected[this.type] || false;

      if (this.type === 'price') {
        return {
          _active: this.isDropoutVisible,
          _selected: selectedFilter.start || selectedFilter.end,
        };
      }

      return {
        _active: this.isDropoutVisible,
        _selected: selectedFilter.length > 0,
      };
    },
  },

  methods: {
    async handleClearFilter() {
      this.$store.commit('catalogPage/CLEAR_FILTER', this.type);
      const query = { ...this.$route.query };
      if (this.type === 'price') {
        delete query.minPrice;
        delete query.maxPrice;
      } else {
        delete query[this.type];
      }

      this.$router.push({
        query,
      });
    },

    handleClickOutside() {
      this.isDropoutVisible = false;
    },

    toggleDropout() {
      this.isDropoutVisible = !this.isDropoutVisible;

      if (this.isMobile) return;
      setTimeout(this.changeLeft, 0);
    },

    changeLeft() {
      const dropout = this.$refs.dropout.$el;
      const distance = this.distanceOutOfWindow(dropout);
      const scrollWidth = 17;

      if (this.isDropoutVisible && distance > 0) {
        dropout.style.left = `${this.defaultLeft - distance - scrollWidth}px`;
      } else {
        dropout.style.left = `${this.defaultLeft}px`;
      }
    },

    distanceOutOfWindow(el) {
      const rect = el.getBoundingClientRect();

      return rect.right - (window.innerWidth || document.documentElement.clientWidth);
    },
  },
};
</script>

<style lang="stylus" scoped>
.app-filter
  position relative

.link-clear
  display: none

.caller
  font-size 13px
  font-weight 600
  color #0
  cursor pointer
  user-select none
  display: flex
  align-items: baseline

  &._active

    .title
      color $red

    .link-arrow
      transform rotate(180deg)

  &._selected

    .link-clear
      display: inline-block
      z-index: 2
      color: red

    .link-arrow
      display: none

.link-arrow, .link-clear
  margin-left 6px
  position relative
  top 0
  transition transform .2s

.app-dropout
  position absolute
  top 41px
  padding 23px 23px 29px
  min-width 198px

.title
  color #0
  transition color .2s


+tablet()
  .app-dropout
    position: relative
    top: 0
    left: 0
    padding: 0
    border: 0
    box-shadow none
    &._active
      padding 17px 14px 7px 0

  .caller
    display: flex
    align-items: center

    &-main
      flex-grow 1
      display: flex
      align-items: center
      position: relative

  .caller._active

    .caller-main
      padding-bottom: 13px
      bottom-line()

    .link-clear
      margin-top: -13px

  .link-arrow
    margin-left: auto
</style>
