<template lang="pug">
  .app-item-badges(:class="mod")
    .badge._new(v-if="isNew") NEW
    .badge._discount(v-if="discount") {{ discount }}
</template>

<script>
export default {
  props: {
    isNew: {
      type: Boolean,
      default: false,
    },
    discount: {
      type: [String, Number],
      default: '',
    },
    mod: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="stylus" scoped>
.app-item-badges
  display flex

.badge
  font-size 12px
  font-weight 600
  height 17px
  color #f

  & + &
    margin-left 10px

  &._new
    background $cyan
    padding 1px 6px

  &._discount
    background $red
    padding 1px 4px

+tablet()
  .badge
    font-size: 10px
    line-height: 13px
    height 15px

  &._discount
    padding 2px 4px

+mobile()

  .badge
    font-size 13px
    font-weight 600
    height 17px

    &._new
      padding 2px 6px

    &._discount
      padding 2px 4px

  .app-item-badges

    &._ultra-small

      .badge
        font-size 10px
        font-weight 600
        height 13px

        &._new
          padding 1px 3px

        &._discount
          padding 1px 3px

</style>
