<template lang="pug">
  .app-metro-indicator(:class="mod")
    .icon(:style="`background-color: ${color}`"): span м
    .text(v-if="this.$slots.default")
      slot
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '',
    },
    mod: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="stylus" scoped>
.app-metro-indicator
  display flex
  align-items center

.icon
  border-radius 50%
  width 17px
  height 17px
  position relative
  font-size 12px
  font-weight 700
  color #f
  margin-right 5px

  span
    absolute-centered()
    text-align center
    right -1px

.text
  font-size 13px
  color $gray
</style>
