<template lang="pug">
  .app-magnifier(
    :class="{'_active': isActive}"
    v-click-outside="handleClickOutside"
  )
    .image-wrapper
      img.image(
        ref="image"
        :src="src"
      )
</template>

<script>
import doubleClick from '@/helpers/doubleClick';

const ADD_EVENT = 'addEventListener';
const REMOVE_EVENT = 'removeEventListener';

export default {
  props: {
    src: {
      type: String,
      default: '',
    },
    slider: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    isActive: false,
    doubleZoom: false,
    initX: 0,
    initY: 0,
    firstX: 0,
    firstY: 0,
    scaleStart: 1,
    scaleEnd: 1,
    maxScale: 3,
    width: 0,
    height: 0,
    isPinch: false,
    touches: {
      start: [],
      end: [],
    },
    touchModuleVector: {
      start: 0,
      end: 0,
    },
    transform: {},
    touchDiff: 0,
    negative: false,
    positive: false,
  }),

  computed: {
    isMobile() {
      return this.$store.state.layout.isMobile;
    },
  },

  mounted() {
    const { width, height } = this.$refs.image;
    this.width = width;
    this.height = height;

    this.setActionToEventClick(ADD_EVENT);

    this.$refs.image.addEventListener('touchstart', this.scaleTouchStart);
    this.$refs.image.addEventListener('touchmove', this.scaleTouchMove);
    this.$refs.image.addEventListener('touchend', this.scaleTouchStart);
  },

  methods: {

    positionTouches(touches) {
      return Array.from(touches).map(({ clientX, clientY }) => ({
        x: Math.round(clientX),
        y: Math.round(clientY),
      }));
    },

    moduleVectorTouches(touches) {
      return touches
        .reduce((touch1, touch2) => {
          const x = (touch1.x - touch2.x) ** 2;
          const y = (touch1.y - touch2.y) ** 2;
          return Math.sqrt(x + y);
        });
    },

    scaleTouchStart(e) {
      this.isPinch = e.touches.length === 2;
      if (!this.isPinch) { return; }
      this.touches.start = this.positionTouches(e.touches);
      this.touchModuleVector.start = this.moduleVectorTouches(this.touches.start);
      this.scaleStart = this.scaleEnd;
    },

    scaleTouchMove(e) {
      if (!this.isPinch) { return; }
      this.touches.end = this.positionTouches(e.touches);
      this.touchModuleVector.end = this.moduleVectorTouches(this.touches.end);

      const { start, end } = this.touchModuleVector;
      this.touchDiff = (end - start) / this.width;
      this.pinch(this.touchDiff);
    },

    pinch(diff) {
      this.scaleEnd = this.scaleStart + diff;
      if (this.scaleEnd <= 1) {
        this.scaleEnd = 1;
      } else if (this.scaleEnd >= this.maxScale) {
        this.scaleEnd = this.maxScale;
      }

      this.scaleImg(this.scaleEnd);
      if (this.scaleEnd !== 1) {
        this.enableZoom();
      } else {
        this.disableZoom();
      }
    },

    handleClick(e) {
      if (this.isPinch) { return; }

      const {
        offsetX, offsetY,
      } = e;

      const {
        width, height,
      } = e.currentTarget;

      this.transform = {
        leftPercent: offsetX / width * 100,
        topPercent: offsetY / height * 100,
      };


      if (!this.isActive) {
        this.enableZoom();
        this.scaleImg(1.5);
        this.scaleStart = 1.5;
      } else if (!this.doubleZoom) {
        this.doubleZoom = true;
        this.resetPositionImage();
        this.scaleImg(3);
        this.scaleStart = 3;
      } else {
        this.doubleZoom = false;
        this.disableZoom();
      }
    },

    handleDoubleClick: doubleClick(function handleDoubleClick(e) {
      this.handleClick(e);
    }, 500),

    setActionToEventClick(action) {
      this.$refs.image[action]('click', this.isMobile
        ? this.handleDoubleClick
        : this.handleClick);
    },

    setActionToEventStart(action) {
      this.$refs.image[action]('touchstart', this.enableDrag);
      this.$refs.image[action]('mousedown', this.enableDrag);
    },

    setActionToEventMove(action) {
      this.$refs.image[action]('touchmove', this.handleSwipe, false);
      this.$refs.image[action]('touchmove', this.disableDefaultEvent);
      this.$refs.image[action]('mousemove', this.handleSwipe, false);
    },

    setActionToEventEnd(action) {
      this.$refs.image[action]('mouseup', this.eventUp);
    },

    scaleImg(value) {
      if (value === 1) {
        this.initStyleImg();
        this.resetPositionImage();
        this.sliderActive();
        this.$refs.image.style.transform = 'scale(1)';
      } else {
        this.$refs.image.style.maxWidth = 'none';
        this.$refs.image.style.maxHeight = 'none';
        this.$refs.image.style.transform = `scale(${value})
         translate(${50 - this.transform.leftPercent}%, ${50 - this.transform.topPercent}%)`;
      }
    },

    sliderActive() {
      if (!this.slider.swiper) { return; }
      this.slider.swiper.attachEvents();
    },

    sliderDisable() {
      if (!this.slider.swiper) { return; }
      this.slider.swiper.detachEvents();
      this.slider.swiper.detachEvents();
    },

    initStyleImg() {
      this.$refs.image.style.width = 'auto';
      this.$refs.image.style.height = 'auto';
      this.$refs.image.style.maxWidth = '100%';
      this.$refs.image.style.maxHeight = '100%';
    },

    resetPositionImage() {
      this.$refs.image.style.left = 'auto';
      this.$refs.image.style.top = 'auto';
    },

    enableZoom() {
      if (this.isActive) return;

      this.isActive = true;

      this.sliderDisable();
      this.setActionToEventStart(ADD_EVENT);
      this.setActionToEventEnd(ADD_EVENT);
    },

    eventUp() {
      this.setActionToEventMove(REMOVE_EVENT);
    },

    enableDrag(e) {
      if (e.type === 'mousedown') {
        e.preventDefault();
      }

      const coords = e.touches ? e.touches[0] : e;

      this.initX = this.$refs.image.offsetLeft;
      this.initY = this.$refs.image.offsetTop;
      this.firstX = coords.pageX;
      this.firstY = coords.pageY;

      this.setActionToEventClick(REMOVE_EVENT);
      this.setActionToEventClick(ADD_EVENT);
      this.setActionToEventMove(ADD_EVENT);
    },

    handleSwipe(e) {
      e.stopPropagation();

      const coords = e.touches ? e.touches[0] : e;

      e.target.style.left = `${this.initX + coords.pageX - this.firstX}px`;
      e.target.style.top = `${this.initY + coords.pageY - this.firstY}px`;

      this.setActionToEventClick(REMOVE_EVENT);

      const deltaX = Math.abs(coords.pageX - this.firstX);
      const deltaY = Math.abs(coords.pageY - this.firstY);

      if (!deltaX && !deltaY) {
        this.setActionToEventClick(ADD_EVENT);
      }
    },

    disableZoom() {
      if (!this.isActive) return;

      this.isActive = false;
      this.doubleZoom = false;

      this.initStyleImg();
      this.resetPositionImage();
      this.scaleImg(1);
      this.scaleStart = 1;
      this.scaleEnd = 1;

      this.setActionToEventClick(REMOVE_EVENT);
      this.setActionToEventStart(REMOVE_EVENT);
      this.setActionToEventMove(REMOVE_EVENT);
      this.setActionToEventEnd(REMOVE_EVENT);

      this.setActionToEventClick(ADD_EVENT);
    },

    disableDefaultEvent(e) {
      e.preventDefault();
    },

    handleClickOutside() {
      this.disableZoom();
    },
  },
};
</script>

<style lang="stylus" scoped>
.app-magnifier
  height 280px
  width 280px
  position relative

.touch
  width: 100%
  height: 100%

.controls
  position absolute
  top 8px
  left 8px
  z-index 100

.button
  width 40px
  height 40px
  border-radius 50%
  border 1px solid #ec
  display flex
  align-items center
  justify-content center
  background-color #f

  & + &
    margin-top 8px

.image-wrapper
  width 100%
  height 100%
  overflow hidden
  display flex
  align-items center
  justify-content center

.image
  max-width 100%
  max-height 100%

  &:hover
    cursor: url("/img/searchgrey_2x.cur") 13 15,sw-resize

.app-magnifier._active
  .image-wrapper
    position relative

  .image
    position absolute
    top 0
    max-width none
    max-height none
</style>
