<template lang="pug">
  .app-mobile-filter
    .caller(
      :class="classCaller"
    )
      .caller-main(
        @click="toggleDropout"
      )
        span.title {{ title }}
        app-icon.link-arrow(
          name="arrow-down"
          fill="#75787b"
        )
      app-icon.link-clear(
        name="close"
        width="9"
        height="8"
        @click.native="handleClearFilter"
      )
    slide-up-down(
      :active="active === type"
      :duration="0"
      v-show="active === type"
    )
      .content
        slot
</template>

<script>

export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: '',
    },
    active: {
      type: String,
      default: 'colors',
    },
  },

  computed: {
    classCaller() {
      const selectedFilter = this.$store.state.catalogPage.filters.selected[this.type] || false;
      return {
        _active: this.active === this.type,
        _selected: selectedFilter ? selectedFilter.length : false,
      };
    },
  },

  methods: {
    handleClearFilter() {
      this.$store.commit('catalogPage/CLEAR_FILTER', this.type);
    },

    toggleDropout() {
      this.$emit('click', this.type);
    },
  },
};
</script>

<style lang="stylus" scoped>
+tablet()
  .app-mobile-filter
    position relative

  .content
    padding: 16px 0 5px

  .link-clear
    display: none

  .link-arrow, .link-clear
    margin-left 6px
    position relative
    top 0
    transition transform .2s

  .link-arrow
    margin-left: auto
    width 9px
    height 8px

  .title
    color #0
    transition color .2s

  .caller
    font-size 13px
    font-weight 600
    color #0
    cursor pointer
    user-select none
    display: flex
    align-items: center

    &-main
      flex-grow 1
      display: flex
      align-items: center
      position: relative

    &._active

      .title
        color $red

      .link-arrow
        transform rotate(180deg)

      .caller-main
        padding-bottom: 13px
        bottom-line()

      .link-clear
        margin-top: -13px

    &._selected

      .link-clear
        display: inline-block
        z-index: 2
        color: red

      .link-arrow
        display: none

+mobile()

  .content
    padding 10px 0 0

  .caller
    font-size 14px

  .link-arrow
    width 14px
    height 12px

</style>
