<template lang="pug">
  .app-product-item(:class="view ? `_${view}` : ''")
    .content
      // TODO: Подрезка сайта к запуску 1-го этапа
      .favourite-wrapper(style="display: none")
        .favourite-caller(
          :class="{'_favourite': isFavourite }"
          @click="handleClickFavourite"
          :title="view === 'favourite' ? 'Убрать из избранного' : ''"
        )
          app-icon.favourite-icon._empty(
            name="heart-regular"
            width="17"
            height="15"
          )
          app-icon.favourite-icon._full(
            name="heart-solid"
            width="17"
            height="15"
          )
      .image-wrapper(
        v-if="info.images"
        @click="processClick(info)"
      )
        img.image(
          v-if="currentImage.footwear"
          :src="currentImage.footwear['1x']"
          :srcset="currentImage.footwear['2x']"
          :alt="info.name"
          :class="classImage('footwear')"
        )
        img.image(
          v-if="currentImage.model"
          :src="currentImage.model['1x']"
          :srcset="currentImage.model['2x']"
          :alt="info.name"
          :class="classImage('model')"
        )
      .badge-wrapper
        app-item-badges(
        :is-new="info.isNew"
        :discount="discount"
        )
      .main-wrapper
        .price-wrapper
          .old-price(v-if="info.oldPrice")
            span._tablet {{ `${info.oldPrice.toLocaleString('ru')}` }}
            span._mobile {{ `${info.oldPrice.toLocaleString('ru')}` }}
          .price(
            v-if="info.price"
            :class="{'_discount': info.oldPrice}"
          )
            span {{ `${info.price.toLocaleString('ru')} руб.` }}
        .title {{ title }}
        .sizes(v-if="activeSizes")
          span.size(
            v-for="(size, index) in activeSizes"
            :key="index + 1"
          ) {{ size }}
        .colors(v-if="info.colors && info.colors.length > 1")
          app-color-indicator(
            v-for="(color, index) in info.colors"
            :key="index + 1"
            :color="color.value"
            :title="color.name"
            mod="_big"
            @click="(code) => handleClickColor({code, index, color})"
          )
      .controls-wrapper
        app-button(
          mod="_catalog-item"
          @click.native="showPreview"
        ) Быстрый просмотр
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
    view: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    activeSizes: [],
    isFavourite: false,
    currentColor: {
      index: 0,
      id: 0,
      name: '',
    },
  }),
  computed: {
    title() {
      return this.info.name;
    },
    currentCardType() {
      return this.$store.state.catalogPage.products.currentCardType;
    },
    currentImage() {
      // TODO: Переделать
      const colors = this.info.colors[this.currentColor.index] || {};
      if (colors.media && colors.media.length) {
        return {
          footwear: colors.media[0],
          model: colors.media[0],
        };
      }
      return {
        footwear: {
          '1x': '/zaglushka.png',
          '2x': '/zaglushka.png',
        },
        model: {
          '1x': '/zaglushka.png',
          '2x': '/zaglushka.png',
        },
      };
    },
    discount() {
      return this.info.discount
        ? `-${this.info.discount}%`
        : '';
    },
  },
  mounted() {
    if (this.info.colors && this.info.colors.length) {
      this.activeSizes = [...new Set(this.info.colors[0].sizes
        .map(({ value }) => value))]
        .sort((a, b) => a - b);
    } else {
      this.activeSizes = null;
    }

    this.isFavourite = this.info.isFavourite;
  },
  methods: {
    showPreview() {
      return Promise.all([
        this.$store.dispatch('detailPage/FETCH_PARAMS', this.info.id),
        this.$store.dispatch('detailPage/FETCH_INFO', this.info.id),
      ]).then(() => {
        this.$store.commit('detailPage/SET_ACTIVE_COLOR', { ...this.currentColor });
        this.$store.commit('detailPage/SET_ACTIVE_SIZE');
        this.$modal.show('preview', {
          item: this.info,
        });
      }).catch(() => {});
    },
    classImage(type) {
      return {
        _main: this.currentCardType === type,
        _hover: this.currentCardType !== type,
      };
    },
    handleClickColor({ code: selectedColor, index, color }) {
      this.currentColor = {
        ...this.currentColor,
        index,
        id: color.id,
        name: color.name,
      };
      this.$store.commit('detailPage/SET_ACTIVE_COLOR', { ...this.currentColor });
      this.activeSizes = [...new Set(this.info.colors
        .find(({ value: colorValue }) => selectedColor === colorValue)
        .sizes.map(({ value: sizeValue }) => sizeValue))]
        .sort((a, b) => a - b);
    },
    handleClickFavourite() {
      this.isFavourite = !this.isFavourite;
    },
    processClick() {
      const scrollPoint = window.pageYOffset || document.documentElement.scrollTop;
      this.$store.commit('catalogPage/SET_BACK_TO_CATALOG', {
        detailUrl: this.info.url,
        scrollPoint,
      });
      this.$store.commit('detailPage/SET_ACTIVE_COLOR', { ...this.currentColor });
      this.$store.commit('detailPage/SET_ACTIVE_SIZE');
      this.$router.push(this.info.url);
    },
  },
};
</script>

<style lang="stylus" scoped>
  ._mobile
    display: none

  .app-product-item
    padding 5px 5px 10px
    width 240px
    height 390px
    position relative

  .content
    transition all .2s
    position absolute
    top 0
    left 0
    right 0
    padding-top 40px

  .image-wrapper
    position relative
    overflow hidden
    width 230px
    height 255px
    cursor pointer

    .image
      position absolute
      left 0
      right 0
      max-width 100%
      top -100px
      bottom 0px
      margin auto auto 0

      &._hover
        opacity 0
        visibility hidden

  .badge-wrapper
    padding 4px 30px
    height 31px

  .main-wrapper
    padding 0 30px 20px

  .controls-wrapper
    display none

  .price-wrapper
    display flex
    align-items center

  .price
    font-size 14px
    font-weight bold
    color #0
    letter-spacing -0.3px
    white-space: nowrap;
    &._discount
      color #dc193e

  .old-price
    font-size 12px
    color $grayLight
    margin-right 10px
    white-space: nowrap;
    > *
      text-decoration line-through

  .title
    font-size 13px
    color $gray
    margin-top 10px

  .sizes,
  .colors
    display none

  .size
    margin 6px 6px 0

  .app-color-indicator
    margin 3px

  .favourite-wrapper
    position absolute
    top 17px
    right 18px
    z-index 1

  .favourite-caller
    position relative
    width 20px
    height 20px
    cursor pointer
    color $red
    opacity 0
    visibility hidden

    &._favourite
      opacity 1
      visibility visible

  .favourite-icon
    absolute-centered()

    &._full
      opacity 0
      visibility hidden

  .app-product-item._search
    width:236px


+desktop-only()
  .app-product-item:not(._favourite):hover
    z-index 2

    .content
      box-shadow 0 4px 16px 0 rgba(72, 81, 91, 0.12)

    .main-wrapper
      padding 0 30px 15px

    .controls-wrapper
      display block
      border-top 1px solid #ec

    .title
      display none

    .sizes,
    .colors
      display flex

    .colors
      padding: 14px 0 0
      margin: -3px
      flex-wrap wrap

    .sizes
      font-size 13px
      color $gray
      margin -6px -6px 0
      padding-top: 6px
      flex-wrap: wrap

    .favourite-caller
      opacity 1
      visibility visible

    .image-wrapper
      height 280px
      margin-top -40px

    .image

      &._hover
        opacity 1
        visibility visible

      &._main
        opacity 0
        visibility hidden


  .favourite-caller:hover .favourite-icon
  .favourite-caller._favourite .favourite-icon

    &._empty
      opacity 0
      visibility hidden

    &._full
      opacity 1
      visibility visible

+tablet()
  .app-product-item
    padding 5px 5px 10px
    width 233px
    height: 385px

  .badge-wrapper
    position: relative
    margin-top: 0
    padding: 4px 24px

  .main-wrapper
    padding: 0 24px 20px

  .title
    margin-top: 8px

  .price
    font-size: 16px

  .favourite-caller
    visibility: visible
    opacity: 1

    & .favourite-icon
      &._empty
        opacity 1
        visibility visible

      &._full
        opacity 0
        visibility hidden

    &._favourite .favourite-icon
      &._empty
        opacity 0
        visibility hidden

      &._full
        opacity 1
        visibility visible

  .app-product-item._search
    width:233px

  .app-product-item._new-products,
  .app-product-item._catalog

    .badge-wrapper
      margin-top: -4px

+mobile()
  ._tablet
    display: none

  ._mobile
    display: inline-block

  .app-product-item
    padding 5px 5px 10px
    width 50%
    height 320px
    margin-bottom 32px

  .content
    padding-top 20px

  .badge-wrapper
    height 23px
    padding: 4px 8px
    margin-bottom 8px

  .main-wrapper
    padding: 0 12px 20px 8px

  .image-wrapper
    width 100%

  .price-wrapper
    align-items: baseline;
    white-space: nowrap

  .price
    font-size 15px
    line-height: 16px
    letter-spacing -0.3px
    position: relative
    z-index: 2

  .old-price
    font-size: 12px
    line-height: 12px
    margin-right 5px

  .title
    font-size: 13px
    line-height: 13px
    letter-spacing: -0.18px
    margin-top 10px

  .favourite-wrapper
    top 18px
    right 4px
    z-index: 2

  .app-product-item._new-products
    padding 5px 5px 10px
    width 100%
    height 320px
    margin-bottom 32px
    position relative

    .favourite-wrapper
      top 0
      right 0

    .badge-wrapper
      position absolute
      top 4px
      left 11px
      padding 0
      margin-top 0

    .old-price
      display none

    .content
      padding-top 0

    .image-wrapper
      position relative
      overflow hidden
      width auto
      margin-top: 24px

    .main-wrapper
      padding 0 11px 0

+mobile-m()
  .app-product-item._new-products
    .image-wrapper
      margin-top: 8px
</style>
