<template lang="pug">
  section.app-product-list(:class="view ? `_${view}` : ''")
    template(v-if="itemsShow.length > 0")
      .container
        .wrapper(
          v-for="(item, index) in itemsShow"
          :key="index + 1"
        )
          app-product-item(
            :info="item"
            :view="view"
          )
      .controls
        CatalogPagen(
          @click='handleClickPagen'
          :page-size="pagen.pageSize",
          :current-page="pagen.page",
          :amount="pagen.amount"
        )
    template(v-else)
      .none Нет товаров
</template>

<script>
import CatalogPagen from '@/components/catalog/CatalogPagen';

export default {
  components: {
    CatalogPagen,
  },
  props: {
    view: {
      type: String,
      default: '',
    },
    count: {
      type: [String, Number],
      default: 0,
    },
    items: {
      type: Array,
      default: () => ([]),
    },
    pagen: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    page: 1,
  }),
  computed: {
    itemsShow() {
      if (this.count > 0) {
        return this.count > this.items.length
          ? this.items
          : this.items.slice(0, this.count);
      }
      return this.items.filter(value => value);
    },
  },
  methods: {
    handleClickPagen() {
      this.$emit('clickPagen');
    },
  },
};
</script>

<style lang="stylus" scoped>
.none
  padding: 30px
  width: 100%
  text-align: center
  color: $gray

.container
  display flex
  flex-wrap wrap
  align-items flex-start

.app-product-list
  width: 100%

.app-product-list._catalog
  padding-top 15px

  .wrapper
    width: calc(100% / 4);
    display: flex
    justify-content: center

  .controls
    padding-top 16px

  .app-product-item
    width 230px

.app-product-list._search
  .wrapper
    width: calc(100% / 5);
    display: flex
    justify-content: center
    flex-grow 1

.app-product-list._favourite

  >>>.app-product-item
    max-width 200px
    width 100%

    .image-wrapper
      width:100%

  .wrapper
    width: calc(100% / 4);
    display: flex
    justify-content: center

+tablet()
  .app-product-list._catalog
    flex-grow 1

    .controls
      padding-top 25px

    .app-product-item
      width 223px

  .app-product-list._search
    .wrapper
      width: calc(100% / 4);

@media (max-width 900px)
  .app-product-list._catalog
    .wrapper
      width: calc(100% / 3);

  .app-product-list._search
    .wrapper
      width: calc(100% / 3);

+mobile()

  .app-product-list
    >>>.app-product-item
      margin 0 0 40px

  .app-product-list._catalog
    padding-top: 0

    .container
      margin-bottom -32px

    .wrapper
      width: calc(100% / 2);

    .controls
      padding-top: 52px

  .app-product-list._search
    .wrapper
      width: calc(100% / 2);

  .app-product-list._favourite
    .wrapper
      width: calc(100% / 2);

</style>
