<template lang="pug">
  ContentWrapper(
    :menu="menu"
    :title="title"
    mod="_reverse"
  )
    BonusCard
</template>

<script>
import ContentWrapper from '@/components/content/ContentWrapper';
import BonusCard from '@/components/content/BonusCard';

export default {
  components: {
    ContentWrapper,
    BonusCard,
  },
  data: () => ({
    menu: [
      {
        label: 'Бонусные карты',
        url: '/buyers/bonus/',
      },
      // {
      //   label: 'Дисконтные карты',
      //   url: '/about/discount-cards',
      // },
      {
        label: 'Подарочные сертификаты',
        url: '/about/certificate',
      },
    ],
    title: 'Бонусные карты',
  }),
  head: () => ({
    title: 'Бонусные карты',
  }),
};
</script>

<style lang="stylus" scoped>

</style>
