<template lang="pug">
  ContentWrapper(
    :menu="menu"
    :title="title"
    @openSizesModal="$modal.show('sizes')"
  )
    Buyers
</template>

<script>
import ContentWrapper from '@/components/content/ContentWrapper';
import Buyers from '@/components/content/Buyers';

export default {
  components: {
    ContentWrapper,
    Buyers,
  },
  data: () => ({
    menu: [
      {
        label: 'Условия доставки и оплаты',
        url: '/buyers/delivery/',
      },
      {
        label: 'Возврат',
        url: '/buyers/return-of-goods/',
      },
      {
        label: 'Таблица размеров',
        action: 'openSizesModal',
      },
      {
        label: 'Программа лояльности',
        url: '/buyers/bonus/',
      },
      {
        label: 'Подарочные сертификаты',
        url: '/about/certificate/',
      },
      {
        label: 'Условия продажи товаров',
        url: '/buyers/terms-of-sale/',
      },
    ],
    title: 'Покупателям',
  }),
  head: () => ({
    title: 'Покупателям',
  }),
};
</script>

<style lang="stylus" scoped>

</style>
