<template lang="pug">
  ContentWrapper(:menu="menu" :title="title")
    Payment
</template>

<script>
import ContentWrapper from '@/components/content/ContentWrapper';
import Payment from '@/components/content/Payment';

export default {
  components: {
    ContentWrapper,
    Payment,
  },
  data: () => ({
    menu: [
      {
        label: 'Условия и стоимость доставки',
        url: '/buyers/delivery/',
      },
      {
        label: 'Защита персональных данных',
        url: '/about/protection-of-information/',
      },
      {
        label: 'Как оплатить заказ?',
        url: '/buyers/payment/',
      },
    ],
    title: 'Как оплатить заказ?',
  }),
  head: () => ({
    title: 'Как оплатить заказ?',
  }),
};
</script>

<style lang="stylus" scoped>

</style>
