<template lang="pug">
  ContentWrapper(:menu="menu" :title="title")
    ReturnProduct
</template>

<script>
import ContentWrapper from '@/components/content/ContentWrapper';
import ReturnProduct from '@/components/content/ReturnProduct';

export default {
  components: {
    ContentWrapper,
    ReturnProduct,
  },
  data: () => ({
    menu: [
      {
        label: 'Возврат товара',
        url: '/buyers/return-of-goods/',
      },
      {
        label: 'Условия и стоимость доставки',
        url: '/buyers/delivery/',
      },
      // {
      //   label: 'Сроки доставки',
      //   url: '/about/estimate',
      // },
      {
        label: 'Как оплатить заказ?',
        url: '/about/how-pay',
      },
    ],
    title: 'Возврат товара',
  }),
  head: () => ({
    title: 'Возврат товара',
  }),
};
</script>

<style lang="stylus" scoped>

</style>
